body {
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
}

a {
    color: #3366cc;
    text-decoration: none;
}

strong {
    font-weight: bold;
}

.clearfix {
    clear: both;
}

span.annotation {
    color: #999999;
    font-size: .8em;
    font-variant: small-caps;
}


#main {
}

#header {
    background-color: #666666;
    border-bottom: 2px solid #003399;
    color: #000000;
    height: 56px;
    margin: 0;
    padding: 0;
    width: 100%;
}

#headerSpacer{
    margin: 0 auto;
    width: 1000px;
}

#headerContent {
    margin: 0 auto;
    padding: 0;
    width: 980px;
}

#headerTitle {
    display: inline;
    float: left;
    width: 200px;
}
#headerTitle img {
    height: 48px;
    margin: 0;
    width: 320px;
}

#headerRight {
    float: right;
    height: 48px;
    margin: 0 0 0 0;
    padding: 0 0 2px 0;
    width: 778px;
}

#headerSearch {
    float: right;
    margin: 20px 0 0 4px;
    width: 250px;
}

.textInput {
    background: #ffffff;
    border: 1px solid gray;
    display: inline-block;
    height: 20px;
    padding: 1px 2px 1px 6px;
    width: 240px;
}
.textInput input {
    border: 0;
    font-size: 16px;
    font-weight: normal;
    width: 216px;
}
.textInput button {
    background-color: #ffffff;
    background-image: url("/images/icons/search.png");
    background-repeat: no-repeat;
    background-position: right center;
    border: 0 none;
    border-left: 1px solid gray;
    cursor: pointer;
    display: block;
    float: right;
    height: 16px;
    margin: 2px 0 3px 0;
    width: 20px;
}

#main {
    margin: 0 auto;
    width: 980px;
}


#leftCol {
    padding-top: 20px;
    clear: left;
    float: left;
    width:200px;
}
#leftCol img.profileImg {
    margin-bottom: .5em;
}

.leftNav a {
    color: #000000;
    display: inline-block;
    line-height: 21px;
    padding-top: 1px;
    padding-left: 25px;
    width: 168px;
}
.leftNav ul { 
    list-style-image: none;
    list-style-type: none;
}
.leftNav li {
    background-repeat: no-repeat;
    background-position: 3px 4px;
    margin-bottom: 1px;
}
.leftNav li:hover {
    background-color: #f0f0f0;
}
.leftNav li.event { background-image: url("/images/icons/event.png"); }
.leftNav li.info { background-image: url("/images/icons/info.png"); }
.leftNav li.match { background-image: url("/images/icons/match.png"); }
.leftNav li.photo { background-image: url("/images/icons/photo.png"); }
.leftNav li.robot { background-image: url("/images/icons/robot.png"); }
.leftNav li.video { background-image: url("/images/icons/video.png"); }

.divider {
    border-top: 1px solid #dddddd;
    height: .5em;
    margin-top: .5em;
    width:100%;
}

#content {
    border-left: 1px solid #cccccc;
    margin-left: 200px;
    padding-top: 15px;
    padding-bottom: 20px;
    width: 778px;
}

#contentTop {
    margin: 0 0 8px 0;
    padding: 5px 0 0 15px;
}
#contentTop h1 {
    font-size: 1.75em;
    font-weight: bold;
}

#contentCenter {
    margin: 0 15px;
    width: 500px;
}

#contentRight {
    display: block;
    float: right;
    width: 250px;
}

.contentBlock {
    display: block;
    margin-bottom: 1.5em;
}
.contentBlock .contentBlockTopper {
    border-top: 2px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding: 4px 0 3px 8px;
    margin-bottom: .5em;
}
.contentBlock .contentBlockTopper h2 {
    font-weight: bold;
    display: inline-block;
}
.contentBlock .contentBlockTopper p {
    float: right;
    margin-right: 8px;
}
.contentBlock p {
    margin-left: 8px;
}
.contentBlock h3 {
    font-size: 1.5em;
    font-weight: bold;
    margin: .5em 8px .25em 8px;
}

table.infoTable {
    margin-left: 8px;
}
table.infoTable tr {
    line-height: 1.75em;
}
table.infoTable th {
    font-weight: bold;
    padding-right: 1em;
}

table.matchTable {
    border-bottom: 1px solid #cccccc;
    padding: 3px 0;
    margin: 1em 0 1em 8px;
    width: 492px;
}
table.matchTable tr {
    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    padding: 3px 0;
}
table.matchTable tr.key {
    background-color: #f0f0f0;
}
table.matchTable th {
    border-right: 1px solid #cccccc;
    font-weight: bold;
    text-align: center;
    padding: 3px;
}
table.matchTable td {
    border-right: 1px solid #cccccc;
    text-align: center;
    padding: 3px;
}
table.matchTable td.red {
    background-color: #ffeeee;
}
table.matchTable td.blue {
    background-color: #eeeeff;
}
table.matchTable td.redScore {
    background-color: #ffdddd;
}
table.matchTable td.blueScore {
    background-color: #ddddff;
}
table.matchTable td.winner {
    font-weight: bold;
}

ul.infoList {
    
}

#footer {
    color: #999999;
    margin: 1em auto 0 auto;
    text-align: center;
    width: 980px;
}