{% import "match_partials/match_table_cell_macros.html" as mtcm %}

{% macro match_row_tr(match, cur_team_key, show_event, upcoming=False, fake_matches=False) %}
<tr class="visible-lg">
  {% if upcoming %}
    {{mtcm.match_time_td(match)}}
  {% else %}
    {{mtcm.match_hasvideo_td(match)}}
  {% endif %}

  {{mtcm.match_name_td(match, show_event=show_event, fake_matches=fake_matches)}}

  {% for team_key in match.alliances.red.teams %}
    {{mtcm.match_team_td(match, 'red', team_key, cur_team_key, fake_matches=fake_matches)}}
  {% endfor %}
  {% for team_key in match.alliances.blue.teams %}
    {{mtcm.match_team_td(match, 'blue', team_key, cur_team_key, fake_matches=fake_matches)}}
  {% endfor %}

  {% if not upcoming %}
    {% if match.has_been_played or not match.time %}
      {{mtcm.match_score_td(match, 'red', cur_team_key)}}
      {{mtcm.match_score_td(match, 'blue', cur_team_key)}}
    {% else %}
      {{mtcm.match_time_td(match)}}
    {% endif %}
  {% endif %}
</tr>

<tr class="hidden-lg compact-row">
  {% if upcoming %}
    {{mtcm.match_time_td(match, compact=True)}}
  {% else %}
    {{mtcm.match_hasvideo_td(match, compact=True)}}
  {% endif %}

  {{mtcm.match_name_td(match, compact=True, fake_matches=fake_matches)}}

  {% for team_key in match.alliances.red.teams %}
    {{mtcm.match_team_td(match, 'red', team_key, cur_team_key, compact=True, fake_matches=fake_matches)}}
  {% endfor %}

  {% if not upcoming %}
    {% if match.has_been_played or not match.time %}
      {{mtcm.match_score_td(match, 'red', cur_team_key, compact=True)}}
    {% else %}
      {{mtcm.match_time_td(match, compact=True)}}
    {% endif %}
  {% endif %}
</tr>
<tr class="hidden-lg">
  {% for team_key in match.alliances.blue.teams %}
    {{mtcm.match_team_td(match, 'blue', team_key, cur_team_key, compact=True, fake_matches=fake_matches)}}
  {% endfor %}

  {% if not upcoming and match.has_been_played %}
    {{mtcm.match_score_td(match, 'blue', cur_team_key, compact=True)}}
  {% endif %}
</tr>
{% endmacro %}

{% macro match_prediction_row_tr(match, predictions, fake_matches=False) %}
<tr>
  {{mtcm.match_name_td(match, compact=True, fake_matches=fake_matches)}}

  {% for team_key in match.alliances.red.teams %}
    {{mtcm.match_team_td(match, 'red', team_key, None, compact=True, fake_matches=fake_matches)}}
  {% endfor %}

  {{mtcm.match_score_td(match, 'red', None, compact=True, predictions=predictions)}}
  {{mtcm.breach_prob_td(match, 'red', predictions)}}
  <td rowspan="2" style="width: 300px;">
    <div style="width: 300px; height: 90px;">
      <canvas id="chart_{{match.key.id()}}" class="score_chart" data-match-key="{{match.key.id()}}"></canvas>
    </div>
  </td>
  {{mtcm.prob_td(match, predictions)}}
  {{mtcm.correct_prediction_td(match, predictions)}}
</tr>
<tr>
  {% for team_key in match.alliances.blue.teams %}
    {{mtcm.match_team_td(match, 'blue', team_key, None, compact=True, fake_matches=fake_matches)}}
  {% endfor %}

  {% if not upcoming %}
  {{mtcm.match_score_td(match, 'blue', None, compact=True, predictions=predictions)}}
  {% endif %}

  {% if predictions %}
    {{mtcm.breach_prob_td(match, 'blue', predictions)}}
  {% endif %}
</tr>
{% endmacro %}

{% macro match_row_tr_hot(match) %}
<tr>
  {{mtcm.match_name_td(match, compact=True)}}

  {% for team_key in match.alliances.red.teams %}
    {{mtcm.match_team_td(match, 'red', team_key, None, compact=True)}}
  {% endfor %}

  <td colspan="2" rowspan="2">
    <div class="progress" style="margin: 0px;">
      <div class="progress-bar {% if match.hotness < 75 %}progress-bar-default{% elif match.hotness < 90 %}progress-bar-warning{% else %}progress-bar-danger{% endif %}" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{match.hotness|round|int}}%; min-width:20%">
        {{match.hotness|round|int}}
      </div>
    </div>
  </td>
  <td colspan="2" rowspan="2">
    <input type="checkbox" name="subscribed_matches" value="{{match.key.id()}}"{% if match.already_subscribed %} checked{% endif %}/>
  </td>
</tr>
<tr>
  {% for team_key in match.alliances.blue.teams %}
    {{mtcm.match_team_td(match, 'blue', team_key, None, compact=True)}}
  {% endfor %}
</tr>
{% endmacro %}
