{% import 'match_partials/match_table_macros.html' as mtm %}
{% import 'media_partials/social_media_macros.html' as smm %}

<div id="team-info" class="row hidden-xs">
  <div class="col-xs-12">
    <h2>
    {% if avatar %}
      <img class="team-avatar single blue" src='{{avatar.avatar_image_source}}'/>
    {% endif %}
    Team {{team.team_number}}{% if team.nickname %} - {{team.nickname}}{% endif %}</h2>
    {% if district_name %}<blockquote><em>Part of the <a href="/events/{{district_abbrev}}/{{year}}">{{district_name}} District</a></em></blockquote>{% endif %}
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <p>
      {% if team.city_state_country or (team.nl and team.nl.name and team.nl.city_state_country) %}
        <span class="glyphicon glyphicon-map-marker"></span> From
        {% if team.nl and team.nl.name %}
          <a href="{{team.nl.place_details.url}}" target="_blank">{{team.nl.name}}</a> in {{team.nl.city_state_country}}
        {% else %}
          <a href="{% if team.nl and team.nl.name %}{{team.nl.place_details.url}}{% else %}//maps.google.com/maps?q={{ team.city_state_country|urlencode }}{% endif %}" target="_blank">{{team.city_state_country}}</a>
        {% endif %}
        <br>
      {% endif %}
      {% if team.name %}<span class="glyphicon glyphicon-info-sign"></span> aka <em>{{ team.name }}</em><br>{% endif %}
      {% if team.rookie_year %}<span class="glyphicon glyphicon-calendar"></span> Rookie Year: {{ team.rookie_year }}<br>{% endif %}
      {% if last_competed and last_competed < max_year %}<span class="glyphicon glyphicon-time"></span> Last competed in {{ last_competed }}<br>{% endif %}
      {% if team.website %}<span class="glyphicon glyphicon-globe"></span> <a href="{{team.website}}" target="_blank">{{ team.website }}</a><br>{% endif %}
      {% if team.championship_location and team.championship_location[year] %}<span class="glyphicon glyphicon-flag"></span> Home Championship: {{team.championship_location[year]}}<br>{% endif %}
      {% if hof.is_hof %}<span class="hall-of-fame"><span class="glyphicon glyphicon-certificate"></span> Hall of Fame ({% for year in hof.years %}{{ year }}{{ ", " if not loop.last }}{% endfor %}){% if hof.media.video or hof.media.presentation or hof.media.essay %}:{% endif %}{% if hof.media.video %} <a href="{{hof.media.video}}">Video</a>{% endif %}{% if hof.media.presentation %}, <a href="{{hof.media.presentation}}">Presentation</a>{% endif %}{% if hof.media.essay %}, <a href="{{hof.media.essay}}">Essay</a>{% endif %}</span><br>{% endif %}
      {% if year %}
        {% if year >= 2015 %}<span class="glyphicon glyphicon-info-sign"></span> Data provided by the <a href="https://frc-events.firstinspires.org/services/API" target="_blank">FIRST Events API</a><br>{% endif %}
      {% endif %}

      <hr>
      <a class="btn btn-xs btn-default{% if social_medias %} pull-right{% endif %}" href="/suggest/team/social_media?team_key={{team.key_name}}" target="_blank"><span class="glyphicon glyphicon-plus"></span> Add Social Media!</a>
      {% for media in social_medias %}
        {{smm.social_media_icon_link(media)}}{% if not loop.last %}&middot;{% endif %}
      {% endfor %}
    </p>
  </div>
  <div class="col-sm-6">
  {% if current_event %}
    <div class="panel panel-default">
      <div class="panel-heading">
        {% if current_event.webcast%}
          <div class="hidden-xs pull-right">
            {% if current_event.webcast_status == 'offline' %}
              <a class="btn btn-default" href="{{current_event.gameday_url}}" target="_blank"><span class="glyphicon glyphicon-facetime-video"></span> Offline</a>
            {% else %}
              <a class="btn btn-success" href="{{current_event.gameday_url}}" target="_blank"><span class="glyphicon glyphicon-facetime-video"></span> Watch Now</a>
            {% endif %}
          </div>
        {% endif %}
        <h3 class="panel-title">
          Currently competing at:<br>
          <a href="/event/{{ current_event.key_name }}"><strong>{{ current_event.name }}</strong></a>
        </h3>
      </div>
      <div class="clearfix"></div>
      <div class="panel-body">
      {% if matches_upcoming %}
        <h4>Upcoming Matches</h4>
        {{mtm.upcoming_match_table(matches_upcoming, cur_team_key=team.key.id())}}
      {% else %}
        No upcoming matches.
      {% endif %}
      </div>
    </div>
  {% else %}
    <div id="robot-image">
    {% if preferred_image_medias %}
      {% set image_medias = preferred_image_medias %}
      {% include "media_partials/image_carousel_partial.html" %}
    {% else %}
      {% if year %}
        <a class="btn btn-lg btn-success btn-block" href="/suggest/team/media?team_key={{team.key_name}}&year={{year}}" target="_blank"><span class="glyphicon glyphicon-plus"></span> Add Robot Image!</a>
      {% endif %}
    {% endif %}
    <p class="text-center">
    {% if robot %}Robot Name: <strong>{{robot.robot_name}}</strong><br>{% endif %}
      {% if year %}
        {% if medias_by_slugname and medias_by_slugname.grabcad %}
         <span class="glyphicon glyphicon-hdd"></span><a href="#robot-profile"> {{ medias_by_slugname.grabcad|length }} CAD Model{% if medias_by_slugname.grabcad|length > 1 %}s{% endif %}</a>
        {% endif %}
      {% endif %}
    </p>

    </div>
  {% endif %}
  </div>
</div>
