<table class="match-table">
  <tbody>
    <!-- Auto -->
    {% if "autoBoulderPoints" in match.score_breakdown.red %}
    <tr>
      <td class="red" colspan="2">{% if match.score_breakdown.red.autoBoulderPoints %} {{match.score_breakdown.red.autoBoulderPoints}} {% else %} 0 {% endif %}</td>
      <td>Auto Boulder Points</td>
      <td class="blue" colspan="2">{% if match.score_breakdown.blue.autoBoulderPoints %} {{match.score_breakdown.blue.autoBoulderPoints}} {% else %} 0 {% endif %}</td>
    </tr>
    {% endif %}
    {% if "autoReachPoints" in match.score_breakdown.red %}
    <tr>
      <td class="red" colspan="2">{% if match.score_breakdown.red.autoReachPoints %} {{match.score_breakdown.red.autoReachPoints}} {% else %} 0 {% endif %}</td>
      <td>Auto Reach Points</td>
      <td class="blue" colspan="2">{% if match.score_breakdown.blue.autoReachPoints %} {{match.score_breakdown.blue.autoReachPoints}} {% else %} 0 {% endif %}</td>
    </tr>
    {% endif %}
    {% if "autoCrossingPoints" in match.score_breakdown.red %}
    <tr>
      <td class="red" colspan="2">{% if match.score_breakdown.red.autoCrossingPoints %} {{match.score_breakdown.red.autoCrossingPoints}} {% else %} 0 {% endif %}</td>
      <td>Auto Crossing Points</td>
      <td class="blue" colspan="2">{% if match.score_breakdown.blue.autoCrossingPoints %} {{match.score_breakdown.blue.autoCrossingPoints}} {% else %} 0 {% endif %}</td>
    </tr>
    {% endif %}
    {% if "autoPoints" in match.score_breakdown.red %}
    <tr class="key">
      <td class="redScore" colspan="2">{% if match.score_breakdown.red.autoPoints %}{{match.score_breakdown.red.autoPoints}}{%else%}0{%endif%}</td>
      <th>Total Auto</th>
      <td class="blueScore" colspan="2">{% if match.score_breakdown.blue.autoPoints %}{{match.score_breakdown.blue.autoPoints}}{%else%}0{%endif%}</td>
    </tr>
    {% endif %}

    <!-- Tele Defenses -->
    {% if "position1crossings" in match.score_breakdown.red %}
    <tr>
      <td class="red">Low Bar</td>
      <td class="red">{%if match.score_breakdown.red.position1crossings%}{{match.score_breakdown.red.position1crossings}}{%else%}0{%endif%}x Cross</td>
      <td>Defense 1</td>
      <td class="blue">{%if match.score_breakdown.blue.position1crossings%}{{match.score_breakdown.blue.position1crossings}}{%else%}0{%endif%}x Cross</td>
      <td class="blue">Low Bar</td>
    </tr>
    {% endif %}
    {% if "position2crossings" in match.score_breakdown.red %}
    <tr>
      <td class="red">{%if match.score_breakdown.red.position2%}{{match.score_breakdown.red.position2|defense_name}}{%else%}Defense 2{%endif%}</td>
      <td class="red">{%if match.score_breakdown.red.position2crossings%}{{match.score_breakdown.red.position2crossings}}{%else%}0{%endif%}x Cross</td>
      <td>Defense 2</td>
      <td class="blue">{%if match.score_breakdown.blue.position2crossings%}{{match.score_breakdown.blue.position2crossings}}{%else%}0{%endif%}x Cross</td>
      <td class="blue">{%if match.score_breakdown.blue.position2%}{{match.score_breakdown.blue.position2|defense_name}}{%else%}Defense 2{%endif%}</td>
    </tr>
    {% endif %}
    {% if "position3crossings" in match.score_breakdown.red %}
    <tr>
      <td class="red">{% if match.score_breakdown.red.position3%}{{match.score_breakdown.red.position3|defense_name}}{%else%}Defense 3{%endif%}</td>
      <td class="red">{% if match.score_breakdown.red.position3crossings%}{{match.score_breakdown.red.position3crossings}}{%else%}0{%endif%}x Cross</td>
      <td>Defense 3 (Audience)</td>
      <td class="blue">{%if match.score_breakdown.blue.position3crossings%}{{match.score_breakdown.blue.position3crossings}}{%else%}0{%endif%}x Cross</td>
      <td class="blue">{%if match.score_breakdown.blue.position3%}{{match.score_breakdown.blue.position3|defense_name}}{%else%}Defense 3{%endif%}</td>
    </tr>
    {% endif %}
    {% if "position4crossings" in match.score_breakdown.red %}
    <tr>
      <td class="red">{% if match.score_breakdown.red.position4%}{{match.score_breakdown.red.position4|defense_name}}{%else%}Defense 4{%endif%}</td>
      <td class="red">{% if match.score_breakdown.red.position4crossings%}{{match.score_breakdown.red.position4crossings}}{%else%}0{%endif%}x Cross</td>
      <td>Defense 4</td>
      <td class="blue">{%if match.score_breakdown.blue.position4crossings%}{{match.score_breakdown.blue.position4crossings}}{%else%}0{%endif%}x Cross</td>
      <td class="blue">{%if match.score_breakdown.blue.position4%}{{match.score_breakdown.blue.position4|defense_name}}{%else%}Deffense 4{%endif%}</td>
    </tr>
    {% endif %}
    {% if "position5crossings" in match.score_breakdown.red %}
    <tr>
      <td class="red">{%if match.score_breakdown.red.position5%}{{match.score_breakdown.red.position5|defense_name}}{%else%}Defense 5{%endif%}</td>
      <td class="red">{%if match.score_breakdown.red.position5crossings%}{{match.score_breakdown.red.position5crossings}}{%else%}0{%endif%}x Cross</td>
      <td>Defense 5</td>
      <td class="blue">{%if match.score_breakdown.blue.position5crossings%}{{match.score_breakdown.blue.position5crossings}}{%else%}0{%endif%}x Cross</td>
      <td class="blue">{%if match.score_breakdown.blue.position5%}{{match.score_breakdown.blue.position5|defense_name}}{%else%}Defense 5{%endif%}</td>
    </tr>
    {% endif %}
    {% if "teleopCrossingPoints" in match.score_breakdown.red %}
    <tr class="key">
      <td class="redScore" colspan="2">{%if match.score_breakdown.red.teleopCrossingPoints%}{{match.score_breakdown.red.teleopCrossingPoints}}{%else%}0%{%endif%}</td>
      <td>Teleop Crossing Points</td>
      <td class="blueScore" colspan="2">{%if match.score_breakdown.blue.teleopCrossingPoints%}{{match.score_breakdown.blue.teleopCrossingPoints}}{%endif%}</td>
    </tr>
    {% endif %}

    <!-- Tele Boulders -->
    {% if "teleopBouldersHigh" in match.score_breakdown.red %}
    <tr>
      <td class="red" colspan="2">{%if match.score_breakdown.red.teleopBouldersHigh%}{{match.score_breakdown.red.teleopBouldersHigh}}{%else%}0{%endif%} x 5 points</td>
      <td>Teleop Boulders High</td>
      <td class="blue" colspan="2">{%if match.score_breakdown.blue.teleopBouldersHigh%}{{match.score_breakdown.blue.teleopBouldersHigh}}{%else%}0{%endif%} x 5 points</td>
    </tr>
    {% endif %}
    {% if "teleopBouldersLow" in match.score_breakdown.red %}
    <tr>
      <td class="red" colspan="2">{%if match.score_breakdown.red.teleopBouldersLow%}{{match.score_breakdown.red.teleopBouldersLow}}{%else%}0{%endif%} x 2 points</td>
      <td>Teleop Boulders Low</td>
      <td class="blue" colspan="2">{%if match.score_breakdown.blue.teleopBouldersLow%}{{match.score_breakdown.blue.teleopBouldersLow}}{%else%}0{%endif%} x 2 points</td>
    </tr>
    {% endif %}

    {% if "teleopBoulderPoints" in match.score_breakdown.red %}
    <tr class="key">
      <td class="redScore" colspan="2">{%if match.score_breakdown.red.teleopBoulderPoints%}{{match.score_breakdown.red.teleopBoulderPoints}}{%else%}0{%endif%}</td>
      <td>Total Telop Boulder</td>
      <td class="blueScore" colspan="2">{%if match.score_breakdown.blue.teleopBoulderPoints%}{{match.score_breakdown.blue.teleopBoulderPoints}}{%else%}0{%endif%}</td>
    </tr>
    {% endif %}
        <!-- Teleop Tower -->
    {% if "teleopChallengePoints" in match.score_breakdown.red %}
    <tr>
      <td class="red" colspan="2">{%if match.score_breakdown.red.teleopChallengePoints%}{{match.score_breakdown.red.teleopChallengePoints}}{%else%}0{%endif%}</td>
      <td>Tower Challenge Points</td>
      <td class="blue" colspan="2">{%if match.score_breakdown.blue.teleopChallengePoints%}{{match.score_breakdown.blue.teleopChallengePoints}}{%else%}0{%endif%}</td>
    </tr>
    {% endif %}
    {% if "teleopScalePoints" in match.score_breakdown.red %}
    <tr>
      <td class="red" colspan="2">{%if match.score_breakdown.red.teleopScalePoints%}{{match.score_breakdown.red.teleopScalePoints}}{%else%}0{%endif%}</td>
      <td>Tower Scale Points</td>
      <td class="blue" colspan="2">{%if match.score_breakdown.blue.teleopScalePoints%}{{match.score_breakdown.blue.teleopScalePoints}}{%else%}0{%endif%}</td>
    </tr>
    {% endif %}
    <tr class="key">
      <td class="redScore" colspan="2">{{match.score_breakdown.red.teleopCrossingPoints + match.score_breakdown.red.teleopBoulderPoints + match.score_breakdown.red.teleopChallengePoints + match.score_breakdown.red.teleopScalePoints}}</td>
      <th>Total Teleop</th>
      <td class="blueScore" colspan="2">{{match.score_breakdown.blue.teleopCrossingPoints + match.score_breakdown.blue.teleopBoulderPoints + match.score_breakdown.blue.teleopChallengePoints + match.score_breakdown.blue.teleopScalePoints}}</td>
    </tr>

    <!-- Capture/Breach -->
    {% if "teleopDefensesBreached" in match.score_breakdown.red %}
    <tr>
      <td class="red" colspan="2">{% if match.score_breakdown.red.teleopDefensesBreached %} <span class="glyphicon glyphicon-ok"></span> {% if match.score_breakdown.red.breachPoints > 0 %} (+{{ match.score_breakdown.red.breachPoints }}) {% endif %} {% else %} <span class="glyphicon glyphicon-remove"></span> {% endif %}
      <td>Defenses Breached</td>
      <td class="blue" colspan="2">{% if match.score_breakdown.blue.teleopDefensesBreached %} <span class="glyphicon glyphicon-ok"></span> {% if match.score_breakdown.blue.breachPoints > 0 %} (+{{ match.score_breakdown.blue.breachPoints }}) {% endif %} {% else %} <span class="glyphicon glyphicon-remove"></span> {% endif %}
</td>
    </tr>
    {% endif %}
    {% if "teleopTowerCaptured" in match.score_breakdown.red %}
    <tr>
      <td class="red" colspan="2">{% if match.score_breakdown.red.teleopTowerCaptured %} <span class="glyphicon glyphicon-ok"></span> {% if match.score_breakdown.red.capturePoints > 0 %} (+{{ match.score_breakdown.red.capturePoints }}) {% endif %} {% else %} <span class="glyphicon glyphicon-remove"></span> {% endif %}
      <td>Tower Captured</td>
      <td class="blue" colspan="2">{% if match.score_breakdown.blue.teleopTowerCaptured %} <span class="glyphicon glyphicon-ok"></span> {% if match.score_breakdown.blue.capturePoints > 0 %} (+{{ match.score_breakdown.blue.capturePoints }}) {% endif %}{% else %} <span class="glyphicon glyphicon-remove"></span> {% endif %}
    </tr>
    {% endif %}
    {% if "foulPoints" in match.score_breakdown.red %}
    <tr>
      <td class="red" colspan="2">+{%if match.score_breakdown.red.foulPoints%}{{match.score_breakdown.red.foulPoints}}{%else%}0{%endif%}</td>
      <td>Fouls</td>
      <td class="blue" colspan="2">+{%if match.score_breakdown.blue.foulPoints%}{{match.score_breakdown.blue.foulPoints}}{%else%}0{%endif%}</td>
    </tr>
    {% endif %}
    {% if "adjustPoints" in match.score_breakdown.red %}
    <tr>
      <td class="red" colspan="2">{% if match.score_breakdown.red.adjustPoints%}{{match.score_breakdown.red.adjustPoints}}{%else%}0{%endif%}</td>
      <td>Adjustments</td>
      <td class="blue" colspan="2">{%if match.score_breakdown.blue.adjustPoints%}{{match.score_breakdown.blue.adjustPoints}}{%else%}0{%endif%}</td>
    </tr>
    {% endif %}

    <tr class="key">
      <td class="redScore" colspan="2">{%if match.score_breakdown.red.totalPoints%}{{match.score_breakdown.red.totalPoints}}{%else%}0{%endif%}</td>
      <th>Total Score</th>
      <td class="blueScore" colspan="2">{%if match.score_breakdown.blue.totalPoints%}{{match.score_breakdown.blue.totalPoints}}{%else%}0{%endif%}</td>
    </tr>

    {% if match.score_breakdown.red.get('tba_rpEarned') is not none %}
    <tr>
      <td class="red" colspan="2">+{% if match.score_breakdown.red.tba_rpEarned%}{{match.score_breakdown.red.tba_rpEarned}} {%else%}0{%endif%} RP</td>
      <td>Ranking Points</td>
      <td class="blue" colspan="2">+{%if match.score_breakdown.blue.tba_rpEarned%}{{match.score_breakdown.blue.tba_rpEarned}} {%else%}0{%endif%} RP</td>
    </tr>
    {% endif %}
  </tbody>
</table>
