{% macro mobility(team, did_mobility) %}
{% if did_mobility %}
<span class="glyphicon glyphicon-ok" rel="tooltip" title="{{team|digits}}"></span>
{% else %}
<span class="glyphicon glyphicon-remove" rel="tooltip" title="{{team|digits}}"></span>
{% endif %}
{% endmacro %}

{% macro auto_charge_station(team, charge_station_result, bridge_state) %}
{% if charge_station_result == 'Docked' and bridge_state == 'Level' %}
<span rel="tooltip" title="{{team|digits}}">Engaged (+12)</span>
{% elif charge_station_result == 'Docked' and bridge_state == 'NotLevel' %}
<span rel="tooltip" title="{{team|digits}}">Docked (+8)</span>
{% else %}
<span rel="tooltip" title="{{team|digits}}" class="glyphicon glyphicon-remove"></span>
{% endif %}
{% endmacro %}

{% macro endgame(team, charge_station_result, bridge_state) %}
{% if charge_station_result == 'Docked' and bridge_state == 'Level' %}
<span rel="tooltip" title="{{team|digits}}">Engaged (+10)</span>
{% elif charge_station_result == 'Docked' and bridge_state == 'NotLevel' %}
<span rel="tooltip" title="{{team|digits}}">Docked (+6)</span>
{% elif charge_station_result == 'Park' %}
<span rel="tooltip" title="{{team|digits}}">Park (+2)</span>
{% else %}
<span rel="tooltip" title="{{team|digits}}" class="glyphicon glyphicon-remove"></span>
{% endif %}
{% endmacro %}

{% macro coopertition_criteria(earned) %}
{% if earned %}
<span class="glyphicon glyphicon-ok"></span>
{% else %}
<span class="glyphicon glyphicon-remove"></span>
{% endif %}
{% endmacro %}

{% macro rp_bonus(earned) %}
{% if earned %}
<span class="glyphicon glyphicon-ok"></span> (+1 RP)
{% else %}
<span class="glyphicon glyphicon-remove"></span>
{% endif %}
{% endmacro %}

{% macro fouls(alliance_breakdown) %}
{%if alliance_breakdown.foulCount%}{{alliance_breakdown.foulCount}} (+{{alliance_breakdown.foulCount * 5}}){%else%}0{%endif%} /
{%if alliance_breakdown.techFoulCount%}{{alliance_breakdown.techFoulCount}} (+{{alliance_breakdown.techFoulCount * 12}}){%else%}0{%endif%}
{% endmacro %}

{% macro drawCube() %}
<polygon points="6,6 6,18 18,18, 18,6" style="fill:rgb(150,0,255);stroke-width:1;stroke:rgb(0,0,0)" />
{% endmacro %}

{% macro drawCone() %}
  <polygon points="12,5 8,20 5,20 19,20 16,20" style="fill:rgb(255,200,0);stroke-width:1;stroke:rgb(0,0,0)" />
{% endmacro %}

{% macro drawNode(piece, auto_piece) %}
  <rect x="1" y="1" width="22" height="22" rx="4" style="fill:{% if auto_piece != 'None' %}rgb(0,255,0,0.3){% else %}rgb(0,0,0,0){% endif %}; stroke:rgb(0,0,0,0.2)" />
  {% if piece == "Cube" %}
  {{ drawCube() }}
  {% elif piece == "Cone" %}
  {{ drawCone() }}
  {% endif %}
{% endmacro %}

{% macro drawLink(start_offset) %}
<rect x="2" y="{{ 2 + start_offset }}" width="20" height="69" rx="4"
  style="fill:rgb(0,0,0,0.0); stroke-width:2; stroke:rgb(0,0,0,1.0)" />
{% endmacro %}

{% macro drawCommunity(breakdown, row, is_red) %}
{% set pieces = breakdown.teleopCommunity[row]|reverse if is_red else breakdown.teleopCommunity[row] %}
{% set auto_pieces = breakdown.autoCommunity[row]|reverse|list if is_red else breakdown.autoCommunity[row] %}
<svg width="24px" height="216px" style="display: block; margin: auto;">
  {% for piece in pieces %}
  <g transform="translate(0, {{ loop.index0 * 24}})">
    {{ drawNode(piece, auto_pieces[loop.index0]) }}
  </g>
  {% endfor %}

  {% if breakdown.links %}
    {% for link in breakdown.links %}
      {% if (row == 'T' and link.row == 'Top') or 
            (row == 'M' and link.row == 'Mid') or 
            (row == 'B' and link.row == 'Bottom') %}
            {{link.nodes}}
        {% set start_offset =
          (192 - 24 * link.nodes|max)
          if is_red else
          (24 * link.nodes|min) %}
        {{ drawLink(start_offset) }}
      {% endif %}
    {% endfor %}
  {% endif %}
</svg>
{% endmacro %}

<table class="match-table">
  <tbody>
    <!-- Autonomous -->
    {% if "mobilityRobot1" in match.score_breakdown.red %}
    <tr class="key">
      <td class="redScore" colspan="2">
        {{mobility(match.alliances.red.teams.0, match.score_breakdown.red.mobilityRobot1 == 'Yes')}}
        {{mobility(match.alliances.red.teams.1, match.score_breakdown.red.mobilityRobot2 == 'Yes')}}
        {{mobility(match.alliances.red.teams.2, match.score_breakdown.red.mobilityRobot3 == 'Yes')}}
        (+{{match.score_breakdown.red.autoMobilityPoints}})
      </td>
      <td>Mobility</td>
      <td class="blueScore" colspan="2">
        {{mobility(match.alliances.blue.teams.0, match.score_breakdown.blue.mobilityRobot1 == 'Yes')}}
        {{mobility(match.alliances.blue.teams.1, match.score_breakdown.blue.mobilityRobot2 == 'Yes')}}
        {{mobility(match.alliances.blue.teams.2, match.score_breakdown.blue.mobilityRobot3 == 'Yes')}}
        (+{{match.score_breakdown.blue.autoMobilityPoints}})
      </td>
    </tr>
    {% endif %}

    <!-- Auto Game Piece Count -->
    {% if "autoGamePieceCount" in match.score_breakdown.red %}
    <tr>
        <td class="red" colspan="2">
            {{match.score_breakdown.red.autoGamePieceCount}}
        </td>
        <td>Auto Game Piece Count</td>
        <td class="blue" colspan="2">
            {{match.score_breakdown.blue.autoGamePieceCount}}
        </td>
    </tr>
    {% endif %}

    <!-- Auto Game Piece Points -->
    {% if "autoGamePiecePoints" in match.score_breakdown.red %}
    <tr class="key">
      <td class="redScore" colspan="2">
        {{match.score_breakdown.red.autoGamePiecePoints}}
      </td>
      <td>Auto Game Piece Points</td>
      <td class="blueScore" colspan="2">
        {{match.score_breakdown.blue.autoGamePiecePoints}}
      </td>
    </tr>
    {% endif %}

    <!-- Robot 1 Auto Charge Station -->
    {% if "autoChargeStationRobot1" in match.score_breakdown.red %}
    <tr>
        <td class="red" colspan="2">
            {{auto_charge_station(match.alliances.red.teams.0, match.score_breakdown.red.autoChargeStationRobot1,
            match.score_breakdown.red.autoBridgeState)}}
        </td>
        <td>Robot 1 Auto Charge Station</td>
        <td class="blue" colspan="2">
            {{auto_charge_station(match.alliances.blue.teams.0, match.score_breakdown.blue.autoChargeStationRobot1,
            match.score_breakdown.blue.autoBridgeState)}}
        </td>
    </tr>
    {% endif %}
    <!-- Robot 2 Auto Charge Station -->
    {% if "autoChargeStationRobot2" in match.score_breakdown.red %}
    <tr>
        <td class="red" colspan="2">
            {{auto_charge_station(match.alliances.red.teams.1, match.score_breakdown.red.autoChargeStationRobot2,
            match.score_breakdown.red.autoBridgeState)}}
        </td>
        <td>Robot 2 Auto Charge Station</td>
        <td class="blue" colspan="2">
            {{auto_charge_station(match.alliances.blue.teams.1, match.score_breakdown.blue.autoChargeStationRobot2,
            match.score_breakdown.blue.autoBridgeState)}}
        </td>
    </tr>
    {% endif %}
    <!-- Robot 3 Auto Charge Station -->
    {% if "autoChargeStationRobot3" in match.score_breakdown.red %}
    <tr>
        <td class="red" colspan="2">
            {{auto_charge_station(match.alliances.red.teams.2, match.score_breakdown.red.autoChargeStationRobot3,
            match.score_breakdown.red.autoBridgeState)}}
        </td>
        <td>Robot 3 Auto Charge Station</td>
        <td class="blue" colspan="2">
            {{auto_charge_station(match.alliances.blue.teams.2, match.score_breakdown.blue.autoChargeStationRobot3,
            match.score_breakdown.blue.autoBridgeState)}}
        </td>
    </tr>
    {% endif %}

    <!-- Auto Points -->
    {% if "autoPoints" in match.score_breakdown.red %}
    <tr class="key">
      <td class="redScore" colspan="2">
        <b>{% if match.score_breakdown.red.autoPoints %}{{match.score_breakdown.red.autoPoints}}{%else%}0{%endif%}</b>
      </td>
      <th>Total Auto</th>
      <td class="blueScore" colspan="2">
        <b>{% if match.score_breakdown.blue.autoPoints %}{{match.score_breakdown.blue.autoPoints}}{%else%}0{%endif%}</b>
      </td>
    </tr>
    {% endif %}

    <!-- Teleop -->
    <!-- Game Piece Count -->
    {% if "teleopGamePieceCount" in match.score_breakdown.red %}
    <tr>
        <td class="red" colspan="2">
            {{match.score_breakdown.red.teleopGamePieceCount}}
        </td>
        <td>Game Piece Count</td>
        <td class="blue" colspan="2">
            {{match.score_breakdown.blue.teleopGamePieceCount}}
        </td>
    </tr>
    {% endif %}
    {% if "extraGamePieceCount" in match.score_breakdown.red %}
    <tr>
      <td class="red" colspan="2">
        {{match.score_breakdown.red.extraGamePieceCount}}
      </td>
      <td>Supercharged Node Count</td>
      <td class="blue" colspan="2">
        {{match.score_breakdown.blue.extraGamePieceCount}}
      </td>
    </tr>
    {% endif %}
    <!-- Game Piece Points -->
    {% if "teleopGamePiecePoints" in match.score_breakdown.red %}
    <tr class="key">
        <td class="redScore" colspan="2">
            {{match.score_breakdown.red.teleopGamePiecePoints}}
        </td>
        <td>Game Piece Points</td>
        <td class="blueScore" colspan="2">
            {{match.score_breakdown.blue.teleopGamePiecePoints}}
        </td>
    </tr>
    {% endif %}

    <!-- Robot 1 Endgame -->
    {% if "endGameChargeStationRobot1" in match.score_breakdown.red %}
    <tr>
      <td class="red" colspan="2">
        {{endgame(match.alliances.red.teams.0, match.score_breakdown.red.endGameChargeStationRobot1, match.score_breakdown.red.endGameBridgeState)}}
      </td>
      <td>Robot 1 Endgame</td>
      <td class="blue" colspan="2">
        {{endgame(match.alliances.blue.teams.0, match.score_breakdown.blue.endGameChargeStationRobot1, match.score_breakdown.blue.endGameBridgeState)}}
      </td>
    </tr>
    {% endif %}
    <!-- Robot 2 Endgame -->
    {% if "endGameChargeStationRobot2" in match.score_breakdown.red %}
    <tr>
      <td class="red" colspan="2">
        {{endgame(match.alliances.red.teams.1, match.score_breakdown.red.endGameChargeStationRobot2, match.score_breakdown.red.endGameBridgeState)}}
      </td>
      <td>Robot 2 Endgame</td>
      <td class="blue" colspan="2">
        {{endgame(match.alliances.blue.teams.1, match.score_breakdown.blue.endGameChargeStationRobot2, match.score_breakdown.blue.endGameBridgeState)}}
      </td>
    </tr>
    {% endif %}
    <!-- Robot 3 Endgame -->
    {% if "endGameChargeStationRobot3" in match.score_breakdown.red %}
    <tr>
      <td class="red" colspan="2">
        {{endgame(match.alliances.red.teams.2, match.score_breakdown.red.endGameChargeStationRobot3, match.score_breakdown.red.endGameBridgeState)}}
      </td>
      <td>Robot 3 Endgame</td>
      <td class="blue" colspan="2">
        {{endgame(match.alliances.blue.teams.2, match.score_breakdown.blue.endGameChargeStationRobot3, match.score_breakdown.blue.endGameBridgeState)}}
      </td>
    </tr>
    {% endif %}

    {% if "endGamePoints" in match.score_breakdown.red %}
    <tr class="key">
      <td class="redScore" colspan="2">
        {{match.score_breakdown.red.endGamePoints}}
      </td>
      <td>Hangar Points</td>
      <td class="blueScore" colspan="2">
        {{match.score_breakdown.blue.endGamePoints}}
      </td>
    </tr>
    {% endif %}

    <!-- Teleop Score -->
    {% if "teleopPoints" in match.score_breakdown.red %}
    <tr class="key">
      <td class="redScore" colspan="2">
        <b>{% if match.score_breakdown.red.teleopPoints %}{{match.score_breakdown.red.teleopPoints}}{%else%}0{%endif%}</b>
      </td>
      <th>Total Teleop</th>
      <td class="blueScore" colspan="2">
        <b>{% if match.score_breakdown.blue.teleopPoints %}{{match.score_breakdown.blue.teleopPoints}}{%else%}0{%endif%}</b>
      </td>
    </tr>
    {% endif %}

    <!-- Links -->
    {% if "links" in match.score_breakdown.red and "linkPoints" in match.score_breakdown.red %}
    <tr>
        <td class="red" colspan="2">
            {% if match.score_breakdown.red.links %}{{match.score_breakdown.red.links|length}}{% else %}0{% endif %} (+{{match.score_breakdown.red.linkPoints}})
        </td>
        <td>Links</td>
        <td class="blue" colspan="2">
            {% if match.score_breakdown.blue.links %}{{match.score_breakdown.blue.links|length}}{% else %}0{% endif %} (+{{match.score_breakdown.blue.linkPoints}})
        </td>
    </tr>
    {% endif %}

    <!-- Coopoertition Bonus -->
    {% if "coopertitionCriteriaMet" in match.score_breakdown.red %}
    <tr>
        <td class="red" colspan="2">
            {{coopertition_criteria(match.score_breakdown.red.coopertitionCriteriaMet)}}
        </td>
        <td>Coopertition Criteria Met</td>
        <td class="blue" colspan="2">
            {{coopertition_criteria(match.score_breakdown.blue.coopertitionCriteriaMet)}}
        </td>
    </tr>
    {% endif %}

    <!-- Bonus RP -->
    {% if "sustainabilityBonusAchieved" in match.score_breakdown.red %}
    <tr>
      <td class="red" colspan="2">
        {{rp_bonus(match.score_breakdown.red.sustainabilityBonusAchieved)}}
      </td>
      <td>Sustainability Bonus</td>
      <td class="blue" colspan="2">
        {{rp_bonus(match.score_breakdown.blue.sustainabilityBonusAchieved)}}
      </td>
    </tr>
    {% endif %}
    {% if "activationBonusAchieved" in match.score_breakdown.red %}
    <tr>
      <td class="red" colspan="2">
        {{rp_bonus(match.score_breakdown.red.activationBonusAchieved)}}
      </td>
      <td>Activation Bonus</td>
      <td class="blue" colspan="2">
        {{rp_bonus(match.score_breakdown.blue.activationBonusAchieved)}}
      </td>
    </tr>
    {% endif %}

    <!-- Fouls & Adjustments -->
    {% if "foulCount" in match.score_breakdown.red %}
    <tr>
      <td class="red" colspan="2">
        {{fouls(match.score_breakdown.blue)}}
      </td>
      <td>Fouls / Tech Fouls</td>
      <td class="blue" colspan="2">
        {{fouls(match.score_breakdown.red)}}
      </td>
    </tr>
    {% endif %}
    {% if "adjustPoints" in match.score_breakdown.red %}
    <tr>
      <td class="red" colspan="2">{% if match.score_breakdown.red.adjustPoints%}{{match.score_breakdown.red.adjustPoints}}{%else%}0{%endif%}</td>
      <td>Adjustments</td>
      <td class="blue" colspan="2">{%if match.score_breakdown.blue.adjustPoints%}{{match.score_breakdown.blue.adjustPoints}}{%else%}0{%endif%}</td>
    </tr>
    {% endif %}

    <tr class="key">
      <td class="redScore" colspan="2"><b>{%if match.score_breakdown.red.totalPoints%}{{match.score_breakdown.red.totalPoints}}{%else%}0{%endif%}</b></td>
      <th>Total Score</th>
      <td class="blueScore" colspan="2"><b>{%if match.score_breakdown.blue.totalPoints%}{{match.score_breakdown.blue.totalPoints}}{%else%}0{%endif%}</b></td>
    </tr>

    <tr>
      <td class="red" colspan="2">
        {% if match.score_breakdown.red.sustainabilityBonusAchieved %}
        <svg class="top-left-dot" rel="tooltip" title="Sustainability Bonus">
          <circle cx="2" cy="2" r="2"/>
        </svg>
        {% endif %}
        {% if match.score_breakdown.red.activationBonusAchieved %}
        <svg class="top-left-dot-2" rel="tooltip" title="Activation Bonus">
          <circle cx="2" cy="2" r="2"/>
        </svg>
        {% endif %}
        +{{match.score_breakdown.red.rp}} RP
      </td>
      <td>Ranking Points</td>
      <td class="blue" colspan="2">
        {% if match.score_breakdown.blue.sustainabilityBonusAchieved %}
        <svg class="top-left-dot" rel="tooltip" title="Sustainability Bonus">
          <circle cx="2" cy="2" r="2"/>
        </svg>
        {% endif %}
        {% if match.score_breakdown.blue.activationBonusAchieved %}
        <svg class="top-left-dot-2" rel="tooltip" title="Activation Bonus">
          <circle cx="2" cy="2" r="2"/>
        </svg>
        {% endif %}
        +{{match.score_breakdown.blue.rp}} RP
      </td>
    </tr>
  </tbody>
</table>

{% if 'teleopCommunity' in match.score_breakdown.red %}
<h4>Scoring Location Breakdown</h4>
<table class="match-table">
    <tbody>
        <tr class="key">
            <td>Top</td>
            <td>Mid</td>
            <td>Bot</td>
            <td></td>
            <td>Bot</td>
            <td>Mid</td>
            <td>Top</td>
        </tr>
        <tr>
            <td class="red">
              {{ drawCommunity(match.score_breakdown.red, "T", True) }}
            </td>
            <td class="red">
              {{ drawCommunity(match.score_breakdown.red, "M", True) }}
            </td>
            <td class="red">
              {{ drawCommunity(match.score_breakdown.red, "B", True) }}
            </td>
            <td></td>
            <td class="blue">
              {{ drawCommunity(match.score_breakdown.blue, "B", False) }}
            </td>
            <td class="blue">
              {{ drawCommunity(match.score_breakdown.blue, "M", False) }}
            </td>
            <td class="blue">
              {{ drawCommunity(match.score_breakdown.blue, "T", False) }}
            </td>
        </tr>
    </tbody>
</table>
<div style="display: flex; flex-direction: row; align-items: center;">
    <svg width="24px" height="24px" style="margin-right: 8px;">
        {{ drawCone() }}
    </svg>
    Cone
</div>
<div style="display: flex; flex-direction: row; align-items: center;">
    <svg width="24px" height="24px" style="margin-right: 8px;">
        {{ drawCube() }}
    </svg>
    Cube
</div>
<div style="display: flex; flex-direction: row; align-items: center;">
    <svg width="24px" height="24px" style="margin-right: 8px;">
        <rect width="24" height="24" style="fill:rgb(0,255,0,0.3); stroke-width:1; stroke:rgb(0,0,0,0.2)" />
    </svg>
    Scored in auto
</div>
<div style="display: flex; flex-direction: row; align-items: center;">
    <svg width="24px" height="24px" style="margin-right: 8px;">
        <rect x="2" y="2" width="20" height="20" rx="4" style="fill:rgb(0,0,0,0); stroke-width:2; stroke:rgb(0,0,0,1.0)" />
    </svg>
    Link
</div>
{% endif %}
