{% for live_event in live_events_with_teams %}
    {% with live_event.0 as event %}
        <div class="row">
            <div class="col-xs-12">
                <a href="/event/{{ event.key_name }}"><h3>{{ event.name }}</h3></a>
                {% if event.now and event.webcast %}
                    {% if event.webcast_status == 'offline' %}
                        <a class="btn btn-default btn-small pull-right" href="{{event.gameday_url}}" target="_blank"><span class="glyphicon glyphicon-facetime-video"></span> Offline</a>
                    {% else %}
                        <a class="btn btn-success btn-small pull-right" href="{{event.gameday_url}}" target="_blank"><span class="glyphicon glyphicon-facetime-video"></span> Watch Now</a>
                    {% endif %}
                {% endif %}
                <p>
                    {% if event.location %}<span class="glyphicon glyphicon-map-marker"></span> in <a href="http://maps.google.com/maps?q={{ event.location }}" target="_blank">{{ event.location }}</a><br />{% endif %}
                    {% if event.start_date %}<span class="glyphicon glyphicon-calendar"></span> {{ event.start_date|date:"M d" }}{% if event.start_date|date:"M d" != event.end_date|date:"M d" %} - {{ event.end_date|date:"M d" }}{% endif %}, {{ event.end_date|date:"Y" }}{% endif %}
                </p>

                <table class="table table-striped table-condensed col-xs-11">
                    <tr>
                        <th>Team Number</th>
                        <th>Team Name</th>
                        <th>Next Match</th>
                        <th>Qual Record</th>
                        <th>Ranking</th>
                        <th>Alliance</th>
                        <th>Playoff Status</th>
                        <th>Awards</th>
                    </tr>
                    {% for team, status, status_str, awards in live_event.1 %}
                        <tr>
                            <td>{{ team.team_number }}</td>
                            <td>
                                <a href="/team/{{ team.team_number }}/{{ event.year }}#{{ event.key_name }}">{{ team.nickname }}</a>
                            </td>
                             <td>
                                {% if status.next_match_key %}<a href="/match/{{ status.next_match_key }}">{{ status.next_match_key|match_short }}</a>{% else %}--{% endif %}
                            </td>
                            <td>{{ status.qual.ranking.record.wins }}-{{ status.qual.ranking.record.losses }}-{{ status.qual.ranking.record.ties }}</td>
                            <td>{% if status.qual.ranking.rank %}{{ status.qual.ranking.rank }}/{{ status.qual.num_teams }}{% else %}--{% endif %}</td>
                            <td>{{status_str.alliance|safe}}</td>
                            <td>{{status_str.playoff|safe}}</td>
                            <td>
                                <ul>
                                {% for award in awards %}
                                    {% for team_number, awardees in award.recipient_dict.items %}
                                        {% if team_number == team.team_number %}
                                            {% for awardee in awardees %}
                                                <li>{{ award.name_str }}{% if awardee %} ({{ awardee }}){% endif %}</li>
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endwith %}
{% endfor %}