{% extends "base.html" %}

{% block title %}The Blue Alliance - Add Webhook{% endblock %}

{% block content %}
<div class="container">
  {% if error %}
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4>Error</h4>
        <p>Missing url or name</p>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
      <h1>Add Webhook</h1>
      <form class="account_signup_form" action="/webhooks/add" method="post">
        <table class="table table-striped">
          <tbody>
            <tr>
              <td>URL</td>
              <td><input class="form-control" type="text" required="required" name="url" placeholder="http://yoursite.com"/></td>
            </tr>
            <tr>
              <td>Name</td>
              <td><input class="form-control" type="text" required="required" name="name" placeholder="My Webhook" /></td>
            </tr>
          </tbody>
        </table>
        <input name="account_id" type="hidden" value="{{user_bundle.account.key.id}}" />
        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-thumbs-up"></span> Create Webhook</button>
        <a class="btn btn-default" href="/account"><span class="glyphicon glyphicon-remove"></span> Cancel</a>
      </form>
    </div>
  </div>
</div>
{% endblock %}
