[flake8]
# Make flake play well with black
# https://black.readthedocs.io/en/stable/the_black_code_style.html
max-line-length = 88
select = C,E,F,W,B,B950,I
ignore = E203, E501, W503
exclude =
  ./old_py2/
  ./stubs/
  ./subtrees/
  ./venv/
  ./node_modules/
application_import_names = backend
import-order-style = edited

[flake8:local-plugins]
extension =
  E = service_import_checker:ServiceImportChecker
paths =
  ./flake8_plugins
