.DS_Store

**.pyc
__pycache__/
.mypy_cache/
.pytest_cache/
.pyre/
.vagrant/

ci_screenshots.pickle
ci_screenshots_message.md
.coverage
coverage.xml
.node_coverage/
**.swp
venv/
.venv/
.testmondata
.vscode
.idea

tba-key-setup.sh
shell.nix

# Compiled/Intermediate Files #
###############################
src/build
src/backend/web/static/javascript/tba_js/tba_keys.js

# Node.js
node_modules/

ops/dev/keys/
# Check in empty storage folder, ignore everything in folder
ops/dev/storage/*
!ops/dev/storage/.gitkeep
src/backend/web/static/javascript/tba_js/tba_keys.js
tba_dev_config.local.json

# Ignore Firebase config modules
.firebaserc
ui-debug.log
firebase-debug.log

database-debug.log
