__pycache__/
.mypy_cache/
.pytest_cache/
.pyre/
.coverage
coverage.xml
**.swp
venv/

# Compiled/Intermediate Files #
###############################
src/web/static/css/less_css/*.css
src/web/static/compiled/*
