.DS_Store

**.pyc
__pycache__/
.mypy_cache/
.pytest_cache/
.pyre/
.vagrant/

.coverage
coverage.xml
**.swp
venv/
.testmondata
.vscode

# Compiled/Intermediate Files #
###############################
src/build
src/backend/web/static/javascript/tba_js/tba_keys.js

# Node.js
node_modules/

ops/dev/keys/
src/backend/web/static/javascript/tba_js/tba_keys.js
tba_dev_config.local.json
