language: python
python: 2.7

before_script:
  - mkdir -p vendors
  - wget http://googleappengine.googlecode.com/files/google_appengine_1.8.7.zip  -nv
  - unzip -qd vendors google_appengine_1.8.7.zip
  - ln -s vendors/google_appengine/dev_appserver.py .

install:
  - pip install -r requirements.txt --use-mirrors

:script: paver test
