language: python
python: 2.7
sudo: false
addons:
  apt:
    packages:
    - jq
cache:
  pip: true
  directories:
  - node_modules
env:
  matrix:
  - JOB=PYUNIT
  - JOB=PYBUILD
  - JOB=JSUNIT
  - JOB=LINT
  - JOB=MAKE
stages:
  - test
  - name: deploy
    if: (type = push) AND (branch = master)
before_install:
- nvm install 8.16.0
install:
- travis_retry ./ops/travis/travis-install.sh $JOB
- export PYTHONPATH=${PYTHONPATH}:${HOME}/google_appengine
- export ENDPOINTS_GAE_SDK=$(gcloud info --format="value(installation.sdk_root)")
before_script:
- ./ops/travis/travis-before.sh $JOB
script:
- ./ops/travis/travis-worker.sh $JOB
after_failure:
- cat test_failures.temp
before_deploy:
- openssl aes-256-cbc -K $encrypted_7463bcfc1880_key -iv $encrypted_7463bcfc1880_iv -in ops/deploy_keys.tar.enc -out ops/deploy_keys.tar -d
- ./ops/manage_deploy_keys.sh -x
jobs:
  include:
  - stage: deploy
    script: skip
    env: JOB=DEPLOY
    deploy:
      skip_cleanup: true
      provider: script
      script: ./ops/travis/travis-deploy.sh
      on:
        repo: the-blue-alliance/the-blue-alliance
        branch: master
