language: python
python: 2.7
sudo: false
cache:
  pip: true
  directories:
  - node_modules
env:
  matrix:
  - JOB=PYUNIT
  - JOB=PYLINT
  - JOB=JSUNIT
  - JOB=JSLINT
before_install:
- nvm install 6.0.0
install:
- travis_retry pip install -r travis_requirements.txt
- paver install_libs
- travis_retry wget https://storage.googleapis.com/appengine-sdks/featured/google_appengine_1.9.40.zip -nv
- unzip -q google_appengine_1.9.40.zip
- export PYTHONPATH=${PYTHONPATH}:google_appengine
- travis_retry npm install
before_script:
- paver make
script:
- ./ops/travis-worker.sh $JOB
after_failure:
- cat test_failures.temp
before_deploy:
- openssl aes-256-cbc -K $encrypted_7463bcfc1880_key -iv $encrypted_7463bcfc1880_iv -in ops/deploy_keys.tar.enc -out ops/deploy_keys.tar -d
- ./ops/manage_deploy_keys.sh -x
- paver make
jobs:
  include:
  - stage: deploy
    script: skip
    env: JOB=none
    deploy:
      skip_cleanup: true
      provider: gae
      keyfile: ops/tbatv-prod-hrd-deploy.json
      project: tbatv-prod-hrd
      version: prod-1
      config: app.yaml
      # config: "app.yaml app-backend-tasks-b2.yaml app-backend-tasks.yaml cron.yaml dispatch.yaml index.yaml queue.yaml"
      on:
        repo: the-blue-alliance/the-blue-alliance
        branch: master

