# Packages that are needed for deployment because
# they are not included in App Engine
iso8601==0.1.11
google-api-python-client==1.7.8
google-cloud-bigquery==0.25.0
beautifulsoup4
GoogleAppEngineCloudStorageClient

# TBANS
firebase-admin==3.2.1 # DO NOT BUMP - 3.2.1 is the last version that supports Python 2

# Cloud Endpoints Stuff
oauth2client==3.0.0
google-auth
google-endpoints
google-endpoints-api-management
requests-toolbelt
# See https://github.com/urllib3/urllib3/issues/1456
urllib3==1.24.2
grpcio==1.26.0 # Do not bump - App Engine will fail to deploy
# Could move to using built in library https://cloud.google.com/appengine/docs/standard/python/tools/built-in-libraries-27
