beautifulsoup4==4.11.1
black==22.6.0
flake8==5.0.3
flake8-import-order
flake8-tidy-imports
blinker==1.4
freezegun==1.2.1
pre-commit
pyre-check==0.9.15
pytest
pytest-cov
pytest-custom_exit_code
pytest-testmon
PyYAML==6.0
requests-mock
shellcheck-py
