beautifulsoup4==4.12.3
black==24.8.0
flake8==7.1.1
flake8-import-order
flake8-tidy-imports
blinker==1.9.0
freezegun==1.5.1
pre-commit
pyre-check==0.9.23
pytest
pytest-cov
pytest-custom_exit_code
pytest-split
pytest-testmon
PyYAML==6.0.1
requests-mock==1.12.1
shellcheck-py
six
