beautifulsoup4==4.12.2
black==23.12.1
flake8==6.1.0
flake8-import-order
flake8-tidy-imports
blinker==1.7.0
freezegun==1.3.1
pre-commit
pyre-check==0.9.19
pytest
pytest-cov
pytest-custom_exit_code
pytest-testmon
PyYAML==6.0.1
requests-mock==1.11.0
shellcheck-py
