{% extends "base.html" %}
{% import 'media_partials/social_media_macros.html' as smm %}

{% block title %}Pending Suggestions{% endblock %}

{% block content %}
<div class="container">

  <ol class="breadcrumb">
    <li><a href="/suggest/review">Suggestions</a></li>
    <li class="active">Team Social Media</li>
  </ol>
  <h1>{{ suggestions_and_references|length }} Pending Team Social Media Suggestions</h1>

  <form action="/suggest/team/social/review" method="post" id="review_social">
      <div class="col-xs-12">

          <div class="row">
              <div class="control-group">
                  <div class="controls">
                      <a href="#" id="accept_all_button" class="btn btn-success">Select All Accepts</a>
                      <a href="#" id="reject_all_button" class="btn btn-danger">Select All Rejects</a>
                      <a href="#" id="deselect_all_button" class="btn btn-default">Deselect All</a>
                  </div>
              </div>
          </div><br>

          {% for suggestion, reference in suggestions_and_references %}
          <div class="row">
              <div class="well">
                  <div class="col-xs-2">
                    <label class="radio text-success">
                      <input class="accept" type="radio" name="accept_reject-{{suggestion.key.id()}}" value="accept::{{suggestion.key.id()}}"> Accept
                    </label>
                    <label class="radio text-danger">
                      <input class="reject" type="radio" name="accept_reject-{{suggestion.key.id()}}" value="reject::{{suggestion.key.id()}}"> Reject
                    </label>
                  </div>
                  <div class="col-xs-5 fitvids">
                      <p><strong><a href="/team/{{reference.team_number}}" target="_blank">Team {{reference.team_number}}{% if reference.nickname %} - {{reference.nickname}}{% endif %}</a></strong></p>
                      {{smm.social_media_card(suggestion)}}
                  </div>
                  <div class="col-xs-2">
                      <ul>
                          <li>{{ suggestion.key.id() }}</a></li>
                          <li>{{ suggestion.author.get().email }}</a></li>
                          <li>{{ suggestion.author.get().nickname }}</a></li>
                          <li>{{ suggestion.contents_json }}</li>
                          <li>{{ suggestion.private_details_json }}</li>
                      </ul>
                  </div>
                  <div class="clearfix"></div>
              </div>
          </div>
          {% else %}
          <div class="row">
              <div class="well">
                  <p>No suggestions! Go build more community!</p>
              </div>
          </div>
          {% endfor %}

          <div class="row">
              <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-pencil"></span> Act On Selected</button>
          </div>
      </div>
  </form>
</div>
{% endblock %}

{% block inline_javascript %}
<script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
<script>
$("#accept_all_button").click(function(e) {
    e.preventDefault();
    $('.accept').prop('checked', true);
    $('.reject').prop('checked', false);
});
$("#reject_all_button").click(function(e) {
    e.preventDefault();
    $('.accept').prop('checked', false);
    $('.reject').prop('checked', true);
});
$("#deselect_all_button").click(function(e) {
    e.preventDefault();
    $('.accept').prop('checked', false);
    $('.reject').prop('checked', false);
});
</script>
{% endblock %}