{% extends "base.html" %}

{% block title %}{% if team.nickname %}{{team.nickname}} - {% endif %}Team {{team.team_number}}{% if explicit_year %} ({{year}}){% endif %} - The Blue Alliance{% endblock %}

{% block meta_description %}{% if team.address %}From {{team.split_address.full_address}}{% endif %}. Team information, match results, and match videos from the{% if explicit_year %} {{year}}{% endif %} FIRST Robotics Competition.{% endblock %}

{% block more_head_tags %}
    <meta property="og:title" content="Team {{team.team_number}}" />
    <meta property="og:type" content="sports_team" />
    <meta property="og:url" content="http://thebluealliance.com/team/{{team.team_number}}" />
    <meta property="og:image" content="http://www.thebluealliance.com/images/first_logo.png" />
    <meta property="og:description" content="FIRST Robotics Competition team{% if team.address %} from {{team.split_address.full_address}}{% endif %}."/>
    <meta property="og:site_name" content="The Blue Alliance" />
    {% if team.split_address.locality %}<meta property="og:locality" content="{{team.split_address.locality}}" />{% endif %}
    {% if team.split_address.region %}<meta property="og:region" content="{{team.split_address.region}}" />{% endif %}
    {% if team.split_address.country_name %}<meta property="og:country-name" content="{{team.split_address.country_name}}" />{% endif %}
{% endblock %}

{% block leftCol %}
    <ul class="leftNav">
        <li class="info"><a href="#info">Information</a></li>
        <li class="event"><a href="#events">Events in {{year}}</a></li>
    </ul>
    <div class="divider"></div>
{% endblock %}

{% block content %}
<div id="contentTop">
    {% if team.nickname %}
        <h1>{{ team.nickname }} <span class="annotation">team {{ team.team_number }}</span></h1>
    {% else %}
        <h1>Team {{ team.team_number }}</h1>
    {% endif %}
    {% if team.website %}<p><a href="{{ team.website }}" title="{{ team.nickname }}">{{ team.website }}</a></p>{% endif %}
</div>
<div id="contentRight">
    {% include "base_partials/right_col.html" %}
</div>
<div id="contentCenter">
    <div id="info" class="contentBlock">
        <div class="contentBlockTopper">
            <h2>Information</h2>
        </div>
        <table class="infoTable">
            {% if team.address %}<tr>
                <th>Location</th>
                <td><a href="http://maps.google.com/maps?q={{ team.split_address.full_address }}">{{ team.split_address.full_address }}</a></td>
            </tr>{% endif %}
            {% if team.name %}<tr>
                <th>Full Name</th>
                <td>{{ team.name }}</td>
            </tr>{% endif %}
            {% if team.rookie_year %}<tr>
                <th>Rookie Year</th>
                <td>{{ team.rookie_year }}</td>
            </tr>{% endif %}
            {% if year_wlt %}<tr>
                <th>{{year}} Record</th>
                <td>({{year_wlt.win}}-{{year_wlt.loss}}-{{year_wlt.tie}})</td>
            </tr>{% endif %}
        </table>
        <div id="fb_like"><fb:like href="http://www.thebluealliance.com/team/{{team.team_number}}" show_faces="true" width="450" ref="team_details"></fb:like></div>
        <p><g:plusone annotation="inline" href="http://www.thebluealliance.com/team/{{team.team_number}}"></g:plusone></p>
    </div>
    <div id="events" class="contentBlock">
        <div class="contentBlockTopper">
            <h2>{{ participation|length }} Event{{participation|length|pluralize}} in {{year}}</h2>
            <p>
                {% for a_year in years %}<a href="/team/{{team.team_number}}/{{a_year}}">{{a_year}}</a>{% if not forloop.last %} - {% endif %}{% endfor %}
            </p>
        </div>
        {% for comp in participation %}
            <ul class="infoList">
                <li>
                    <h3><a href="/event/{{comp.event.key.name}}">{{ comp.event.name }} <span class="annotation">{{ comp.event.location }}</span></a></h3>
                    {% if comp.wlt %}<p>Team {{team.team_number}} was ({{comp.wlt.win}}-{{comp.wlt.loss}}-{{comp.wlt.tie}}). {{ comp.event.start_date|date:"M d, Y" }}.</p>{% endif %}
                </li>
            </ul>
            {% if comp.matches.num %}
            <table class="matchTable">
                <tr class="key">
                    <th class="icon"><img src="/images/icons/video.png" /></th>
                    <th>Match Number</th>
                    <th colspan="3">Red Alliance</th>
                    <th colspan="3">Blue Alliance</th>
                    <th colspan="2">Scores</th>
                </tr>

                {% if comp.matches.qm %}
                    <tr class="key"><th colspan="10">Qualifications</th></tr>
                    {% for match in comp.matches.qm %}
                        {% include "matches/partials/match_row.html" %}
                    {% endfor %}
                {% endif %}

                {% if comp.matches.ef %}
                    <tr class="key"><th colspan="10">Eighth Finals</th></tr>
                    {% for match in comp.matches.ef %}
                        {% include "matches/partials/match_row.html" %}
                    {% endfor %}
                {% endif %}

                {% if comp.matches.qf %}
                    <tr class="key"><th colspan="10">Quarterfinals</th></tr>
                    {% for match in comp.matches.qf %}
                        {% include "matches/partials/match_row.html" %}
                    {% endfor %}
                {% endif %}

                {% if comp.matches.sf %}
                    <tr class="key"><th colspan="10">Semifinals</th></tr>
                    {% for match in comp.matches.sf %}
                        {% include "matches/partials/match_row.html" %}
                    {% endfor %}
                {% endif %}

                {% if comp.matches.f %}
                    <tr class="key"><th colspan="10">Finals</th></tr>
                    {% for match in comp.matches.f %}
                        {% include "matches/partials/match_row.html" %}
                    {% endfor %}
                {% endif %}
            </table>
            {% else %}
            <p>No matches yet. Check back after {{ comp.event.start_date|date:"M d, Y" }}.</p>
            {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}
