{% extends "../base.html" %}

{% block title %}Teams - The Blue Alliance{% endblock %}

{% block meta_description %}FIRST Robotics Competition teams.{% endblock %}

{% block content %}

<div id="contentTop">
    <h1>All Teams</h1>
    <p>{{ teams|length }} total teams</p>
</div>

<div id="contentCenter">
    <div id="teams" class="contentBlock">
        <div class="contentBlockTopper">
            <h2>Teams</h2>
        </div>
        <ul class="infoList">
        {% for team in teams %}
            <li>
                <h3><a href="/team/{{team.team_number}}">
                    {% if team.nickname %}
                        {{ team.nickname }} <span id="team_number" class="annotation">Team {{ team.team_number }}</span>
                    {% else %}
                        {% if team.name %}
                            {{ team.name }} <span id="team_number" class="annotation">Team {{ team.team_number }}</span>
                        {% else %}
                            Team {{ team.team_number }}
                        {% endif %}
                    {% endif %}
                </a></h3>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}
