# Packages that are needed for testing on Travis
Paver==1.1.1
WebTest==2.0.28
unittest2==0.5.1
webapp2==2.5.2
jinja2==2.6
appengine-fixture-loader==0.1.8
pytz==2016.4
PyYAML
pep8==1.7.0
requests[security]
pyOpenSSL
ndg-httpsclient
pyasn1
httpie==1.0.3
mysqlclient==1.3.14
openapi-spec-validator
mock==3.0.5
