<div class="clearfix">
  <div class="btn-group inline pull-left" style="margin-top: 3px">
    <a class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" href="#">
      {{ dropdown_label }}
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu tba-dropdown-menu-limited">
      <li><a href="/team/{{team.team_number}}/history">History</a></li>
      {% for a_year in years|reverse %}
        <li><a href="/team/{{team.team_number}}/{{a_year}}">{{a_year}} Season</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
