<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Somewhere!{% endblock %} - TBA Datafeeds</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Datafeed printing for The Blue Alliance">

    <!-- Le styles -->
    <link href="/css/tba_combined_style.main.min.css" rel="stylesheet">

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/images/admin_favicon.ico">

    <!-- Le javascript
    ================================================== -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.0.6/jquery.fancybox.pack.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fitvids/1.0.1/jquery.fitvids.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.5.2/jquery.tablesorter.min.js"></script>
    <script src="/javascript/tba_combined_js.main.min.js"></script>
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="tba-navbar-logo-link" href="/admin/">
          <img class="tba-navbar-logo" src="/images/tba_red_lamp_navbar_large.png" alt="tba logo">
        </a>
        <a class="navbar-brand tba-navbar-brand hidden-xs" href="/admin/">The Blue Alliance Admin</a>
        <a class="navbar-brand tba-navbar-brand visible-xs" href="/admin/">TBA Admin</a>

        <ul class="nav navbar-nav tba-navbar-nav">
          <!-- Nothing here yet -->
        </ul>

        <div class="navbar-collapse collapse tba-navbar-collapse tba-collapse navbar-responsive-collapse">
          <br class="visible-xs">
          <p class="navbar-text pull-right">
            Logged in as <a href="#" class="navbar-link">{{ user_bundle.account.display_name }}</a> || <a href="/logout">log out</a>
          </p>
          <ul class="nav navbar-nav tba-navbar-nav">
            <!-- Nothing here yet -->
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          {% block content %}{% endblock %}
        </div>
      </div>

      <hr>

      <footer id="footer">
        <p>Go back to <a href="/">The Blue Alliance</a>. Like the WWF, but for smart people.</p>
      </footer>

    </div>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-1090782-5']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

  </body>
</html>
