{% extends "base.html" %}

{% block title %}OffseasonMatchesGet{% endblock %}

{% block content %}
<div class="row">
    <div class="alert alert-block alert-success">
        <h4>Got {{matches|length}} matches</h4>
    </div>
    <table class="table table-condensed table-hover table-striped">
        <thead>
            <th>key_name</th>
            <th>team_key_names</th>
            <th>alliances_json</th>
        </thead>
        {% for match in matches %}
        <tr>
            <td>{{match.key_name}}</td>
            <td>{{match.team_key_names}}</td>
            <td>{{match.alliances_json}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
