{% extends "base.html" %}

{% block title %}OffseasonMatchesGet{% endblock %}

{% block content %}
<div class="row">
    <div class="alert alert-block alert-success">
        <h4>Got matches for {{event_matches|length}} events</h4>
        <p>Note that these matches aren't written into the database. Please
        paste matches into a CSV file and run the offseason CSV datafeed.</p>
    </div>
    {% for event, matches in event_matches.items %}
    <h3>Got {{matches|length}} matches for {{event}}</h3>
      {% for match in matches %}
        {{match}}
        <br>
      {% endfor %}
    {% endfor %}
</div>
{% endblock %}
