{% extends "base.html" %}

{% block title %}UsfirstTeamDetailsGet{% endblock %}

{% block content %}
<div class="row">
    {% if success %}
    <div class="alert alert-block alert-success">
        <h4>Got team {{team.team_number}}</h4>
    </div>
    <h2>Team {{team.team_number}}</h2>
    <div class="btn-group">
        <a href="/team/{{team.team_number}}" class="btn btn-primary" /><span class="glyphicon glyphicon-eye-open"></span> View on TBA</a>
        <a href="/admin/team/{{team.team_number}}" class="btn" /><span class="glyphicon glyphicon-edit"></span> View in Admin</a>
    </div>
    <ul>
        <li>Name: {{team.name}}</li>
        <li>Nickname: {{team.nickname}}</li>
        <li>Rookie Year: {{team.rookie_year}}</li>
        <li>City: {{team.city}}</li>
        <li>State/Prov: {{team.state_prov}}</li>
        <li>Postal Code: {{team.postalcode}}</li>
        <li>Country: {{team.country}}</li>
        <li>Website: {{team.website}}</li>
        <li>District: {{district}}</li>
        <li>Robot: {{robot}}</li>
    </ul>
    {% else %}
    <div class="alert alert-block alert-danger">
        <h4>Team Fetch failed.</h4>
        <p>{{key_name}} may lack a TPID, thus don't know how to scrape FIRST</p>
    </div>
    {% endif %}
</div>
{% endblock %}
