{% import "match_partials/match_table_row_macros.html" as mtrm %}
{% import "match_partials/match_table_cell_macros.html" as mtcm %}

{% macro qual_match_table(matches, cur_team_key=None) %}
<table class="match-table">
  <thead>
    {% include "match_partials/match_table_header.html" %}
  </thead>

  <tbody>
    {% if matches.qm %}
      <tr class="key">
        <th colspan="16">Qualifications</th>
      </tr>
      {% for match in matches.qm %}
        {{mtrm.match_row_tr(match, cur_team_key)}}
      {% endfor %}
    {% endif %}
  </tbody>
</table>
{% endmacro %}

{% macro qual_match_table_hot(matches) %}
<table class="match-table">
  <thead>
    {% include "match_partials/match_table_header_hot.html" %}
  </thead>

  <tbody>
    {% if matches.qm %}
      <tr class="key">
        <th colspan="16">Qualifications</th>
      </tr>
      {% for match in matches.qm %}
        {{mtrm.match_row_tr_hot(match)}}
      {% endfor %}
    {% endif %}
  </tbody>
</table>
{% endmacro %}

{% macro qual_match_prediction_table(matches, predictions, fake_matches, year) %}
<table class="match-table">
  <thead>
    {% include "match_partials/match_predictions_table_header.html" %}
  </thead>

  <tbody>
    {% if matches.qm %}
      <tr class="key">
        <th colspan="19">Qualifications</th>
      </tr>
      {% for match in matches.qm %}
        {{mtrm.match_prediction_row_tr(match, predictions, fake_matches=fake_matches)}}
      {% endfor %}
    {% endif %}
  </tbody>
</table>
{% endmacro %}

{% macro playoff_match_prediction_table(matches, predictions, fake_matches, year) %}
<table class="match-table">
  <thead>
    {% include "match_partials/match_predictions_table_header.html" %}
  </thead>

  <tbody>
    {% if matches.ef %}
      <tr class="key">
        <th colspan="19">Eighth-Finals</th>
      </tr>
      {% for match in matches.ef %}
        {{mtrm.match_prediction_row_tr(match, predictions, fake_matches=fake_matches)}}
      {% endfor %}
    {% endif %}
    {% if matches.qf %}
      <tr class="key">
        <th colspan="19">Quarterfinals</th>
      </tr>
      {% for match in matches.qf %}
        {{mtrm.match_prediction_row_tr(match, predictions, fake_matches=fake_matches)}}
      {% endfor %}
    {% endif %}
    {% if matches.sf %}
      <tr class="key">
        <th colspan="19">Semifinals</th>
      </tr>
      {% for match in matches.sf %}
        {{mtrm.match_prediction_row_tr(match, predictions, fake_matches=fake_matches)}}
      {% endfor %}
    {% endif %}
    {% if matches.f %}
      <tr class="key">
        <th colspan="19">Finals</th>
      </tr>
      {% for match in matches.f %}
        {{mtrm.match_prediction_row_tr(match, predictions, fake_matches=fake_matches)}}
      {% endfor %}
    {% endif %}
  </tbody>
</table>
{% endmacro %}

{% macro elim_match_table(matches, cur_team_key=None) %}
<table class="match-table">
  <thead>
    {% include "match_partials/match_table_header.html" %}
  </thead>

  <tbody>
    {% if matches.ef %}
      <tr class="key"><th colspan="16">Eighth-Finals</th></tr>
      {% for match in matches.ef %}
        {{mtrm.match_row_tr(match, cur_team_key)}}
      {% endfor %}
    {% endif %}

    {% if matches.qf %}
      <tr class="key"><th colspan="16">Quarterfinals</th></tr>
      {% for match in matches.qf %}
        {{mtrm.match_row_tr(match, cur_team_key)}}
      {% endfor %}
    {% endif %}

    {% if matches.sf %}
      <tr class="key"><th colspan="16">Semifinals</th></tr>
      {% for match in matches.sf %}
        {{mtrm.match_row_tr(match, cur_team_key)}}
      {% endfor %}
    {% endif %}

    {% if matches.f %}
      <tr class="key"><th colspan="16">Finals</th></tr>
      {% for match in matches.f %}
        {{mtrm.match_row_tr(match, cur_team_key)}}
      {% endfor %}
    {% endif %}
  </tbody>
</table>
{% endmacro %}

{% macro double_elim_table(matches, cur_team_key=None) %}
  {% if matches.winner %}
    <h4>Winner's Bracket</h4>
    {{ elim_match_table(matches.winner) }}
  {% endif %}
  {% if matches.loser%}
    <h4>Loser's Bracket</h4>
    {{ elim_match_table(matches.loser) }}
  {% endif %}
{% endmacro %}

{% macro full_match_table(matches, cur_team_key=None) %}
<table class="match-table">
  <thead>
    {% include "match_partials/match_table_header.html" %}
  </thead>

  <tbody>
    {% if matches.qm %}
      <tr class="key"><th colspan="16">Qualifications</th></tr>
      {% for match in matches.qm %}
        {{mtrm.match_row_tr(match, cur_team_key)}}
      {% endfor %}
    {% endif %}

    {% if matches.ef %}
      <tr class="key"><th colspan="16">Eighth-Finals</th></tr>
      {% for match in matches.ef %}
        {{mtrm.match_row_tr(match, cur_team_key)}}
      {% endfor %}
    {% endif %}

    {% if matches.qf %}
      <tr class="key"><th colspan="16">Quarterfinals</th></tr>
      {% for match in matches.qf %}
        {{mtrm.match_row_tr(match, cur_team_key)}}
      {% endfor %}
    {% endif %}

    {% if matches.sf %}
      <tr class="key"><th colspan="16">Semifinals</th></tr>
      {% for match in matches.sf %}
        {{mtrm.match_row_tr(match, cur_team_key)}}
      {% endfor %}
    {% endif %}

    {% if matches.f %}
      <tr class="key"><th colspan="16">Finals</th></tr>
      {% for match in matches.f %}
        {{mtrm.match_row_tr(match, cur_team_key)}}
      {% endfor %}
    {% endif %}
  </tbody>
</table>
{% endmacro %}

{% macro upcoming_match_table(matches, cur_team_key=None) %}
<table class="match-table">
  <thead>
    {% include "match_partials/match_table_header_upcoming.html" %}
  </thead>

  <tbody>
    {% for match in matches %}
      {{mtrm.match_row_tr(match, cur_team_key, upcoming=True)}}
    {% endfor %}
  </tbody>
</table>
{% endmacro %}

{% macro recent_match_table(matches, cur_team_key=None, show_event=False) %}
{% set cur_team = none %}
<table class="match-table">
  <thead>
    {% include "match_partials/match_table_header.html" %}
  </thead>

  <tbody>
    {% for match in matches %}
      {{mtrm.match_row_tr(match, cur_team_key, show_event)}}
    {% endfor %}
  </tbody>
</table>
{% endmacro %}

{% macro single_match_table(match, force_played=False) %}
<table class="match-table">
  <thead>
    <tr class="key">
      <th colspan="12">Teams</th>
      <th>{% if match.has_been_played %}Score{% elif match.predicted_time %}Predicted Time{% elif match.time%}Scheduled Time{% else %}Score{% endif %}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {% for team_key in match.alliances.red.teams %}
        {{mtcm.match_team_td(match, 'red', team_key, cur_team_key, compact=True)}}
      {% endfor %}

      {% if match.has_been_played or not match.time %}
        {{mtcm.match_score_td(match, 'red', cur_team_key, compact=True, force_played=force_played)}}
      {% else %}
        {{mtcm.match_time_td(match, compact=True)}}
      {% endif %}
    </tr>
    <tr>
      {% for team_key in match.alliances.blue.teams %}
        {{mtcm.match_team_td(match, 'blue', team_key, cur_team_key, compact=True)}}
      {% endfor %}

      {% if match.has_been_played or not match.time %}
        {{mtcm.match_score_td(match, 'blue', cur_team_key, compact=True, force_played=force_played)}}
      {% endif %}
    </tr>
  </tbody>
</table>
{% endmacro %}