<object width="100%" height="100%"
    data="/flowplayer/flowplayer-3.2.18.swf"
    type="application/x-shockwave-flash">
 
    <!-- load configuration from config.js -->
    <param name="flashvars" value="config={
  'plugins': {
	  'flashls': {
		  'url': '/flowplayer/flashlsFlowPlayer.swf',
		  'hls_maxbufferlength': 20
	  }
  },
  'clip': {
	  'live': true,
	  'url': '{{webcast.channel}}',
	  'provider': 'flashls',
	  'urlResolvers': 'flashls',

	  'scaling': 'fit'
  }
}" />
 
    <param name="movie" value="/flowplayer/flowplayer-3.2.18.swf" />
    <param name="allowfullscreen" value="true" />
    <param name="bgcolor" value="222222" /> 
 
</object>