{% extends "base.html" %}

{% block title %}The Blue Alliance - Debug Help{% endblock %}

{% block leftCol %}
    <img src="http://firsthandtechnology.org.uk/blogs/fllteam/WindowsLiveWriter/TSMRoboteam2K7PowerPuzzleWorldFestivalAt_A81D/Opening%20Ceremony%20Georgia%20Dome_2.jpg" width="200" height="160" class="profileImg" />
    <ul class="leftNav">
        <li class="info"><a href="#info">Information</a></li>
        <li class="match"><a href="#matches">Matches</a></li>
        <li class="robot"><a href="#teams">Teams</a></li>
    </ul>
    <div class="divider"></div>
{% endblock %}

{% block content %}
<div id="contentTop">
    <h1>The Blue Alliance <span class="annotation">Debug and Setup</span></h1>
</div>
<div id="contentRight">
    <div class="contentBlock">
        <div class="contentBlockTopper">
            <h2>Admin Tasks</h2>
        </div>
        <p>Go <a href="/admin/">admin some stuff</a>.</p>
    </div>
    {% include "base_partials/right_col.html" %}
</div>
<div id="contentCenter">
    <div id="fastSetup" class="contentBlock">
        <div class="contentBlockTopper">
            <h2>Dev Setup</h2>
        </div>
        <p>Use <a href="http://paver.github.com/paver/">paver</a> to set up dev environment. <a href="http://packages.python.org/distribute/easy_install.html">easy_install</a> paver if you don't have it.</p>
        <br />
        <blockquote>paver dev_teams_setup</blockquote>
        <blockquote>paver dev_data_setup</blockquote>
        <br />
        <p>Look in pavement.py for the tasks in case they're failing.</p>
    </div>
    
    <div id="moreSetup" class="contentBlock">
        <div class="contentBlockTopper">
            <h2>Prod Setup</h2>
        </div>
        <ol>
            <li>Instantiate Teams From 2012: <a href="/tasks/usfirst_teams_instantiate?year=2012&amp;skip=0">UsfirstTeamsInstantiate @0</a> <a href="/tasks/usfirst_teams_instantiate?year=2012&amp;skip=1000">@1000</a> <a href="/tasks/usfirst_teams_instantiate?year=2012&amp;skip=2000">@2000</a> <a href="/tasks/usfirst_teams_instantiate?year=2012&amp;skip=3000">@3000</a></li>
            <li>Instantiate Teams From 2011: <a href="/tasks/usfirst_teams_instantiate?year=2011&amp;skip=0">UsfirstTeamsInstantiate @0</a> <a href="/tasks/usfirst_teams_instantiate?year=2011&amp;skip=1000">@1000</a> <a href="/tasks/usfirst_teams_instantiate?year=2011&amp;skip=2000">@2000</a></li>
            <li>Instantiate Teams From 2010: <a href="/tasks/usfirst_teams_instantiate?year=2010&amp;skip=0">UsfirstTeamsInstantiate @0</a> <a href="/tasks/usfirst_teams_instantiate?year=2010&amp;skip=1000">@1000</a> <a href="/tasks/usfirst_teams_instantiate?year=2010&amp;skip=2000">@2000</a></li>
            <li>Instantiate Teams From 2009: <a href="/tasks/usfirst_teams_instantiate?year=2009&amp;skip=0">UsfirstTeamsInstantiate @0</a> <a href="/tasks/usfirst_teams_instantiate?year=2009&amp;skip=1000">@1000</a> <a href="/tasks/usfirst_teams_instantiate?year=2009&amp;skip=2000">@2000</a></li>
            <li>Bulkload Events:<br />appcfg.py upload_data --config_file=bulkloader.yaml --filename=test_data/events.csv --kind=Event --url=http://tbatv-prod.appspot.com/_ah/remote_api</li>
            <li>Bulkload Matches: <br />appcfg.py upload_data --config_file=bulkloader.yaml --filename=test_data/matches.csv --kind=Match --url=http://tbatv-prod.appspot.com/_ah/remote_api</li>
            <li><a href="/tasks/eventteam_update_enqueue">Update EventTeams</a></li>
            
            <li><a href="/tasks/tba_videos_get_enqueue">Update TBAVideos</a></li>
        </ol>
        <ol>
            <strong>You must do these things first</strong>.
            <li><a href="/tasks/usfirst_teams_instantiate?skip=0">UsfirstTeamsInstantiate</a>, creates Team objects for all teams from USFIRST.  Uses code borrowed from Patrick Fairbank's FRCLinks.</li>
            <li><a href="/tasks/usfirst_events_instantiate?year=2012">UsfirstEventsInstantiate</a>, enqueues Tasks to create Event objects for regional events from USFIRST.</li>
        </ol>
    </div>
    
    <div id="updates" class="contentBlock">
        <div class="contentBlockTopper">
            <h2>Updates</h2>
        </div>
        <ul>
            <li><a href="/tasks/usfirst_event_get_enqueue">UsfirstEventGetEnqueue</a>, which sets up the TaskQueue to update details for all official Event objects.</li>
            <li><a href="/tasks/usfirst_matches_get_enqueue?year=2012">UsfirstMatchesGetEnqueue</a>, which sets up the TaskQueue to get match results for all known Event objects, which will create or update Match objects.</li>
            <li><a href="/tasks/usfirst_team_get_enqueue?offset=0">UsfirstTeamGetEnqueue @ 0</a> and <a href="/tasks/usfirst_team_get_enqueue?offset=1000">UsfirstTeamGetEnqueue @ 1k</a>, which set up the TaskQueue to read the USFIRST team details, updating Team objects.</li>
            <li><a href="/tasks/tba_videos_get/2010cmp">TBAVideosGet</a> with an Event key to scrape TBA.net for TBAVideos.</li>
        </ul>
    </div>
    
    <div id="commands" class="contentBlock">
        <div class="contentBlockTopper">
            <h2>Useful Commands</h2>
        </div>
        <ul>
            <li>appcfg.py upload_data --config_file=bulkloader.yaml --filename=<em>something</em>.csv --kind=<em>Something</em> --url=http://<em>something</em>/_ah/remote_api</li>
            <li>To process TaskQueues offline use the following command: <strong>python2.5 run_tasks.py -p <em>port</em></strong></li>
        </ul>
    </div>
</div>

{% endblock %}