{% extends "../base.html" %}

{% block title %}The Blue Alliance - Home{% endblock %}

{% block leftCol %}
<img src="/images/logo_square_200.png" width="200" class="profileImg" />
<ul class="leftNav">
    <li class="event"><a href="/events/">Events</a></li>
    <li class="robot"><a href="/team/list">Teams</a></li>
</ul>
{% endblock %}

{% block content %}
<div id="contentTop">
    <h1>The Blue Alliance <span class="annotation">Google AppEngine</span></h1>
    <h2><a href="http://thebluealliance.com">thebluealliance.com</a></h2>
</div>
<div id="contentRight">
    {% include "../base_partials/right_col.html" %}
</div>
<div id="contentCenter">
    <div class="contentBlock">
        <div class="contentBlockTopper">
            <h2>The Blue Alliance</h2>
        </div>
        <p>Why hello there! The Blue Alliance is undergoing a move from <a href="http://www.thebluealliance.net">thebluealliance.net</a> to <a href="http://www.thebluealliance.com">thebluealliance.com</a>. Part of this move is a complete rewrite of The Blue Alliance. This is a sneak preview of The Blue Alliance's new site, which will continue to improve over the weeks until competition season. For more information about the move, stay tuned to <a href="http://thebluealliance.tumblr.com/">our blog</a>!</p>
    </div>
</div>
{% endblock %}