{% extends "../base.html" %}

{% block title %}The Blue Alliance{% endblock %}

{% block leftCol %}
<img src="/images/logo_square_200.png" width="200" class="profileImg" />
<ul class="leftNav">
    <li class="event"><a href="/events">Events</a></li>
    <li class="robot"><a href="/teams">Teams</a></li>
</ul>
{% endblock %}

{% block content %}
<div id="contentTop">
    <h1>The Blue Alliance</h1>
    <h2><a href="http://thebluealliance.com">thebluealliance.com</a></h2>
</div>
<div id="contentRight">
    {% include "../base_partials/right_col.html" %}
</div>
<div id="contentCenter">
    <div class="contentBlock">
        <div class="contentBlockTopper">
            <h2>Navigation</h2>
        </div>
        <ul class="infoList">
            <li>
                <h3><a href="/events">Events</a></h3>
                <p>View FIRST Events</p>
            </li>
            <li>
                <h3><a href="/teams">Teams</a></h3>
                <p>View FIRST Teams</p>
            </li>
        </ul>
    </div>
    <div class="contentBlock">
        <div class="contentBlockTopper">
            <h2>This Week's Events</h2>
        </div>
        <p><i>coming soon.</i></p>
    </div>
</div>
{% endblock %}