{% extends "base.html" %}

{% block title %}The Blue Alliance{% endblock %}

{% block leftCol %}
<img src="/images/logo_square_200.png" width="200" class="profileImg" />
{% endblock %}

{% block content %}
<div id="contentRight">
    {% include "base_partials/right_col.html" %}
</div>
<div id="contentCenter">
    <div class="contentBlock">
        <div class="contentBlockTopper">
            <h2>Upcoming Events</h2>
        </div>
        <ul class="infoList">
        {% for event in upcoming_events %}
            <li>
                <h3><a href="/event/{{event.key.name}}">{{ event.name }}{%if event.location %} <span class="annotation">{{ event.location }}</span>{% endif %}</a></h3>
                <p>{% if event.start_date %}{{ event.start_date|date:"M d, Y" }} - {% endif %}{{ event.teams.count }} teams</p>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
