{% extends "base.html" %}

{% block title %}The Blue Alliance - OPR{% endblock %}

{% block meta_description %}What is OPR?{% endblock %}

{% block leftCol %}
<img src="/images/logo_square_200.png" width="200" class="profileImg" />
<ul class="leftNav">
    <li class="event"><a href="/events/">Events</a></li>
    <li class="robot"><a href="/teams/">Teams</a></li>
</ul>
{% endblock %}

{% block content %}
<div id="contentTop">
    <h1>What is OPR?</h1>
</div>
<div id="contentRight">
    {% include "base_partials/right_col.html" %}
</div>
<div id="contentCenter">
    <div class="contentBlock">
        <div class="contentBlockTopper">
            <h2>What is an OPR?</h2>
        </div>
        <p>OPR stands for <strong>Offensive Power Rating</strong>, which is a system to attempt to deduce the average point contribute of a team to an alliance. It is based on <a href="http://en.wikipedia.org/wiki/Sports_rating_system">sports rating systems</a> used in other sports. OPRs are an interesting way to slice the data for teams at particular events, but aren't a perfect system for assessing a team's performance or contribution.</p>
        <p>The Blue Alliance opts to show the top 15 OPRs for each competition.</p>
    </div>
</div>
{% endblock %}