{% extends "../base.html" %}

{% block title %}The Blue Alliance - Thanks{% endblock %}

{% block meta_description %}Thanks to all the companies and technologies that make The Blue Alliance possible.{% endblock %}

{% block leftCol %}
<img src="/images/logo_square_200.png" width="200" class="profileImg" />
<ul class="leftNav">
    <li class="event"><a href="/events/">Events</a></li>
    <li class="robot"><a href="/teams/">Teams</a></li>
</ul>
{% endblock %}

{% block content %}
<div id="contentTop">
    <h1>Thanks to...</h1>
</div>
<div id="contentRight">
    {% include "../base_partials/right_col.html" %}
</div>
<div id="contentCenter">
    <div class="contentBlock">
        <div class="contentBlockTopper">
            <h2>Thanks to</h2>
        </div>
        <ul class="infoList">
            <li>
                <h3><a href="http://www.dotblock.com" title="Dotblock Cloud Hosting">Dotblock Cloud Hosting</a></h3>
                <p>For the dedicated server that serves our videos</p>
            </li>
            <li>
                <h3><a href="http://www.appspot.com">Google AppEngine</a></h3>
                <p>For the webapp platform</p>
            </li>
            <li>
                <h3><a href="http://www.komodomedia.com/download/#social-network-icon-pack">Komodo Media</a></h3>
                <p>For the wonderful social media icons</p>
            </li>
        </ul>
    </div>
</div>
{% endblock %}