<table class="table table-striped table-hover table-condensed">
    <tr>
        <td>Type</td>
        <td><select name="webcast_type">
            <option value="livestream">livestream</option>
            <option value="rtmp">rtmp</option>
            <option value="twitch">twitch</option>
            <option value="ustream">ustream</option>
            <option value="youtube">youtube</option>
            <option value="iframe">iframe</option>
            <option value="html5">html5</option>
            <option value="stemtv">stemtv</option>
            <option value="dacast">dacast</option>
            <option value="direct_link">direct_link</option>
        </select></td>
    </tr>
    <tr>
        <td>Channel</td>
        <td><input type="text" name="webcast_channel" value="" /></td>
    </tr>
    <tr>
        <td>File (RTMP, Livestream and DaCast only)</td>
        <td><input type="text" name="webcast_file" value="" /></td>
    </tr>
    <tr>
        <td>Date</td>
        <td><input type="text" name="webcast_date" value="{% if suggestion.contents.webcast_date%}{{suggestion.contents.webcast_date}}{% endif %}" /></td>
    </tr>
</table>
