<select name="webcast_type">
    <option value="">Select Type</option>
    <option value="livestream"{% if webcast and webcast.type == "livestream"%} selected{% endif %}>livestream</option>
    <option value="rtmp"{% if webcast and webcast.type == "rtmp" %} selected{% endif %}>rtmp</option>
    <option value="twitch"{% if webcast and webcast.type == "twitch" %} selected{% endif %}>twitch</option>
    <option value="ustream"{% if webcast and webcast.type == "ustream" %} selected{% endif %}>ustream</option>
    <option value="youtube"{% if webcast and webcast.type == "youtube" %} selected{% endif %}>youtube</option>
    <option value="iframe"{% if webcast and webcast.type == "iframe" %} selected{% endif %}>iframe</option>
    <option value="html5"{% if webcast and webcast.type == "html5" %} selected{% endif %}>html5</option>
    <option value="stemtv"{% if webcast and webcast.type == "stemtv" %} selected{% endif %}>stemtv</option>
    <option value="dacast"{% if webcast and webcast.type == "dacast" %} selected{% endif %}>dacast</option>
    <option value="direct_link"{% if webcast and webcast.type == "direct_link" %} selected{% endif %}>direct_link</option>
</select>
