body {
    font-family: Helvetica, sans-serif;
    background: #ccc;
}

a {
    color: #f60;
}

#login {
    float: right;
    margin-bottom: -10px;
}

#wrapper {
    margin: 20px auto;
    width: 960px;
    background: #fff;
    padding: 20px;
}

#header h1 {
    font-size: 3em;
    margin: 0;
}

#header h1 a {
    color: black;
    text-decoration: none;
}

#header h2 {
    color: #999;
    margin-top: 0px;
}

#content p {
    padding-left: 2em;
}

#nav {
    border-left: 1px dashed #999;
    border-bottom: 1px dashed #999;
    padding: 0;
}

#nav ul {
    margin: 0;
    padding: 5px;
}

#nav li {
    display: inline;
    list-style: none;
    padding-left: 1em;
}

#footer {
    margin-top: 35px;
    border-top: 1px dashed #999;
    font-size: .75em;
}

/*********
* forms
*********/

label {
    float: left;
}

form ul {
    list-style: none;
}

form ul li {
    margin: 3px;
}

form input {
    font-size: 1.2em;
    width: 30em;
}

form ul li label {
    width: 10em;
    text-align: right;
    padding-right: 10px;
}

#submit {
    margin-left: 170px;
}