<tr>
  <td>
    <p>{{media.type_name}}</p>
    {% if media.slug_name == 'cdphotothread' or media.slug_name == 'imgur' or media.slug_name == 'grabcad' or media.slug_name == 'onshape'%}
      <a href={{media.image_direct_url}} target="_blank">
        <img class="img-thumbnail" src="{{media.image_direct_url}}" style="max-height: 150px;">
      </a>
    {% else %}
      {% if media.slug_name == 'youtube' %}
        <iframe width="320" height="180" src="{{media.youtube_url}}" frameborder="0" allowfullscreen></iframe>
      {% else %}
        {% if media.slug_name == 'external-link' %}
          <p><a href="{{ media.external_link }}" target="_blank">{{ media.external_link }}</a>
        {% else %}
          {% if media.slug_name == 'avatar' %}
            <img class="team-avatar" src='{{media.avatar_image_source}}'/>
          {% else %}
            <p><a href="{{ media.social_profile_url }}" target="_blank">{{ media.foreign_key }}</a></p>
          {% endif %}
        {% endif %}
      {% endif %}
    {% endif %}
  </td>
  <td>
    <button class="btn btn-danger" data-key-name="{{media.key_name}}" data-toggle="modal" data-target="#confirm-delete">
        Remove media reference
    </button>

    {% if media.is_image %}
      {% if team.key in media.preferred_references %}
      <button class="btn btn-warning" data-key-name="{{media.key_name}}" data-toggle="modal" data-target="#remove-preferred">
          Remove Preferred
      </button>
      {% else %}
      <button class="btn btn-default" data-key-name="{{media.key_name}}" data-toggle="modal" data-target="#make-preferred">
          Make Preferred
      </button>
      {% endif %}
    {% endif %}
  </td>
  <td>
    <ul>
      {% for tag_name in media.tag_names %}
      <li>{{tag_name}}</li>
      {% endfor %}
    </ul>
  </td>
</tr>
