<ul class="nav nav-pills nav-stacked">
    <li>
        <a href="/suggest/match/video/review">
            <span class="badge pull-right">{{suggestions.match}}</span>
            Match Video Suggestions
        </a>
    </li>
    <li>
        <a href="/suggest/event/webcast/review">
            <span class="badge pull-right">{{suggestions.event}}</span>
            Event Webcast Suggestions
        </a>
    </li>
    <li>
        <a href="/suggest/team/media/review">
            <span class="badge pull-right">{{suggestions.media}}</span>
            Team Media Suggestions
        </a>
    </li>
</ul>