<h3>Webcast Formatting Protips</h3>

<h4>Livestream</h4>
<p>URLs are like <code>http://new.livestream.com/nefirst/BeantownBlitz2014</code>. Inspect the HTML, find the embed widget, look for <code>account=7031031&amp;event=3138794</code>. The "Channel" is the account ID, and the "File" is the event ID.</p>

<h4>Ustream</h4>
<p>URLs are like <code>http://www.ustream.tv/channel/nasa-media-channel</code>. Click "Embed," look for <code>http://www.ustream.tv/embed/10414700</code>. The "Channel" in this case is <code>10414700</code>.</p>