<h3>Webcast Formatting Protips</h3>

<h4>Livestream</h4>
<p>URLs are like <code>http://new.livestream.com/nefirst/BeantownBlitz2014</code>. Inspect the HTML, find the embed widget, look for <code>account=7031031&amp;event=3138794</code>. The "Channel" is the account ID, and the "File" is the event ID.</p>

<h4>Ustream</h4>
<p>URLs are like <code>http://www.ustream.tv/channel/nasa-media-channel</code>. Click "Embed," look for <code>http://www.ustream.tv/embed/10414700</code>. The "Channel" in this case is <code>10414700</code>.</p>

<h4>DaCast</h4>
<p>Inspect the HTML and look for a tag like <code>&lt;script id=&quot;66716_c_219330&quot; src=&quot;//player.dacast.com/js/dacast_player.js&quot;  class=&quot;dacast-video&quot;&gt;&lt;/script&gt;</code>. In the "id" attribute, the first number is the "Channel" and the second (after "_c_") is the "File".</p>