{% if oprs|length > 0 %}
<h3><abbr title="Offensive Power Ratings">OPRs</abbr> - Top 15 (<a href="/opr">?</a>)</h3>
  <table class="table table-condensed table-striped table-center">
    <thead>
      <tr>
        <th>Team</th>
        <th><abbr title="Offensive Power Rating">OPR</abbr></th>
      </tr>
    </thead>
    <tbody>
      {% for team, opr in oprs %}
      <tr>
        <td><a href="/team/{{ team|digits }}/{{ event.year }}">{{ team }}</a></td>
        <td>{{ opr|floatformat(2) }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}
