{% extends "base.html" %}

{% block title %}{{auth.description}} - Delete{% endblock %}

{% block content %}

<h1>Delete auth for: {{ auth.description }}?</h1>

<form action="/admin/api_auth/delete/{{auth.key.id}}" method="post">
    <a href="/admin/api_auth/manage" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-ban-circle"></span> Cancel Delete</a>

    <button type="submit" class="btn btn-danger btn-small pull-right"><span class="glyphicon glyphicon-trash"></span> Delete Event</button>
</form>

{% endblock %}
