{% extends "base.html" %}

{% block title %}API Status{% endblock %}

{% block content %}

<form method="post">

<h1>APIv2 Status</h1>
<p>Here you can edit the backed values that supply the Status API endpoint. This contains data about datafeeds that are down, as well as some configuration data for the mobile apps</p>

<table class="table table-striped">
<tr><td><p>Max Competition Season</p></td><td><input type="number" name="max_year" value="{{max_year}}" /></td></tr>
<tr><td><p>Current Competition Season</p></td><td><input type="number" name="current_year" value="{{current_year}}" /></td></tr>
<tr><td><p>Android Latest App Version Code</p></td><td><input type="number" name="android_latest_version" value="{{android_latest_version}}" /></td></tr>
<tr><td><p>Android Min App Version Code</p></td><td><input type="number" name="android_min_version" value="{{android_min_version}}" /></td></tr>

<tr><td><p>iOS Latest App Version Code</p></td><td><input type="number" name="ios_latest_version" value="{{ios_latest_version}}" /></td></tr>
<tr><td><p>iOS Min App Version Code</p></td><td><input type="number" name="ios_min_version" value="{{ios_min_version}}" /></td></tr>

</table>

<h1>Trusted API Status</h1>
<p>Here you can enable and disable the Trusted API</p>
<p>Enable the trusted API for Match Video: <input type="checkbox" name="enable_match_video" {% if enable_trustedapi.1 %}checked{% endif %} /></p>
<p>Enable the trusted API for Event Teams: <input type="checkbox" name="enable_event_teams" {% if enable_trustedapi.2 %}checked{% endif %} /></p>
<p>Enable the trusted API for Event Matches: <input type="checkbox" name="enable_event_matches" {% if enable_trustedapi.3 %}checked{% endif %} /></p>
<p>Enable the trusted API for Event Rankings: <input type="checkbox" name="enable_event_rankings" {% if enable_trustedapi.4 %}checked{% endif %} /></p>
<p>Enable the trusted API for Event Alliances: <input type="checkbox" name="enable_event_alliances" {% if enable_trustedapi.5 %}checked{% endif %} /></p>
<p>Enable the trusted API for Event Awards: <input type="checkbox" name="enable_event_awards" {% if enable_trustedapi.6 %}checked{% endif %} /></p>

<button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-thumbs-up"></span> Update</button>

</form>

{% endblock %}
