{% extends "base.html" %}

{% block title %}Awards{% endblock %}

{% block content %}

<h1>Award</h1>
<p>{{ award_count }} total awards</p>

<form class="form-inline">
    <legend>Edit an Award</legend>
    <div class="input-group">
        <input class="form-control" size="16" id="award_key" type="text" placeholder="award_key">
        <span class="input-group-btn">
            <a class="btn btn-warning" id="edit_button"><span class="glyphicon glyphicon-edit"></span> Edit</a>
        </span>
    </div>
</form>

<form class="form-inline" method="post" action="/admin/award/delete">
    <legend>Delete an Award</legend>
    <div class="input-group">
        <input class="form-control" size="16" name="award_key" type="text" placeholder="award_key">
        <span class="input-group-btn">
            <button class="btn btn-danger" type="submit"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </span>
    </div>
</form>

<legend>Add Awards</legend>
<p>Add awards formatted as a CSV.</p>
<p>Format:</p>
<div class="well">
  year, event_short, award_name_str, team_number, awardee
</div>
<form action="/admin/award/add" method="post">
  <textarea class="form-control" name="awards_csv"></textarea><br>
  <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span> Add awards</button>
</form>

<script>
$("#edit_button").click(function() {
    if ($("#award_key").val() !== "") {
        window.location = "/admin/award/edit/" + $("#award_key").val();
    } else {
        alert("Please enter a award key.");
    }
});
</script>

{% endblock %}