{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="row">
    <div class="col-xs-12">
        <h1>Developer Panel</h1>
        <div>
            <div>
                <h2>Development Setup</h2>
            </div>
            <p>Hello developer! Welcome to the debug page for The Blue Alliance. This page is full of useful pointers to help you locally develop TBA.</p>
            <p>To get started, you have to set up some initial test data for your local copy of TBA. We use <a href="http://paver.github.com/paver/">paver</a> scripts in pavement.py to set up this test data in your dev environment. <a href="http://packages.python.org/distribute/easy_install.html">easy_install</a> paver if you don't have it.</p>
            <p>First, watch the startup of the App Engine dev server and look for the following line. You will need the port (in this case 42211)</p>
            <pre>Starting API server at: http://localhost:42211</pre>
            <p>Now run these commands on the command line in your the-blue-alliance folder:</p>
            <pre>$ paver make</pre>
            <pre>$ paver bootstrap --port=&lt;port_from_above&gt;</pre>
            <p>This test data gives you the <a href="/event/2016necmp">2016 New England District Championship</a> as your main test event.</p>
            <p>It loads data using the production API and writes the information into the local database. You can load a different event's data by running <pre>$ paver bootstrap --port=&lt;same as above&gt; --key=&lt;event_key&gt;</pre>, where <pre>&lt;event_key&gt;</pre> is the year+event code for the event (like "2016necmp").</p>
        </div>
        <div>
            <div>
                <h2>Prod Setup</h2>
            </div>
            <p>If you're setting up a full copy of The Blue Alliance, these will help you create all the data you need.
            <ol>
                <li>
                  EventListGet, enqueues Tasks to create Event objects for regional events from USFIRST by year.<br>
                  {% for year in years %}
                    <a href="/backend-tasks/get/event_list/{{year}}" target="_blank">{{year}}</a>&nbsp;{% if not forloop.last %}&#124;{% endif %}
                  {% endfor %}
                </li>
                <li>Initiate 2014 Teams: <a href="/tasks/get/usfirst_teams_tpids/2014?skip=0">UsfirstTeamsTpidsGet @0</a> <a href="/tasks/get/usfirst_teams_tpids/2014?skip=1000">@1000</a> <a href="/tasks/get/usfirst_teams_tpids/2014?skip=2000">@2000</a> <a href="/tasks/get/usfirst_teams_tpids/2014?skip=3000">@3000</a> <a href="/tasks/get/usfirst_teams_tpids/2014?skip=4000">@4000</a>
                <a href="/tasks/get/usfirst_teams_tpids/2014?skip=5000">@5000</a></li>
                <li>Initiate 2013 Teams: <a href="/tasks/get/usfirst_teams_tpids/2013?skip=0">UsfirstTeamsTpidsGet @0</a> <a href="/tasks/get/usfirst_teams_tpids/2013?skip=1000">@1000</a> <a href="/tasks/get/usfirst_teams_tpids/2013?skip=2000">@2000</a> <a href="/tasks/get/usfirst_teams_tpids/2013?skip=3000">@3000</a> <a href="/tasks/get/usfirst_teams_tpids/2013?skip=4000">@4000</a></li>
                <li>Initiate 2012 Teams: <a href="/tasks/get/usfirst_teams_tpids/2012?skip=0">UsfirstTeamsTpidsGet @0</a> <a href="/tasks/get/usfirst_teams_tpids/2012?skip=1000">@1000</a> <a href="/tasks/get/usfirst_teams_tpids/2012?skip=2000">@2000</a> <a href="/tasks/get/usfirst_teams_tpids/2012?skip=3000">@3000</a></li>
                <li>Initiate 2011 Teams: <a href="/tasks/get/usfirst_teams_tpids/2011?skip=0">UsfirstTeamsTpidsGet @0</a> <a href="/tasks/get/usfirst_teams_tpids/2011?skip=1000">@1000</a> <a href="/tasks/get/usfirst_teams_tpids/2011?skip=2000">@2000</a></li>
                <li>Initiate 2010 Teams: <a href="/tasks/get/usfirst_teams_tpids/2010?skip=0">UsfirstTeamsTpidsGet @0</a> <a href="/tasks/get/usfirst_teams_tpids/2010?skip=1000">@1000</a> <a href="/tasks/get/usfirst_teams_tpids/2010?skip=2000">@2000</a></li>
                <li>Initiate 2009 Teams: <a href="/tasks/get/usfirst_teams_tpids/2009?skip=0">UsfirstTeamsTpidsGet @0</a> <a href="/tasks/get/usfirst_teams_tpids/2009?skip=1000">@1000</a> <a href="/tasks/get/usfirst_teams_tpids/2009?skip=2000">@2000</a></li>
                <li>Bulkload Old Events:<br />appcfg.py upload_data --config_file=bulkloader.yaml --filename=test_data/events.csv --kind=Event --url=http://tbatv-prod.appspot.com/_ah/remote_api</li>
                <li>Bulkload Old Matches: <br />appcfg.py upload_data --config_file=bulkloader.yaml --filename=test_data/matches.csv --kind=Match --url=http://tbatv-prod.appspot.com/_ah/remote_api</li>
                <li><a href="/tasks/math/enqueue/eventteam_update/{{cur_year}}">Update EventTeams</a>, to build all the event attendance information.</li>
            </ol>
        </div>

        <div>
            <div>
                <h2>Updates</h2>
            </div>
            <ol>
              <li><a href="/tasks/enqueue/usfirst_event_details/{{cur_year}}">UsfirstEventDetailsEnqueue</a>, enqueue tasks to update official Events.</li>
              <li><a href="/tasks/enqueue/usfirst_matches/{{cur_year}}">UsfirstMatchesEnqueue</a>, enqueue tasks to update match results for {{cur_year}} Events</li>
              <li><a href="/tasks/enqueue/usfirst_event_rankings/{{cur_year}}">UsfirstRankingsEnqueue</a>, enqueue tasks to update rankings for {{cur_year}} Events</li>
              <li><a href="/tasks/enqueue/usfirst_awards/{{cur_year}}">UsfirstAwardsEnqueue</a>, enqueue tasks to update awards for {{cur_year}} Events</li>
              <li><a href="/tasks/enqueue/usfirst_team_details?offset=0">UsfirstTeamDetailsEnqueue @ 0</a>, <a href="/tasks/enqueue/usfirst_team_details?offset=1000">@ 1000</a>, <a href="/tasks/enqueue/usfirst_team_details?offset=2000">@ 2000</a>, <a href="/tasks/enqueue/usfirst_team_details?offset=3000">@ 3000</a>, enqueue tasks to update Team details</li>
              <li><a href="/tasks/get/tba_videos/2010cmp">TBAVideosGet</a> with an Event key to scrape <a href="http://videos.thebluealliance.net">http://videos.thebluealliance.net</a> for TBAVideos.</li>
              <li><a href="/tasks/math/enqueue/eventteam_update/{{cur_year}}">Update EventTeams</a>, to build all the event attendance information.</li>
              <li><a href="/tasks/math/enqueue/event_matchstats/{{cur_year}}">Update Matchstats (OPR/DPR/CCWM)</a> or <a href="/tasks/math/do/event_matchstats/2010cmp">Update One Event's Matchstats (OPR/DPR/CCWM)</a>, to recalculate Matchstats.</li>
              <li><a href="/tasks/math/enqueue/insights/matches/{{cur_year}}">Calculate Match insights</a> for a particular year.</li>
              <li><a href="/tasks/math/enqueue/insights/awards/{{cur_year}}">Calculate Award insights</a> for a particular year.</li>
              <li><a href="/backend-tasks-b2/math/enqueue/overallinsights/matches">Calculate overall Match insights</a>.</li>
              <li><a href="/backend-tasks-b2/math/enqueue/overallinsights/awards">Calculate overall Award insights</a>.</li>
            </ol>
        </div>

        <div>
            <div>
                <h2>Useful Other Commands</h2>
            </div>
            <ul>
                <li>appcfg.py upload_data --config_file=bulkloader.yaml --filename=<em>something</em>.csv --kind=<em>Something</em> --url=http://<em>something</em>/_ah/remote_api</li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}
