{% extends "base.html" %}

{% block title %}District List{% endblock %}

{% block content %}

<h1>All {{ districts|length }} Districts from {{selected_year}}</h1>

<div class="btn-group">
  <a class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" href="#">
    {{selected_year}}
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu tba-dropdown-menu-limited">
    {% for year in valid_years reversed %}
      <li><a href="/admin/districts/{{year}}">{{year}}</a></li>
    {% endfor %}
  </ul>
  <a href="/backend-tasks/get/district_list/{{selected_year}}" class="btn btn-warning"><span class="glyphicon glyphicon-refresh"></span> Fetch From FIRST ({{selected_year}})</a>
</div>

<table class="table table-striped table-hover">
    <caption>{{ districts|length }} total districts</caption>
    <thead>
        <th>Key</th>
        <th>Year</th>
        <th>Abbreviation</th>
        <th>Display Name</th>
        <th>Elasticsearch Name</th>
        <th>Has Rankings</th>
        <th>Has Advancement</th>
    </thead>

    {% for district in districts %}
    <tr>
        <td><a href="/admin/district/edit/{{district.key_name}}">{{ district.key_name }}</a></td>
        <td>{{ district.year }}</td>
        <td>{{ district.abbreviation }}</td>
        <td>{{ district.display_name }}</td>
        <td>{{ district.elasticsearch_name }}</td>
        <td>{% if district.rankings %}<span class="glyphicon glyphicon-ok"><span>{% endif %}</td>
        <td><div class="row">
          {% if district.advancement%}<span class="glyphicon glyphicon-ok"><span>{% endif %}
          <a href="/backend-tasks/get/district_rankings/{{district.key_name}}" class="btn btn-warning"><span class="glyphicon glyphicon-refresh"></span> Refresh from FIRST</a>
        </div></td>
        <td></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
