{% extends "base.html" %}

{% block title %}GameDay{% endblock %}

{% block content %}

<h1>GameDay</h1>
<p>Change things about GameDay</p>

<h2>Special Webcasts</h2>
<p>{{ webcasts|length }} special webcasts</p>
<table class="table table-striped table-hover">
<thead>
    <th>Name</th>
    <th>Type</th>
    <th>Channel</th>
    <th>File</th>
    <th>URL Key</th>
</thead>
{% for webcast in webcasts %}
<tr>
    <td>{{webcast.name}}</td>
    <td>{{webcast.type}}</td>
    <td>{{webcast.channel}}</td>
    <td>{{webcast.file}}</td>
    <td>{{webcast.key_name}}</td>
    <td><form method="post" action="/admin/gameday">
        <input type="hidden" name="action" value="delete" />
        <input type="hidden" name="item" value="webcast" />
        <input type="hidden" name="webcast_key" value="{{ webcast.key_name }}" />
        <button class="btn btn-danger" type="submit"><span class="glyphicon glyphicon-trash"></span> Delete</button>
    </form></td>
</tr>
{% endfor %}

<!-- Row to add another special webcast -->
<tr>
    <td><input type="text" class="form-control" name="webcast_name" form="add_webcast" placeholder="Display Name"/></td>
    <td>
        <form method="post" action="/admin/gameday" id="add_webcast">
        <input type="hidden" name="action" value="add" />
        <input type="hidden" name="item" value="webcast" />
        {% include "partials/webcast_type_select.html" %}
        </form>
    </td>
    <td><input type="text" class="form-control" name="webcast_channel" form="add_webcast" placeholder="Channel"/></td>
    <td><input type="text" class="form-control" name="webcast_file" form="add_webcast" placeholder="(optional)"/></td>
    <td><input type="text" class="form-control" name="webcast_urlkey" form="add_webcast" placeholder="URL Key"/></td>
    <td>
        <button class="btn btn-primary" type="submit" form="add_webcast"><span class="glyphicon glyphicon-thumbs-up"> Add</span></button>
    </td>
</tr>
</table>

<h2>URL Aliases</h2>
<p> {{ aliases|length }} URL aliases</p>
<table class="table table-striped table-hover">
<thead>
    <th>Alias</th>
    <th>URL Params</th>
</thead>
{% for name, args in aliases.items %}
<tr>
    <td><a href="/gameday/{{name}}" target="_blank">{{name}}</a></td>
    <td><a href="/gameday{{args}}" target="_blank">{{args}}</a></td>
    <td><form method="post" action="/admin/gameday">
        <input type="hidden" name="action" value="delete" />
        <input type="hidden" name="item" value="alias" />
        <input type="hidden" name="alias_key" value="{{ name }}" />
        <button class="btn btn-danger" type="submit"><span class="glyphicon glyphicon-trash"></span> Delete</button>
    </form></td>
</tr>
{% endfor %}

<!-- Row to add an alias -->
<tr>
    <td><input type="text" class="form-control" name="alias_name" form="add_alias" placeholder="fun"/></td>
    <td><input type="text" class="form-control" name="alias_args" form="add_alias" placeholder="#layout=0&view_0=firstupdatesnow-1"/></td>
    <td><form method="post" action="/admin/gameday" id="add_alias">
        <input type="hidden" name="action" value="add" />
        <input type="hidden" name="item" value="alias" />
        <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-thumbs-up"> Add</span></button>
    </form></td>
</tr>
</table>

<h2>Default Chat</h2>
<form method="post" action="/admin/gameday">
<label for="defaultChat">The current default chat is: </label>
<select id="defaultChat" name="defaultChat">
  <option value="tbagameday" {% if default_chat == "tbagameday" %}selected{% endif %}>TBA GameDay</option>
    {% for webcast in webcasts %}
    {% if webcast.type == 'twitch' %}
      <option value="{{ webcast.channel }}" {% if default_chat == webcast.channel %}selected{% endif %}>{{ webcast.name }}</option>
    {% endif %}
  {% endfor %}
</select>
  <input type="hidden" name="action" value="defaultChat"/>
  <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-thumbs-up"> Update</span></button>
</form>

{% endblock %}
