{% extends "base.html" %}

{% block title %}Matches{% endblock %}

{% block content %}

<h1>Matches</h1>

<form class="form-inline">
    <legend>Edit a Match</legend>
    <div class="input-group">
        <input class="form-control" size="16" id="match_key" type="text" placeholder="match_key">
        <span class="input-group-btn">
            <a class="btn btn-warning" id="edit_button"><span class="glyphicon glyphicon-edit"></span> Edit</a>
        </span>
    </div>
</form>

    <legend>Add Matches</legend>
    <p>Add matches formatted as CSV.</p>
    <p class="text-error">Warning! Will overwrite any existing matches!</p>
    <p>Example:</p>
    <div class="well">
      <p>qm1, 342, 401, 296, 1592, 71, 335, 17, 41</p>
      <p>f1m1, 245, 217, 766, 191, 179, 494, 65, 28</p>
    </div>
    <form action="/admin/match/add" method="post">
      <input class="form-control" name="event_key" type="text" placeholder="event_key"><br>
      <textarea class="form-control" name="matches_csv"></textarea><br>
      <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span> Add Matches</button>
    </form>

<script>
$("#edit_button").click(function() {
    if ($("#match_key").val() !== "") {
        window.location = "/admin/match/edit/" + $("#match_key").val();
    } else {
        alert("Please enter a match key.");
    }
});
</script>

{% endblock %}