{% extends "base.html" %}

{% block title %}Media{% endblock %}

{% block content %}

<h1>Bulk Instagram Import</h1>
<p>Add instagram images as CSV with the following columns: team number, year, instagram url. This form will create suggestions for each item.</p>
<form action="/admin/media/import/instagram" method="post">
  <textarea class="form-control" name="images_csv"></textarea><br>
  <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span> Add Images</button>
</form>

{% endblock %}