{% extends "base.html" %}

{% block title %}Pending Suggestions{% endblock %}

{% block content %}

<h1>{{ events|length }} New Offseasons to add</h1>

    <div class="col-xs-12">

        {% if success == "duplicate" %}
        <div class="row">
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h4>Duped event into {{event_key}}!</h4>
            </div>
        </div>
        {% endif %}

        {% if success == "create" %}
        <div class="row">
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h4>Created {{event_key}}!</h4>
            </div>
        </div>
        {% endif %}

        {% for event in events %}
        <div class="row">
            <div class="well">
                <form action="/admin/offseasons" method="post">
                    <legend>Add {{ event.year }} {{ event.name }}</legend>
                    <table class="table table-striped table-hover table-condensed">
                        <tr>
                            <td>Name</td>
                            <td><input type="text" name="event_name" value="{{event.name}}" /></td>
                        </tr>
                        <tr>
                            <td>Event Short</td>
                            <td><input type="text" name="event_short" value="{{event.event_short}}" /></td>
                        </tr>
                        <tr>
                            <td>Dates</td>
                            <td>
                                <input type="text" name="event_start_date" value="{{ event.start_date|date:"Y-m-d" }}" placeholder="2012-04-04"/> to <input type="text" name="event_end_date" value="{{ event.end_date|date:"Y-m-d" }}" placeholder="2012-04-06" />
                            </td>
                        </tr>
                        <tr>
                            <td>Year</td>
                            <td><input type="text" name="disabled_year" value="{{event.year}}" disabled="disabled" /><input type="hidden" name="event_year" value="{{event.year}}" /></td>
                        </tr>
                        <tr>
                            <td>FIRST EID</td>
                            <td><input type="text" name="event_first_eid" value="{{event.first_eid}}" /></td>
                        </tr>
                        <tr>
                            <td>City</td>
                            <td><input type="text" name="city" value="{{event.city}}" /></td>
                        </tr>
                        <tr>
                            <td>State/Prov</td>
                            <td><input type="text" name="state_prov" value="{{event.state_prov}}" /></td>
                        </tr>
                        <tr>
                            <td>Country</td>
                            <td><input type="text" name="country" value="{{event.country}}" /></td>
                        </tr>
                    </table>
                    <input type="hidden" name="event_type_enum" value="{{event.event_type_enum}}" />
                    <button type="submit" class="btn btn-success" name="submit" value="create"><span class="glyphicon glyphicon-thumbs-up"></span> Create Event</button>

                    <h4>OR: Declare Duplicate</h4>
                    <input type="text" name="duplicate_event_key" value="" placeholder="2013cmp" /></td>
                    <button type="submit" class="btn btn-primary" name="submit" value="duplicate"><span class="glyphicon glyphicon-thumbs-up"></span> Dupe Event</button>
                </form>
            </div>
        </div>
        {% empty %}
        <div class="row">
            <div class="well">
                <p>No new offseasons!</p>
            </div>
        </div>
        {% endfor %}
    </div>
</form>

{% endblock %}
