{% extends "base.html" %}

{% block title %}Create Sitevar{% endblock %}

{% block content %}

<form action="/admin/sitevar/edit/" method="post">
    <legend>Create new Sitevar</legend>
    <table class="table table-striped table-hover table-condensed">
        <tr>
            <td>Key</td>
            <td><input type="text" name="key" placeholder="firebase.secrets"/></td>
        </tr>
        <tr>
            <td>Description</td>
            <td><textarea name="description" value="{{ sitevar.description }}"></textarea></td>
        </tr>
        <tr>
            <td>Values <small>(must be json dict)</small></td>
            <td><textarea name="values_json" value="{{ sitevar.values_json }}"></textarea></td>
        </tr>
    </table>

    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-thumbs-up"></span> Create Sitevar</button>
    <a href="/admin/sitevars" class="btn btn-default"><span class="glyphicon glyphicon-thumbs-down"></span> Cancel Create</a>
</form>

{% endblock %}
