{% extends "base.html" %}

{% block title %}{{user.display_name}} - Edit{% endblock %}

{% block content %}

<h1>{{ user.display_name }} </h1>

<form action="/admin/user/edit/{{user.key.id}}" method="post">
    <legend>Edit {{ user.key.id }}</legend>
    <table class="table table-striped table-hover table-condensed">
        <tr>
            <td>Name</td>
            <td><input type="text" name="display_name" value="{{user.display_name}}" /></td>
        </tr>
        <tr>
        <td>Permissions</td>
        <td>
            <ul style="list-style-type: none; padding: 0">
            {% for enum, permission in permissions.items %}
                <li>
                    <input
                        type="checkbox"
                        name="perm-{{enum}}"
                        {% if enum in user.permissions %}checked{% endif %} />
                    <strong>{{permission.name}}</strong> – {{permission.description}}
                </li>
            {% endfor %}
            </ul>
        </td>
        </tr>
        <tr>
            <td>Shadow Banned</td>
            <td><input type="checkbox" name="shadow_banned" {% if user.shadow_banned %}checked{% endif %} /></td>
        </tr>
    </table>

    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-thumbs-up"></span> Save User</button>
    <a href="/admin/user/{{user.key.id}}" class="btn btn-default"><span class="glyphicon glyphicon-thumbs-down"></span> Cancel Edit</a>
</form>

{% endblock %}
