{% extends "base.html" %}

{% block title %}{{user.display_name}}{% endblock %}

{% block content %}

<h1>{{ user.display_name }}</h1>

<div class="btn-group">
    <a href="/admin/user/edit/{{user.key.id}}" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> Edit</a>
</div>
<br />

<table class="table table-striped table-hover">
    <tr>
        <td>Display Name</td>
        <td>{{ user.display_name }}</td>
    </tr>
    <tr>
        <td>User ID</td>
        <td>{{ user.key.id }}</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>{{ user.email }}</td>
    </tr>
    <tr>
        <td>Permissions</td>
        <td>
            <ul>
            {% for enum, permission in permissions.items %}
                {% if enum in user.permissions %}
                    <li><strong>{{permission.name}}</strong> – {{permission.description}}</li>
                {% endif %}
            {% endfor %}
            </ul>
        </td>
    </tr>
    <tr>
        <td>Shadow Banned</td>
        <td>{{ user.shadow_banned }}</td>
    </tr>
    <tr>
        <td>Created</td>
        <td>{{ user.created }}</td>
    </tr>
    <tr>
        <td>Updated</td>
        <td>{{ user.updated }}</td>
    </tr>
</table>

{% endblock %}
