{% extends "base.html" %}

{% block title %}User List{% endblock %}

{% block content %}

<h1>{{ num_users }} Users</h1>

<ul class="pagination pagination-small">
    {% for page_label in page_labels %}
    <li{% if forloop.counter0 == page_num %} class="active"{% endif %}><a href="/admin/users{% if not forloop.first %}/{{forloop.counter0}}{% endif %}">{{page_label}}</a></li>
    {% endfor %}
</ul>

<table class="table table-striped table-hover">
    <thead>
        <th>Display Name</th>
        <th>Email</th>
        <th>ID</th>
	      <th>Created</th>
        <th>Registered?</th>
    </thead>

    {% for user in users %}
    <tr>
        <td><a href="/admin/user/{{ user.key.id }}">{{ user.display_name }}</a></td>
        <td>{{ user.email }}</td>
        <td><a href="/admin/user/{{ user.key.id }}">{{ user.key.id }}</a></td>
	      <td>{{ user.created|date:"M d, Y" }}</td>
        <td>{% if user.registered %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
