/* temp to make gameday2 development easier */
html {
    height: 100%;
}

body {
    background: black;
    height: 100%;
    padding-top: 53px;
}

#content {
    height:100%;
    overflow: hidden;
}

.container-full { 
    height: 100%;
}

.videoCell {
    height: 100%;
    width: 100%;
}

.videoCellOverlay {
    position: absolute;
    top: 0;
    left: 15px;
    height: 100%;
    width: 100%;
}

.videoCellOverlay.panel {
    background-color: transparent;
}

.videoGrid {
    height: 100%;
    width: 100%;
    display: inline-block;
}

.videoGrid .row {
    height: 100%;
}

.sidebar {
    height: 100%;
    width: 300px;
    display: inline-block;
}

#twitter-widget {
    height: 100%;
}

.leaveLeftMargin {
    padding-left: 300px;
    margin-left: -300px;
}
.leaveRightMargin {
    padding-right: 300px;
    margin-right: -300px;
}

