.gameday {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: @black;
}

.empty_info {
  display: inline-block;
  vertical-align: middle;
  background-color: @gray;
  margin: 8px;
  padding: 8px;
  color: @white;  
  border: 1px solid @black;
  .border-radius(4px);
  .box-shadow(0 1px 1px rgba(0,0,0,.075));
  text-align: center;
}

.div_helper {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.gameday-navbar {
  #gradient > .vertical(@navbarBackgroundHighlight, @navbarBackground);
  color: @white;
  height: 30px;
  
  a {
    color: @white;
  }
   
  .gameday-navbar-logo {
    height: 100%;
    margin-left: 15px;
    background-image: url('/images/tba_blue_lamp_navbar.png');
    background-repeat: no-repeat;
    background-position: left center;
    width: 325px;
    float: left;
    
    .gameday-navbar-inner {
      padding-top: 5px;
    
      a {
        position: relative;
        top: -3px;
      }
      
      .gameday-title {
        height: 100%;
        margin-left: 30px;
        margin-right: 15px;
        font-weight: bold;
        font-size: 24px;
      }
    }
  }

  .menu {
    margin-left: 12px;
    width: auto;
    position: absolute;
    right: 0;
    
    a {
      display: block;
      line-height: 30px;
      padding: 0 10px;
      text-decoration: none;
    }
    
    i {
      background-color: red;
    }
    
    li {
      float: left;
      position: relative;
      cursor: default;
    }
    
    ul {
      list-style: none;
      margin: 0;
      
      ul {
        display: none;
        position: absolute;
        top: 28px;
        left: 0px;
        float: left;
        width: 180px;
        z-index: 99999;
        
        a {
          background-color: @grayDark;
          width: 275px;
          position: relative;
          top: 2px;
          background-repeat: no-repeat;
          background-position: 95% center;
        }
        
        .layout_0 {
          background-image: url('/images/icons/layout_0.png');
        }
        
        .layout_1 {
          background-image: url('/images/icons/layout_1.png');
        }

        .layout_2 {
          background-image: url('/images/icons/layout_2.png');
        }

        .layout_3 {
          background-image: url('/images/icons/layout_3.png');
        }

        .layout_4 {
          background-image: url('/images/icons/layout_4.png');
        }

        .layout_5 {
          background-image: url('/images/icons/layout_5.png');
        }

        .layout_6 {
          background-image: url('/images/icons/layout_6.png');
        }   
      }
    }
    
    ul li:hover > ul {
      display: block;
    }
    
    li:hover > a,
    ul ul:hover > a {
      background-color: @gray;
    }
    
    .layouts a {
      width: 150px;
    }
    
    .webcasts a {
      width: 475px;
      right: 375px;
    }
    
    .webcasts-show {
      display: block;
    }
  }
}

.video_buttons {
  cursor: move;
}

.webcasts_panel {
  overflow: hidden;
  position: absolute;
  top: 30px;
  bottom: 30px;
  right: 0px;
  left: 0px;
  z-index: 105;
}

.video_container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index:0;
}

.view {
  text-align: center;
  margin: 0;
  padding: 0;
  background: @grayDarker;
  outline: @black 1px solid;
  visibility: visible;
  color: @white;
  position: absolute;
}

.ui-widget-header {
  width:150px;
  text-align:center;
  z-index:100000;
}

.overlay {
  background-image: -moz-linear-gradient(top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.6) 60px, rgba(0,0,0,0) 100px);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.8)), color-stop(60px,rgba(0,0,0,0.6)), color-stop(100px,rgba(0,0,0,0)));
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.6) 60px,rgba(0,0,0,0) 100px);
  background-image: -o-linear-gradient(top, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.6) 60px,rgba(0,0,0,0) 100px);
  background-image: linear-gradient(top, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.6) 60px,rgba(0,0,0,0) 100px);
  z-index: 5000;
  width: 100%;
  height: 50%;
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none;
  
  .overlay-title {
    font-size: 24px;
    color: white;
    float: left;
    margin: 15px;
  }
  
  .view-close, .swap {
    padding: 3px;
    margin: 2px;
    pointer-events: all;
    cursor: pointer;
    position: absolute;
  }
  
  .view-close {
    top: 0;
    right: 0;
  }
  
  .swap {
    top: 25px;
    right: 0;
  }
}