{% extends "base.html" %}

{% block title %}API Auth Manage{% endblock %}

{% block content %}

<h1>Manage API Authentication</h1>

<table class="table table-striped">
  <tr>
    <th>Description</th>
    <th>ID</th>
    <th>Secret</th>
    <th>Events</th>
  </tr>
  {% for auth in auths %}
  <tr>
    <td><a href="/admin/api_auth/edit/{{auth.key.id}}">{{ auth.description }}</a></td>
    <td>{{auth.key.id}}</td>
    <td>{{auth.secret}}</td>
    <td>
      {% for event_key in auth.event_list %}
        <a href="/admin/event/{{event_key.id}}">{{event_key.id}}</a>
      {% endfor %}
    </td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
