{% extends "base.html" %}

{% block title %}API Auth Add{% endblock %}

{% block content %}

<form action="/admin/api_auth/edit/{{auth_id}}" method="post">
    <legend>Add new Auth</legend>
    <table class="table table-striped table-hover table-condensed">
        <tr>
            <td>Description</td>
            <td><input class="form-control" type="text" name="description" placeholder="Cheesy Arena @ Chezy Champs"/></td>
        </tr>
        <tr>
            <td>Owner Email</td>
            <td><input class="form-control" type="text" name="owner" placeholder="foo@bar.com"/></td>
        </tr>
        <tr>
            <td>Expiration</td>
            <td><input class="form-control" type="text" name="expiration" placeholder="2017-06-30"/></td>
        </tr>
        <tr>
            <td>Events (Event keys separated by commas)</td>
            <td><input class="form-control" type="text" name="event_list_str" placeholder="2014cc,2014mttd"/></td>
        </tr>
        <tr>
            <td>Allow Event Info Edit</td>
            <td><input type="checkbox" name="allow_edit_info"></td>
        </tr>
        <tr>
            <td>Allow Event Teams Edit</td>
            <td><input type="checkbox" name="allow_edit_teams"></td>
        </tr>
        <tr>
            <td>Allow Event Matches Edit</td>
            <td><input type="checkbox" name="allow_edit_matches"></td>
        </tr>
        <tr>
            <td>Allow Event Rankings Edit</td>
            <td><input type="checkbox" name="allow_edit_rankings"></td>
        </tr>
       <tr>
            <td>Allow Event Alliances Edit</td>
            <td><input type="checkbox" name="allow_edit_alliances"></td>
        </tr>
        <tr>
            <td>Allow Event Awards Edit</td>
            <td><input type="checkbox" name="allow_edit_awards"></td>
        </tr>
        <tr>
            <td>Allow Match Video Edit</td>
            <td><input type="checkbox" name="allow_edit_match_video"></td>
        </tr>
        <tr>
            <td>Allow Zebra MotionWorks Edit</td>
            <td><input type="checkbox" name="allow_edit_zebra_motionworks"></td>
        </tr>
    </table>

    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-thumbs-up"></span> Add</button>
    <a href="/admin/" class="btn btn-default"><span class="glyphicon glyphicon-thumbs-down"></span> Cancel</a>
</form>

{% endblock %}
