{% extends "base.html" %}

{% block title %}API Auth Manage{% endblock %}

{% block content %}

<h1>Manage API Authentication</h1>

<h2>Write API</h2>
{% include "partials/api_write_table.html" %}

<hr>

<h2>Admin API</h2>
<table class="table table-striped">
  <tr>
    <th>Description</th>
    <th>User</th>
    <th>X-TBA-Auth-Key</th>
  </tr>
  {% for auth in admin_auths %}
  <tr>
    <td><a href="/admin/api_auth/edit/{{auth.key.id}}">{{ auth.description }}</a></td>
    <td>{% if auth.owner %}<a href="/admin/user/{{ auth.owner.id }}">{{ auth.owner.id }} {% endif %}</a></td>
    <td>{{auth.key.id}}</td>
  </tr>
  {% endfor %}
</table>

<h2>Read API</h2>
<table class="table table-striped">
  <tr>
    <th>Description</th>
    <th>User</th>
    <th>X-TBA-Auth-Key</th>
  </tr>
  {% for auth in read_auths %}
  <tr>
    <td><a href="/admin/api_auth/edit/{{auth.key.id}}">{{ auth.description }}</a></td>
    <td>{% if auth.owner %}<a href="/admin/user/{{ auth.owner.id }}">{{ auth.owner.id }} {% endif %}</a></td>
    <td>{{auth.key.id}}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
