{% extends "base.html" %}

{% block title %}{{auth.description}} - Edit{% endblock %}

{% block content %}

<p class="pull-right"><a class="btn btn-danger btn-small" href="/admin/api_auth/delete/{{auth.key.id}}"><span class="glyphicon glyphicon-trash"></span> Delete</a></p>

<h1>Edit Auth Access For: {{ auth.description }}</h1>

<form action="/admin/api_auth/edit/{{auth.key.id}}" method="post">
    <table class="table table-striped table-hover table-condensed">
        <tr>
            <td>Description</td>
            <td><input type="text" name="description" value="{{auth.description}}" /></td>
        </tr>
        <tr>
            <td>Events</td>
            <td><input type="text" name="event_list_str" value="{{auth.event_list_str}}" /></td>
        </tr>
    </table>

    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-thumbs-up"></span> Save</button>
    <a href="/admin/api_auth/manage" class="btn btn-default"><span class="glyphicon glyphicon-thumbs-down"></span> Cancel</a>
</form>

{% endblock %}
