{% extends "base.html" %}

{% block title %}API Keys{% endblock %}

{% block content %}

<h1>Third Party API Keys</h1>
<p>Here you can manage all of the tokens for third party APIs used by TBA</p>

<form method="post">
<table class="table table-striped">
  <tr><th>Google</th></tr>
  <tr><td>API Key</td><td><input name="google_secret" value="{{google_secret}}" class="form-control"/></td></tr>

  <tr><th>Firebase</th></tr>
  <tr><td>API Key</td><td><input name="firebase_secret" value="{{firebase_secret}}" class="form-control"/></td></tr>

  <tr><th>FMS API</th></tr>
  <tr><td>Username</td><td><input name="fmsapi_user" value="{{fmsapi_user}}" class="form-control"/></td></tr>
  <tr><td>Auth Key</td><td><input name="fmsapi_secret" value="{{fmsapi_secret}}" class="form-control"/></td></tr>

  <tr><th>Mobile Apps</th></tr>
  <tr><td>FCM Key</td><td><input name="gcm_key" value="{{gcm_key}}" class="form-control"/></td></tr>
  <tr><td>Web Client ID</td><td><input name="web_client_id" value="{{web_client_id}}" class="form-control"/></td></tr>
  <tr><td>Android Client ID</td><td><input name="android_client_id" value="{{android_client_id}}" class="form-control"/></td></tr>
  <tr><td>iOS Client ID</td><td><input name="ios_client_id" value="{{ios_client_id}}" class="form-control"/></td></tr>

  <tr><th>Twitch</th></tr>
  <tr><td>Client ID</td><td><input name="twitch_secret" value="{{twitch_secret}}" class="form-control"/></td></tr>

  <tr><th>Livestream</th></tr>
  <tr><td>API Key</td><td><input name="livestream_secret" value="{{livestream_secret}}" class="form-control"/></td></tr>
</table>

<button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-thumbs-up"></span> Update</button>

</form>

{% endblock %}
