{% extends "base.html" %}

{% block title %}Awards{% endblock %}

{% block content %}

<h1>Award</h1>
<p>{{ award_count }} total awards</p>

<form class="form-inline">
    <legend>Edit an Award</legend>
    <div class="input-group">
        <input class="form-control" size="16" id="award_key" type="text" placeholder="award_key">
        <span class="input-group-btn">
            <a class="btn btn-warning" id="edit_button"><span class="glyphicon glyphicon-edit"></span> Edit</a>
        </span>
    </div>
</form>

    <legend>Add Awards</legend>
    <p>Add awards formatted as a list of JSON dicts.</p>
    <p class="text-error">Warning! Will overwrite any existing awards!</p>
    <p>Example:</p>
    <div class="well">
      [{"name": "wfa", "official_name": "Regional Chairman's Award", "team_number": "604", "awardee": "Helen Arrington"},<br>
       {"name": "ras", "official_name": "Rookie All Star Award", "team_number": "3256"}]
    </div>
    <form action="/admin/award/add" method="post">
      <input class="form-control" name="event_key" type="text" placeholder="event_key"><br>
      <textarea class="form-control" name="awards_json"></textarea><br>
      <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span> Add awards</button>
    </form>

<script>
$("#edit_button").click(function() {
    if ($("#award_key").val() !== "") {
        window.location = "/admin/award/edit/" + $("#award_key").val();
    } else {
        alert("Please enter a award key.");
    }
});
</script>

{% endblock %}