<h2>Got {{awards|length}} Awards</h2>
{% for award in awards %}
    <ul>
        <li>Event: {{award.event.id}}</li>
        <li>Name: {{award.name_str}}</li>
        <li>Type: {{award.award_type_enum}}</li>
        {% if award.team_list %}
        <li>Teams Keys: {{award.team_list}}</li>
        {% endif %}
        {% if award.recipient_list %}
            {% for recipient in award.recipient_list %}
            <li>Recipient: {{recipient}}</li>
            {% endfor %}
        {% endif %}
    </ul>
{% endfor %}
