<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
         "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{% block title %}The Blue Alliance Admin{% endblock %}</title>
    <link rel="icon" href="/images/admin_favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/admin.css" type="text/css" />
    <!-- TODO: ga.js -->
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <div id="login">
                {% if user %}
                    {{user.email}} | <a href="/admin/logout">log out</a>
                {% else %}
                    <a href="/admin/login">log in</a>
                {% endif %}
            </div>
            <div id="titles">
                <h1><a href="/admin/">TBA Admin</a></h1>
                <h2>Like the WWF, but for smart people.</h2>
            </div>
            <div id="nav">
                <ul>
                    <li><a href="/admin/">Home</a></li>
                    <li><a href="/admin/team/">Teams</a></li>
                    <li><a href="/admin/event/">Events</a></li>
                    <li><a href="/admin/match/">Matches</a></li>
                    <li><a href="/admin/video/">Videos</a></li>
                </ul>
            </div>
        </div>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        <div id="footer">
            <p>TBA Admin Console.</p>
        </div>
    </div>
</body>
</html>
