<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Somewhere!{% endblock %} - TBA Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Admin Console for The Blue Alliance">

    <!-- Le styles -->
    <link href="/css/tba_combined_style.main.min.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/images/admin_favicon.ico">

    <!-- Le javascript
    ================================================== -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.0/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.0.6/jquery.fancybox.pack.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fitvids/1.0.1/jquery.fitvids.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.5.2/jquery.tablesorter.min.js"></script>
    <script src="//code.jquery.com/ui/1.8.13/jquery-ui.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.2/jquery.ui.touch-punch.min.js"></script>
    <script src="/javascript/tba_combined_js.main.min.js"></script>
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/admin/">TBA Admin</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              Logged in as <a href="#" class="navbar-link">{{ user_bundle.user.email }}</a>
            </p>
            <ul class="nav">
              <li class="active"><a href="/admin/">Home</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Events</li>
              <li><a href="/admin/events">View all</a></li>
              <li><a href="/admin/event/create">Create</a></li>
              <li class="nav-header">Matches</li>
              <li><a href="/admin/matches">Edit</a></li>
              <li><a href="/admin/match/cleanup">Cleanup</a></li>
              <li class="nav-header">Awards</li>
              <li><a href="/admin/awards">Edit</a></li>
              <li class="nav-header">Videos</li>
              <li><a href="/admin/videos/add">Add YouTube Videos</a></li>
              <li class="nav-header">Teams</li>
              <li><a href="/admin/teams">View all (slowwww)</a></li>
              <li class="nav-header">Suggestions</li>
              <li><a href="/admin/suggestions/review">Review Suggestions</a></li>
              <li class="nav-header">Memcache</li>
              <li><a href="/admin/memcache">Stats + Flushing</a></li>
              <li class="nav-header">Misc</li>
              <li><a href="/admin/debug">Debug Panel</a></li>
              <li><a href="/admin/sitevars">Sitevars</a></li>
              <li><a href="/admin/tasks">Task Launcher</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          {% block content %}{% endblock %}
        </div>
      </div>

      <hr>

      <footer>
        <p>Go back to <a href="/">The Blue Alliance</a>. Like the WWF, but for smart people.</p>
      </footer>

    </div><!--/.fluid-container-->

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-1090782-5']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

  </body>
</html>