{% extends "base.html" %}

{% block title %}{{district.key_name}} - Edit{% endblock %}

{% block content %}

<h1>Edit {{ district.key_name }}</h1>

<form action="/admin/district/edit/{{district.key_name}}" method="post">
    <legend>Edit {{ district.year }} {{ district.abbreviation}}</legend>
    <table class="table table-striped table-hover table-condensed">
        <tr>
            <td>Year</td>
            <td><input type="text" name="disabled_year" value="{{district.year}}" disabled="disabled" /><input type="hidden" name="year" value="{{district.year}}" /></td>
        </tr>
        <tr>
            <td>Abbreviation</td>
            <td><input type="text" name="disabled_abbreviation" value="{{district.abbreviation}}" disabled="disabled" /><input type="hidden" name="abbreviation" value="{{district.abbreviation}}" /></td>
        </tr>
        <tr>
            <td>Display Name</td>
            <td><input type="text" name="display_name" value="{{district.display_name}}" /></td>
        </tr>
        <tr>
            <td>Elasticsearch Name</td>
            <td><input type="text" name="elasticsearch_name" value="{{district.elasticsearch_name}}" /></td>
        </tr>
        <tr>
            <td>Rankings</td>
            <td><textarea readonly>{{district.rankings}}</textarea><</td>
        </tr>
        <tr>
            <td>Advancement</td>
            <td><textarea readonly>{{district.advancement}}</textarea><</td>
        </tr>
    </table>

    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-thumbs-up"></span> Save District</button>
    <a href="/admin/districts/{{district.year}}" class="btn btn-default"><span class="glyphicon glyphicon-thumbs-down"></span> Cancel Edit</a>
</form>

{% endblock %}
