{% extends "base.html" %}

{% block title %}{{event.key_name}}{% endblock %}

{% block content %}

<h1>{{event.key_name}} - {{ event.name }}</h1>

<div class="btn-group">
    <a href="/event/{{event.key_name}}" class="btn"><i class="icon-eye-open"></i> View on TBA</a>
    <a href="/admin/event/edit/{{event.key_name}}" class="btn btn-primary"><i class="icon-edit icon-white"></i> Edit</a>
</div>
<br />

<table class="table table-striped table-hover">
    <tr>
        <td>Name</td>
        <td>{{ event.name }}</td>
    </tr>
    <tr>
        <td>Dates</td>
        <td>{{ event.start_date|date:"M d, Y" }} to {{ event.end_date|date:"M d, Y" }}</td>
    </tr>
    <tr>
        <td>Short Name</td>
        <td>{{ event.short_name }}</td>
    </tr>
    <tr>
        <td>Website</td>
        <td>{{ event.website }}</td>
    </tr>
    <tr>
        <td>Year</td>
        <td>{{ event.year }}</td>
    </tr>
    <tr>
        <td>Event Short</td>
        <td>{{ event.event_short }}</td>
    </tr>
    <tr>
        <td>Event Type</td>
        <td>{{ event.event_type }}</td>
    </tr>
    <tr>
        <td>Event Location</td>
        <td><a href="http://maps.google.com/maps?q={{ event.location }}">{{ event.location }}</a></td>
    </tr>
    <tr>
        <td>Official</td>
        <td>{{ event.official }}</td>
    </tr>
    <tr>
        <td>FIRST Event ID</td>
        <td>{{ event.first_eid }}</td>
    </tr>
    <tr>
        <td>Facebook Event ID</td>
        <td><a href="http://graph.facebook.com/{{event.facebook_eid}}">{{event.facebook_eid}}</a></td>
    </tr>
    <tr>
        <td>Webcast JSON</td>
        <td>{{event.webcast_json}}</td>
    </tr>
    <tr>
        <td>Teams Attending</td>
        <td>{{ event.teams|length }} teams - {% for team in event.teams %}<a href="/admin/team/{{team.team_number}}">{{team.team_number}}</a>, {% endfor %}</td>
    </tr>
</table>

<h2>Rankings</h2>
<table class="table table-striped table-condensed table-center">
  {% for row in event.rankings %}
      <tr>
      {% if forloop.first %}
            {% for element in row %}
                <th>{{ element }}</th>
            {% endfor %}
      {% else %}
        {% for element in row %}
            <td>{{ element }}</td>
        {% endfor %}
    {% endif %}
    </tr>
  {% endfor %}
</table>

<h2>Awards</h2>
<table class="table table-striped table-condensed">
    <tbody>
      <tr><th>Award</th><th>Team</th><th>Person</th></tr>
      {% for award in event.awards %}
      <tr>
        <td><a href="/admin/award/edit/{{award.key_name}}">{{award.official_name}}</a></td>
      <td>
        {% if award.team.id %}
          {{award.team.id}}
        {% endif %}
      </td>
      <td>
        {% if award.awardee %}
	        {{ award.awardee }}
	      {% endif %}
      </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

<h2>Match Listing</h2>

<table class="table table-striped table-condensed table-center">
    <thead>
        <th>Match Key</th>
        <th>Alliances JSON</th>
    </thead>
    {% for match in event.matches %}
    <tr>
        <td><a href="/admin/match/{{match.key_name}}">{{ match.key_name }}</a></td>
        <td>{{ match.alliances_json }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
