{% extends "base.html" %}

{% block title %}Event List{% endblock %}

{% block content %}

<h1>All {{ events|length }} Events</h1>
<table class="table table-striped table-hover">
    <caption>{{ events|length }} total events</caption>
    <thead>
        <th>Key</th>
        <th>Name</th>
        <th>Year</th>
        <th>Event Short</th>
        <th>Event Type</th>
        <th>EID</th>
    </thead>

    {% for event in events %}
    <tr>
        <td>{{ event.key_name }}</td>
        <td><a href="/admin/event/{{event.key_name}}">{{ event.name }}</td>
        <td>{{ event.year }}</td>
        <td>{{ event.event_short }}</td>
        <td>{{ event.event_type_str }}</td>
        <td>{{ event.first_eid }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
