{% extends "base.html" %}

{% block title %}{{event.key_name}} - Delete{% endblock %}

{% block content %}

<h1>Delete {{ event.key_name }}?</h1>

<form action="/admin/event/delete/{{event.key_name}}" method="post">
    <legend>Delete {{ event.year }} {{ event.name }}?</legend>
    <p>This will also delete it&rsquo;s EventTeams and Matches.</p>

    <a href="/admin/event/{{event.key_name}}" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-ban-circle"></span> Cancel Delete</a>

    <button type="submit" class="btn btn-danger btn-small pull-right"><span class="glyphicon glyphicon-trash"></span> Delete Event</button>
</form>

{% endblock %}
