{% extends "base.html" %}

{% block title %}Event List{% endblock %}

{% block content %}

<h1>All {{ events|length }} Events from {{selected_year}}</h1>

<div class="btn-group">
  <a class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" href="#">
    {{selected_year}}
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu tba-dropdown-menu-limited">
    {% for year in valid_years reversed %}
      <li><a href="/admin/events/{{year}}">{{year}}</a></li>
    {% endfor %}
  </ul>
</div>

<table class="table table-striped table-hover">
    <caption>{{ events|length }} total events</caption>
    <thead>
        <th>Key</th>
        <th>Name</th>
        <th>Short Name</th>
        <th>Year</th>
        <th>Event Short</th>
        <th>Event Type</th>
        <th>Event District</th>
        <th>EID</th>
    </thead>

    {% for event in events %}
    <tr>
        <td>{{ event.key_name }}</td>
        <td><a href="/admin/event/{{event.key_name}}">{{ event.name }}</td>
        <td>{{ event.short_name }}</td>
        <td>{{ event.year }}</td>
        <td>{{ event.event_short }}</td>
        <td>{{ event.event_type_str }}</td>
        <td>{{ event.event_district_str }}</td>
        <td>{{ event.first_eid }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
