{% extends "base.html" %}

{% block title %}Create Event{% endblock %}

{% block content %}

<form action="/admin/event/edit/" method="post">
    <legend>Create new Event</legend>
    <table class="table table-striped table-hover table-condensed">
        <tr>
            <td>Name</td>
            <td><input class="form-control" type="text" name="name" placeholder="Connecticut Regional presented by UTC"/></td>
        </tr>
        <tr>
            <td>Dates</td>
            <td>
                <input class="form-control" type="text" name="start_date" placeholder="2012-04-04" /> to <input class="form-control" type="text" name="end_date" placeholder="2012-04-06" />
            </td>
        </tr>
        <tr>
            <td>Short Name</td>
            <td><input class="form-control" type="text" name="short_name" placeholder="Connecticut" /></td>
        </tr>
        <tr>
            <td>Website</td>
            <td><input class="form-control" type="text" name="website" placeholder="http://ctfirst.org" /></td>
        </tr>
        <tr>
            <td>Year</td>
            <td><input class="form-control" type="text" name="year" placeholder="2022" /></td>
        </tr>
        <tr>
            <td>Event Short</td>
            <td><input class="form-control" type="text" name="event_short" placeholder="ct" /></td>
        </tr>
        <tr>
            <td>FIRST API Code</td>
            <td><input class="form-control" type="text" name="first_code" placeholder="ct" /></td>
        </tr>
        <tr>
            <td>Event Type</td>
            <td><select name="event_type">
                {% for type, name in event_types.iteritems %}
                  <option value="{{ type }}">{{ name }}</option>
                {% endfor %}
            </select></td>
        </tr>
        <tr>
            <td>Event City</td>
            <td><input class="form-control" type="text" name="city" placeholder="Hartford" /></td>
        </tr>
        <tr>
            <td>Event State/Prov</td>
            <td><input class="form-control" type="text" name="state_prov" placeholder="CT" /></td>
        </tr>
        <tr>
            <td>Event Country</td>
            <td><input class="form-control" type="text" name="country" placeholder="USA" /></td>
        </tr>
        <tr>
            <td>Official</td>
            <td><input class="form-control" type="text" name="official" placeholder="False"/></td>
        </tr>
        <tr>
            <td>FIRST Event ID</td>
            <td><input class="form-control" type="text" name="first_eid" /></td>
        </tr>
        <tr>
            <td>Facebook Event ID</td>
            <td><input class="form-control" type="text" name="facebook_eid" placeholder="123456" /></td>
        </tr>
        <tr>
            <td>Custom Hashtag</td>
            <td><input class="form-control" type="text" name="custom_hashtag" placeholder="ctregional" /></td>
        </tr>
        <tr>
            <td>Webcast JSON</td>
            <td><input class="form-control" type="text" name="webcast_json" placeholder="[{&quot;type&quot;: &quot;ustream&quot;, &quot;channel&quot;: &quot;rah-cha-cha-ruckus&quot;}]" /></td>
        </tr>
    </table>

    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-thumbs-up"></span> Create Event</button>
    <a href="/admin/" class="btn btn-default"><span class="glyphicon glyphicon-thumbs-down"></span> Cancel Create</a>
</form>

{% endblock %}
