{% extends "base.html" %}

{% block title %}{{event.key_name}}{% endblock %}

{% block content %}

<h1>{{event.key_name}} - {{ event.name }}</h1>

<div class="btn-group">
    <a href="/admin/event/edit/{{event.key_name}}" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> Edit</a>
    <a href="/event/{{event.key_name}}" class="btn btn-default"><span class="glyphicon glyphicon-eye-open"></span> View on TBA</a>
    <a href="/tasks/math/do/eventteam_update/{{event.key_name}}" class="btn btn-warning"><span class="glyphicon glyphicon-user"></span> Rebuild EventTeams</a>
    <a href="/tasks/get/usfirst_event_details/{{event.year}}/{{event.first_eid}}" class="btn btn-warning"><span class="glyphicon glyphicon-refresh"></span> Refresh from FIRST</a>
</div>
<br />

<table class="table table-striped table-hover">
    <tr>
        <td>Name</td>
        <td>{{ event.name }}</td>
    </tr>
    <tr>
        <td>Dates</td>
        <td>{{ event.start_date|date:"M d, Y" }} to {{ event.end_date|date:"M d, Y" }}</td>
    </tr>
    <tr>
        <td>Short Name</td>
        <td>{{ event.short_name }}</td>
    </tr>
    <tr>
        <td>Website</td>
        <td><a href="{{ event.website }}">{{ event.website }}</a></td>
    </tr>
    <tr>
        <td>Year</td>
        <td>{{ event.year }}</td>
    </tr>
    <tr>
        <td>Event Short</td>
        <td>{{ event.event_short }}</td>
    </tr>
    <tr>
        <td>Event Type</td>
        <td>{{ event.event_type_str }}</td>
    </tr>
    <tr>
        <td>Event Location</td>
        <td><a href="http://maps.google.com/maps?q={{ event.location }}">{{ event.location }}</a></td>
    </tr>
    <tr>
        <td>Event Timezone</td>
        <td>{{ event.timezone_id }}</td>
    </tr>
    <tr>
        <td>Official</td>
        <td>{{ event.official }}</td>
    </tr>
    <tr>
        <td>FIRST Event ID</td>
        <td>{{ event.first_eid }}</td>
    </tr>
    <tr>
        <td>Facebook Event ID</td>
        <td><a href="http://graph.facebook.com/{{event.facebook_eid}}">{{event.facebook_eid}}</a></td>
    </tr>
    <tr>
        <td>Webcast JSON</td>
        <td>{{event.webcast_json}}</td>
    </tr>
    <tr>
        <td>Teams Attending</td>
        <td>{{ event.teams|length }} teams - {% for team in event.teams %}<a href="/admin/team/{{team.team_number}}">{{team.team_number}}</a>, {% endfor %}</td>
    </tr>
    <tr>
        <td>Created - Updated</td>
        <td>{{ event.created }} - {{ event.updated }}</td>
    </tr>
</table>

<h2>Add Teams</h2>
<p>Add teams formatted as CSV.</p>
<p>Example:</p>
<div class="well">254, 1114, 100, 604, 148</div>
<form action="/admin/event/add_teams/{{event.key_name}}" method="post">
  <textarea class="form-control" name="teams_csv"></textarea><br>
  <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span> Add Teams</button>
</form>

<h2>Add Webcast</h2>
<form action="/admin/event/add_webcast/{{event.key_name}}" method="post">
    {% include "partials/webcast_add_form_partial.html" %}
    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-thumbs-up"></span> Add Webcast</button>
</form>

<h2>Rankings</h2>
<table class="table table-striped table-condensed table-center">
  {% for row in event.rankings %}
      <tr>
      {% if forloop.first %}
            {% for element in row %}
                <th>{{ element }}</th>
            {% endfor %}
      {% else %}
        {% for element in row %}
            <td>{{ element }}</td>
        {% endfor %}
    {% endif %}
    </tr>
  {% endfor %}
</table>

<h2>Awards</h2>
<table class="table table-striped table-condensed">
    <tbody>
      <tr><th>Award</th><th>Award Type</th><th>Team</th><th>Awardee</th></tr>
      {% for award in event.awards %}
      <tr>
        <td><a href="/admin/award/edit/{{award.key_name}}">{{award.name_str}}</a></td>
        <td>{{award.award_type_enum}}</td>
      <td>
        {% for team in award.recipient_dict.keys %}
          {% if team %}
            {{ team }}
          {% else %}
            --
          {% endif %}
          <br>
        {% endfor %}
      </td>
      <td>
        {% for awardees in award.recipient_dict.values %}
          {% for awardee in awardees %}
            {% if awardee %}
              {{ awardee }}
            {% else %}
              --
            {% endif %}
            <br>
          {% endfor %}
        {% endfor %}
      </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

<h2>Match Listing</h2>

<table class="table table-striped table-condensed table-center">
    <thead>
        <th>Match Key</th>
        <th>Alliances JSON</th>
    </thead>
    {% for match in event.matches %}
    <tr>
        <td><a href="/admin/match/{{match.key_name}}">{{ match.key_name }}</a></td>
        <td>{{ match.alliances_json }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
