{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block head_javascript %}
<!-- We need this here to access the template tags -->
<script type="text/javascript">
$(function () {
    // Build the chart
    $('#graphmemcache').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: '<a href="/admin/memcache">Memcache</a>',
            useHTML: true
        },
        tooltip: {
            pointFormat: '<b>{point.y}</b>'
        },
        plotOptions: {
            pie: {
                dataLabels: {
                    enabled: false
                },
                showInLegend: true
            }
        },
        series: [{
            type: 'pie',
            name: 'Memcache',
            data: [
                {
                    name: 'Misses',
                    y: {{memcache_stats.misses}},
                    color: '#8B0000'
                },
                {
                    name: 'Hits',
                    y: {{memcache_stats.hits}},
                    color: '#008000'
                }
            ]
        }],
        exporting: {
            enabled: false
        },
        credits: {
            enabled: false
        },
    });

    $('#graphdatabasequery').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: 'Database Queries',
            useHTML: true
        },
        tooltip: {
            pointFormat: '<b>{point.y}</b>'
        },
        plotOptions: {
            pie: {
                dataLabels: {
                    enabled: false
                },
                showInLegend: true
            }
        },
        series: [{
            type: 'pie',
            name: 'Database Queries',
            data: [
                {
                    name: 'Misses',
                    y: {{databasequery_stats.misses}},
                    color: '#8B0000'
                },
                {
                    name: 'Hits',
                    y: {{databasequery_stats.hits}},
                    color: '#008000'
                }
            ]
        }],
        exporting: {
            enabled: false
        },
        credits: {
            enabled: false
        },
    });
});
</script>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-xs-6">
        <div class="panel {% if debug %}panel-default{% else %}panel-primary{% endif %}">
            <div class="panel-heading">
                <h3 class="panel-title">{% if debug %}Development{% else %}Production{% endif %} Server Version Info</h3>
            </div>
            <div class="panel-body">
                <p>Build time: {{build_time}}</p>
                <br>
                <p>Branch: <strong>{{git_branch_name}}</strong></p>
                <p class="text-warning">Commit: <a href="https://github.com/the-blue-alliance/the-blue-alliance/commit/{{commit_hash.1}}">{{commit_hash.1}}</a></p>
                <p>{{commit_author}}</p>
                <p>{{commit_date}}</p>
                <p>{{commit_msg}}</p>
            </div>
        </div>
    </div>
    <div class="col-xs-6">
       <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Continuous Deployment</h3>
          </div>
         <div class="panel-body">
           <p>Continuous Deployment is <b>{% if contbuild_enabled %}ENABLED{% else %}DISABLED{% endif %}</b>!
           </p>
           <img src="https://travis-ci.org/the-blue-alliance/the-blue-alliance.svg?branch=master" />
           <p>Travis build: {% if build_number %}<a href="https://travis-ci.org/the-blue-alliance/the-blue-alliance/builds/{{ build_number }}">{{ build_number }}</a>{% else %}unknown{% endif %}</p>
           <a class="btn btn-danger" href="/admin/contbuild/{% if contbuild_enabled %}disable{% else %}enable{% endif %}">
             <span class="glyphicon glyphicon-{% if contbuild_enabled %}pause{% else %}play{% endif %}"></span> {% if contbuild_enabled %}Disable{% else %}Enable{% endif %} Continuous Push
           </a>
         </div>
       </div>
       <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Setup</h3>
            </div>
            <div class="panel-body">
                <div class="alert alert-info">Run <code>paver setup</code> to set up a dev instance.</div>
                <div class="btn-group">
                    <a class="btn btn-default" href="/tasks/get/fms_team_list">Get FMS Teams</a>
                </div>
                <div class="btn-group">
                    <a class="btn btn-default" href="/admin/team/create/test">Create Test Teams</a>
                    <a class="btn btn-default" href="/admin/event/create/test">Create Test Events</a>
                    <a class="btn btn-default" href="/admin/suggestions/create/test">Create Test Suggestions</a>
                    <a class="btn btn-default" href="/admin/user/create/test">Give Current User All Permissions</a>
                </div>
                <br /><br />
                <form class="form-inline" action="/admin/memcache" method="post">
                    <input name="webcast_keys" value="webcast_keys" type="hidden" />
                    <button class="btn btn-danger" type="submit"><span class="glyphicon glyphicon-trash"></span> Flush Webcast Memcache</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Stats</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <a href="/suggest/review">
                            <span class="badge pull-right">{{suggestions_count}}</span>
                            Pending Suggestions
                        </a>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div id="graphdatabasequery" style="width: 100%; height: 400px;"></div>
                </div>
                <div class="row">
                    <div id="graphmemcache" style="width: 100%; height: 400px;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">New Users</h3>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-condensed">
                {% for user in users %}
                    <tr>
                        <td><a href="/admin/user/{{user.key.id}}">{{user.display_name}}</a></td>
                        <td>
                            <div class="btn-group pull-right">
                                <a href="/admin/user/edit/{{user.key.id}}" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-pencil"></i></a>
                                <a href="#" class="btn btn-danger disabled btn-xs"><i class="glyphicon glyphicon-trash"></i></a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">

</div>

{% endblock %}
