{% extends "base.html" %}

{% block title %}{{match.key_name}}{% endblock %}

{% block content %}

<h1>{{match.key_name}}</h1>

<div class="btn-group">
    <a href="/match/{{match.key_name}}" class="btn"><i class="icon-eye-open"></i> View on TBA</a>
    <a href="/admin/match/edit/{{match.key_name}}" class="btn btn-primary"><i class="icon-edit icon-white"></i> Edit</a>
</div>
<br />

<table class="table table-striped table-hover">
    <tr>
        <td>Event</td>
        <td><a href="/event/{{match.event.key.name}}">{{ match.event.year }} {{ match.event.name }}</a></td>
    </tr>
    <tr>
        <td>Match</td>
        <td>{{ match.key.name }}</td>
    </tr>
    <tr>
        <td>Team Key Names</td>
        <td>{{ match.team_key_names }}</td>
    </tr>
    <tr>
        <td>Alliances JSON</td>
        <td>{{ match.alliances_json }}</td>
    </tr>
    <tr>
        <td>TBA Videos</td>
        <td>{{ match.tba_videos }}</td>
    </tr>
    <tr>
        <td>Youtube Videos</td>
        <td>{{ match.youtube_videos }}</td>
    </tr>
</table>

{% endblock %}