{% extends "base.html" %}

{% block title %}Match Cleanup{% endblock %}

{% block content %}

<h1>Clean up Matches</h1>

{% if tried_delete %}
<div class="alert alert-success">
    <strong>Deleted {{ match_keys_deleted|length }} malformed matches:</strong> {{ match_keys_deleted }}
</div>
{% endif %}

<p>This page deletes all Matches belonging to an Event where the Match key names don't correspond to the Event key name. This will delete ("Match", "2011newton_f1m1") from ("Event", "2011new"), but will leave ("Match", "2011new_f1m1").</p>

<form action="/admin/match/cleanup" method="post" class="form-inline">
    <legend>Cleanup Event</legend>
    <div class="input-group">
        <input class="form-control" size="16" name="event_key_name" type="text" placeholder="event_key">
        <span class="input-group-btn">
            <button class="btn btn-danger" id="edit_button" type="submit"><span class="glyphicon glyphicon-wrench"></span> Clean</button>
        </span>
    </div>
</form>


{% endblock %}