{% extends "base.html" %}

{% block title %}{{match.key_name}}{% endblock %}

{% block content %}

<h1>{{match.key_name}}</h1>

<div class="btn-group">
    <a href="/match/{{match.key_name}}" class="btn btn-default"><span class="glyphicon glyphicon-eye-open"></span> View on TBA</a>
    <a href="/admin/match/edit/{{match.key_name}}" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> Edit</a>
</div>
<br />

<table class="table table-striped table-hover">
    <tr>
        <td>Event</td>
        <td><a href="/admin/event/{{match.event_key_name}}">{{ match.event.get.year }} {{ match.event.get.name }}</a></td>
    </tr>
    <tr>
        <td>Match</td>
        <td>{{ match.key_name }}</td>
    </tr>
    <tr>
        <td>year</td>
        <td>{{ match.year }}</td>
    </tr>
    <tr>
        <td>Team Key Names</td>
        <td>{{ match.team_key_names }}</td>
    </tr>
    <tr>
        <td>Alliances JSON</td>
        <td>{{ match.alliances_json }}</td>
    </tr>
    <tr>
        <td>Score Breakdown JSON</td>
        <td>{{ match.score_breakdown_json }}</td>
    </tr>
    <tr>
        <td>TBA Videos</td>
        <td>{{ match.tba_videos }}</td>
    </tr>
    <tr>
        <td>Youtube Videos</td>
        <td>{{ match.youtube_videos }}</td>
    </tr>
    <tr>
        <td>Created - Updated</td>
        <td>{{ match.created }} - {{ match.updated }}</td>
    </tr>
</table>

{% endblock %}