{% extends "base.html" %}

{% block title %}{{match.key_name}} - Delete{% endblock %}

{% block content %}

<h1>Delete {{ match.key_name }}?</h1>

<form action="/admin/match/delete/{{match.key_name}}" method="post">
    <legend>Delete match?</legend>

    <a href="/admin/match/{{match.key_name}}" class="btn btn-lg"><i class="icon-ban-circle"></i> Cancel Delete</a>

    <button type="submit" class="btn btn-danger btn-small pull-right"><i class="icon-trash"></i> Delete Match</button>
</form>

{% endblock %}
