{% extends "base.html" %}

{% block title %}Pending Suggestions{% endblock %}

{% block content %}

<h1>{{ suggestions_and_references|length }} Pending Suggestions</h1>

<h2>Video Approval Guidelines</h2>
<div class="alert alert-success">
  <strong>Do approve:</strong>
  <ul>
    <li>Chairman's video</li>
    <li>Robot reveal</li>
    <li>Robot testing</li>
    <li>Awards ceremony</li>
    <li>Practice matches</li>
  </ul>
</div>
<div class="alert alert-danger">
  <strong>Do NOT approve:</strong>
  <ul>
    <li>Full matches (from any PoV)</li>
    <li>People dancing</li>
    <li>Long, drawn out videos with little to no real content</li>
  </ul>
</div>

<form action="/admin/suggestions/media/review" method="post">
    <div class="col-xs-12">

        <div class="row">
            <div class="control-group">
                <div class="controls">
                    <a href="#" id="accept_all_button" class="btn btn-success">Select All Accepts</a>
                    <a href="#" id="reject_all_button" class="btn btn-danger">Select All Rejects</a>
                    <a href="#" id="deselect_all_button" class="btn btn-default">Deselect All</a>
                </div>
            </div>
        </div><br>

        <script>
        $("#accept_all_button").click(function() {
            $('.accept').prop('checked', true);
            $('.reject').prop('checked', false);
        });
        $("#reject_all_button").click(function() {
            $('.accept').prop('checked', false);
            $('.reject').prop('checked', true);
        });
        $("#deselect_all_button").click(function() {
            $('.accept').prop('checked', false);
            $('.reject').prop('checked', false);
        });
        </script>

        {% for suggestion, reference in suggestions_and_references %}
        <div class="row">
            <div class="well">
                <div class="col-xs-2">
                  <label class="checkbox text-success" for="accept_{{suggestion.key.id}}"><input class="accept" type="checkbox" name="accept_keys[]" id="accept_{{suggestion.key.id}}" value="{{suggestion.key.id}}"> Accept</label>
                  <label class="checkbox text-danger" for="reject_{{suggestion.key.id}}"><input class="reject" type="checkbox" name="reject_keys[]" id="reject_{{suggestion.key.id}}" value="{{suggestion.key.id}}"> Reject</label>
                </div>
                <div class="col-xs-7 fitvids">
                    <p><strong>Team {{reference.team_number}}{% if reference.nickname %} - {{reference.nickname}}{% endif %} ({{suggestion.contents.year}})</strong></p>
                    {% if suggestion.contents.media_type_enum == 1 %}
                      <a href="http://www.chiefdelphi.com/media/photos/{{suggestion.contents.foreign_key}}" target="_blank">
                        <img class="img-thumbnail" src="http://www.chiefdelphi.com/media/img/{{suggestion.details.thumbnail}}" style="max-height: 150px;">
                      </a>
                    {% else %}
                      {% if suggestion.contents.media_type_enum == 0 %}
                        <iframe width="320" height="180" src="http://www.youtube.com/embed/{{suggestion.contents.foreign_key}}" frameborder="0" allowfullscreen></iframe>
                      {% endif %}
                    {% endif %}

                </div>
                <div class="col-xs-3">
                    <ul>
                        <li>{{ suggestion.author.get.email }}</a></li>
                        <li>{{ suggestion.author.get.nickname }}</a></li>
                        <li>{{ suggestion.contents_json }}</li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        {% empty %}
        <div class="row">
            <div class="well">
                <p>No suggestions! Go build more community!</p>
            </div>
        </div>
        {% endfor %}
        
        <div class="row">
            <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-pencil"></span> Act On Selected</button>
        </div>
    </div>
</form>

{% endblock %}
