{% extends "base.html" %}

{% block title %}Memcache{% endblock %}

{% block content %}

<h1>Memcache</h1>

{% if flushed %}
<div class="alert">
    <strong>Flushed:</strong> {{ flushed }}
</div>
{% endif %}

<h2>Stats</h2>
<p>{{ memcache_stats }}</p>

<h2>Flush Memcache</h2>

<form class="form-inline" action="/admin/memcache" method="post">
    <legend>Flush one key</legend>
    <div class="input-group">
        <input class="form-control" size="16" name="memcache_key" type="text" placeholder="memcache_key" />
        <span class="input-group-btn">
          <button class="btn btn-danger" type="submit"><span class="glyphicon glyphicon-trash"></span> Flush</button>
        </span>
    </div>
</form>

<form class="form-inline" action="/admin/memcache" method="post">
    <legend>Flush Webcasts</legend>
    <p>Flushes all pages that depend on the list of webcasts (/, /gameday, /webcasts). Does not flush /_/webcast, so you have to "add webcast" on those pages if you've mutated the webcasts. You can add a garbage webcast, which flushes, then delete what you added with the manual JSON editing. Sorry this sucks.</p>
    <input name="webcast_keys" value="webcast_keys" type="hidden" />
    <button class="btn btn-danger" type="submit"><span class="glyphicon glyphicon-trash"></span> Flush</button>
</form>

<h3>Scary!!!</h3>
<form action="/admin/memcache" method="post">
    <legend>Flush all memcache</legend>
    <input name="all_keys" value="all_keys" type="hidden" />
    <button class="btn btn-danger" type="submit"><span class="glyphicon glyphicon-trash"></span> Flush All Memcache</button>
</form>

{% endblock %}
