{% extends "base.html" %}

{% block title %}Mobile Dashboard{% endblock %}

{% block content %}

{% if broadcast_success %}
<div class="row">
  <div class="col-sm-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4>Success!</h4>
      <p>Broadcast sent!</p>
    </div>
  </div>
</div>
{% endif %}

<h1>Mobile Device Dashboard</h1>

<h2>Actions</h2>
<div class="btn-group">
    <a href="/admin/mobile/broadcast" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> Broadcast Message</a>
</div>
<div class="btn-group">
    <a href="/tasks/admin/enqueue/clear_mobile_duplicates" class="btn btn-warning"><span class="glyphicon glyphicon-remove"></span> Remove Duplicate Client IDs</a>
    <a href="/admin/admin/enqueue/clear_old_subs" class="btn btn-warning"><span class="glyphicon glyphicon-remove"></span> Remove Past Year Subscriptions</a>
    <a href="/admin/admin/clear_old_webhooks" class="btn btn-warning"><span class="glyphicon glyphicon-remove"></span> Remove Broken Webhooks</a>
</div>
<br />

<h2>Connected Devices</h2>
<table class="table table-striped table-hover">
    <tr>
        <td>Total Users</td>
        <td>{{ mobile_users }}</td>
    </tr>
    <tr>
        <td>Android Users</td>
        <td>{{ android_users }}</td>
    </tr>
    <tr>
        <td>iOS Users</td>
        <td>{{ ios_users }}</td>
    </tr>
    <tr>
        <td>Webhooks</td>
        <td>{{ webhooks }}</td>
    </tr>
</table>

{% endblock %}
