{% extends "base.html" %}

{% block title %}Push Broadcast{% endblock %}

{% block content %}
{% if error %}
<div class="row">
  <div class="col-sm-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
    <div class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4>Error</h4>
      <p>{{error}}</p>
    </div>
  </div>
</div>
{% endif %}
<form action="/admin/mobile/broadcast" method="post">
  <legend>Push Broadcast to Users</legend>
  <table class="table table-striped table-hover table-condensed">
    <tr>
      <td>Client Types</td>
      <td><select multiple class="form-control" name="client_types">
        <option value="{{OS_ANDROID}}">Android</option>
        <option value="{{OS_IOS}}">iOS</option>
        <option value="{{WEBHOOK}}">Webhook</option>
        <option value="{{WEB}}">Web</option>
      </select></td>
    </tr>
    <tr>
      <td>Title</td>
       <td>
         <input class="form-control" type="text" name="title" placeholder="Hello!" />
       </td>
     </tr>
     <tr>
       <td>Message</td>
        <td>
          <input class="form-control" type="text" name="message" placeholder="Hello from The Blue Alliance!" />
        </td>
     </tr>
     <tr>
       <td>URL</td>
       <td><input class="form-control" type="text" name="url" placeholder="http://thebluealliance.com" /></td>
     </tr>
     <tr>
        <td>Minimum App Version Code (leave blank for all clients)</td>
        <td><input class="form-control" type="text" name="app_version" placeholder="3000000" /></td>
   </table>

  <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-thumbs-up"></span> Send</button>
  <a href="/admin/" class="btn btn-default"><span class="glyphicon glyphicon-thumbs-down"></span> Cancel</a>
</form>
</div>

{% endblock %}
