{% extends "base.html" %}

{% block title %}Sitevar {{sitevar.key.id}} - Edit{% endblock %}

{% block content %}

{% if success %}
<div class="alert alert-block alert-success">
    <h4>Mutation successful!</h4>
</div>
{% endif %}

<h1>Edit sitevar {{ sitevar.key.id }}</h1>

<form action="/admin/sitevar/edit/{{sitevar.key.id}}" method="post">
    <table class="table table-striped table-hover table-condensed">
        <tr>
            <td>Key</td>
            <td><input type="text" name="disabled_key" value="{{sitevar.key.id}}" disabled="disabled" /><input type="hidden" name="key" value="{{sitevar.key.id}}" /></td>
        </tr>
        <tr>
            <td>Description</td>
            <td><textarea name="description">{{ sitevar.description }}</textarea></td>
        </tr>
        <tr>
            <td>Values (must be json dict)</td>
            <td><textarea name="values_json">{{ sitevar.values_json }}</textarea></td>
        </tr>
        <tr>
            <td>Last Updated</td>
            <td>{{ sitevar.updated }}</td>
        </tr>
    </table>

    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-thumbs-up"></span> Save Sitevar</button>
    <a href="/admin/sitevars" class="btn btn-default"><span class="glyphicon glyphicon-thumbs-down"></span> Cancel Edit</a>
</form>

{% endblock %}
