{% extends "base.html" %}

{% block title %}Pending Suggestions{% endblock %}

{% block content %}

<h1>{{ suggestions|length }} Pending Suggestions</h1>

<table class="table table-striped table-hover">
    <thead>
        <th>Suggestion</th>
        <th>Model</th>
        <th>Key</th>
        <th>Contents</th>
        <th>Suggester</th>
        <th>Accept</th>
    </thead>
    
    {% for suggestion in suggestions %}
    <tr>
        <td>{{ suggestion.key.id }}</a></td>
        <td>{{ suggestion.target_model }}</td>
        <td>{{ suggestion.target_key }}</td>
        <td>{{ suggestion.contents_json }}</td>
        <td>{{ suggestion.author.get.nickname }}</a></td>
        <td>Go</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
