{% extends "base.html" %}

{% block title %}Tasks{% endblock %}

{% block content %}

<h1>Task Launcher</h1>

<p>The Blue Alliance has many tasks that are usually executed by cron jobs, but you can manually launch them from here.</p>

<hr>

<h2>Loading Data from the FRC API</h2>
<h3>All Season Data (Run this first)</h3>
<div class="row">
    <div class="col-sm-12">
        <span class="help-block">Enqueue tasks to get all Events/Teams/EventTeams for a year</span>
        <form class="form-inline">
            <div class="input-group">
                <input class="form-control" id="enqueue_eventlist_year" type="text" placeholder="2017">
                <span class="input-group-btn" id="enqueue_eventlist_year_submit">
                  <button class="btn btn-success" type="button">Go <span class="glyphicon glyphicon-fast-forward"></span></button>
                </span>
            </div>
        </form>
        <script>
        $("#enqueue_eventlist_year_submit").click(function() {
            window.location = "/backend-tasks/enqueue/event_list/" + $("#enqueue_eventlist_year").val();
        });
        </script>
    </div>
</div>

<h3>Year Event Data</h3>
<p class="text-warning">Only works for Events that are already in the DB.</p>
<div class="row">
    <div class="col-sm-6">
        <span class="help-block">Enqueue tasks to get all Matches for a year</span>
        <form class="form-inline">
            <div class="input-group">
                <input class="form-control" id="enqueue_matches_year" type="text" placeholder="2017">
                <span class="input-group-btn" id="enqueue_matches_year_submit">
                  <button class="btn btn-success" type="button">Go <span class="glyphicon glyphicon-fast-forward"></span></button>
                </span>
            </div>
        </form>
        <script>
        $("#enqueue_matches_year_submit").click(function() {
            window.location = "/tasks/enqueue/fmsapi_matches/" + $("#enqueue_matches_year").val();
        });
        </script>
    </div>

    <div class="col-sm-6">
        <span class="help-block">Enqueue tasks to get all Rankings for a year</span>
        <form class="form-inline">
            <div class="input-group">
                <input class="form-control" id="enqueue_rankings_year" type="text" placeholder="2017">
                <span class="input-group-btn" id="enqueue_rankings_year_submit">
                  <button class="btn btn-success" type="button">Go <span class="glyphicon glyphicon-fast-forward"></span></button>
                </span>
            </div>
        </form>
        <script>
        $("#enqueue_rankings_year_submit").click(function() {
            window.location = "/tasks/enqueue/fmsapi_event_rankings/" + $("#enqueue_rankings_year").val();
        });
        </script>
    </div>

    <div class="col-sm-6">
        <span class="help-block">Enqueue tasks to get all Alliances for a year</span>
        <form class="form-inline">
            <div class="input-group">
                <input class="form-control" id="enqueue_alliances_year" type="text" placeholder="2017">
                <span class="input-group-btn" id="enqueue_alliances_year_submit">
                  <button class="btn btn-success" type="button">Go <span class="glyphicon glyphicon-fast-forward"></span></button>
                </span>
            </div>
        </form>
        <script>
        $("#enqueue_alliances_year_submit").click(function() {
            window.location = "/tasks/enqueue/fmsapi_event_alliances/" + $("#enqueue_alliances_year").val();
        });
        </script>
    </div>

    <div class="col-sm-6">
        <span class="help-block">Enqueue tasks to get all Awards for a year</span>
        <form class="form-inline">
            <div class="input-group">
                <input class="form-control" id="enqueue_awards_year" type="text" placeholder="2017">
                <span class="input-group-btn" id="enqueue_awards_year_submit">
                  <button class="btn btn-success" type="button">Go <span class="glyphicon glyphicon-fast-forward"></span></button>
                </span>
            </div>
        </form>
        <script>
        $("#enqueue_awards_year_submit").click(function() {
            window.location = "/tasks/enqueue/fmsapi_awards/" + $("#enqueue_awards_year").val();
        });
        </script>
    </div>
</div>

<h3>Single Event Data</h3>
<p class="text-warning">Only works for Events that are already in the DB.</p>
<div class="row">
    <div class="col-sm-6">
        <span class="help-block">Get Event details and Teams</span>
        <form class="form-inline">
            <div class="input-group">
                <input class="form-control" id="enqueue_eventdetails_event" type="text" placeholder="2017casj">
                <span class="input-group-btn" id="enqueue_eventdetails_event_submit">
                  <button class="btn btn-success" type="button">Go <span class="glyphicon glyphicon-fast-forward"></span></button>
                </span>
            </div>
        </form>
        <script>
        $("#enqueue_eventdetails_event_submit").click(function() {
            window.location = "/backend-tasks/get/event_details/" + $("#enqueue_eventdetails_event").val();
        });
        </script>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <span class="help-block">Get all Matches for an Event</span>
        <form class="form-inline">
            <div class="input-group">
                <input class="form-control" id="enqueue_matches_event" type="text" placeholder="2017casj">
                <span class="input-group-btn" id="enqueue_matches_event_submit">
                  <button class="btn btn-success" type="button">Go <span class="glyphicon glyphicon-fast-forward"></span></button>
                </span>
            </div>
        </form>
        <script>
        $("#enqueue_matches_event_submit").click(function() {
            window.location = "/tasks/get/fmsapi_matches/" + $("#enqueue_matches_event").val();
        });
        </script>
    </div>

    <div class="col-sm-6">
        <span class="help-block">Get all Rankings for an Event</span>
        <form class="form-inline">
            <div class="input-group">
                <input class="form-control" id="enqueue_rankings_event" type="text" placeholder="2017casj">
                <span class="input-group-btn" id="enqueue_rankings_event_submit">
                  <button class="btn btn-success" type="button">Go <span class="glyphicon glyphicon-fast-forward"></span></button>
                </span>
            </div>
        </form>
        <script>
        $("#enqueue_rankings_event_submit").click(function() {
            window.location = "/tasks/get/fmsapi_event_rankings/" + $("#enqueue_rankings_event").val();
        });
        </script>
    </div>

    <div class="col-sm-6">
        <span class="help-block">Get all Alliances for an Event</span>
        <form class="form-inline">
            <div class="input-group">
                <input class="form-control" id="enqueue_alliances_event" type="text" placeholder="2017casj">
                <span class="input-group-btn" id="enqueue_alliances_event_submit">
                  <button class="btn btn-success" type="button">Go <span class="glyphicon glyphicon-fast-forward"></span></button>
                </span>
            </div>
        </form>
        <script>
        $("#enqueue_alliances_event_submit").click(function() {
            window.location = "/tasks/get/fmsapi_event_alliances/" + $("#enqueue_alliances_event").val();
        });
        </script>
    </div>

    <div class="col-sm-6">
        <span class="help-block">Get all Awards for an Event</span>
        <form class="form-inline">
            <div class="input-group">
                <input class="form-control" id="enqueue_awards_event" type="text" placeholder="2017casj">
                <span class="input-group-btn" id="enqueue_awards_event_submit">
                  <button class="btn btn-success" type="button">Go <span class="glyphicon glyphicon-fast-forward"></span></button>
                </span>
            </div>
        </form>
        <script>
        $("#enqueue_awards_event_submit").click(function() {
            window.location = "/tasks/get/fmsapi_awards/" + $("#enqueue_awards_event").val();
        });
        </script>
    </div>
</div>


<h3>Single Team Data</h3>
<p class="text-warning">Only works for Teams that are already in the DB.</p>
<div class="row">
    <div class="col-sm-6">
        <span class="help-block">Get Team details</span>
        <form class="form-inline">
            <div class="input-group">
                <input class="form-control" id="enqueue_teamdetails_team" type="text" placeholder="frc604">
                <span class="input-group-btn" id="enqueue_teamdetails_team_submit">
                  <button class="btn btn-success" type="button">Go <span class="glyphicon glyphicon-fast-forward"></span></button>
                </span>
            </div>
        </form>
        <script>
        $("#enqueue_teamdetails_team_submit").click(function() {
            window.location = "/backend-tasks/get/team_details/" + $("#enqueue_teamdetails_team").val();
        });
        </script>
    </div>
</div>

<hr>

<h2>Other Cron Tasks</h2>

<h3>Calculate Year Insights</h3>
<p>Generate Insights by year or overall</p>
<div class="row">
    <div class="col-sm-6">
        <span class="help-block">Enqueue Award Insights</span>
        <form class="form-inline">
            <div class="input-group">
                <input class="form-control" id="enqueue_award_insights_year" type="text" placeholder="2017">
                <span class="input-group-btn" id="enqueue_award_insights_year_submit">
                    <button class="btn btn-warning" type="button">Go <span class="glyphicon glyphicon-fast-forward"></span></button>
                </span>
            </div>
        </form>
        <script>
        $("#enqueue_award_insights_year_submit").click(function() {
            window.location = "/backend-tasks-b2/math/enqueue/insights/awards/" + $("#enqueue_award_insights_year").val();
        });
        </script>
    </div>
    <div class="col-sm-6">
        <span class="help-block">Enqueue Match Insights</span>
        <form class="form-inline">
            <div class="input-group">
                <input class="form-control" id="enqueue_match_insights_year" type="text" placeholder="2017">
                <span class="input-group-btn" id="enqueue_match_insights_year_submit">
                    <button class="btn btn-warning" type="button">Go <span class="glyphicon glyphicon-fast-forward"></span></button>
                </span>
            </div>
        </form>
        <script>
        $("#enqueue_match_insights_year_submit").click(function() {
            window.location = "/backend-tasks-b2/math/enqueue/insights/matches/" + $("#enqueue_match_insights_year").val();
        });
        </script>
    </div>
</div>
<h3>Calculate Overall Insights</h3>
<div class="row">
    <div class="col-sm-6">
        <a class="btn btn-warning" href="/backend-tasks-b2/math/enqueue/overallinsights/awards">Enqueue Overall Award Insights</a>
    </div>
    <div class="col-sm-6">
        <a class="btn btn-warning" href="/backend-tasks-b2.yaml/math/enqueue/overallinsights/matches">Enqueue Overall Match Insights</a>
    </div>
</div>

<h3>Calculate Typeahead</h3>
<p>Generate TypeaheadEntries</p>
<div class="row">
    <div class="col-sm-6">
        <a class="btn btn-warning" href="/tasks/math/enqueue/typeaheadcalc">Calc Typeahead!</a>
    </div>
</div>

<hr>

<h2>Special Tasks<h2>
<h3>Special Registration Days</h3>
<div class="row">
    <div class="col-sm-6">
        <form class="form-inline" action="/tasks/admin/enqueue/registration_day" method="post">
            <div class="input-group">
                <span class="help-block">Registration Date</span>
                <input class="form-control" id="enqueue_registration_date" name="date_string" type="text" placeholder="2016-10-17">
                <span class="help-block">Event Year to Enqueue</span>
                <input class="form-control" id="enqueue_registration_year" name="event_year" type="text" placeholder="2017">
                <span class="help-block">Scrape Interval (minutes)</span>
                <input class="form-control" id="enqueue_registration_interval" name="interval" type="text" placeholder="30">
            </div>
            <span class="input-group-btn" id="enqueue_registration_submit">
                  <button class="btn btn-warning" type="submit">Go <span class="glyphicon glyphicon-fast-forward"></span></button>
            </span>
        </form>
    </div>
</div>

<h3>Run Post Update Hooks</h3>
<div class="row">
    <div class="col-sm-6">
        <p>Manually runs post update hooks. WARNING: Don't use this unless you know what you're doing.</p>
        <a class="btn btn-danger" href="/tasks/admin/enqueue/run_post_update_hooks/events">Events</a>
        <a class="btn btn-danger" href="/tasks/admin/enqueue/run_post_update_hooks/teams">Teams</a>
    </div>
</div>

{% endblock %}
