{% extends "base.html" %}

{% block title %}TBANS Debug{% endblock %}

{% block content %}
Used to send notifications via TBANS to the logged-in user.

{% if error %}
<div class="row">
  <div class="col-sm-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
    <div class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4>Error</h4>
      <p>{{error}}</p>
    </div>
  </div>
</div>
{% endif %}
<div class="row">
  <div class="col-sm-12">
    <form action="/admin/tbans" method="post">
      <h3>Alliance Selection Notification</h3>
      <table class="table table-striped table-hover table-condensed">
        <tr>
          <td>Event Key</td>
           <td>
             <input class="form-control" type="text" name="event_key" placeholder="2020miket" />
           </td>
         </tr>
         <input name="type" type="hidden" value="alliance_selection" />
       </table>
      <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-thumbs-up"></span> Send</button>
    </form>
  </div>
  <div class="col-sm-12">
    <form action="/admin/tbans" method="post">
      <h3>Award Notification</h3>
      <table class="table table-striped table-hover table-condensed">
        <tr>
          <td>Event Key</td>
           <td>
             <input class="form-control" type="text" name="event_key" placeholder="2020miket" />
           </td>
         </tr>
         <input name="type" type="hidden" value="awards" />
       </table>
      <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-thumbs-up"></span> Send</button>
    </form>
  </div>
  <div class="col-sm-12">
    <form action="/admin/tbans" method="post">
      <h3>Event Level Notification</h3>
      <table class="table table-striped table-hover table-condensed">
        <tr>
          <td>Match Key</td>
           <td>
             <input class="form-control" type="text" name="match_key" placeholder="2020miket_qm1" />
           </td>
         </tr>
         <input name="type" type="hidden" value="event_level" />
       </table>
      <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-thumbs-up"></span> Send</button>
    </form>
  </div>
  <div class="col-sm-12">
    <form action="/admin/tbans" method="post">
      <h3>Event Schedule Notification</h3>
      <table class="table table-striped table-hover table-condensed">
        <tr>
          <td>Event Key</td>
           <td>
             <input class="form-control" type="text" name="event_key" placeholder="2020miket" />
           </td>
         </tr>
         <input name="type" type="hidden" value="event_schedule" />
       </table>
      <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-thumbs-up"></span> Send</button>
    </form>
  </div>
  <div class="col-sm-12">
    <form action="/admin/tbans" method="post">
      <h3>Match Score Notification</h3>
      <table class="table table-striped table-hover table-condensed">
        <tr>
          <td>Match Key</td>
           <td>
             <input class="form-control" type="text" name="match_key" placeholder="2020miket_qm1" />
           </td>
         </tr>
         <input name="type" type="hidden" value="match_score" />
       </table>
      <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-thumbs-up"></span> Send</button>
    </form>
  </div>
  <div class="col-sm-12">
    <form action="/admin/tbans" method="post">
      <h3>Match Upcoming Notification</h3>
      <table class="table table-striped table-hover table-condensed">
        <tr>
          <td>Match Key</td>
           <td>
             <input class="form-control" type="text" name="match_key" placeholder="2020miket_qm1" />
           </td>
         </tr>
         <input name="type" type="hidden" value="match_upcoming" />
       </table>
      <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-thumbs-up"></span> Send</button>
    </form>
  </div>
  <div class="col-sm-12">
    <form action="/admin/tbans" method="post">
      <h3>Match Video Notification</h3>
      <table class="table table-striped table-hover table-condensed">
        <tr>
          <td>Match Key</td>
           <td>
             <input class="form-control" type="text" name="match_key" placeholder="2020miket_qm1" />
           </td>
         </tr>
         <input name="type" type="hidden" value="match_video" />
       </table>
      <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-thumbs-up"></span> Send</button>
    </form>
  </div>
  <div class="col-sm-12">
    <form action="/admin/tbans" method="post">
      <h3>Ping Notification</h3>
      <table class="table table-striped table-hover table-condensed">
         <input name="type" type="hidden" value="ping" />
       </table>
      <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-thumbs-up"></span> Send</button>
    </form>
  </div>
</div>
{% endblock %}
