{% extends "base.html" %}

{% block title %}Teams{% endblock %}

{% block content %}

<h1>{{ num_teams }} Teams</h1>

<form class="form-inline">
    <legend>Jump to Team</legend>
    <div class="input-group">
        <span class="input-group-addon">frc</span>
        <input class="form-control" size="16" id="team_number" type="text" placeholder="team_number">
        <span class="input-group-btn">
          <a class="btn btn-success" id="go_button">Go <span class="glyphicon glyphicon-fast-forward"></span></a>
        </span>
    </div>
</form>

<script>
$("#go_button").click(function() {
    if ($("#team_number").val() !== "") {
        window.location = "/admin/team/" + $("#team_number").val();
    } else {
        alert("Please enter a team number.");
    }
});
</script>

<ul class="pagination pagination-small">
    {% for page_label in page_labels %}
    <li{% if forloop.counter0 == page_num %} class="active"{% endif %}><a href="/admin/teams{% if not forloop.first %}/{{forloop.counter0}}{% endif %}">{{page_label}}</a></li>
    {% endfor %}
</ul>

<table class="table table-striped table-hover">
    <thead>
        <th>#</th>
        <th>Name</th>
        <th>Nickname</th>
    </thead>

    {% for team in teams %}
    <tr>
        <td><a href="/admin/team/{{team.team_number}}">{{ team.team_number }}</a></td>
        <td>{{ team.name }}</td>
        <td>{{ team.nickname }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
