{% extends "base.html" %}

{% block title %}Admin Mod Keys{% endblock %}

{% block content %}

<h1>{{ year }} Keys</h1>

<form class="form-inline">
    <legend>Jump to Team</legend>
    <div class="input-group">
        <span class="input-group-addon">frc</span>
        <input class="form-control" size="16" id="team_number" type="text" placeholder="team_number">
        <span class="input-group-btn">
          <a class="btn btn-success" id="go_button">Go <span class="glyphicon glyphicon-fast-forward"></span></a>
        </span>
    </div>
</form>

<script>
$("#go_button").click(function() {
    if ($("#team_number").val() !== "") {
        window.location = "/admin/team/" + $("#team_number").val();
    } else {
        alert("Please enter a team number.");
    }
});
</script>

<ul class="pagination pagination-small">
    {% for page_label in page_labels %}
    <li{% if forloop.counter0 == page_num %} class="active"{% endif %}><a href="/admin/media/modcodes/list/{{year}}{% if not forloop.first %}/{{forloop.counter0}}{% endif %}">{{page_label}}</a></li>
    {% endfor %}
</ul>

<table class="table table-striped table-hover">
    <thead>
        <th>#</th>
        <th>Code</th>
        <th>Account</th>
        <th>Expiration</th>
    </thead>

    {% for auth_code in auth_codes %}
    <tr>
        <td><a href="/admin/team/{{auth_code.team_number}}">{{ auth_code.team_number }}</a></td>
        <td><a href="/admin/media/modcodes/edit/{{auth_code.team_number}}/{{auth_code.year}}">{{ auth_code.access_code }}</a></td>
        <td>{{ auth_code.account }}</td>
        <td>{{ auth_code.expiration|date:"Y-m-d" }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
