{% extends "base.html" %}

{% block title %}frc{{team.team_number}} - TBA Admin{% endblock %}

{% block content %}

<h1>Team {{team.team_number}}</h1>

<div class="btn-group">
    <a href="/team/{{team.team_number}}" class="btn btn-default"><span class="glyphicon glyphicon-eye-open"></span> View on TBA</a>
    <a href="/tasks/get/usfirst_team_details/frc{{team.team_number}}" class="btn btn-default"><span class="glyphicon glyphicon-refresh"></span> Refresh from FIRST</a>
</div>
<br><br>

<table class="table table-striped table-hover">
    <tr>
        <td>Name</td>
        <td>{{ team.name }}</td>
    </tr>
    <tr>
        <td>Nickname</td>
        <td>{{ team.nickname }}</td>
    </tr>
    <tr>
        <td>Rookie Year</td>
        <td>{{ team.rookie_year }}</td>
    </tr>
    <tr>
        <td>Address</td>
        <td>{{ team.address }}</td>
    </tr>
    <tr>
        <td>Website</td>
        <td>{{ team.website }}</td>
    </tr>
    <tr>
        <td>FIRST TPID, year</td>
        <td>{{ team.first_tpid }}, {{ team.first_tpid_year }}</td>
    </tr>
    <tr>
        <td>Events</td>
        <td>{{event_teams|length}} Events - {% for event_team in event_teams %}<a href="/admin/event/{{event_team.event.id}}">{{event_team.event.id}}</a>, {% endfor %}</td>
    </tr>
</table>

<p>Teams are currently uneditable. They are updated via TIMS scraping.</p>
<p>Team info is on FIRST at <a href="http://www.usfirst.org/whatsgoingon">http://www.usfirst.org/whatsgoingon</a></p>


<h2>Add Media</h2>
<form action="/admin/media/add_media" method="post">
    <table class="table table-striped table-hover table-condensed">
        <tr>
            <td>URL</td>
            <td><input class="form-control" name="media_url" type="text" placeholder="http://www.chiefdelphi.com/media/photos/39142"></td>
        </tr>
        <tr>
            <td>Year (can be blank)</td>
            <td><input class="form-control" name="year" type="text"></td>
        </tr>
    </table>
    <input name="reference_key" type="hidden" value="frc{{team.team_number}}" />
    <input name="reference_type" type="hidden" value="team" />
    <input name="originating_url" type="hidden" value="/admin/team/{{team.team_number}}" />
    <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-thumbs-up"></span> Add Media</button>
</form>

<h2>Media</h2>
{% for year, medias in team_medias_by_year.items %}
  {% if year == None %}
    <h3>No Year:</h3>
  {% else %}
    <h3>{{year}}:</h3>
  {% endif %}
  {% for media in medias %}
    {% include "partials/admin_media_display.html" %}
  {% endfor %}
  <br>
{% endfor %}

{% endblock %}

