{% extends "base.html" %}

{% block title %}frc{{team.team_number}} - TBA Admin{% endblock %}

{% block content %}

<h1>Team {{team.team_number}}</h1>

<div class="btn-group">
    <a href="/team/{{team.team_number}}" class="btn btn-default"><span class="glyphicon glyphicon-eye-open"></span> View on TBA</a>
    <a href="/backend-tasks/get/team_details/{{team.key.id}}" class="btn btn-default"><span class="glyphicon glyphicon-refresh"></span> Refresh from FIRST</a>
    <a href="/backend-tasks/do/team_blacklist_website/{{team.key.id}}" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Blacklist website</a>
</div>
<hr>

<div class="row">
<div class="col-sm-12">
  <ul class="nav nav-tabs nav-justified">
    <li class="active"><a href="#info" data-toggle="tab">Info</a></li>
    <li><a href="#media" data-toggle="tab">Media</a></li>
    <li><a href="#robots" data-toggle="tab">Robot Names</a></li>
  </ul>
</div>
</div>

<div class="tab-content">
<div class="tab-pane active" id="info">
<div class="row">
<table class="table table-striped table-hover">
    <tr>
        <td>Name</td>
        <td>{{ team.name }}</td>
    </tr>
    <tr>
        <td>Nickname</td>
        <td>{{ team.nickname }}</td>
    </tr>
    <tr>
        <td>Rookie Year</td>
        <td>{{ team.rookie_year }}</td>
    </tr>
    <tr>
        <td>Home CMP</td>
        <td>{{ team.home_cmp }}</td>
    </tr>
    <tr>
        <td>Motto</td>
        <td>{{ team.motto }}</td>
    </tr>
    <tr>
        <td>School Name</td>
        <td>{{ team.school_name }}</td>
    </tr>
    <tr>
        <td>City</td>
        <td>{{ team.city }}</td>
    </tr>
    <tr>
        <td>State/Prov</td>
        <td>{{ team.state_prov }}</td>
    </tr>
    <tr>
        <td>Postal Code</td>
        <td>{{ team.postalcode }}</td>
    </tr>
    <tr>
        <td>Country</td>
        <td>{{ team.country }}</td>
    </tr>
    <tr>
        <td>Normalized Location</td>
        <td>{{ team.normalized_location }}</td>
    </tr>
    <tr>
        <td>Website</td>
        <td>{{ team.website }}</td>
    </tr>
    <tr>
        <td>FIRST TPID, year</td>
        <td>{{ team.first_tpid }}, {{ team.first_tpid_year }}</td>
    </tr>
    <tr>
        <td>Events</td>
        <td>{{event_teams|length}} Events - {% for event_team in event_teams %}<a href="/admin/event/{{event_team.event.id}}">{{event_team.event.id}}</a>, {% endfor %}</td>
    </tr>
    <tr>
        <td>Robots</td>
        <td>
            {% for robot in robots %}
                {{ robot.year }}: {{ robot.robot_name }}
                {% if not forloop.last %}<br>{% endif %}
            {% endfor %}
        </td>
    </tr>
    <tr>
        <td>Districts</td>
        <td>
            {% for district_team in district_teams %}
                {{district_team.key.id}}
                {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </td>
    </tr>
</table>

<p>Teams are currently uneditable. They are updated via FRC API scraping.</p>

</div>
</div>

<div class="tab-pane" id="media">
<div class="row">
<h2>Add Media</h2>
<form action="/admin/media/add_media" method="post">
    <table class="table table-striped table-hover table-condensed">
        <tr>
            <td>URL</td>
            <td><input class="form-control" name="media_url" type="text" placeholder="https://www.chiefdelphi.com/media/photos/39142"></td>
        </tr>
        <tr>
            <td>Year (can be blank)</td>
            <td><input class="form-control" name="year" type="text"></td>
        </tr>
    </table>
    <input name="reference_key" type="hidden" value="frc{{team.team_number}}" />
    <input name="reference_type" type="hidden" value="team" />
    <input name="originating_url" type="hidden" value="/admin/team/{{team.team_number}}" />
    <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-thumbs-up"></span> Add Media</button>
</form>


<h2>Media</h2>
{% for year in team_media_years %}
  {% if year == None %}
    <h3>No Year:</h3>
  {% else %}
    <h3>{{year}}:</h3>
  {% endif %}
  <ul>
  <table class="table table-striped table-hover table-condensed">
  <tr><th>Media</th><th>Details</th><th>Tags</th></tr>
  {% for media in team_medias_by_year|get_item:year %}
    {% include "partials/admin_media_display.html" %}
  {% endfor %}
  </table>
  </ul>
{% endfor %}

</div>
</div>

<div class="tab-pane" id="robots">
<div class="row">
<h2>Update Robot Name</h2>
<strong>Current Robot Names:</strong>
<ul>
{% for robot in robots %}
  <li>{{ robot.year }}: {{ robot.robot_name }}</li>
{% endfor %}
</ul>

<p><i>Note:</i> Don't change the current year's robot name, as it will be clobbered by FRC API calls</p>
<form action="/admin/team/set_robot_name" method="post">
  <table class="table table-striped table-hover table-condensed">
    <tr>
      <td>Year</td>
      <td>
        <select name="robot_year">
        {% for year in years_participated %}
          <option value="{{ year }}">{{ year }}</option>
        {% endfor %}
        </select>
      </td>
    </tr>
    <tr>
      <td>Robot Name</td>
      <td><input class="form-control" name="robot_name" type="text" /></td>
    </tr>
  </table>
  <input type="hidden" name="team_key" value="{{ team.key_name }}" />
  <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-thumbs-up"></span> Add Robot Name</button>
</form>
</div>
</div>
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Confirm media reference removal
            </div>
            <div class="modal-body">
                Are you sure you want to remove this reference to this media? References to other models will persist.
            </div>
            <div class="modal-footer">
                <form id="delete_media_form" method="post">
                <input name="reference_type" type="hidden" value="team" />
                <input name="reference_key_name" type="hidden" value="{{team.key_name}}" />
                <input name="originating_url" type="hidden" value="/admin/team/{{team.team_number}}" />

                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button class="btn btn-danger" type="submit"><span class="glyphicon glyphicon-delete"></span> Remove reference</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="make-preferred" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Make Preferred Confirmation
            </div>
            <div class="modal-body">
                Are you sure you want make this media preferred?
            </div>
            <div class="modal-footer">
                <form id="make_preferred_form" method="post">
                <input name="reference_type" type="hidden" value="team" />
                <input name="reference_key_name" type="hidden" value="{{team.key_name}}" />
                <input name="originating_url" type="hidden" value="/admin/team/{{team.team_number}}" />

                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button class="btn btn-success" type="submit"><span class="glyphicon glyphicon-star"></span> Make Preferred</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="remove-preferred" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Remove Preferred Confirmation
            </div>
            <div class="modal-body">
                Are you sure you want to make this this media not preferred?
            </div>
            <div class="modal-footer">
                <form id="remove_preferred_form" method="post">
                <input name="reference_type" type="hidden" value="team" />
                <input name="reference_key_name" type="hidden" value="{{team.key_name}}" />
                <input name="originating_url" type="hidden" value="/admin/team/{{team.team_number}}" />

                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button class="btn btn-success" type="submit"><span class="glyphicon glyphicon-star-empty"></span> Remove Preferred</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function(){
    $('#confirm-delete').on('show.bs.modal', function(e) {
        $(this).find('#delete_media_form').attr('action', '/admin/media/delete_reference/' + $(e.relatedTarget).data('key-name'));
    });

    $('#make-preferred').on('show.bs.modal', function(e) {
        $(this).find('#make_preferred_form').attr('action', '/admin/media/make_preferred/' + $(e.relatedTarget).data('key-name'));
    });

    $('#remove-preferred').on('show.bs.modal', function(e) {
        $(this).find('#remove_preferred_form').attr('action', '/admin/media/remove_preferred/' + $(e.relatedTarget).data('key-name'));
    });
});
</script>

{% endblock %}
