{% extends "base.html" %}

{% block title %}{{user.display_name}} - Edit{% endblock %}

{% block content %}

<h1>{{ user.display_name }} </h1>

<form action="/admin/user/edit/{{user.key.id}}" method="post">
    <legend>Edit {{ user.key.id }}</legend>
    <table class="table table-striped table-hover table-condensed">
        <tr>
            <td>Name</td>
            <td><input type="text" name="name" value="{{user.display_name}}" /></td>
        </tr>
    </table>

    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-thumbs-up icon-white"></span> Save User</button>
    <a href="/admin/user/{{user.key.id}}" class="btn btn-default"><span class="glyphicon glyphicon-thumbs-down"></span> Cancel Edit</a>
</form>

{% endblock %}
