{% extends "base.html" %}

{% block title %}Add Videos{% endblock %}

{% block content %}

<h1>Add lots of Videos</h1>

{% if results %}
<div class="alert alert-warning">
    <strong>Bad Match:</strong> {{ results.bad_match }}
</div>
<div class="alert alert-info">
    <strong>Existing:</strong> {{ results.existing }}
</div>
<div class="alert alert-success">
    <strong>Added:</strong> {{ results.added }}
</div>
{% endif %}

<p>You're probably adding from the <a href="https://docs.google.com/spreadsheet/ccc?key=0ApRO2Yzh2z01dExFZEdieV9WdTJsZ25HSWI3VUxsWGc#gid=0">YouTube Videos Google Doc</a>.</p>
<p>Copy paste into a text editor, use regular expression find/replaces to get it into the JSON format, then paste it here.</p>

<form action="/admin/videos/add" method="post">
    <legend>Add YouTube Videos</legend>
    <textarea type="text" name="youtube_additions_json" placeholder="Paste some JSON…" rows="6" cols="60"></textarea>
    <span class="help-block">Should be like <pre>{"videos":[["2012ga_qm31", "cVafTRmQf_M"],["2012ga_qm38","V9jRvTS-0UM"]]}</pre></span>
    <button type="submit" class="btn btn-primary">Add Videos</button>
</form>

{% endblock %}
