@import "normalize.less";
@import "sidebars.less";
@import "nowebcasts.less";
@import "videojs.less";
@import "livescore.less";

@navbar-height: 50px;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background: black;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

#content {
  height: 100%;
  overflow: hidden;
}

.container-full {
  position: relative;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#twitter-widget {
  height: 100%;
  background: white;
}
iframe[id^='twitter-widget-'] {
  height: 100% !important;
}

.layout-selection-panel {
  max-width: 800px;
  height: 100%;
  margin: auto;
  padding: 0 15px;
  overflow-x: hidden;
  overflow-y: auto;
  color: white;
  h1 {
    text-align: center;
  }
  .layout-preview-container {
    text-align: center;
    padding-top: 20px;
    cursor: pointer;
    transition: all .15s ease-in-out;
    &:hover {
      //background-color: #444;
      transform: scale(1.1);
      z-index: 5;
    }
    &:active {
      transform: scale(1.2);
      z-index: 5;
    }
  }
  .layout-preview {
    width: 160px;
    height: 90px;
    position: relative;
    display: inline-block;
  }
  div[class^="video-"] {
    background-color: white;
    padding: 1px;
    background-clip: content-box;
  }
}
