@theme inline {
  /* California */
  --color-district-ca: oklch(0.818 0.168 81.3);
  /* Chesapeake */
  --color-district-chs: oklch(0.658 0.1 199.3);
  /* Indiana */
  --color-district-fin: oklch(0.62 0.186 24.3);
  /* Israel */
  --color-district-isr: oklch(0.828 0.101 230.3);
  /* Michigan */
  --color-district-fim: oklch(0.711 0.035 256.8);
  /* Mid-Atlantic */
  --color-district-fma: oklch(0.685 0.096 291.3);
  /* New England */
  --color-district-ne: oklch(0.309 0.166 278.9);
  /* North Carolina */
  --color-district-fnc: oklch(0.716 0.088 252.2);
  /* Ontario */
  --color-district-ont: oklch(0.593 0.207 269.4);
  /* Pacific Northwest */
  --color-district-pnw: oklch(0.628 0.107 166.2);
  /* Peachtree */
  --color-district-pch: oklch(0.834 0.09 35.9);
  /* South Carolina */
  --color-district-fsc: oklch(0.651 0.103 160.3);
  /* Texas */
  --color-district-fit: oklch(0.661 0.167 44.1);
  /* Wisconsin */
  --color-district-win: oklch(0.643 0.212 355.2);
}
