{% extends "base.html" %}

{% block title %}The Blue Alliance{% endblock %}
{% block schema_org_markup %}{% include "index_partials/schema_org_markup.html" %}{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-5 col-lg-4">
      {% include "index_partials/index_lhc_offseason.html" %}
    </div>
    <div class="col-sm-7 col-lg-8">
      {% include "media_partials/live_special_webcast_partial.html" %}

      {% if events and events|length > 0 %}
        <h2>This Week's Events</h2>
        {% include "event_partials/event_table.html" %}
        <hr>
      {% endif %}

      <h2>Kickoff {{kickoff_datetime_est|strftime("%Y")}}!</h2>
      <div id="countdown-finish-time">{{kickoff_datetime_utc|isoformat}}</div>
      <h3 class="countdown">
        <span class="countdown-number countdown-days">--</span><span class="countdown-label day-label">D </span>
        <span class="countdown-number countdown-hours">--</span><span class="countdown-label">H </span>
        <span class="countdown-number countdown-minutes">--</span><span class="countdown-label">M </span>
        <span class="countdown-number countdown-seconds">--</span><span class="countdown-label">S</span>
        <small>until Kickoff</small>
      </h3>
      {% if is_kickoff %}
      <p>
        <a class="btn btn-lg btn-success btn-block" href="/watch/kickoff"><span class="glyphicon glyphicon-play"></span> Watch Kickoff Live</a>
      </p>
      {% else %}
        <p>Come back at {{kickoff_datetime_est|strftime("%-I:%M%p")}} EST on {{kickoff_datetime_est|strftime("%B %-d%t, %Y")}} to watch live!</p>
      {% endif %}
      {% if kickoff_facebook_fbid %}
      <p><a class="btn btn-default btn-block" href="https://www.facebook.com/events/{{kickoff_facebook_fbid}}" target="_blank" rel="noopener noreferrer"><span class="glyphicon glyphicon-calendar"></span> RSVP on Facebook</a></p>
      {% endif %}
      <div>
        <a class="btn btn-default" href="https://www.firstinspires.org/robotics/frc/game-and-season" target="_blank" rel="noopener noreferrer"><span class="glyphicon glyphicon-info-sign"></span> <i>FIRST</i> {{year}} Game and Season Resources</a>
        <!-- <span class="glyphicon glyphicon-globe"></span> <a href="https://www.firstinspires.org/robotics/frc/kickoff" target="_blank" rel="noopener noreferrer" title="FIRST Kickoff Page"><em>FIRST</em> Kickoff Page</a><br> -->
        <br>
        <div class="fitvids">
          <iframe width="420" height="315" src="https://www.youtube.com/embed/{{game_teaser_youtube_id}}" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
