<meta property="og:title" content="Team {{team.team_number}}" />
<meta property="og:type" content="sports_team" />
<meta property="og:url" content="http://thebluealliance.com/team/{{team.team_number}}" />
<meta property="og:image" content="http://www.thebluealliance.com/images/first_logo.png" />
<meta property="og:description" content="FIRST Robotics Competition team{% if team.location %} from {{team.location}}{% endif %}."/>
<meta property="og:site_name" content="The Blue Alliance" />
{% if team.locality %}<meta property="og:locality" content="{{team.locality}}" />{% endif %}
{% if team.region %}<meta property="og:region" content="{{team.region}}" />{% endif %}
{% if team.country_name %}<meta property="og:country-name" content="{{team.country_name}}" />{% endif %}
