<div id="team-info" class="row hidden-xs">
  <div class="col-xs-12">
    <h2>Team {{team.team_number}}{% if team.nickname %} - {{team.nickname}}{% endif %}</h2>
  </div>
</div>

<div class="row">
  <div class="col-sm-7">
    <p>
      {% if team.location %}<span class="glyphicon glyphicon-map-marker"></span> from <a href="http://maps.google.com/maps?q={{ team.location|urlencode }}">{{ team.location }}</a><br />{% endif %}
      {% if team.name %}<span class="glyphicon glyphicon-info-sign"></span> aka <em>{{ team.name }}</em><br />{% endif %}
      {% if team.rookie_year %}<span class="glyphicon glyphicon-calendar"></span> first competed in {{ team.rookie_year }}{% endif %}
      {% if team.website %}<span class="glyphicon glyphicon-globe"></span> <a href="{{team.website}}" target="_blank">{{ team.website }}</a>{% endif %}
    </p>

    <p><span class="glyphicon glyphicon-search"></span> <strong>#frc{{ team.team_number }}</strong> <small><a href="/hashtags" rel="tooltip" title="Learn more about hashtags">?</a></small> - Search
      <a class="hashtag-link hashtag-twitter" href="https://twitter.com/search/%23frc{{ team.team_number }}" target="_blank" title="Search Twitter">Twitter</a> &middot;
      <a class="hashtag-link hashtag-youtube" href="http://www.youtube.com/results?search_query=%23frc{{ team.team_number }}+OR+%22team+{{ team.team_number }}%22" target="_blank" title="Search YouTube">YouTube</a> &middot;
      <a class="hashtag-link hashtag-cd" href="http://www.chiefdelphi.com/media/photos/tags/frc{{ team.team_number }}" target="_blank" title="Search Chief Delphi">Chief Delphi</a> &middot;
      <a class="hashtag-link hashtag-flickr" href="http://www.flickr.com/search/?q=%23frc{{ team.team_number }}" target="_blank" title="Search Flickr">Flickr</a><br />
      <span class="image-atc"></span> <a href="http://atthecontrol.com/{{team.team_number}}">See live data on At The Control</a>
    </p>

    {% include "team_partials/team_social_media.html" %}
  </div>
  <div class="col-sm-5">
  {% if current_event %}
    <div class="panel panel-default">
      <div class="panel-heading">
        {% if current_event.webcast%}
          <div class="hidden-xs pull-right">
            <a class="btn btn-success" href="{{current_event.gameday_url}}" target="_blank"><span class="glyphicon glyphicon-facetime-video"></span> Watch now</a>
          </div>
        {% endif %}
        <h3 class="panel-title">
          Currently competing at:<br>
          <a href="/event/{{ current_event.key_name }}"><strong>{{ current_event.name }}</strong></a>
        </h3>
      </div>
      <div class="clearfix"></div>
      <div class="panel-body">
      {% if matches_upcoming %}
        <h4>Upcoming Matches</h4>
        {% with matches_upcoming as matches %}
          {% include "match_partials/upcoming_match_table.html" %}
        {% endwith %}
      {% else %}
        No upcoming matches.
      {% endif %}
      </div>
    </div>
  {% else %}
    {% if medias_by_slugname.cdphotothread %}
      {% include "media_partials/image_carousel_partial.html" %}
    {% else %}
      {% if year %}
        <a class="btn btn-lg btn-success btn-block" href="/suggest/team/media?team_key={{team.key_name}}&year={{year}}" target="_blank"><span class="glyphicon glyphicon-plus"></span> Add robot image!</a>
      {% endif %}
    {% endif %}
  {% endif %}
  </div>
</div>
