{
  "swagger": "2.0",
  "info": {
    "description": "# Overview \n\n Information and statistics about FIRST Robotics Competition teams and events. \n\n# Authentication \n\nAll endpoints require an Auth Key to be passed in the header `X-TBA-Auth-Key`. If you do not have an auth key yet, you can obtain one from your [Account Page](/account). \n\n A `User-Agent` header may need to be set to prevent a 403 Unauthorized error.",
    "version": "3.03.1",
    "title": "The Blue Alliance API v3",
    "x-version-info": "Versions of the API follow the format X.Y.Z, with X being a major version, Y denoting the minor version, and Z the point release. Changes to the spec or API that result in a major version change will significantly impact implementations. Changes to the minor version indicate paths and/or fields in existing models may be added, and any breaking changes will be confined to paths or models listed as in-development in the prior minor version. Changes to the point release indicate no format or structure changes to the paths or models, but updated or clarified documentation. Note that changes to paths and models refer to the actual result from the API, not the documentation.",
    "x-changes": "3.03.0 - 3.03.1: Fix model of /team/{team_key}/robots to match API, add min and max for year and add min for page_num. 3.02.1 - 3.03.0: Added Timeseries models and endpoints. 3.02.0 - 3.02.1: Fixed the model for `/team/{team_key}/districts` to match return from API. 3.1.0 - 3.02.0: Added `tba_gameData` to score breakdown and a leading zero to the minor version number to allow for easier sorting later. 3.0.5 - 3.1.0: Version bump for 2018 added fields and endpoints. Models Updated: `Team_Event_Status`, `Media`, 2018 Score Breakdowns. Endpoints Added: `/team/{team_key}/events/{year}/statuses`, `/event/{event_key}/teams/statuses` 3.0.4 - 3.0.5: Minor spelling fixes. Remove 2016 fields from `Match_Score_Breakdown_2017_Alliance` model. Fix `first_event_id` in `Event` model to correct type. Update `Media`.`type` enum. --- 3.0.3 - 3.0.4: Correct syntax in `Team_Event_Status_playoff` object, include descriptions in `Event_District_Points` and fix the path in `Team_Event_Status_playoff.properties.record` in order to more closely match Swagger spec. Fix syntax of `Match.video` to be correct and accurately reflect what is returned by the API. --- 3.0.2 - 3.0.3: `extra_stats` and `extra_stats_info` added to `Event_Ranking` model. Corrected match video property claiming to use the `Media` model, which it doesn't. Added `first_event_code` to the `Event` model. Added `/team/{team_key}/media/tag/{media_tag}` and year endpoints. Added `dq_team_keys` to `Match_alliance` model.  --- 3.0.1 - 3.0.2: `Team_Event_Status` and `Event_Ranking` model documentation changed to reflect actual API return. Changes involved W-L-T and ranking properties. --- 3.0.0 - 3.0.1: Descriptions updated to clarify some terms and improve grammar. The `district` property on the `Event` object now points to the `District_List` model, which was identical. `Required` fields on fully documented models now represent fields that may not be `null`. `District_Ranking` model documented."
  },
  "host": "www.thebluealliance.com",
  "basePath": "/api/v3",
  "tags": [
    {
      "name": "TBA",
      "description": "Calls that expose TBA internals or status."
    },
    {
      "name": "list",
      "description": "Calls that return a list of records."
    },
    {
      "name": "team",
      "description": "Calls that return team or team-specific information."
    },
    {
      "name": "event",
      "description": "Calls that return event, or event-specific information."
    },
    {
      "name": "match",
      "description": "Calls that return match, or match-specific information."
    },
    {
      "name": "district",
      "description": "Calls that return district, or district-related information."
    }
  ],
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "apiKey": {
      "description": "Your TBA v3 API Key can be obtained from your [Account Page](/account) on the TBA website.",
      "type": "apiKey",
      "name": "X-TBA-Auth-Key",
      "in": "header"
    }
  },
  "parameters": {
    "If-Modified-Since": {
      "name": "If-Modified-Since",
      "in": "header",
      "description": "Value of the `Last-Modified` header in the most recently cached response by the client.",
      "required": false,
      "type": "string"
    },
    "page_num": {
      "name": "page_num",
      "in": "path",
      "description": "Page number of results to return, zero-indexed",
      "required": true,
      "type": "integer"
    },
    "year": {
      "name": "year",
      "in": "path",
      "description": "Competition Year (or Season). Must be 4 digits.",
      "required": true,
      "type": "integer"
    },
    "media_tag": {
      "name": "media_tag",
      "in": "path",
      "description": "Media Tag which describes the Media.",
      "required": true,
      "type": "string"
    },
    "team_key": {
      "name": "team_key",
      "in": "path",
      "description": "TBA Team Key, eg `frc254`",
      "required": true,
      "type": "string"
    },
    "event_key": {
      "name": "event_key",
      "in": "path",
      "description": "TBA Event Key, eg `2016nytr`",
      "required": true,
      "type": "string"
    },
    "match_key": {
      "name": "match_key",
      "in": "path",
      "description": "TBA Match Key, eg `2016nytr_qm1`",
      "required": true,
      "type": "string"
    },
    "district_key": {
      "name": "district_key",
      "in": "path",
      "description": "TBA District Key, eg `2016fim`",
      "required": true,
      "type": "string"
    }
  },
  "responses": {
    "Unauthorized": {
      "description": "Not Authorized - No TBA v3 API Key was provided, or it is not valid."
    },
    "NotModified": {
      "description": "Not Modified - Use Local Cached Value"
    }
  },
  "paths": {
    "/status": {
      "get": {
        "operationId": "getStatus",
        "tags": [
          "TBA"
        ],
        "description": "Returns API status, and TBA status information.",
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/API_Status"
            },
            "headers": {
              "Last-Modified": {
                "type": "string",
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header."
              },
              "Cache-Control": {
                "type": "string",
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly."
              }
            }
          },
          "304": {
            "$ref": "#/responses/NotModified"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/teams/{page_num}": {
      "get": {
        "operationId": "getTeams",
        "tags": [
          "team",
          "list"
        ],
        "description": "Gets a list of `Team` objects, paginated in groups of 500.",
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/page_num"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Team"
              }
            },
            "headers": {
              "Last-Modified": {
                "type": "string",
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header."
              },
              "Cache-Control": {
                "type": "string",
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly."
              }
            }
          },
          "304": {
            "$ref": "#/responses/NotModified"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/teams/{page_num}/simple": {
      "x-comment": "Simple (non-full) responses need a separate path definition. See also https://github.com/OAI/OpenAPI-Specification/issues/270",
      "get": {
        "operationId": "getTeamsSimple",
        "tags": [
          "team",
          "list"
        ],
        "description": "Gets a list of short form `Team_Simple` objects, paginated in groups of 500.",
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/page_num"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Team_Simple"
              }
            },
            "headers": {
              "Last-Modified": {
                "type": "string",
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header."
              },
              "Cache-Control": {
                "type": "string",
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly."
              }
            }
          },
          "304": {
            "$ref": "#/responses/NotModified"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/teams/{page_num}/keys": {
      "get": {
        "operationId": "getTeamsKeys",
        "tags": [
          "team",
          "list"
        ],
        "description": "Gets a list of Team keys, paginated in groups of 500. (Note, each page will not have 500 teams, but will include the teams within that range of 500.)",
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/page_num"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "headers": {
              "Last-Modified": {
                "type": "string",
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header."
              },
              "Cache-Control": {
                "type": "string",
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly."
              }
            }
          },
          "304": {
            "$ref": "#/responses/NotModified"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/teams/{year}/{page_num}": {
      "get": {
        "operationId": "getTeamsByYear",
        "tags": [
          "team",
          "list"
        ],
        "description": "Gets a list of `Team` objects that competed in the given year, paginated in groups of 500.",
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/year"
          },
          {
            "$ref": "#/parameters/page_num"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Team"
              }
            },
            "headers": {
              "Last-Modified": {
                "type": "string",
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header."
              },
              "Cache-Control": {
                "type": "string",
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly."
              }
            }
          },
          "304": {
            "$ref": "#/responses/NotModified"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/teams/{year}/{page_num}/simple": {
      "get": {
        "operationId": "getTeamsByYearSimple",
        "tags": [
          "team",
          "list"
        ],
        "description": "Gets a list of short form `Team_Simple` objects that competed in the given year, paginated in groups of 500.",
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/year"
          },
          {
            "$ref": "#/parameters/page_num"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Team_Simple"
              }
            },
            "headers": {
              "Last-Modified": {
                "type": "string",
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header."
              },
              "Cache-Control": {
                "type": "string",
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly."
              }
            }
          },
          "304": {
            "$ref": "#/responses/NotModified"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/teams/{year}/{page_num}/keys": {
      "get": {
        "operationId": "getTeamsByYearKeys",
        "tags": [
          "team",
          "list"
        ],
        "description": "Gets a list Team Keys that competed in the given year, paginated in groups of 500.",
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/year"
          },
          {
            "$ref": "#/parameters/page_num"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "array",
              "description": "Array of Team Keys",
              "items": {
                "type": "string"
              }
            },
            "headers": {
              "Last-Modified": {
                "type": "string",
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header."
              },
              "Cache-Control": {
                "type": "string",
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly."
              }
            }
          },
          "304": {
            "$ref": "#/responses/NotModified"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/team/{team_key}": {
      "get": {
        "operationId": "getTeam",
        "tags": [
          "team"
        ],
        "description": "Gets a `Team` object for the team referenced by the given key.",
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/team_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Team"
            },
            "headers": {
              "Last-Modified": {
                "type": "string",
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header."
              },
              "Cache-Control": {
                "type": "string",
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly."
              }
            }
          },
          "304": {
            "$ref": "#/responses/NotModified"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/team/{team_key}/simple": {
      "get": {
        "operationId": "getTeamSimple",
        "tags": [
          "team"
        ],
        "description": "Gets a `Team_Simple` object for the team referenced by the given key.",
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/team_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Team_Simple"
            },
            "headers": {
              "Last-Modified": {
                "type": "string",
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header."
              },
              "Cache-Control": {
                "type": "string",
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly."
              }
            }
          },
          "304": {
            "$ref": "#/responses/NotModified"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/team/{team_key}/years_participated": {
      "get": {
        "operationId": "getTeamYearsParticipated",
        "tags": [
          "team"
        ],
        "description": "Gets a list of years in which the team participated in at least one competition.",
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/team_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            },
            "headers": {
              "Last-Modified": {
                "type": "string",
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header."
              },
              "Cache-Control": {
                "type": "string",
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly."
              }
            }
          },
          "304": {
            "$ref": "#/responses/NotModified"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/team/{team_key}/districts": {
      "get": {
        "operationId": "getTeamDistricts",
        "tags": [
          "team",
          "district"
        ],
        "description": "Gets an array of districts representing each year the team was in a district. Will return an empty array if the team was never in a district.",
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/team_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/District_List"
              }
            },
            "headers": {
              "Last-Modified": {
                "type": "string",
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header."
              },
              "Cache-Control": {
                "type": "string",
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly."
              }
            }
          },
          "304": {
            "$ref": "#/responses/NotModified"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/team/{team_key}/robots": {
      "get": {
        "operationId": "getTeamRobots",
        "tags": [
          "team"
        ],
        "description": "Gets a list of year and robot name pairs for each year that a robot name was provided. Will return an empty array if the team has never named a robot.",
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/team_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Team_Robot"
              }
            },
            "headers": {
              "Last-Modified": {
                "type": "string",
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header."
              },
              "Cache-Control": {
                "type": "string",
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly."
              }
            }
          },
          "304": {
            "$ref": "#/responses/NotModified"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/team/{team_key}/events": {
      "get": {
        "operationId": "getTeamEvents",
        "tags": [
          "team",
          "event"
        ],
        "description": "Gets a list of all events this team has competed at.",
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/team_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Event"
              }
            },
            "headers": {
              "Last-Modified": {
                "type": "string",
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header."
              },
              "Cache-Control": {
                "type": "string",
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly."
              }
            }
          },
          "304": {
            "$ref": "#/responses/NotModified"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/team/{team_key}/events/simple": {
      "get": {
        "operationId": "getTeamEventsSimple",
        "tags": [
          "team",
          "event"
        ],
        "description": "Gets a short-form list of all events this team has competed at.",
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/team_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Event_Simple"
              }
            },
            "headers": {
              "Last-Modified": {
                "type": "string",
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header."
              },
              "Cache-Control": {
                "type": "string",
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly."
              }
            }
          },
          "304": {
            "$ref": "#/responses/NotModified"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/team/{team_key}/events/keys": {
      "get": {
        "operationId": "getTeamEventsKeys",
        "tags": [
          "team",
          "event"
        ],
        "description": "Gets a list of the event keys for all events this team has competed at.",
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/team_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "array",
              "description": "Array of Event Keys",
              "items": {
                "type": "string"
              }
            },
            "headers": {
              "Last-Modified": {
                "type": "string",
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header."
              },
              "Cache-Control": {
                "type": "string",
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly."
              }
            }
          },
          "304": {
            "$ref": "#/responses/NotModified"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/team/{team_key}/events/{year}": {
      "get": {
        "operationId": "getTeamEventsByYear",
        "tags": [
          "team",
          "event"
        ],
        "description": "Gets a list of events this team has competed at in the given year.",
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/team_key"
          },
          {
            "$ref": "#/parameters/year"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Event"
              }
            },
            "headers": {
              "Last-Modified": {
                "type": "string",
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header."
              },
              "Cache-Control": {
                "type": "string",
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly."
              }
            }
          },
          "304": {
            "$ref": "#/responses/NotModified"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/team/{team_key}/events/{year}/simple": {
      "get": {
        "operationId": "getTeamEventsByYearSimple",
        "tags": [
          "team",
          "event"
        ],
        "description": "Gets a short-form list of events this team has competed at in the given year.",
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/team_key"
          },
          {
            "$ref": "#/parameters/year"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Event_Simple"
              }
            },
            "headers": {
              "Last-Modified": {
                "type": "string",
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header."
              },
              "Cache-Control": {
                "type": "string",
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly."
              }
            }
          },
          "304": {
            "$ref": "#/responses/NotModified"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/team/{team_key}/events/{year}/keys": {
      "get": {
        "operationId": "getTeamEventsByYearKeys",
        "tags": [
          "team",
          "event"
        ],
        "description": "Gets a list of the event keys for events this team has competed at in the given year.",
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/team_key"
          },
          {
            "$ref": "#/parameters/year"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "array",
              "description": "Array of Event Keys",
              "items": {
                "type": "string"
              }
            },
            "headers": {
              "Last-Modified": {
                "type": "string",
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header."
              },
              "Cache-Control": {
                "type": "string",
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly."
              }
            }
          },
          "304": {
            "$ref": "#/responses/NotModified"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/team/{team_key}/events/{year}/statuses": {
      "get": {
        "operationId": "getTeamEventsStatusesByYear",
        "tags": [
          "list",
          "team",
          "event"
        ],
        "description": "Gets a key-value list of the event statuses for events this team has competed at in the given year.",
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/team_key"
          },
          {
            "$ref": "#/parameters/year"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "object",
              "description": "A key-value pair of `Team_Event_Status` objects with the event key as the key.",
              "additionalProperties": {
                "$ref": "#/definitions/Team_Event_Status"
              }
            },
            "headers": {
              "Last-Modified": {
                "type": "string",
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header."
              },
              "Cache-Control": {
                "type": "string",
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly."
              }
            }
          },
          "304": {
            "$ref": "#/responses/NotModified"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/team/{team_key}/event/{event_key}/matches": {
      "get": {
        "operationId": "getTeamEventMatches",
        "tags": [
          "team",
          "event",
          "match"
        ],
        "description": "Gets a list of matches for the given team and event.",
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/team_key"
          },
          {
            "$ref": "#/parameters/event_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Match"
              }
            },
            "headers": {
              "Last-Modified": {
                "type": "string",
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header."
              },
              "Cache-Control": {
                "type": "string",
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly."
              }
            }
          },
          "304": {
            "$ref": "#/responses/NotModified"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/team/{team_key}/event/{event_key}/matches/simple": {
      "get": {
        "operationId": "getTeamEventMatchesSimple",
        "tags": [
          "team",
          "event",
          "match"
        ],
        "description": "Gets a short-form list of matches for the given team and event.",
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/team_key"
          },
          {
            "$ref": "#/parameters/event_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Match"
              }
            },
            "headers": {
              "Last-Modified": {
                "type": "string",
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header."
              },
              "Cache-Control": {
                "type": "string",
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly."
              }
            }
          },
          "304": {
            "$ref": "#/responses/NotModified"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/team/{team_key}/event/{event_key}/matches/keys": {
      "get": {
        "operationId": "getTeamEventMatchesKeys",
        "tags": [
          "team",
          "event",
          "match"
        ],
        "description": "Gets a list of match keys for matches for the given team and event.",
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/team_key"
          },
          {
            "$ref": "#/parameters/event_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "array",
              "description": "Array of Match Keys",
              "items": {
                "type": "string"
              }
            },
            "headers": {
              "Last-Modified": {
                "type": "string",
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header."
              },
              "Cache-Control": {
                "type": "string",
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly."
              }
            }
          },
          "304": {
            "$ref": "#/responses/NotModified"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/team/{team_key}/event/{event_key}/awards": {
      "get": {
        "operationId": "getTeamEventAwards",
        "tags": [
          "team",
          "event"
        ],
        "description": "Gets a list of awards the given team won at the given event.",
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/team_key"
          },
          {
            "$ref": "#/parameters/event_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Award"
              }
            },
            "headers": {
              "Last-Modified": {
                "type": "string",
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header."
              },
              "Cache-Control": {
                "type": "string",
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly."
              }
            }
          },
          "304": {
            "$ref": "#/responses/NotModified"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/team/{team_key}/event/{event_key}/status": {
      "get": {
        "operationId": "getTeamEventStatus",
        "tags": [
          "team",
          "event"
        ],
        "description": "Gets the competition rank and status of the team at the given event.",
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/team_key"
          },
          {
            "$ref": "#/parameters/event_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Team_Event_Status"
            },
            "headers": {
              "Last-Modified": {
                "type": "string",
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header."
              },
              "Cache-Control": {
                "type": "string",
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly."
              }
            }
          },
          "304": {
            "$ref": "#/responses/NotModified"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/team/{team_key}/awards": {
      "get": {
        "operationId": "getTeamAwards",
        "tags": [
          "team"
        ],
        "description": "Gets a list of awards the given team has won.",
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/team_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Award"
              }
            },
            "headers": {
              "Last-Modified": {
                "type": "string",
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header."
              },
              "Cache-Control": {
                "type": "string",
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly."
              }
            }
          },
          "304": {
            "$ref": "#/responses/NotModified"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/team/{team_key}/awards/{year}": {
      "get": {
        "operationId": "getTeamAwardsByYear",
        "tags": [
          "team"
        ],
        "description": "Gets a list of awards the given team has won in a given year.",
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/team_key"
          },
          {
            "$ref": "#/parameters/year"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Award"
              }
            },
            "headers": {
              "Last-Modified": {
                "type": "string",
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header."
              },
              "Cache-Control": {
                "type": "string",
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly."
              }
            }
          },
          "304": {
            "$ref": "#/responses/NotModified"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/team/{team_key}/matches/{year}": {
      "get": {
        "operationId": "getTeamMatchesByYear",
        "tags": [
          "team",
          "match"
        ],
        "description": "Gets a list of matches for the given team and year.",
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/team_key"
          },
          {
            "$ref": "#/parameters/year"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Match"
              }
            },
            "headers": {
              "Last-Modified": {
                "type": "string",
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header."
              },
              "Cache-Control": {
                "type": "string",
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly."
              }
            }
          },
          "304": {
            "$ref": "#/responses/NotModified"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/team/{team_key}/matches/{year}/simple": {
      "get": {
        "operationId": "getTeamMatchesByYearSimple",
        "tags": [
          "team",
          "match"
        ],
        "description": "Gets a short-form list of matches for the given team and year.",
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/team_key"
          },
          {
            "$ref": "#/parameters/year"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Match_Simple"
              }
            },
            "headers": {
              "Last-Modified": {
                "type": "string",
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header."
              },
              "Cache-Control": {
                "type": "string",
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly."
              }
            }
          },
          "304": {
            "$ref": "#/responses/NotModified"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/team/{team_key}/matches/{year}/keys": {
      "get": {
        "operationId": "getTeamMatchesByYearKeys",
        "tags": [
          "team",
          "match"
        ],
        "description": "Gets a list of match keys for matches for the given team and year.",
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/team_key"
          },
          {
            "$ref": "#/parameters/year"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "array",
              "description": "Array of Match Keys",
              "items": {
                "type": "string"
              }
            },
            "headers": {
              "Last-Modified": {
                "type": "string",
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header."
              },
              "Cache-Control": {
                "type": "string",
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly."
              }
            }
          },
          "304": {
            "$ref": "#/responses/NotModified"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/team/{team_key}/media/{year}": {
      "get": {
        "operationId": "getTeamMediaByYear",
        "tags": [
          "team"
        ],
        "description": "Gets a list of Media (videos / pictures) for the given team and year.",
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/team_key"
          },
          {
            "$ref": "#/parameters/year"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Media"
              }
            },
            "headers": {
              "Last-Modified": {
                "type": "string",
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header."
              },
              "Cache-Control": {
                "type": "string",
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly."
              }
            }
          },
          "304": {
            "$ref": "#/responses/NotModified"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/team/{team_key}/media/tag/{media_tag}": {
      "get": {
        "operationId": "getTeamMediaByTag",
        "tags": [
          "team"
        ],
        "description": "Gets a list of Media (videos / pictures) for the given team and tag.",
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/team_key"
          },
          {
            "$ref": "#/parameters/media_tag"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Media"
              }
            },
            "headers": {
              "Last-Modified": {
                "type": "string",
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header."
              },
              "Cache-Control": {
                "type": "string",
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly."
              }
            }
          },
          "304": {
            "$ref": "#/responses/NotModified"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/team/{team_key}/media/tag/{media_tag}/{year}": {
      "get": {
        "operationId": "getTeamMediaByTagYear",
        "tags": [
          "team"
        ],
        "description": "Gets a list of Media (videos / pictures) for the given team, tag and year.",
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/team_key"
          },
          {
            "$ref": "#/parameters/media_tag"
          },
          {
            "$ref": "#/parameters/year"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Media"
              }
            },
            "headers": {
              "Last-Modified": {
                "type": "string",
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header."
              },
              "Cache-Control": {
                "type": "string",
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly."
              }
            }
          },
          "304": {
            "$ref": "#/responses/NotModified"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/team/{team_key}/social_media": {
      "get": {
        "operationId": "getTeamSocialMedia",
        "tags": [
          "team"
        ],
        "description": "Gets a list of Media (social media) for the given team.",
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/team_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Media"
              }
            },
            "headers": {
              "Last-Modified": {
                "type": "string",
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header."
              },
              "Cache-Control": {
                "type": "string",
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly."
              }
            }
          },
          "304": {
            "$ref": "#/responses/NotModified"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/events/{year}": {
      "get": {
        "operationId": "getEventsByYear",
        "tags": [
          "event",
          "list"
        ],
        "description": "Gets a list of events in the given year.",
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/year"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Event"
              }
            },
            "headers": {
              "Last-Modified": {
                "type": "string",
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header."
              },
              "Cache-Control": {
                "type": "string",
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly."
              }
            }
          },
          "304": {
            "$ref": "#/responses/NotModified"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/events/{year}/simple": {
      "get": {
        "operationId": "getEventsByYearSimple",
        "tags": [
          "event",
          "list"
        ],
        "description": "Gets a short-form list of events in the given year.",
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/year"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Event_Simple"
              }
            },
            "headers": {
              "Last-Modified": {
                "type": "string",
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header."
              },
              "Cache-Control": {
                "type": "string",
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly."
              }
            }
          },
          "304": {
            "$ref": "#/responses/NotModified"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/events/{year}/keys": {
      "get": {
        "operationId": "getEventsByYearKeys",
        "tags": [
          "event",
          "list"
        ],
        "description": "Gets a list of event keys in the given year.",
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/year"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "array",
              "description": "Array of Event Keys",
              "items": {
                "type": "string"
              }
            },
            "headers": {
              "Last-Modified": {
                "type": "string",
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header."
              },
              "Cache-Control": {
                "type": "string",
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly."
              }
            }
          },
          "304": {
            "$ref": "#/responses/NotModified"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/event/{event_key}": {
      "get": {
        "operationId": "getEvent",
        "tags": [
          "event"
        ],
        "description": "Gets an Event.",
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/event_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Event"
            },
            "headers": {
              "Last-Modified": {
                "type": "string",
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header."
              },
              "Cache-Control": {
                "type": "string",
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly."
              }
            }
          },
          "304": {
            "$ref": "#/responses/NotModified"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/event/{event_key}/simple": {
      "get": {
        "operationId": "getEventSimple",
        "tags": [
          "event"
        ],
        "description": "Gets a short-form Event.",
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/event_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Event_Simple"
            },
            "headers": {
              "Last-Modified": {
                "type": "string",
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header."
              },
              "Cache-Control": {
                "type": "string",
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly."
              }
            }
          },
          "304": {
            "$ref": "#/responses/NotModified"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/event/{event_key}/alliances": {
      "get": {
        "operationId": "getEventAlliances",
        "tags": [
          "event"
        ],
        "description": "Gets a list of Elimination Alliances for the given Event.",
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/event_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Elimination_Alliance"
              }
            },
            "headers": {
              "Last-Modified": {
                "type": "string",
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header."
              },
              "Cache-Control": {
                "type": "string",
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly."
              }
            }
          },
          "304": {
            "$ref": "#/responses/NotModified"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/event/{event_key}/insights": {
      "get": {
        "operationId": "getEventInsights",
        "tags": [
          "event"
        ],
        "description": "Gets a set of Event-specific insights for the given Event.",
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/event_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Event_Insights"
            },
            "headers": {
              "Last-Modified": {
                "type": "string",
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header."
              },
              "Cache-Control": {
                "type": "string",
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly."
              }
            }
          },
          "304": {
            "$ref": "#/responses/NotModified"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/event/{event_key}/oprs": {
      "get": {
        "operationId": "getEventOPRs",
        "tags": [
          "event"
        ],
        "description": "Gets a set of Event OPRs (including OPR, DPR, and CCWM) for the given Event.",
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/event_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Event_OPRs"
            },
            "headers": {
              "Last-Modified": {
                "type": "string",
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header."
              },
              "Cache-Control": {
                "type": "string",
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly."
              }
            }
          },
          "304": {
            "$ref": "#/responses/NotModified"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/event/{event_key}/predictions": {
      "get": {
        "operationId": "getEventPredictions",
        "tags": [
          "event"
        ],
        "description": "Gets information on TBA-generated predictions for the given Event. Contains year-specific information. *WARNING* This endpoint is currently under development and may change at any time.",
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/event_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Event_Predictions"
            },
            "headers": {
              "Last-Modified": {
                "type": "string",
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header."
              },
              "Cache-Control": {
                "type": "string",
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly."
              }
            }
          },
          "304": {
            "$ref": "#/responses/NotModified"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/event/{event_key}/rankings": {
      "get": {
        "operationId": "getEventRankings",
        "tags": [
          "event"
        ],
        "description": "Gets a list of team rankings for the Event.",
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/event_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Event_Ranking"
            },
            "headers": {
              "Last-Modified": {
                "type": "string",
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header."
              },
              "Cache-Control": {
                "type": "string",
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly."
              }
            }
          },
          "304": {
            "$ref": "#/responses/NotModified"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/event/{event_key}/district_points": {
      "get": {
        "operationId": "getEventDistrictPoints",
        "tags": [
          "event",
          "district"
        ],
        "description": "Gets a list of team rankings for the Event.",
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/event_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Event_District_Points"
            },
            "headers": {
              "Last-Modified": {
                "type": "string",
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header."
              },
              "Cache-Control": {
                "type": "string",
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly."
              }
            }
          },
          "304": {
            "$ref": "#/responses/NotModified"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/event/{event_key}/teams": {
      "get": {
        "operationId": "getEventTeams",
        "tags": [
          "event",
          "team",
          "list"
        ],
        "description": "Gets a list of `Team` objects that competed in the given event.",
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/event_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Team"
              }
            },
            "headers": {
              "Last-Modified": {
                "type": "string",
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header."
              },
              "Cache-Control": {
                "type": "string",
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly."
              }
            }
          },
          "304": {
            "$ref": "#/responses/NotModified"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/event/{event_key}/teams/simple": {
      "get": {
        "operationId": "getEventTeamsSimple",
        "tags": [
          "event",
          "team",
          "list"
        ],
        "description": "Gets a short-form list of `Team` objects that competed in the given event.",
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/event_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Team_Simple"
              }
            },
            "headers": {
              "Last-Modified": {
                "type": "string",
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header."
              },
              "Cache-Control": {
                "type": "string",
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly."
              }
            }
          },
          "304": {
            "$ref": "#/responses/NotModified"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/event/{event_key}/teams/keys": {
      "get": {
        "operationId": "getEventTeamsKeys",
        "tags": [
          "event",
          "team",
          "list"
        ],
        "description": "Gets a list of `Team` keys that competed in the given event.",
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/event_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "array",
              "description": "Array of Team Keys",
              "items": {
                "type": "string"
              }
            },
            "headers": {
              "Last-Modified": {
                "type": "string",
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header."
              },
              "Cache-Control": {
                "type": "string",
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly."
              }
            }
          },
          "304": {
            "$ref": "#/responses/NotModified"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/event/{event_key}/teams/statuses": {
      "get": {
        "operationId": "getEventTeamsStatuses",
        "tags": [
          "event",
          "team",
          "list"
        ],
        "description": "Gets a key-value list of the event statuses for teams competing at the given event.",
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/event_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "object",
              "description": "A key-value pair of `Team_Event_Status` objects with the event key as the key.",
              "additionalProperties": {
                "$ref": "#/definitions/Team_Event_Status"
              }
            },
            "headers": {
              "Last-Modified": {
                "type": "string",
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header."
              },
              "Cache-Control": {
                "type": "string",
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly."
              }
            }
          },
          "304": {
            "$ref": "#/responses/NotModified"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/event/{event_key}/matches": {
      "get": {
        "operationId": "getEventMatches",
        "tags": [
          "event",
          "match"
        ],
        "description": "Gets a list of matches for the given event.",
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/event_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Match"
              }
            },
            "headers": {
              "Last-Modified": {
                "type": "string",
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header."
              },
              "Cache-Control": {
                "type": "string",
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly."
              }
            }
          },
          "304": {
            "$ref": "#/responses/NotModified"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/event/{event_key}/matches/simple": {
      "get": {
        "operationId": "getEventMatchesSimple",
        "tags": [
          "event",
          "match"
        ],
        "description": "Gets a short-form list of matches for the given event.",
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/event_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Match_Simple"
              }
            },
            "headers": {
              "Last-Modified": {
                "type": "string",
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header."
              },
              "Cache-Control": {
                "type": "string",
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly."
              }
            }
          },
          "304": {
            "$ref": "#/responses/NotModified"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/event/{event_key}/matches/keys": {
      "get": {
        "operationId": "getEventMatchesKeys",
        "tags": [
          "event",
          "match"
        ],
        "description": "Gets a list of match keys for the given event.",
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/event_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "array",
              "description": "Array of Match Keys",
              "items": {
                "type": "string"
              }
            },
            "headers": {
              "Last-Modified": {
                "type": "string",
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header."
              },
              "Cache-Control": {
                "type": "string",
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly."
              }
            }
          },
          "304": {
            "$ref": "#/responses/NotModified"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/event/{event_key}/matches/timeseries": {
      "get": {
        "operationId": "getEventMatchTimeseries",
        "tags": [
          "event",
          "match"
        ],
        "description": "Gets an array of Match Keys for the given event key that have timeseries data. Returns an empty array if no matches have timeseries data.\n*WARNING:* This is *not* official data, and is subject to a significant possibility of error, or missing data. Do not rely on this data for any purpose. In fact, pretend we made it up.\n*WARNING:* This endpoint and corresponding data models are under *active development* and may change at any time, including in breaking ways.",
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/event_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "array",
              "items": {
                "description": "Match Key",
                "type": "string"
              }
            },
            "headers": {
              "Last-Modified": {
                "type": "string",
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header."
              },
              "Cache-Control": {
                "type": "string",
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly."
              }
            }
          },
          "304": {
            "$ref": "#/responses/NotModified"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/event/{event_key}/awards": {
      "get": {
        "operationId": "getEventAwards",
        "tags": [
          "event"
        ],
        "description": "Gets a list of awards from the given event.",
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/event_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Award"
              }
            },
            "headers": {
              "Last-Modified": {
                "type": "string",
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header."
              },
              "Cache-Control": {
                "type": "string",
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly."
              }
            }
          },
          "304": {
            "$ref": "#/responses/NotModified"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/match/{match_key}": {
      "get": {
        "operationId": "getMatch",
        "tags": [
          "match"
        ],
        "description": "Gets a `Match` object for the given match key.",
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/match_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Match"
            },
            "headers": {
              "Last-Modified": {
                "type": "string",
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header."
              },
              "Cache-Control": {
                "type": "string",
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly."
              }
            }
          },
          "304": {
            "$ref": "#/responses/NotModified"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/match/{match_key}/simple": {
      "get": {
        "operationId": "getMatchSimple",
        "tags": [
          "match"
        ],
        "description": "Gets a short-form `Match` object for the given match key.",
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/match_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Match_Simple"
            },
            "headers": {
              "Last-Modified": {
                "type": "string",
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header."
              },
              "Cache-Control": {
                "type": "string",
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly."
              }
            }
          },
          "304": {
            "$ref": "#/responses/NotModified"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/match/{match_key}/timeseries": {
      "get": {
        "operationId": "getMatchTimeseries",
        "tags": [
          "match"
        ],
        "description": "Gets an array of game-specific Match Timeseries objects for the given match key or an empty array if not available.\n*WARNING:* This is *not* official data, and is subject to a significant possibility of error, or missing data. Do not rely on this data for any purpose. In fact, pretend we made it up.\n*WARNING:* This endpoint and corresponding data models are under *active development* and may change at any time, including in breaking ways.",
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/match_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "array",
              "items": {
                "type": "object"
              }
            },
            "headers": {
              "Last-Modified": {
                "type": "string",
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header."
              },
              "Cache-Control": {
                "type": "string",
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly."
              }
            }
          },
          "304": {
            "$ref": "#/responses/NotModified"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/districts/{year}": {
      "get": {
        "operationId": "getDistrictsByYear",
        "tags": [
          "district"
        ],
        "description": "Gets a list of districts and their corresponding district key, for the given year.",
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/year"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/District_List"
              }
            },
            "headers": {
              "Last-Modified": {
                "type": "string",
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header."
              },
              "Cache-Control": {
                "type": "string",
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly."
              }
            }
          },
          "304": {
            "$ref": "#/responses/NotModified"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/district/{district_key}/events": {
      "get": {
        "operationId": "getDistrictEvents",
        "tags": [
          "district",
          "event",
          "list"
        ],
        "description": "Gets a list of events in the given district.",
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/district_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Event"
              }
            },
            "headers": {
              "Last-Modified": {
                "type": "string",
                "description": "Indicates the date and time the data returned was last updated. Used by clients in the `If-Modified-Since` request header."
              },
              "Cache-Control": {
                "type": "string",
                "description": "The `Cache-Control` header, in particular the `max-age` value, contains the number of seconds the result should be considered valid for. During this time subsequent calls should return from the local cache directly."
              }
            }
          },
          "304": {
            "$ref": "#/responses/NotModified"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/district/{district_key}/events/simple": {
      "get": {
        "operationId": "getDistrictEventsSimple",
        "tags": [
          "district",
          "event",
          "list"
        ],
        "description": "Gets a short-form list of events in the given district.",
        "parameters": [
          {
            "$ref": "#/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/parameters/district_key"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Event_Simple"
              }
            },
            "headers": {
              "Last-Modified": {
                "type": "string",
[...]
