{% extends "base.html" %}

{% block title %}Pending Suggestions{% endblock %}

{% block content %}
<div class="container">

    <ol class="breadcrumb">
        <li><a href="/suggest/review">Suggestions</a></li>
        <li class="active">Match Videos</li>
    </ol>
    <h1>{{ suggestions_and_events|length }} Pending Match Video Suggestions</h1>

    <form action="/suggest/match/video/review" method="post" id="review_videos">
        <div class="col-xs-12">

            <div class="row">
                <div class="control-group">
                    <div class="controls">
                        <a href="#" id="accept_all_button" class="btn btn-success">Select All Accepts</a>
                        <a href="#" id="reject_all_button" class="btn btn-danger">Select All Rejects</a>
                        <a href="#" id="deselect_all_button" class="btn btn-default">Deselect All</a>
                    </div>
                </div>
            </div><br>

            {% for suggestion, event in suggestions_and_events %}
            <div class="row">
                <div class="well">
                    <div class="col-xs-2">
                        {% if event.has_first_official_webcast %}
                        <div class="alert alert-danger" role="alert">
                          This is a FIRST webcasted event.
                          Please ensure this isn't a stream-ripped video.
                        </div>
                        {% endif %}
                        <label class="radio text-success">
                            <input class="accept" type="radio" name="accept_reject-{{suggestion.key.id()}}" value="accept::{{suggestion.key.id()}}"> Accept
                        </label>
                        <label class="radio text-danger">
                            <input class="reject" type="radio" name="accept_reject-{{suggestion.key.id()}}" value="reject::{{suggestion.key.id()}}"> Reject
                        </label>
                        <input type="text" class="form-control" name="key-{{suggestion.key.id()}}" placeholder="Match Key" value="{{suggestion.target_key}}">
                    </div>
                    <div class="col-xs-7 fitvids">
                        <p><a href="/match/{{ suggestion.target_key }}" target="_blank"><strong>{{ suggestion.target_key }}</strong></a> @ <a href="/event/{{ event.key_name}}">{{ event.name }}</a></p>
                        <iframe width="240" height="180" src="https://www.youtube.com/embed/{{suggestion.youtube_video|yt_start}}" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="col-xs-3">
                        <ul>
                            <li>{{ suggestion.key.id() }}</li>
                            <li>{{ suggestion.author.get().email }}</li>
                            <li>{{ suggestion.author.get().nickname }}</li>
                            <li>{{ suggestion.target_model }}:{{ suggestion.target_key }}</li>
                            <li><a href="#{{suggestion.key.id()}}-contents_json" data-toggle="collapse">Show contents_json</a></li>
                            <li id="{{suggestion.key.id()}}-contents_json" class="collapse"></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            {% else %}
            <div class="row">
                <div class="well">
                    <p>No suggestions! Go build more community!</p>
                </div>
            </div>
            {% endfor %}

            <div class="row">
                <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-pencil"></span> Act On Selected</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block inline_javascript %}
<script>
$("#accept_all_button").click(function() {
    $('.accept').prop('checked', true);
    $('.reject').prop('checked', false);
});
$("#reject_all_button").click(function() {
    $('.accept').prop('checked', false);
    $('.reject').prop('checked', true);
});
$("#deselect_all_button").click(function() {
    $('.accept').prop('checked', false);
    $('.reject').prop('checked', false);
});
</script>
{% endblock %}
