{% extends "admin/base.html" %}

{% block title %}{{match.key.name}} - TBA Admin{% endblock %}

{% block content %}

<h1>{{match.key.name}}</h1>
<p><a href="/admin/match/edit/{{match.key.name}}">edit</a></p>
<table>
    <tr>
        <td>Event</td>
        <td><a href="/event/{{match.event.key.name}}">{{ match.event.year }} {{ match.event.name }}</a></td>
    </tr>
    <tr>
        <td>Match</td>
        <td>{{ match.key.name }}</td>
    </tr>
    <tr>
        <td>Team Key Names</td>
        <td>{{ match.team_key_names }}</td>
    </tr>
    
    <tr>
        <td>Alliances JSON</td>
        <td>{{ match.alliances_json }}</td>
    </tr>
</table>

<h2>YoutubeVideos</h2>
<ul>
  {% for youtubevideo in match.youtubevideo_set %}
  <li><a href="/admin/youtubevideo/edit/{{youtubevideo.key.id_or_name}}">YoutubeVideo {{youtubevideo.key.id_or_name}}</a> (watch <a href="www.youtube.com/watch?v={{youtubevideo.youtubeid}}">{{youtubevideo.youtubeid}} on Youtube</a>)</li>
  {% endfor %}
</ul>

{% endblock %}