<tr class="key visible-desktop">
    <th><i class="icon-time" rel="tooltip" title="Times are in the event's local timezone"></i></th>
    <th>Match</th>
    <th colspan="6">Red Alliance</th>
    <th colspan="6">Blue Alliance</th>
</tr>

<tr class="key hidden-desktop">
    <th rowspan="2"><i class="icon-time" rel="tooltip" title="Times are in the event's local timezone"></i></th>
    <th rowspan="2">Match</th>
    <th colspan="12">Red Alliance</th>
</tr>
<tr class="key hidden-desktop">
    <th colspan="12">Blue Alliance</th>
</tr>