<table class="match-table">
  <tbody>
    <tr>
      <td class="red">{% if match.score_breakdown.red.robot_set %}4{% else %}0{% endif %}</td>
      <td>Robot Set</td>
      <td class="blue">{% if match.score_breakdown.blue.robot_set %}4{% else %}0{% endif %}</td>
    </tr>
    <tr>
      <td class="red">{% if match.score_breakdown.red.container_set %}8{% else %}0{% endif %}</td>
      <td>Container Set</td>
      <td class="blue">{% if match.score_breakdown.blue.container_set %}8{% else %}0{% endif %}</td>
    </tr>
    <tr>
      <td class="red">{% if match.score_breakdown.red.tote_set %}6{% else %}0{% endif %}</td>
      <td>Tote Set</td>
      <td class="blue">{% if match.score_breakdown.blue.tote_set %}6{% else %}0{% endif %}</td>
    </tr>
    <tr>
      <td class="red">{% if match.score_breakdown.red.tote_stack %}20{% else %}0{% endif %}</td>
      <td>Tote Stack</td>
      <td class="blue">{% if match.score_breakdown.blue.tote_stack %}20{% else %}0{% endif %}</td>
    </tr>
    <tr class="key">
      <td class="redScore">{{match.score_breakdown.red.auto_points}}</td>
      <th>Total Auto</th>
      <td class="blueScore">{{match.score_breakdown.blue.auto_points}}</td>
    </tr>

    <tr>
      <td class="red">{{match.score_breakdown.red.tote_points}}</td>
      <td>Tote Points</td>
      <td class="blue">{{match.score_breakdown.blue.tote_points}}</td>
    </tr>
    <tr>
      <td class="red">{{match.score_breakdown.red.container_count_level1|mul:4}}</td>
      <td>Level 1 Container Points</td>
      <td class="blue">{{match.score_breakdown.blue.container_count_level1|mul:4}}</td>
    </tr>
    <tr>
      <td class="red">{{match.score_breakdown.red.container_count_level2|mul:8}}</td>
      <td>Level 2 Container Points</td>
      <td class="blue">{{match.score_breakdown.blue.container_count_level2|mul:8}}</td>
    </tr>
    <tr>
      <td class="red">{{match.score_breakdown.red.container_count_level3|mul:12}}</td>
      <td>Level 3 Container Points</td>
      <td class="blue">{{match.score_breakdown.blue.container_count_level3|mul:12}}</td>
    </tr>
    <tr>
      <td class="red">{{match.score_breakdown.red.container_count_level4|mul:16}}</td>
      <td>Level 4 Container Points</td>
      <td class="blue">{{match.score_breakdown.blue.container_count_level4|mul:16}}</td>
    </tr>
    <tr>
      <td class="red">{{match.score_breakdown.red.container_count_level5|mul:20}}</td>
      <td>Level 5 Container Points</td>
      <td class="blue">{{match.score_breakdown.blue.container_count_level5|mul:20}}</td>
    </tr>
    <tr>
      <td class="red">{{match.score_breakdown.red.container_count_level6|mul:24}}</td>
      <td>Level 6 Container Points</td>
      <td class="blue">{{match.score_breakdown.blue.container_count_level6|mul:24}}</td>
    </tr>
    <tr>
      <td class="red">{{match.score_breakdown.red.litter_count_landfill}}</td>
      <td>Landfill Litter Points</td>
      <td class="blue">{{match.score_breakdown.blue.litter_count_landfill}}</td>
    </tr>
    <tr>
      <td class="red">{{match.score_breakdown.red.litter_count_container|mul:6}}</td>
      <td>Container Litter Points</td>
      <td class="blue">{{match.score_breakdown.blue.litter_count_container|mul:6}}</td>
    </tr>
    <tr>
      <td class="red">{{match.score_breakdown.red.litter_count_unprocessed|mul:4}}</td>
      <td>Unprocessed Litter Points</td>
      <td class="blue">{{match.score_breakdown.blue.litter_count_unprocessed|mul:4}}</td>
    </tr>

    <tr class="key">
      <td class="redScore">{{match.score_breakdown.red.teleop_points}}</td>
      <th>Total Teleop</th>
      <td class="blueScore">{{match.score_breakdown.blue.teleop_points}}</td>
    </tr>

    <tr>
      <td class="red">{{match.score_breakdown.coopertition_points}}</td>
      <td>Coopertition</td>
      <td class="blue">{{match.score_breakdown.coopertition_points}}</td>
    </tr>
    <tr>
      <td class="red">-{{match.score_breakdown.red.foul_points}}</td>
      <td>Fouls</td>
      <td class="blue">-{{match.score_breakdown.blue.foul_points}}</td>
    </tr>
    <tr>
      <td class="red">{{match.score_breakdown.red.adjust_points}}</td>
      <td>Adjustments</td>
      <td class="blue">{{match.score_breakdown.blue.adjust_points}}</td>
    </tr>

    <tr class="key">
      <td class="redScore">{{match.score_breakdown.red.total_points}}</td>
      <th>Total Score</th>
      <td class="blueScore">{{match.score_breakdown.blue.total_points}}</td>
    </tr>
  </tbody>
</table>
