{% macro match_time_td(match, compact=False) %}
<td{% if compact %} rowspan="2"{% endif %}>
  {% if match.time %}<span class="tba-match-time-utc">{{match.time.isoformat()}}+00:00</span>{% else %}--{% endif %}
</td>
{% endmacro %}


{% macro match_hasvideo_td(match, compact=False) %}
<td{% if compact %} rowspan="2"{% endif %}>
  {% if match.has_video %}<a href="{{match.details_url}}" title="Watch video"><span class="glyphicon glyphicon-play-circle"></span></a>{% endif %}
</td>
{% endmacro %}


{% macro match_name_td(match, compact=False) %}
<td{% if compact %} rowspan="2"{% endif %}>
  <div class="match-name-container">
    <div class="favorite-match-icon favorite-match-icon-{{match.key.id()}}">
        <span class="favorite-match-icon-spacer"></span>
        <span class="glyphicon glyphicon-star" rel="tooltip" title="A Favorited team is in this match!"></span>
    </div>
    <div class="match-name">
      <a href="/match/{{match.key_name}}">{{match.verbose_name}}</a>
    </div>
  </div>
</td>
{% endmacro %}


{% macro match_team_td(match, alliance_color, team_key, cur_team_key, compact=False) %}
{% set num_teams = match.alliances.get(alliance_color).teams|length %}
{% if compact %}
  {% if num_teams == 3 %}
    {% set colspan = 4 %}
  {% elif num_teams == 2 %}
    {% set colspan = 6 %}
  {% else %}
    {% set colspan = 12 %}
  {% endif %}
{% else %}
  {% if num_teams == 3 %}
    {% set colspan = 2 %}
  {% elif num_teams == 2 %}
    {% set colspan = 3 %}
  {% else %}
    {% set colspan = 6 %}
  {% endif %}
{% endif %}
<td colspan="{{colspan}}" class="{{alliance_color}}{% if match.winning_alliance == alliance_color %} winner{% endif %}{% if cur_team_key and cur_team_key == team_key %} current-team{% endif %}">
  <svg class="favorite-team-dot" data-team="{{team_key}}" data-match="{{match.key.id()}}" rel="tooltip" title="You have Favorited this team!">
    <circle cx="2.5" cy="2.5" r="2.5"/>
  </svg>
  <a href="/team/{{team_key|digits}}/{{match.year}}">{{ team_key|strip_frc }}</a>
</td>
{% endmacro %}


{% macro match_score_td(match, alliance_color, cur_team_key, compact=False, force_played=False) %}
<td{% if compact %} colspan="2"{% endif %} class="{{alliance_color}}Score{% if match.winning_alliance == alliance_color %} winner{% endif %}{% if cur_team_key and cur_team_key in match.alliances.get(alliance_color).teams %} current-team{% endif %}">
  {% if not match.has_been_played and not force_played %}?{% else %}{{ match.alliances.get(alliance_color).score }}{% endif %}
</td>
{% endmacro %}