{% macro match_time_td(match, compact=False) %}
<td colspan="2"{% if compact %} rowspan="2"{% endif %}>
  {% if match.predicted_time %}<span title="Scheduled at {{match.time|strftime("%a %I:%M%p UTC")}}"><i><time class="tba-match-time-utc" datetime="{{match.predicted_time.isoformat()}}+00:00">{{match.predicted_time|strftime("%a %I:%M%p UTC")}}</time>*</i></span>
  {% elif match.time%}<time class="tba-match-time-utc" datetime="{{match.time.isoformat()}}+00:00">{{match.time|strftime("%a %I:%M%p UTC")}}</time>
  {% else %}--{% endif %}
</td>
{% endmacro %}


{% macro match_hasvideo_td(match, compact=False) %}
<td{% if compact %} rowspan="2"{% endif %}>
  {% if match.has_video %}<a href="{{match.details_url}}" title="Watch video"><span class="glyphicon glyphicon-play-circle"></span></a>{% endif %}
</td>
{% endmacro %}


{% macro match_name_td(match, show_event=False, compact=False, fake_matches=False) %}
<td{% if compact %} rowspan="2"{% endif %}>
  <div class="match-name-container">
    <div class="favorite-match-icon favorite-match-icon-{{match.key.id()}}">
        <span class="favorite-match-icon-spacer"></span>
        <span class="glyphicon glyphicon-star" rel="tooltip" title="A Favorited team is in this match!"></span>
    </div>
    <div class="match-name">
      {% if show_event %}
      [{{match.event.id()[4:].upper()}}]
      {% endif %}
      {% if fake_matches %}
      {{match.verbose_name}}
      {% else %}
      <a href="/match/{{match.key_name}}">{{match.verbose_name}}</a>
      {% endif %}
    </div>
  </div>
</td>
{% endmacro %}


{% macro match_team_td(match, alliance_color, team_key, cur_team_key, compact=False, fake_matches=False) %}
{% set num_teams = match.alliances.get(alliance_color).teams|length %}
{% if compact %}
  {% if num_teams == 3 %}
    {% set colspan = 4 %}
  {% elif num_teams == 2 %}
    {% set colspan = 6 %}
  {% else %}
    {% set colspan = 12 %}
  {% endif %}
{% else %}
  {% if num_teams == 3 %}
    {% set colspan = 2 %}
  {% elif num_teams == 2 %}
    {% set colspan = 3 %}
  {% else %}
    {% set colspan = 6 %}
  {% endif %}
{% endif %}
<td colspan="{{colspan}}" class="{{alliance_color}}{% if match.winning_alliance == alliance_color %} winner{% endif %}{% if cur_team_key and cur_team_key == team_key %} current-team{% endif %}">
  <svg class="favorite-team-dot" data-team="{{team_key}}" data-match="{{match.key_name}}" rel="tooltip" title="You have Favorited this team!">
    <circle cx="2.5" cy="2.5" r="2.5"/>
  </svg>
  {% if fake_matches %}
  {{ team_key|strip_frc }}
  {% else %}
  <a href="/team/{{team_key|digits}}/{{match.year}}"{% if team_key in match.alliances.get(alliance_color).surrogates and team_key in match.alliances.get(alliance_color).dqs %} class="surrogate dq" rel="tooltip" title="Surrogate | DQ"{% elif team_key in match.alliances.get(alliance_color).surrogates %} class="surrogate" rel="tooltip" title="Surrogate"{% elif team_key in match.alliances.get(alliance_color).dqs %} class="dq" rel="tooltip" title="DQ"{% endif %}>{{ team_key|strip_frc }}</a>
  {% endif %}
</td>
{% endmacro %}


{% macro match_score_td(match, alliance_color, cur_team_key, compact=False, force_played=False, predictions=None) %}
<td{% if compact %} colspan="2"{% endif %} class="{{alliance_color}}Score{% if cur_team_key and cur_team_key in match.alliances.get(alliance_color).teams %} current-team{% endif %}">
  {% if match.score_breakdown and not predictions %}
    {% if match.score_breakdown.get(alliance_color).teleopDefensesBreached
      or match.score_breakdown.get(alliance_color).kPaRankingPointAchieved
      or match.score_breakdown.get(alliance_color).kPaBonusPoints
      or match.score_breakdown.get(alliance_color).autoQuestRankingPoint
      or match.score_breakdown.get(alliance_color).completeRocketRankingPoint
      or match.score_breakdown.get(alliance_color).shieldEnergizedRankingPoint %}
    <svg class="top-left-dot" rel="tooltip" title="{% if match.year == 2016 %}Defenses Breached{% elif match.year == 2017 %}Pressure Reached{% elif match.year == 2018 %}Auto Quest{% elif match.year == 2019 %}Complete Rocket{% elif match.year == 2020 %}Shield Energized{% endif %}">
      <circle cx="2" cy="2" r="2"/>
    </svg>
    {% endif %}
    {% if match.score_breakdown.get(alliance_color).teleopTowerCaptured
      or match.score_breakdown.get(alliance_color).rotorRankingPointAchieved
      or match.score_breakdown.get(alliance_color).rotorBonusPoints
      or match.score_breakdown.get(alliance_color).faceTheBossRankingPoint
      or match.score_breakdown.get(alliance_color).habDockingRankingPoint
      or match.score_breakdown.get(alliance_color).shieldOperationalRankingPoint %}
    <svg class="top-left-dot-2" rel="tooltip" title="{% if match.year == 2016 %}Tower Captured{% elif match.year == 2017 %}All Rotors Engaged{% elif match.year == 2018 %}Face The Boss{% elif match.year == 2019 %}HAB Docking{% elif match.year == 2020 %}Shield Operational{% endif %}">
      <circle cx="2" cy="2" r="2"/>
    </svg>
    {% endif %}
  {% endif %}

  <span{% if match.winning_alliance == alliance_color %} class="winner"{% endif %}>{% if not match.has_been_played and not force_played %}?{% else %}{{ match.alliances.get(alliance_color).score }}{% endif %}</span>{% if predictions %}<br><em{% if predictions.get(match.key.id()).winning_alliance == alliance_color %} class="winner"{% endif %}>({{predictions.get(match.key.id()).get(alliance_color).score|round|int}})</em>{% endif %}
</td>
{% endmacro %}

{% macro breach_prob_td(match, alliance_color, predictions) %}
<td class="{{alliance_color}}">
  {% if match.year == 2016 and match.has_been_played and match.score_breakdown %}
    {% if "teleopDefensesBreached" in match.score_breakdown.get(alliance_color) and
    match.score_breakdown.get(alliance_color).teleopDefensesBreached and
    "teleopTowerCaptured" in match.score_breakdown.get(alliance_color) and
    match.score_breakdown.get(alliance_color).teleopTowerCaptured %}
    B / C
    {% else %}
      {% if "teleopDefensesBreached" in match.score_breakdown.get(alliance_color) and match.score_breakdown.get(alliance_color).teleopDefensesBreached %}B
      {% elif "teleopTowerCaptured" in match.score_breakdown.get(alliance_color) and match.score_breakdown.get(alliance_color).teleopTowerCaptured %}C
      {% else %}--{% endif %}
    {% endif %}
  {% elif match.year == 2017 and match.has_been_played and match.score_breakdown %}
    {% if (match.score_breakdown.get(alliance_color).get('kPaRankingPointAchieved') or match.score_breakdown.get(alliance_color).get('kPaBonusPoints')) and (match.score_breakdown.get(alliance_color).get('rotorRankingPointAchieved') or match.score_breakdown.get(alliance_color).get('rotorBonusPoints')) %}
    P / R
    {% else %}
      {% if match.score_breakdown.get(alliance_color).get('kPaRankingPointAchieved') or match.score_breakdown.get(alliance_color).get('kPaBonusPoints') %}P
      {% elif match.score_breakdown.get(alliance_color).get('rotorRankingPointAchieved') or match.score_breakdown.get(alliance_color).get('rotorBonusPoints') %}R
      {% else %}--{% endif %}
    {% endif %}
  {% elif match.year == 2018 and match.has_been_played and match.score_breakdown %}
    {% if match.score_breakdown.get(alliance_color).get('autoQuestRankingPoint') and match.score_breakdown.get(alliance_color).get('faceTheBossRankingPoint') %}
    AQ / FtB
    {% else %}
      {% if match.score_breakdown.get(alliance_color).get('autoQuestRankingPoint') %}AQ
      {% elif match.score_breakdown.get(alliance_color).get('faceTheBossRankingPoint') %}FTB
      {% else %}--{% endif %}
    {% endif %}
  {% elif match.year == 2019 and match.has_been_played and match.score_breakdown %}
    {% if match.score_breakdown.get(alliance_color).get('completeRocketRankingPoint') and match.score_breakdown.get(alliance_color).get('habDockingRankingPoint') %}
    R / H
    {% else %}
      {% if match.score_breakdown.get(alliance_color).get('completeRocketRankingPoint') %}R
      {% elif match.score_breakdown.get(alliance_color).get('habDockingRankingPoint') %}H
      {% else %}--{% endif %}
    {% endif %}
  {% elif match.year == 2020 and match.has_been_played and match.score_breakdown %}
    {% if match.score_breakdown.get(alliance_color).get('shieldEnergizedRankingPoint') and match.score_breakdown.get(alliance_color).get('shieldOperationalRankingPoint') %}
    E / O
    {% else %}
      {% if match.score_breakdown.get(alliance_color).get('shieldEnergizedRankingPoint') %}E
      {% elif match.score_breakdown.get(alliance_color).get('shieldOperationalRankingPoint') %}O
      {% else %}--{% endif %}
    {% endif %}
  {% else %}
    ?
  {% endif %}
  <br>
  {% if match.year == 2016 %}
  <em>{{(predictions.get(match.key.id()).get(alliance_color).prob_breach)|limit_prob}}% / {{(predictions.get(match.key.id()).get(alliance_color).prob_capture)|limit_prob}}%</em>
  {% elif match.year == 2017 %}
  <em>{{(predictions.get(match.key.id()).get(alliance_color).prob_pressure)|limit_prob}}% / {{(predictions.get(match.key.id()).get(alliance_color).prob_gears)|limit_prob}}%</em>
  {% elif match.year == 2018 %}
  <em>{{(predictions.get(match.key.id()).get(alliance_color).prob_auto_quest)|limit_prob}}% / {{(predictions.get(match.key.id()).get(alliance_color).prob_face_boss)|limit_prob}}%</em>
  {% elif match.year == 2019 %}
  <em>{{(predictions.get(match.key.id()).get(alliance_color).prob_complete_rocket)|limit_prob}}% / {{(predictions.get(match.key.id()).get(alliance_color).prob_hab_docking)|limit_prob}}%</em>
  {% elif match.year == 2020 %}
  <em>{{(predictions.get(match.key.id()).get(alliance_color).prob_shield_energized)|limit_prob}}% / {{(predictions.get(match.key.id()).get(alliance_color).prob_shield_operational)|limit_prob}}%</em>
  {% endif %}
</td>
{% endmacro %}

{% macro prob_td(match, predictions) %}
<td rowspan="2">
  <div class="progress" style="margin: 0px;">
    <div class="progress-bar {% if predictions.get(match.key.id()).prob < 0.65 %}progress-bar-danger{% elif predictions.get(match.key.id()).prob < 0.80 %}progress-bar-warning{% else %}progress-bar-success{% endif %}" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{(predictions.get(match.key.id()).prob)|limit_prob}}%;">
      {{(predictions.get(match.key.id()).prob)|limit_prob}}%
    </div>
  </div>
</td>
{% endmacro %}

{% macro correct_prediction_td(match, predictions) %}
<td rowspan="2">
  {% if match.has_been_played %}
    {% if match.winning_alliance == predictions.get(match.key.id()).winning_alliance %}<span class="glyphicon glyphicon-ok"></span>{% endif %}
  {% else %}
    <strong>?</strong>
  {% endif %}
</td>
{% endmacro %}
