{% import "match_partials/match_table_cell_macros.html" as mtcm %}

{% macro match_row_tr(match, cur_team_key, upcoming=False, predictions=None, fake_matches=False) %}
<tr class="visible-lg">
  {% if upcoming %}
    {{mtcm.match_time_td(match)}}
  {% else %}
    {{mtcm.match_hasvideo_td(match)}}
  {% endif %}

  {{mtcm.match_name_td(match, fake_matches=fake_matches)}}

  {% for team_key in match.alliances.red.teams %}
    {{mtcm.match_team_td(match, 'red', team_key, cur_team_key, fake_matches=fake_matches)}}
  {% endfor %}
  {% for team_key in match.alliances.blue.teams %}
    {{mtcm.match_team_td(match, 'blue', team_key, cur_team_key, fake_matches=fake_matches)}}
  {% endfor %}

  {% if not upcoming %}
    {{mtcm.match_score_td(match, 'red', cur_team_key, predictions=predictions)}}
    {{mtcm.match_score_td(match, 'blue', cur_team_key, predictions=predictions)}}
  {% endif %}

  {% if predictions %}
    {{mtcm.breach_prob_td(match, 'red', predictions)}}
    {{mtcm.breach_prob_td(match, 'blue', predictions)}}
    {{mtcm.prob_td(match, predictions)}}
    {{mtcm.correct_prediction_td(match, predictions)}}
  {% endif %}
</tr>

<tr class="hidden-lg">
  {% if upcoming %}
    {{mtcm.match_time_td(match, compact=True)}}
  {% else %}
    {{mtcm.match_hasvideo_td(match, compact=True)}}
  {% endif %}

  {{mtcm.match_name_td(match, compact=True, fake_matches=fake_matches)}}

  {% for team_key in match.alliances.red.teams %}
    {{mtcm.match_team_td(match, 'red', team_key, cur_team_key, compact=True, fake_matches=fake_matches)}}
  {% endfor %}

  {% if not upcoming %}
  {{mtcm.match_score_td(match, 'red', cur_team_key, compact=True, predictions=predictions)}}
  {% endif %}

  {% if predictions %}
    {{mtcm.breach_prob_td(match, 'red', predictions)}}
    {{mtcm.prob_td(match, predictions, compact=True)}}
    {{mtcm.correct_prediction_td(match, predictions, compact=True)}}
  {% endif %}
</tr>
<tr class="hidden-lg">
  {% for team_key in match.alliances.blue.teams %}
    {{mtcm.match_team_td(match, 'blue', team_key, cur_team_key, compact=True, fake_matches=fake_matches)}}
  {% endfor %}

  {% if not upcoming %}
  {{mtcm.match_score_td(match, 'blue', cur_team_key, compact=True, predictions=predictions)}}
  {% endif %}

  {% if predictions %}
    {{mtcm.breach_prob_td(match, 'blue', predictions)}}
  {% endif %}
</tr>
{% endmacro %}
