{% macro partialBracket(match, isLeftSide, isRedAlliance, allianceNumber, rowSpan) %}
  <td class="{% if isLeftSide %}leftAlliance{% else %}rightAlliance{% endif %} {% if match.winning_alliance == ('red' if isRedAlliance else 'blue') %}{% if isLeftSide %}winnerL{% else %}winnerR{% endif %}{% endif %}" rowspan="{{rowSpan}}">
    {% if allianceNumber %}<div class="alliance_number">{{allianceNumber}}.</div>{% endif %}
    {% if match %}
      {% for team in (match.red_alliance if isRedAlliance else match.blue_alliance) %}
        <a href="/team/{{team|digits}}/{{event.year}}" title="{{team}}">{{team}}</a><br>
      {% endfor %}
    {% else %}
      ?
    {% endif %}
  </td>
{% endmacro %}

<table class="brackettable">
  <tbody>
    <tr>
      {% if bracket_table.qf %}
        {{partialBracket(bracket_table.qf.get('qf1'), True, True, 1, 1)}}
      {% endif %}
      {% if bracket_table.sf %}
        {{partialBracket(bracket_table.sf.get('sf1'), True, True, None, 2)}}
      {% endif %}
      {% if bracket_table.f %}
      <td class="{% if bracket_table.f.f1.winning_alliance == 'red' %}winnerC{% else %}{% if bracket_table.f.f1.winning_alliance == 'blue' %}secondC{% endif %}{% endif %}" rowspan="4">
        <br>
        {% for team in bracket_table.f.f1.red_alliance %}
          <a href="/team/{{team|digits}}/{{event.year}}" title="{{team}}">{{team}}</a><br>
        {% endfor %}
      </td>
      <td class="{% if bracket_table.f.f1.winning_alliance == 'blue' %}winnerC{% else %}{% if bracket_table.f.f1.winning_alliance == 'red' %}secondC{% endif %}{% endif %}" rowspan="4">
        <br>
        {% for team in bracket_table.f.f1.blue_alliance %}
          <a href="/team/{{team|digits}}/{{event.year}}" title="{{team}}">{{team}}</a><br>
        {% endfor %}
      </td>
      {% endif %}
      {% if bracket_table.sf %}
        {{partialBracket(bracket_table.sf.get('sf2'), False, False, None, 2)}}
      {% endif %}
      {% if bracket_table.qf %}
        {{partialBracket(bracket_table.qf.get('qf4'), False, True, 3, 1)}}
      {% endif %}
    </tr>
    <tr>
      {% if bracket_table.qf %}
        {{partialBracket(bracket_table.qf.get('qf1'), True, False, 8, 1)}}
        {{partialBracket(bracket_table.qf.get('qf4'), False, False, 6, 1)}}
      {% endif %}
    </tr>
    <tr>
      {% if bracket_table.qf %}
        {{partialBracket(bracket_table.qf.get('qf2'), True, True, 4, 1)}}
      {% endif %}
      {% if bracket_table.sf %}
        {{partialBracket(bracket_table.sf.get('sf1'), True, False, None, 2)}}
        {{partialBracket(bracket_table.sf.get('sf2'), False, True, None, 2)}}
      {% endif %}
      {% if bracket_table.qf %}
        {{partialBracket(bracket_table.qf.get('qf3'), False, True, 2, 1)}}
      {% endif %}
    </tr>
    <tr>
      {% if bracket_table.qf %}
        {{partialBracket(bracket_table.qf.get('qf2'), True, False, 5, 1)}}
        {{partialBracket(bracket_table.qf.get('qf3'), False, False, 7, 1)}}
      {% endif %}
    </tr>
  </tbody>
</table>
