<p>The Blue Alliance is the best way to scout, watch, and relive the <i>FIRST</i> Robotics Competition. Learn more about <i>FIRST</i> at <a href="http://www.firstinspires.org/" target="_blank" rel="noopener noreferrer" title="FIRST Robotics">firstinspires.org</a>.</p>

<hr>
<div>
  <h4 class="text-center">Help other <i>FIRST</i> teams!</h4>
  <a class="btn btn-success btn-block" href="/suggest/offseason"><span class="glyphicon glyphicon-plus"></span> Add an Offseason Event</a>
  <a class="btn btn-block btn-primary" href="/eventwizard"><span class="glyphicon glyphicon-pencil"></span> Add Offseason Event Data</a>
  <a class="btn btn-block btn-info" href="/add-data"><span class="glyphicon glyphicon-info-sign"></span> Adding Data Overview</a>
  <a class="btn btn-block btn-default" href="https://github.com/the-blue-alliance" target="_blank" rel="noopener noreferrer"><span class="glyphicon glyphicon-wrench"></span> Hack on TBA</a>
  <a class="btn btn-block btn-default" href="/donate" target="_blank" rel="noopener noreferrer"><span class="glyphicon glyphicon-usd"></span> Donate to TBA</a>
</div>

<hr>

<form action="/search">
  <input type="text" class="form-control typeahead" placeholder="Search teams and events" name="q">
</form>
<div class="btn-group btn-group-block-2">
  <a class="btn btn-primary btn-lg" href="/events"><span class="glyphicon glyphicon-calendar"></span> Events</a>
  <a class="btn btn-primary btn-lg" href="/teams"><span class="glyphicon glyphicon-user"></span> Teams</a>
</div>

<hr>
{% include "index_partials/apps.html" %}
