<p class="hidden-xs">The Blue Alliance is the best way to scout, watch, and relive the <a href="http://www.firstinspires.org/" target="_blank" rel="noopener noreferrer" title="FIRST Robotics"><i>FIRST</i> Robotics Competition</a>.</p>

<!-- <a class="btn btn-info btn-block" href="https://sites.google.com/view/firsthelpnow/need-help-now" target="_blank" rel="noopener noreferrer"><span class="glyphicon glyphicon-earphone"></span> Get 24/7 advice from FIRST Help Now</a> -->

<div class="hidden-xs">
  <h4 class="text-center">Help other <i>FIRST</i> teams!</h4>
  <div class="btn-group btn-group-block-2">
    <a class="btn btn-default" href="/add-data"><span class="glyphicon glyphicon-info-sign"></span> Help Add Data</a>
    <a class="btn btn-default" href="https://github.com/the-blue-alliance" target="_blank" rel="noopener noreferrer"><span class="glyphicon glyphicon-wrench"></span> Hack on TBA</a>
    <a class="btn btn-default" href="/donate" target="_blank" rel="noopener noreferrer"><span class="glyphicon glyphicon-usd"></span> Donate to TBA</a>
  </div>
  <br><br>
</div>
{% include "index_partials/apps.html" %}
