{% extends "base.html" %}

{% block title %}Edit Profile - The Blue Alliance{% endblock %}

{% block meta_description %}Manage your Profile.{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <ol class="breadcrumb">
        <li><a href="/account">Account Overview</a></li>
        <li class="active">Edit Profile</li>
      </ol>
      <h1>Edit Profile</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <form class="account_edit_form form-horizontal" action="/account/edit" method="post">
        <div class="form-group">
          <label for="display_name" class="col-sm-2 control-label">Name (Public)</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="display_name" name="display_name" {% if user_bundle.account.display_name != None %}value="{{user_bundle.account.display_name}}"{% endif %} placeholder="Woodie Flowers">
          </div>
        </div>
        <div class="form-group">
          <label for="email" class="col-sm-2 control-label">Email</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="email" name="email" value="{{user_bundle.account.email}}" disabled>
          </div>
        </div>
        <input name="account_id" type="hidden" value="{{user_bundle.account.key.id()}}" />
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-thumbs-up"></span> Save profile</button>
        <a href="/account" class="btn btn-default"><span class="glyphicon glyphicon-thumbs-down"></span> Cancel</a>
      </form>
    </div>
  </div>
</div>
{% endblock %}
