{% extends "base.html" %}

{% block title %}Account Registration - The Blue Alliance{% endblock %}

{% block meta_description %}Register your TBA account to personalize your experience.{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Greetings, {{user_bundle.user.nickname()}}!</h1>
      <p>Fill out this short form to finish signing up for a TBA account.</p>
      <form class="account_signup_form" action="/account/register{% if redirect %}?redirect={{redirect}}{% endif %}" method="post">
        <table class="table table-striped">
          <tbody>
            <tr>
              <td>Name (Public)</td>
              <td><input class="form-control" type="text" name="display_name" placeholder="Woodie Flowers"/></td>
            </tr>
          </tbody>
        </table>
        <input name="account_id" type="hidden" value="{{user_bundle.account.key.id()}}" />
        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-thumbs-up"></span> Create Account</button>
        <a class="btn btn-warning" href="{{logout_url}}"><span class="glyphicon glyphicon-remove"></span> Cancel and Logout</a>
      </form>
    </div>
  </div>
</div>
{% endblock %}
