{% extends "base.html" %}

{% block title %}The Blue Alliance - {{year}} Avatars{% endblock %}

{% block meta_description %}Team avatars for the {{year}} season{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 text-center">
      <h1 class="end_header">
        <div class="dropdown" style="display: inline-block; vertical-align: middle;">
          <button class="btn btn-default btn-lg dropdown-toggle" type="button" id="yearDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ year }}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="yearDropdown">
            {% for a_year in valid_years|reverse %}
              <li><a href="/avatars/{{ a_year }}">{{ a_year }}</a></li>
            {% endfor %}
          </ul>
        </div>

        <span style="vertical-align: middle">{% if year == 2018 %}<i>FIRST POWER UP</i>{% elif year == 2019 %}<i>DESTINATION: DEEP SPACE</i>{% elif year == 2020 %}<i>INFINITE RECHARGE</i>{% elif year == 2022 %}<i>RAPID REACT</i>{% elif year == 2023 %}<i>CHARGED UP</i>{% elif year == 2024 %}<i>CRESCENDO</i>{% elif year == 2025 %}<i>REEFSCAPE</i>{% endif %} Avatars</span>
      </h1>

      <p>For more information about submitting avatars, please read the official FRC <a href="{% if year == 2018 %}https://www.firstinspires.org/robotics/frc/blog/team-avatar-submission-system{% elif year == 2019 %}https://www.firstinspires.org/robotics/frc/blog/2019-team-avatars-reprise{% elif year == 2020 %}https://www.firstinspires.org/robotics/frc/blog/2020-team-avatars{% elif year == 2022 %}https://www.firstinspires.org/robotics/frc/blog/2022-team-avatars-return-for-2022{% elif year == 2023 %}https://www.firstinspires.org/robotics/frc/blog/2023-2023-team-avatars{% elif year == 2024 %}https://www.firstinspires.org/robotics/frc/blog/2024-2024-team-avatars{% elif year == 2025 %}https://community.firstinspires.org/2025-team-avatars{% endif %}" target="_blank" rel="noopener noreferrer">blog post</a>.</p>
      <a id="color-switch" class="btn btn-md btn-default">
        Toggle background color
      </a>
      <br><br>

      {% for avatar in avatars %}
        <a href="/team/{{avatar.references[0].id()[3:]}}/{{year}}" class="avatar-link">
          <img class="team-avatar blue" src="{{avatar.avatar_image_url}}" rel="tooltip" title="Team {{avatar.references[0].id()[3:]}}"/>
        </a>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

{% block inline_javascript %}
<script>
  $("#color-switch").click(function(){
    $(".team-avatar").toggleClass("red").toggleClass("blue")
  });
</script>
{% endblock %}
