{% extends "base.html" %}

{% block title %}GameDay - The Blue Alliance{% endblock %}

{% block main_style %}
  <link rel="stylesheet" href="/css/gameday2.min.css" type="text/css" />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <link href="https://vjs.zencdn.net/5.8.8/video-js.css" rel="stylesheet">
{% endblock %}
{% block font_awesome_css %}{% endblock %}
{% block featherlight_css %}{% endblock %}

{% block meta_description %}Watch live FIRST Robotics Competition events.{% endblock %}

{% block more_head_tags %}
  <meta property="og:title" content="GameDay - Live FIRST Robotics Video">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.thebluealliance.com/gameday">
  <meta property="og:image" content="https://www.thebluealliance.com/images/gameday_image.jpg">
  <meta property="og:description" content="Watch live FIRST Robotics Competition events!">
  <meta property="og:site_name" content="The Blue Alliance">
{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
  <div id="content"></div>
  <div style="display: none;" id="webcasts_json">{{ webcasts_json }}</div>
  <div style="display: none;" id="default_chat">{{ default_chat }}</div>
{% endblock %}

{% block admin_bar %}{% endblock %}

{% block footer %}{% endblock %}

{% block login_modal %}{% endblock %}

{% block main_javascript %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/video.js/5.10.2/video.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/videojs-contrib-hls/3.0.2/videojs-contrib-hls.min.js"></script>
  <script type="text/javascript" src="javascript/gameday2.min.js"></script>
{% endblock %}

{% block ganalytics_timer %}
<script>
(function (tos) {
  window.setInterval(function () {
    // Calculate time every 60,000 milliseconds (60 seconds)
    tos = (function (t) {
      return ((parseInt(t[1]) || 0) + 1) + ':00';
    })(tos.split(':').reverse());
    // Collect and send the time to Google Analytics
    window.pageTracker ? pageTracker._trackEvent('gameday_time', 'Log', tos) : _gaq.push(['_trackEvent', 'gameday_time', 'Log', tos]);
    }, 60000);
  })('00');
</script>
{% endblock %}
