{% extends "base.html" %}

{% block insights_active %}active{% endblock %}
{% block insights_active_collapsed %}active{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-2 col-lg-2">

      <div class="clearfix">
        <div class="btn-group inline pull-left" style="margin-top: 3px">
          <a class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" href="#">
            {% if not selected_year %}Overview{% else %}{{selected_year}}{% endif %}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu tba-dropdown-menu-limited">
            <li><a href="/insights">Overview</a></li>
            {% for year in valid_years %}
              <li><a href="/insights/{{year}}">{{year}}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-10 col-lg-10">
      {% block detailed_content %}
      {% endblock %}
    </div>
  </div>
</div>
{% endblock %}
