{% extends "base.html" %}

{% block title %}Match Timeline - The Blue Alliance{% endblock %}

{% block meta_description %}Timeline of matches across all ongoing events{% endblock %}

{% block content %}
<div class="container" style="width: 100%;">
  <div class="row">
    <div class="col-xs-12">
      <h1>Match Timeline</h1>
      <div id="event-keys" class="hidden">{{event_keys_json|safe}}</div>
      <div id="timeline"></div>
    </div>
  </div>
</div>
{% endblock %}


{% block inline_javascript %}
<script type="text/javascript">
  var eventKeys = JSON.parse($('#event-keys').html());

  var container = document.getElementById('timeline');

  // create a data set with groups
  var groups = new vis.DataSet();
  for (var i in eventKeys) {
    groups.add({id: eventKeys[i], content: eventKeys[i].substring(4).toUpperCase()});
  }

  var timelineItems = new vis.DataSet([]);

  // Configuration for the Timeline
  var options = {
    rollingMode: true,
    zoomMin: 1000 * 60 * 20,  // 20 min
    zoomMax: 1000 * 60 * 60,  // 60 min
    // zoomMax: 1000 * 60 * 60 * 24 * 7,  // One week
  };

  // Create a Timeline
  var timeline = new vis.Timeline(container, timelineItems, groups, options);

  // Subscribe to Firebase
  for (var i in eventKeys) {
    const eventKey = eventKeys[i];
    var eventRef = firebase.database().ref('e/' + eventKey + '/m');
    eventRef.on('value', function(snapshot) {
      var matches = snapshot.val();
      for (var partialKey in matches) {
        const matchKey = eventKey + '_' + partialKey;
        var match = matches[partialKey];
        var time;
        var className = 'upcoming';
        if (match.at) {
          time = match.at;
        } else if (match.pt) {
          time = match.pt;
        } else {
          time = match.t;
        }

        var matchShort;
        if (match.c == 'qm') {
          matchShort = 'Q' + match.m;
        } else {
          matchShort = match.c.toUpperCase() + match.s + '-' + match.m;
        }

        // Format content
        var content = '<a href="/match/' + matchKey +'"><b>' + matchShort + '</b></a>' + '<br>' +
          '<table class="match-table" style="margin: 0;">\
            <tbody>\
              <tr>\
                <td class="red">' + match.rt[0].substring(3) +
                '</td><td class="red">' + match.rt[1].substring(3) +
                '</td><td class="red">' + match.rt[2].substring(3) + '</td>'
        if (match.t) {
          content += '<td class="redScore">' + match.r + '</td>'
        }
        content += '</tr>\
              <tr>\
                <td class="blue">' + match.bt[0].substring(3) +
                '</td><td class="blue">' + match.bt[1].substring(3) +
                '</td><td class="blue">' + match.bt[2].substring(3) + '</td>'
        if (match.t) {
          content += '<td class="blueScore">' + match.b + '</td>'
        }
        content += '</tr>\
          </tbody>\
        </table>'

        var timelineItem = {
          id: matchKey,
          group: eventKey,
          content: content,
          start: new Date(time * 1000).toISOString(),
          end: new Date((time + 150) * 1000).toISOString(),
          className: className,
        };
        timelineItems.update(timelineItem);
      }
    });
    eventRef.on('child_removed', function(snapshot) {
      var removedMatch = snapshot.key();
      timelineItems.remove(eventKey + '_' + removedMatch);
    });
  }
</script>
{% endblock %}
