{% extends "base.html" %}

{% block title %}Manage myTBA - The Blue Alliance{% endblock %}

{% block meta_description %}Manage your favorites and subscriptions{% endblock %}

{% block content %}
<div class="container">
  {% if status %}
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      {% if status == 'team_updated' %}
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <h4>Success!</h4>
          <p>myTBA Team successfully updated.</p>
        </div>
      {% elif status == 'event_updated' %}
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <h4>Success!</h4>
          <p>myTBA Event successfully updated.</p>
        </div>
      {% elif status == 'match_updated' %}
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <h4>Success!</h4>
          <p>myTBA Match successfully updated.</p>
        </div>
      {% endif %}
    </div>
  </div>
  {% endif %}
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <ol class="breadcrumb">
        <li><a href="/account">Account Overview</a></li>
        <li class="active">Manage myTBA</li>
      </ol>
      <h1>Manage myTBA</h1>
      <p>
        Here you can manage your favorites and subscriptions.<br>
        <strong><span class="glyphicon glyphicon-star"></span> Favorites</strong> are used for personalized content and quick access.<br>
        <strong><span class="glyphicon glyphicon-bell"></span> Subscriptions</strong> are used for push notifications.
      </p>
      {% include "mytba_partials/mytba_settings.html" %}

      <ul class="nav nav-tabs nav-justified">
        <li class="active"><a href="#my-teams" data-toggle="tab">My Teams <span class="badge">{{team_fav_subs|length}}</span></a></li>
        <li><a href="#my-events" data-toggle="tab">My Events <span class="badge">{{event_fav_subs|length}}</span></a></li>
        <li><a href="#my-matches" data-toggle="tab">My Matches <span class="badge">{{event_match_fav_subs|length}}</span></a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="my-teams">
          <h2>My Teams</h2>

          <input id="add-team-input" class="form-control" type="text" placeholder="Add Team by Name or Number">

          {% if team_fav_subs %}
            <table class="table table-striped">
              <tr>
                <th>Number</th>
                <th>Name</th>
                <th>Favorite</th>
                <th>Subscriptions</th>
                <th>Edit</th>
              </tr>
              {% for team, fav, subs in team_fav_subs %}
              <tr>
                <td>{{team.team_number}}</td>
                <td><a href="/team/{{team.team_number}}">{{team.nickname}}</a></td>
                <td>{% if fav %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
                <td>
                  <ul style="padding-left: 0px;">
                  {% for notification_name in subs.notification_names %}
                    <li>{{notification_name}}</li>
                  {% endfor %}
                  </ul>
                </td>
                <td><a class="btn btn-primary" href="/account/mytba/team/{{team.team_number}}"><span class="glyphicon glyphicon-pencil"></span></a></td>
              </tr>
              {% endfor %}
            </table>
          {% else %}
            <p>You have no teams!</p>
          {% endif %}
        </div>
        <div class="tab-pane" id="my-events">
          <a class="btn btn-default pull-right" href="/account/mytba/event/{{year}}*"><span class="glyphicon glyphicon-plus"></span> Subscribe to all {{year}} Events</a>
          <h2>My Events</h2>

          <input id="add-event-input" class="form-control" type="text" placeholder="Add Event by Name">

          {% if event_fav_subs %}
            <table class="table table-striped">
              <tr>
                <th>Event</th>
                <th>Favorite</th>
                <th>Subscriptions</th>
                <th>Edit</th>
              </tr>
              {% for event, fav, subs in event_fav_subs %}
              <tr>
                <td><a href="/event/{{event.key.id()}}">{{event.year}} {{event.short_name}} [{{event.event_short.upper()}}]</a></td>
                <td>{% if fav %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
                <td>
                  <ul style="padding-left: 0px;">
                  {% for notification_name in subs.notification_names %}
                    <li>{{notification_name}}</li>
                  {% endfor %}
                  </ul>
                </td>
                <td><a class="btn btn-primary" href="/account/mytba/event/{{event.key.id()}}"><span class="glyphicon glyphicon-pencil"></span></a></td>
              </tr>
              {% endfor %}
            </table>
          {% else %}
            <p>You have no events!</p>
          {% endif %}
        </div>
        <div class="tab-pane" id="my-matches">
          <a class="btn btn-success pull-right" href="/account/mytba/add_hot_matches"><span class="glyphicon glyphicon-plus"></span> Subscribe to Hot Matches (Beta)</a>
          <h2>My Matches</h2>

          {% if event_match_fav_subs %}
            {% for event, match_fav_subs in event_match_fav_subs %}
            <h3><a href="/event/{{event.key.id()}}">{{event.year}} {{event.short_name}}</a></h3>
            <table class="table table-striped">
              <tr>
                <th>Match</th>
                <th>Favorite</th>
                <th>Subscriptions</th>
                <th>Edit</th>
              </tr>
              {% for match, fav, subs in match_fav_subs %}
              <tr>
                <td><a href="/match/{{match.key.id()}}">{{match.verbose_name}}</a></td>
                <td>{% if fav %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
                <td>
                  <ul style="padding-left: 0px;">
                  {% for notification_name in subs.notification_names %}
                    <li>{{notification_name}}</li>
                  {% endfor %}
                  </ul>
                </td>
                <td><a class="btn btn-primary" href="/account/mytba/match/{{match.key.id()}}"><span class="glyphicon glyphicon-pencil"></span></a></td>
              </tr>
              {% endfor %}
            </table>
            {% endfor %}
          {% else %}
            <p>You have no matches!</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block inline_javascript %}
<script>
  $(function() {
    // Setup Team typeahead
    $('#add-team-input').attr('autocomplete', 'off');
    $('#add-team-input').typeahead([
      {
        prefetch: {
          url: '/_/typeahead/teams-all',
          filter: teamFilter
        },
      }
    ]);

    // Submit form when Team entry chosen
    function doTeamAction(obj, datum) {
      var team_re = datum.value.match(/(\d+) [|] .+/);
      if (team_re != null) {
        var team_num = team_re[1];
        window.location.href = '/account/mytba/team/' + team_num;
      }
    }
    $('#add-team-input').bind('typeahead:selected', doTeamAction);
    $('#add-team-input').bind('typeahead:autocompleted', doTeamAction);

    // Setup Event typeahead
    $('#add-event-input').attr('autocomplete', 'off');
    $('#add-event-input').typeahead([
      {
        prefetch: {
          url: '/_/typeahead/events-all',
          filter: eventFilter
        },
      }
    ]);

    // Submit form when Event entry chosen
    function doEventAction(obj, datum) {
      var event_re = datum.value.match(/(\d*).+\[(.+?)\]/);
      if (event_re != null) {
        var event_key = (event_re[1] + event_re[2]).toLowerCase();
        window.location.href = '/account/mytba/event/' + event_key;
      }
    }
    $('#add-event-input').bind('typeahead:selected', doEventAction);
    $('#add-event-input').bind('typeahead:autocompleted', doEventAction);
  });
</script>
{% endblock %}
