{% extends "base.html" %}

{% block title %}{% if explicit_year %}{{year}} {% endif %}FIRST Robotics Regional Events - The Blue Alliance{% endblock %}

{% block meta_description %}Regional Events for the FIRST Robotics Competition (FRC){% if explicit_year %} from {{year}}{% endif %}.{% endblock %}

{% block events_active %}active{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-3 col-lg-2">
      <div class="tba-sidenav-affixed">
        <div class="btn-group-vertical">
          <div class="btn-group">
          <a class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" href="#">
            {{year}}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu tba-dropdown-menu-limited" id="valid-years">
            {% for valid_year in valid_years|reverse %}
              <li><a href="/events/{{district_abbrev}}/{{valid_year}}">{{valid_year}}</a></li>
            {% endfor %}
          </ul>
        </div>

        <h1 class="visible-xs end_header" id="regional-header">{% if explicit_year %}{{year}} {% endif %}Regional Events{% if events|length > 0 %}<small> {{ events|length }} Events</small>{% endif %}</h1>

        <div class="btn-group">
          <a class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" style="white-space:normal; word-wrap: break-word; word-break: normal;" href="#">
            Regional Events
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu tba-dropdown-menu-limited" id="valid-districts">
            <li><a href="/events{% if explicit_year %}/{{year}}{% endif %}">All Events</a></li>
            {% for valid_district in valid_districts %}
              {% if district_name != valid_district.0 %}
              <li><a href="/events/{{valid_district.1}}{% if explicit_year %}/{{year}}{% endif %}">{{valid_district.0}}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
	</div>

        <div class="tba-sidebar">
          <ul class="nav tba-sidenav">
          {% for label, events in week_events.items() %}
            <li><a class="smooth-scroll" href="#{{label|slugify}}">{{label}}</a></li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-9 col-lg-10">
      <h1 class="hidden-xs end_header">{% if explicit_year %}{{year}} {% endif %}Regional Events{% if events|length > 0 %}<small> {{ events|length }} Events</small>{% endif %}</h1>

      <div class="tab-content">
        <div class="tab-pane active" id="events">
          {% for label, events in week_events.items() %}
            <div id="event_label_container_{{label|slugify}}">
              <h2 id="{{label|slugify}}">{{ label }} <small>{{events|length}} Events</small></h2>
              {% include "event_partials/event_table.html" %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
