{% extends "base.html" %}

{% block title %}{% if explicit_year %}{{year}} {% endif %}FIRST Robotics Regional Events - The Blue Alliance{% endblock %}

{% block meta_description %}Regional Events for the FIRST Robotics Competition (FRC){% if explicit_year %} from {{year}}{% endif %}.{% endblock %}

{% block events_active %}active{% endblock %}

{% block inline_javascript %}
<script>
  function filterTeams() {
    var teamFilter = $("#team-filter").val().toLowerCase();
    var notQualifiedOnly = $("#filter-not-qualified").hasClass("active");
    $("#advancement-table tr").filter(function() {
      var isHeader = $(this).attr('id') == 'advancement-header';
      var matchesFilter = $(this).attr('id').indexOf(teamFilter) > -1;
      var shouldShow = (isHeader || matchesFilter);

      var isQualified = $(this).attr('data-qualified')
      if (notQualifiedOnly) {
        shouldShow = (isHeader || (matchesFilter && isQualified == "False"));
      }

      $(this).toggle(shouldShow);
    });
  }

  $('.btn-toggle').click(function() {
    $(this).find('.btn').toggleClass('active');

    if ($(this).find('.btn-primary').size() > 0) {
      $(this).find('.btn').toggleClass('btn-primary');
    }

    $(this).find('.btn').toggleClass('btn-default');
    filterTeams();
  });
  $("#team-filter").on("keyup", function() {
    filterTeams();
  });
</script>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-3 col-lg-2">
      <div class="tba-sidenav-affixed">
        <div class="btn-group-vertical">
          <div class="btn-group">
          <a class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" href="#">
            {{year}}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu tba-dropdown-menu-limited" id="valid-years">
            {% for valid_year in valid_years|reverse %}
              <li><a href="/events/{{district_abbrev}}/{{valid_year}}">{{valid_year}}</a></li>
            {% endfor %}
          </ul>
          </div>

          <h1 class="visible-xs end_header" id="regional-header">{% if explicit_year %}{{year}} {% endif %}Regional Events{% if events|length > 0 %}<small> {{ events|length }} Events</small>{% endif %}</h1>

          <div class="btn-group">
            <a class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" style="white-space:normal; word-wrap: break-word; word-break: normal;" href="#">
              Regional Events
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu tba-dropdown-menu-limited" id="valid-districts">
              <li><a href="/events{% if explicit_year %}/{{year}}{% endif %}">All Events</a></li>
              {% for valid_district in valid_districts %}
                {% if district_name != valid_district.0 %}
                <li><a href="/events/{{valid_district.1}}{% if explicit_year %}/{{year}}{% endif %}">{{valid_district.0}}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
	      </div>

        <div class="tba-sidebar">
          <ul class="nav tba-sidenav">
          {% for label, events in week_events.items() %}
            <li><a class="smooth-scroll" href="#{{label|slugify}}">{{label}}</a></li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-9 col-lg-10">
      <h1 class="hidden-xs end_header">{% if explicit_year %}{{year}} {% endif %}Regional Events{% if events|length > 0 %}<small> {{ events|length }} Events</small>{% endif %}</h1>

      {% if year >= 2025 and rankings %}
        <!-- For years without the regional champs pool advancement, we don't need to show tabs -->
        <ul class="nav nav-tabs nav-justified" role="tablist">
          <li class="active"><a href="#events" role="tab" data-toggle="tab">Events</a></li>
          <li><a href="#rankings" role="tab" data-toggle="tab">Championship Qualification</a></li>
        </ul>
      {% endif %}

      <div class="tab-content">
        <div class="tab-pane active" id="events">
          {% for label, events in week_events.items() %}
            <div id="event_label_container_{{label|slugify}}">
              <h2 id="{{label|slugify}}">{{ label }} <small>{{events|length}} Events</small></h2>
              {% include "event_partials/event_table.html" %}
            </div>
          {% endfor %}
        </div>

      {% if year >= 2025 and rankings %}
        <div class="tab-pane" id="rankings">
          {% if rankings %}
              <div class="row" style="padding-top: 5px">
                <div class="col-sm-3">
                  <div class="form-group">
                    <input class="form-control" id="team-filter" placeholder="Filter By Team Number"/>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div name="qualified-toggle" class="btn-group btn-toggle">
                    <button class="btn btn-sm btn-primary active" id="filter-all-teams">All Teams</button>
                    <button class="btn btn-sm btn-default" id="filter-not-qualified">Not Qualified</button>
                  </div>
                </div>
                <div class="col-sm-6">
                  <span><i>Details on <a href="https://frc-events.firstinspires.org/ra/" target="_blank" rel="noopener noreferrer">firstinspires.org</a></i></span>
                </div>
              </div>
          {% endif %}
          <table class="table table-striped table-condensed table-center" id="advancement-table">
            <thead>
              <tr id="advancement-header">
                <th>Rank</th>
                <th>Team</th>
                <th>Event 1</th>
                <th>Event 2</th>
                <th>Rookie Bonus</th>
                <th>Total Points</th>
                <th>Qualified for CMP</th>
              </tr>
            </thead>
            <tbody>
              {% for item in rankings %}
              <tr id="advancement-{{item.team_key}}" data-qualified="{{item.team_key in advancement and advancement[item.team_key].cmp}}">
                <td>{{loop.index}}</td>
                <td><a href="/team/{{item.team_key|digits}}/{{year}}">{{item.team_key|digits}}</a></td>
                <td>
                  {% if item.event_points[0] %}
                  {{item.event_points[0].total}} <a href="/event/{{item.event_points[0].event_key}}" rel="tooltip" title="{{events_by_key[item.event_points[0].event_key].short_name}}"><span class="glyphicon glyphicon glyphicon-chevron-right"></span></a>
                  {% else %}
                  --
                  {% endif %}
                </td>
                <td>
                  {% if item.event_points[1] %}
                  {{item.event_points[1].total}} <a href="/event/{{item.event_points[1].event_key}}" rel="tooltip" title="{{events_by_key[item.event_points[1].event_key].short_name}}"><span class="glyphicon glyphicon glyphicon-chevron-right"></span></a>
                  {% elif item.get("single_event_bonus", 0) > 0 %}
                  <span href="#" rel="tooltip" title="Awarded based on first event performance">{{item.single_event_bonus}} <i>*</i></span>
                  {% else %}
                  --
                  {% endif %}
                </td>
                <td>
                  {% if item.rookie_bonus %}
                  {{item.rookie_bonus}}
                  {% else %}
                  --
                  {% endif %}
                </td>
                <td><strong>{{item.point_total}}</strong></td>
                <td>
                  {% if advancement and item.team_key in advancement %}
                    {% with team_advancement = advancement[item.team_key] %}
                      {% if team_advancement.cmp_status == "PreQualified" %}<span class="label label-info">Pre-Qualified</span>{% endif %}
                      {% if team_advancement.cmp_status == "EventQualified" %}<a href="/event/{{team_advancement.qualifying_event}}"><span class="label label-warning">{{team_advancement.qualifying_award_name}} at {{events_by_key[team_advancement.qualifying_event].short_name}}</span></a>{% endif %}
                      {% if team_advancement.cmp_status == "PoolQualified" %}<span class="label label-success">Regional Pool Week {{team_advancement.qualifying_pool_week}}</span>{% endif %}
                      {% if team_advancement.cmp_status == "Declined" %}<span class="label label-default">Declined</span>{% endif %}
                    {% endwith %}
                  {%endif%}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <p><i>* For teams who have competed at one event, Event 2 points are awarded based on Event 1 performance. See section 12.3.1 of the <a href="https://firstfrc.blob.core.windows.net/frc2025/Manual/2025GameManual.pdf" target="_blank">2025 Game Manual</a> for details.</i></p>
      {% endif %}

      </div>
    </div>
  </div>
</div>
{% endblock %}
