{% extends "base.html" %}

{% block title %}The Blue Alliance - Thanks{% endblock %}

{% block meta_description %}Thanks to all the companies and technologies that make The Blue Alliance possible.{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
      <h1 class="end_header">Thanks</h1>
      <p>The Blue Alliance is a non-profit organization that relies on open-source contributions, volunteers, and our sponsors to keep the site running.</p>
      <p>If you would like to support the site, please consider <a href="/donate">making a donation</a>.</p>
      <h2 class="end_header">Contributors</h2>
      <p>Thanks to our code contributors for our <a href="https://github.com/the-blue-alliance/the-blue-alliance/graphs/contributors" title="The Blue Alliance Web Contributors">web app</a>, <a href="https://github.com/the-blue-alliance/the-blue-alliance-android/graphs/contributors" title="The Blue Alliance Android App Contributors">Android app</a>, and <a href="https://github.com/the-blue-alliance/the-blue-alliance-ios/graphs/contributors" title="The Blue Alliance iOS App">iOS app</a>; and to our data submitters and data moderators.</p>
      <h2 class="end_header">Platinum sponsors</h1>
      <ul>
        <li>
          <h3><a href="https://www.andymark.com/" title="AndyMark">AndyMark</a></h3>
        </li>
      </ul>
      <h2 class="end_header">Gold sponsors</h1>
      <ul>
        <li>
          <h3><a href="https://www.thethriftybot.com/" title="The Thrifty Bot">The Thrifty Bot</a></h3>
        </li>
      </ul>
      <h2 class="end_header">Built with</h1>
      <ul>
        <li>
          <p><strong><a href="http://www.komodomedia.com/download/#social-network-icon-pack" title="Komodo Media">Komodo Media</a></strong>'s social media icons</p>
        </li>
        <li>
          <p><strong><a href="https://github.com/twbs/bootstrap" title="Bootstrap">Bootstrap</a></strong>'s HTML CSS JS framework</p>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
