{% extends "base.html" %}

{% block title %}Webcasts - The Blue Alliance{% endblock %}

{% block meta_description %}Webcasts of the FIRST Robotics Competition.{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Webcasts of {{year}} <em>FIRST</em> Robotics Competition Events</h1>
      <p>We rely on volunteers who webcast and archive events to bring you all the information and videos in The Blue Alliance. These are the {{year}} Event webcasts that we know about. If we're missing a webcast you know of, please let us know by clicking "add webcast" below.</p>
      <h3>Event Webcasts</h3>
      <table class="table table-striped table-hover">
        <thead>
          <th>Event</th>
          <th>Start Date</th>
          <th>Add Webcast</th>
          <th>Current Webcast Info</th>
        </thead>
        <tbody>
          {% for event in events %}
          <tr>
            <td><a href="/event/{{event.key_name}}">{{event.name}}</a></td>
            <td>{{ event.start_date|strftime("%b %d, %Y") }}</td>
            <td>
              {% if event.webcast_json %}
                <a href="/suggest/event/webcast?event_key={{event.key_name}}" target="_blank">Add webcast</a>
              {% else %}
                <a href="/suggest/event/webcast?event_key={{event.key_name}}" target="_blank" class="btn btn-primary btn-xs">Add webcast</a>
              {% endif %}
            </td>
            <td>{{ event.webcast_json }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
