<div class="row">
  <div class="col-xs-12">
    <h3>Bonus Objective Statistics</h3>

    <table class="table table-condensed table-striped text-right">
      <thead>
        <tr>
          <th class="text-right">Objective</th>
          <th class="text-right">Count</th>
          <th class="text-right"># Opportunities</th>
          <th class="text-right">% Success</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>Melody RP</td>
          <td>{{event_insights.melody_rp_count[0]}}</td>
          <td>{{event_insights.melody_rp_count[1]}}</td>
          <td>{{'%0.2f' | format(event_insights.melody_rp_count[2])}}%</td>
        </tr>

        <tr>
          <td>Ensemble RP</td>
          <td>{{event_insights.ensemble_rp_count[0]}}</td>
          <td>{{event_insights.ensemble_rp_count[1]}}</td>
          <td>{{'%0.2f' | format(event_insights.ensemble_rp_count[2])}}%</td>
        </tr>

        <tr>
          <td>Coopertition</td>
          <td>{{event_insights.coopertition_count[0]}}</td>
          <td>{{event_insights.coopertition_count[1]}}</td>
          <td>{{'%0.2f' | format(event_insights.coopertition_count[2])}}%</td>
        </tr>

        <tr>
          <td>4 RP</td>
          <td>{{event_insights.four_rp_count[0]}}</td>
          <td>{{event_insights.four_rp_count[1]}}</td>
          <td>{{'%0.2f' | format(event_insights.four_rp_count[2])}}%</td>
        </tr>

        <tr>
          <td>6 RP</td>
          <td>{{event_insights.six_rp_count[0]}}</td>
          <td>{{event_insights.six_rp_count[1]}}</td>
          <td>{{'%0.2f' | format(event_insights.six_rp_count[2])}}%</td>
        </tr>
      </tbody>
    </table>

    <div class="col-xs-12">
      <h3>Match Statistics</h3>
      <table class="table table-condensed table-striped text-right">
        <tbody>
          <tr>
            <td>High Score</td>
            <td>
              {{event_insights.high_score[0]}} in
              <a href="/match/{{event_insights.high_score[1]}}"
                >{{event_insights.high_score[2]}}</a
              >
            </td>
          </tr>
          <tr>
            <td>Average Match Score</td>
            <td>{{'%0.2f' | format(event_insights.average_score|float)}}</td>
          </tr>

          <tr>
            <td>Average Winning Score</td>
            <td>
              {{'%0.2f' | format(event_insights.average_winning_score|float)}}
            </td>
          </tr>

          <tr>
            <td>Average Win Margin</td>
            <td>
              {{'%0.2f' | format(event_insights.average_win_margin|float)}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
