<div class="col-sm-6">
    <table class="table table-striped table-condensed table-center team-table">
    <thead>
        <tr>
        <th>Team</th>
        <th>Location</th>
        {% if show_pit_locations %}<th><img style="width:12px; height:12px; vertical-align: baseline;" src="/images/nexus_logo.png" alt="nexus logo"> Pit Location</th>{% endif %}
        <th>Image</th>
        </tr>
    </thead>
    <tbody>
        {% for team, image_medias in teams_and_medias %}
        <tr>
        <td>
            <div class="team-name-container">
            <div class="favorite-team-icon" data-team="{{team.key.id()}}">
                <span class="favorite-team-icon-spacer"></span>
                <span class="glyphicon glyphicon-star"></span>
            </div>
            <div class="team-name">
                <a href="/team/{{ team.team_number }}/{{event.year}}">{{ team.team_number }}<br>{% if team.nickname %}{{ team.nickname }}{% else %}--{% endif %}</a>
            </div>
            </div>
        </td>
        <td>{% if team.city_state_country %}{{ team.city_state_country }}{% else %}--{% endif %}</td>
        {% if show_pit_locations %}<td>{% if team.key_name in nexus_pit_locations %}<a href="https://frc.nexus/en/event/{{event.year}}{{event.first_api_code}}/team/{{team.team_number}}/map" target="_blank" rel="noopener noreferrer">{{nexus_pit_locations.get(team.key_name)}}</a>{% else %}--{% endif %}</td>{% endif %}
        <td>{% if image_medias %}{% set small_thumbnail = True %}{% include "media_partials/image_carousel_partial.html" %}{% else %}<a class="btn btn-success" href="/suggest/team/media?team_key={{team.key_name}}&year={{event.year}}" target="_blank" rel="noopener noreferrer"><span class="glyphicon glyphicon-plus"></span></a>{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>