<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "CollectionPage",
  "name": "{% if explicit_year %}{{ selected_year }} {% endif %}FIRST Robotics Competition Events{% if state_prov %} in {{ state_prov }}{% endif %}",
  "description": "List of FIRST Robotics Competition events{% if state_prov %} in {{ state_prov }}{% endif %}{% if explicit_year %} for the {{ selected_year }} season{% endif %}",
  "url": "https://www.thebluealliance.com/events{% if explicit_year %}/{{ selected_year }}{% endif %}",
  "mainEntity": {
    "@type": "ItemList",
    "numberOfItems": {{ events|length }},
    "itemListElement": [
      {% for event in events[:20] %}
      {
        "@type": "ListItem",
        "position": {{ loop.index }},
        "item": {
          "@type": "SportsEvent",
          "@id": "https://www.thebluealliance.com/event/{{ event.key_name }}",
          "name": "{{ event.name }}"
        }
      }{% if not loop.last %},{% endif %}

      {% endfor %}
    ]
  }
}
</script>
