<div class="row">
  <div class="col-xs-12">
    {% set energized_rp_count = event_insights.get("energized_rp_count", [0, 0, 0]) %}
    {% set supercharged_rp_count = event_insights.get("supercharged_rp_count", [0, 0, 0]) %}
    {% set traversal_rp_count = event_insights.get("traversal_rp_count", [0, 0, 0]) %}
    {% set six_rp_count = event_insights.get("six_rp_count", [0, 0, 0]) %}
    {% set nine_rp_count = event_insights.get("nine_rp_count", [0, 0, 0]) %}
    {% set auto_win_conversion = event_insights.get("auto_win_conversion", [0, 0, 0]) %}
    {% set auto_fuel_scored = event_insights.get("auto_fuel_scored", [0, 0, 0]) %}
    {% set teleop_fuel_scored = event_insights.get("teleop_fuel_scored", [0, 0, 0]) %}
    {% set total_fuel_scored = event_insights.get("total_fuel_scored", [0, 0, 0]) %}
    {% set auto_climb_count = event_insights.get("auto_climb_count", [0, 0, 0]) %}
    {% set level1_climb_count = event_insights.get("level1_climb_count", [0, 0, 0]) %}
    {% set level2_climb_count = event_insights.get("level2_climb_count", [0, 0, 0]) %}
    {% set level3_climb_count = event_insights.get("level3_climb_count", [0, 0, 0]) %}
    {% set high_score = event_insights.get("high_score", [0, "", "--"]) %}
    {% set average_score = event_insights.get("average_score", 0.0) %}
    {% set average_winning_score = event_insights.get("average_winning_score", 0.0) %}
    {% set average_win_margin = event_insights.get("average_win_margin", 0.0) %}

    <h3>Bonus Objective Statistics</h3>

    <table class="table table-condensed table-striped text-right">
      <thead>
        <tr>
          <th class="text-right">Objective</th>
          <th class="text-right">Count</th>
          <th class="text-right"># Opportunities</th>
          <th class="text-right">% Success</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>Energized RP</td>
          <td>{{energized_rp_count[0]}}</td>
          <td>{{energized_rp_count[1]}}</td>
          <td>{{'%0.2f' | format(energized_rp_count[2])}}%</td>
        </tr>

        <tr>
          <td>Supercharged RP</td>
          <td>{{supercharged_rp_count[0]}}</td>
          <td>{{supercharged_rp_count[1]}}</td>
          <td>{{'%0.2f' | format(supercharged_rp_count[2])}}%</td>
        </tr>

        <tr>
          <td>Traversal RP</td>
          <td>{{traversal_rp_count[0]}}</td>
          <td>{{traversal_rp_count[1]}}</td>
          <td>{{'%0.2f' | format(traversal_rp_count[2])}}%</td>
        </tr>

        <tr>
          <td>6 RP</td>
          <td>{{six_rp_count[0]}}</td>
          <td>{{six_rp_count[1]}}</td>
          <td>{{'%0.2f' | format(six_rp_count[2])}}%</td>
        </tr>

        <tr>
          <td>9 RP</td>
          <td>{{nine_rp_count[0]}}</td>
          <td>{{nine_rp_count[1]}}</td>
          <td>{{'%0.2f' | format(nine_rp_count[2])}}%</td>
        </tr>

        <tr>
          <td><abbr title="Matches won by the alliance whose HUB was inactive in Shift 1">Auto Win Conversion</abbr></td>
          <td>{{auto_win_conversion[0]}}</td>
          <td>{{auto_win_conversion[1]}}</td>
          <td>{{'%0.2f' | format(auto_win_conversion[2])}}%</td>
          </td>
        </tr>
      </tbody>

    </table><h3>Fuel Statistics</h3>

    <table class="table table-condensed table-striped text-right">
      <thead>
        <tr>
          <th class="text-right">Objective</th>
          <th class="text-right">Count</th>
          <th class="text-right">Alliance average</th>
          <th class="text-right">Team average</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>Auto Fuel Scored</td>
          <td>{{auto_fuel_scored[0]}}</td>
          <td>{{'%0.1f' | format(auto_fuel_scored[1])}}</td>
          <td>{{'%0.1f' | format(auto_fuel_scored[2])}}</td>
        </tr>

        <tr>
          <td>Teleop Fuel Scored</td>
          <td>{{teleop_fuel_scored[0]}}</td>
          <td>{{'%0.1f' | format(teleop_fuel_scored[1])}}</td>
          <td>{{'%0.1f' | format(teleop_fuel_scored[2])}}</td>
        </tr>

        <tr>
          <td>Total Fuel Scored</td>
          <td>{{total_fuel_scored[0]}}</td>
          <td>{{'%0.1f' | format(total_fuel_scored[1])}}</td>
          <td>{{'%0.1f' | format(total_fuel_scored[2])}}</td>
        </tr>
      </tbody>
    </table>

    </table><h3>Tower Statistics</h3>

    <table class="table table-condensed table-striped text-right">
      <thead>
        <tr>
          <th class="text-right">Objective</th>
          <th class="text-right">Count</th>
          <th class="text-right">Opportunities</th>
          <th class="text-right">% Success</th>
        </tr>
      </thead>

        <tr>
          <td>Auto Climb</td>
          <td>{{auto_climb_count[0]}}</td>
          <td>{{auto_climb_count[1]}}</td>
          <td>{{'%0.2f' | format(auto_climb_count[2])}}%</td>
        </tr>

        <tr>
          <td>Level 1 Climb</td>
          <td>{{level1_climb_count[0]}}</td>
          <td>{{level1_climb_count[1]}}</td>
          <td>{{'%0.2f' | format(level1_climb_count[2])}}%</td>

        <tr>
          <td>Level 2 Climb</td>
          <td>{{level2_climb_count[0]}}</td>
          <td>{{level2_climb_count[1]}}</td>
          <td>{{'%0.2f' | format(level2_climb_count[2])}}%</td>

        <tr>
          <td><abbr title="May be higher due to G420 violations">Level 3 Climb</abbr></td>
          <td>{{level3_climb_count[0]}}</td>
          <td>{{level3_climb_count[1]}}</td>
          <td>{{'%0.2f' | format(level3_climb_count[2])}}%</td>
        </tr>
      </tbody>
    </table>

    <div class="col-xs-12">
      <h3>Match Statistics</h3>
      <table class="table table-condensed table-striped text-right">
        <tbody>
          <tr>
            <td>High Score</td>
            <td>
              {{high_score[0]}} in
              <a href="/match/{{high_score[1]}}"
                >{{high_score[2]}}</a
              >
            </td>
          </tr>
          <tr>
            <td>Average Match Score</td>
            <td>{{'%0.2f' | format(average_score|float)}}</td>
          </tr>

          <tr>
            <td>Average Winning Score</td>
            <td>
              {{'%0.2f' | format(average_winning_score|float)}}
            </td>
          </tr>

          <tr>
            <td>Average Win Margin</td>
            <td>
              {{'%0.2f' | format(average_win_margin|float)}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
