<h3>Event Information</h3>
<form action="/suggest/offseason/review" method="post" id="review_{{ suggestion_id }}">
    <input type="hidden" name="suggestion_id" value="{{ suggestion_id }}" />
    <table class="table table-striped table-hover table-condensed">
        <tr>
            <td>Event ID (used in key)</td>
            <td><input type="text" name="event_short" {% if event.event_short %}value="{{ event.event_short }}{% endif %}"/></td>
            <td><p><strong>Example:</strong><br>nyny</p></td>
        </tr>
        <tr>
            <td>FIRST Sync Code</td>
            <td><input type="text" name="first_code" {% if event.first_code%}value="{{ event.first_code }}{% endif %}"/></td>
            <td><p><strong>Example:</strong><br>IRI</p></td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
            <td>Name</td>
            <td><input type="text" name="name" {% if event.name %}value="{{ event.name }}"{% endif %}/></td>
            <td><p><strong>Example:</strong><br>New York City Regional</p></td>
        </tr>
         <tr>
            <td>Short Name</td>
            <td><input type="text" name="short_name" {% if event.short_name %}value="{{ event.short_name }}"{% endif %}/></td>
             <td><p><strong>Example:</strong><br>New York City</p></td>
        </tr>
        <tr>
            <td>Dates</td>
            <td>
                <input type="text" name="start_date" {% if event.start_date %}value="{{ event.start_date.strftime("%Y-%m-%d")}}"{% endif %} placeholder="2012-04-04"/> to <input type="text" name="end_date" {% if event.end_date %}value="{{ event.end_date.strftime("%Y-%m-%d")}}" {% endif %}placeholder="2012-04-06"/>
            </td>
        </tr>
        <tr>
            <td>Website</td>
            <td><input type="text" name="website" {% if event.website %}value="{{ event.website }}"{% endif %}/></td>
        </tr>
        <tr>
            <td>Year</td>
            <td><input type="text" name="year" {% if event.year %}value="{{ event.year }}"{% endif %}/></td>
        </tr>
        <tr>
            <td>Event Venue</td>
            <td><input type="text" name="venue" {% if event.venue %}value="{{ event.venue }}"{% endif %}/></td>
            <td><p><strong>Example:</strong><br>Jacob K. Javits Convention Center</p></td>
        </tr>
        <tr>
            <td>Event Venue Address</td>
            <td><textarea name="venue_address">{% if event.venue_address %}{{ event.venue_address }}{% endif %}</textarea>
            <td><p><strong>Example:</strong><br>Jacob K. Javits Convention Center<br>655 West 34th Street<br>New York, NY, USA</p></td>
        </tr>
        <tr>
            <td>Event City</td>
            <td><input type="text" name="city" {% if event.city %}value="{{ event.city}}"{% endif %}/></td>
            <td><p><strong>Example:</strong><br>New York</p></td>
        </tr>
        <tr>
            <td>Event State</td>
            <td><input type="text" name="state" {% if event.state_prov %}value="{{ event.state_prov}}"{% endif %}/></td>
            <td><p><strong>Example:</strong><br>NY</p></td>
         </tr>
         <tr>
            <td>Event Country</td>
            <td><input type="text" name="country" {% if event.country %}value="{{ event.country}}"{% endif %}/></td>
            <td><p><strong>Example:</strong><br>USA</p></td>
         </tr>
    </table>

    <button type="submit" class="btn btn-primary" name="verdict" value="accept"><span class="glyphicon glyphicon-thumbs-up"></span> Add Event</button>
    <button type="submit" class="btn btn-danger" name="verdict" value="reject"><span class="glyphicon glyphicon-thumbs-down"></span> Reject</button>
</form>
