{% extends "base.html" %}

{% block title %}EventTeamUpdateDo{% endblock %}

{% block content %}
<div class="row">
    <h2>EventTeamUpdateDo</h2>
    <div class="alert alert-block alert-warn">
        Got [ {{deleted_event_teams_keys|length}} ] EventTeams deleted!
    </div>
    <div class="alert alert-block alert-success">
        Got [ {{event_teams|length}} ] EventTeams written!
    </div>
    <h3>EventTeams deleted:</h3>
    <ul>
        {% for deleted_event_team_key in deleted_event_teams_keys %}
        <li>{{deleted_event_team_key.id}}</li>
        {% endfor %}
    </ul>
    <h3>EventTeams written:</h3>
    <ul>
        {% for event_team in event_teams %}
        <li>{{event_team.key.id}}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}