{% extends "admin/base.html" %}

{% block title %}New YoutubeVideo - TBA Admin{% endblock %}

{% block content %}

<h1>Add YoutubeVideo</h1>

<form action="/admin/youtubevideos/add" method="post">
    <fieldset>
        <legend>Add YoutubeVideo</legend>
        <ul>
            <li><input type="text" name="match_key_name" /><label for="match_key_name">Match Key</label></li>
            <li><input type="text" name="youtube_id" /><label for="youtube_id">Youtube ID</label></li>
            
            <li><input type="submit" id="submit" name="submit" value="Save"></li>
        </ul>
    </fieldset>
</form>

{% endblock %}
