<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {"@type": "ListItem", "position": 1, "name": "Teams", "item": "https://www.thebluealliance.com/teams"},
    {"@type": "ListItem", "position": 2, "name": "Team {{ team.team_number }}", "item": "https://www.thebluealliance.com/team/{{ team.team_number }}"},
    {"@type": "ListItem", "position": 3, "name": "History", "item": "https://www.thebluealliance.com/team/{{ team.team_number }}/history"}
  ]
}
</script>
