{% extends "base.html" %}

{% block title %}Add Your Own Data - The Blue Alliance{% endblock %}

{% block meta_description %}Instructions to add your own FRC data to The Blue Alliance{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-3 col-lg-2">
      <div class="tba-sidenav-affixed">
        <h1 class="visible-xs end_header">Add Data to TBA!</h1>

        <div class="tba-sidebar">
          <ul class="nav tba-sidenav">
              <li><a class="smooth-scroll" href="#match-videos">Match Video</a></li>
              <li><a class="smooth-scroll" href="#webcasts">Event Webcasts</a></li>
              <li><a class="smooth-scroll" href="#team-media">Team Media</a></li>
              <li><a class="smooth-scroll" href="#offseason">Offseason Event</a></li>
              <li><a class="smooth-scroll" href="#results">Event Results</a></li>
              <li><a class="smooth-scroll" href="#other">Other</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-9 col-lg-10">
      <h1 class="hidden-xs end_header">Add Data to TBA!</h1>
      <p>Do you have some data you'd like to add to The Blue Alliance? This page will provide you with the resources you need to help contribute to TBA.</p>

      <h2 id="match-videos">Adding Match Videos</h2>
      <p>If you have links to YouTube recordings of match video, you can link them on TBA. You can suggest videos individually from the detail page for a given match, and if you have a YouTube playlist for an event, click the "Add Match Videos!" button on the "Event" page and input the playlist link. If you're webcasting and archiving an event and want to directly add videos as they get uploaded, you can <a href="/request/apiwrite">request write keys</a>.</p>

      <h2 id="webcasts">Event Webcasts</h2>
      <p>If you have the link to the webcast for an event, you can suggest it from the event's detail page, or from The Blue Alliance homepage if the event is currently active. We make an effort to support many stream types, but Twitch.tv, Livestream, and YouTube are most common.</p>

      <h2 id="team-media">Team Media</h2>
      <p>You can suggest various types of team media to TBA from a team's detail page in a specific year. You can suggest robot pictures, reveal videos, and robot CAD. Team social media accounts, like Twitter, Facebook, Instagram, and GitHub are not year-specific, and persist from year to year.</p>
    
      <h2 id="offseason">Adding a New Offseason Event</h2>
      <p>Do you know of an offseason event missing from TBA? You can suggest an event to be added <a href="/suggest/offseason">here</a>. The request will be reviewed and added shortly.</p>
     
      <h2 id="results">Adding Offseason Event Results</h2>
      <div class="row">
        <div class="col-xs-6 col-sm-5 col-lg-6">
          <h3>FMS Sync</h3> Offseason events have the ability to have their match results, team list, and other data synchronized <i>to FIRST</i> Headquarters infrastructure using the same mechanisms that are used in-season. If your offseason-event is using FMS Sync, it is <i>automatically</i> added to TBA.
          <br><br>
          Match videos, livestreams, and awards would still need to be added using the mechanisms listed above though.
        </div>
        <div class="col-xs-6 col-sm-4 col-lg-6">
          <h3>Offline FMS</h3> If your offseason event does <i>not</i> have FMS Sync back to Headquarters, that's not an issue either. You can <a href="/request/apiwrite">request write keys</a> and post individual data points during an event using the <a href="https://www.thebluealliance.com/eventwizard2">Event Wizard</a> to get results in a timely manner.
          <br><br>
          Alternately, get the FMS Reports exported before you tear down your field. TBA can take the Excel files and import them to get match data after the fact, to get as much historical data as possible.
        </div>
      </div>
    <h3>FMS Reports</h3>
    <p>We can also import FMS Report exports into the Blue Alliance. You can either <a href="/request/apiwrite">obtain write keys</a> and use the <a href="/eventwizard">Event Wizard</a> to input the reports, or post them in our <a href="http://facebook.com/groups/moardata">Facebook Group</a>.</p>

    <h2 id="other">Other</h2>
    <p>For other data you'd like to add, reach out on our <a href="http://facebook.com/groups/moardata">Facebook Group</a> or <a href="/contact">drop us a line</a>, we'll be happy to help!</p>
    </div>
  </div>
</div>
{% endblock %}
