{% import "advanced_search_partials/search_macros.html" as sm with context %}

{% extends "base.html" %}

{% block title %}Advanced Search - The Blue Alliance{% endblock %}

{% block meta_description %}Search for teams and events using powerful filters{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Advanced Search</h1>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-4 col-lg-3">
      <form>
        <div class="form-group">
          <label for="input-location-type">Search for teams</label>
          <select class="form-control selectpicker" data-dropup-auto="false" id="input-location-type" name="location_type">
            <option value="0">From anywhere</option>
            <optgroup label="Within">
            {% for valid_range in valid_ranges %}
              <option value="{{loop.index}}" title="Within {{valid_range}} miles of"{% if loop.index == location_type %} selected="selected"{% endif %}>{{valid_range}} miles of</option>
            {% endfor %}
            </optgroup>
          </select>
        </div>

        <div class="form-group display-none{% if location_type != 0 and not location %} has-error has-feedback{% endif %}">
          <label class="sr-only" for="input-location">Location</label>
          <input type="text" class="form-control" id="input-location" name="location" placeholder="City / Zip / Address"{% if location %} value="{{location}}"{% endif %}" disabled>
          {% if location_type != 0 and not location %}
          <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
          {% endif %}
        </div>

        <div class="form-group">
          <label>Filtered by</label>
          <div class="btn-group btn-group-block-3" data-toggle="buttons">
            <label class="btn btn-default{% if filter_type == 0 %} active{% endif %}">
              <input type="radio" name="filter_type" value="0" autocomplete="off"{% if filter_type == 0 %} checked{% endif %}>
              Year
            </label>
            <label class="btn btn-default{% if filter_type == 1 %} active{% endif %}">
              <input type="radio" name="filter_type" value="1" autocomplete="off"{% if filter_type == 1 %} checked{% endif %}>
              Event
            </label>
            <label class="btn btn-default{% if filter_type == 2 %} active{% endif %}">
              <input type="radio" name="filter_type" value="2" autocomplete="off"{% if filter_type == 2 %} checked{% endif %}>
              Award
            </label>
          </div>
        </div>

        <!-- Year Filter -->
        <div class="form-group{% if filter_type != 0 %} display-none{% endif %}">
          <label class="sr-only" for="input-year">Year</label>
          <div class="input-group">
            <div class="input-group-addon">active in</div>
            <select class="form-control selectpicker" data-dropup-auto="false" id="input-year" name="year"{% if filter_type != 0 %} disabled{% endif %}>
              <option value="0">any year</option>
              {% for valid_year in valid_years %}
                <option value="{{valid_year}}"{% if valid_year == year %} selected="selected"{% endif %}>{{valid_year}}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <!-- Award Filter -->
        <div class="form-group{% if filter_type != 2 %} display-none{% endif %}">
          <label for="input-award-type">That have won all the following awards (3 max):</label>
          <select class="form-control selectpicker" data-dropup-auto="false" id="input-award-type" name="award_type" multiple title="No awards selected" data-max-options="{{max_awards}}" data-live-search="true"{% if filter_type != 2 %} disabled{% endif %}>
            {% for valid_award_type, valid_award_type_name in valid_award_types %}
              <option value="{{valid_award_type}}"{% if valid_award_type in award_types %} selected="selected"{% endif %}>{{valid_award_type_name}}</option>
              {% if loop.index == num_special_awards %}<option data-divider="true"></option>{% endif %}
            {% endfor %}
          </select>
        </div>

        <div class="form-group{% if not award_types or filter_type != 2 %} display-none{% endif %}">
          <label for="input-event-type">At any of the following competition levels:</label>
          <select class="form-control selectpicker" data-dropup-auto="false" id="input-event-type" name="event_type" multiple title="No competition levels selected" data-actions-box="true"{% if not award_types or filter_type != 2 %} disabled{% endif %}>
            {% for valid_event_type, valid_event_type_name in valid_event_types %}
              <option value="{{valid_event_type}}"{% if valid_event_type in event_types %} selected="selected"{% endif %}>{{valid_event_type_name}}</option>
            {% endfor %}
          </select>
        </div>

        <div class="form-group{% if not award_types or filter_type != 2 %} display-none{% endif %}">
          <label for="input-time-period">Within the period of</label>
          <select class="form-control selectpicker" data-dropup-auto="false" id="input-time-period" name="time_period" data-actions-box="true"{% if not award_types or filter_type != 2 %} disabled{% endif %}>
            <option value="0"{% if time_period == 0 %} selected="selected"{% endif %}>the team's history</option>
            <option value="1"{% if time_period == 1 %} selected="selected"{% endif %}>one season</option>
            <option value="2"{% if time_period == 2 %} selected="selected"{% endif %}>one event</option>
          </select>
        </div>

        <div class="form-group{% if time_period == 0 or filter_type != 2 %} display-none{% endif %}">
          <label class="sr-only" for="input-award-year">Award year</label>
          <div class="input-group">
            <div class="input-group-addon">in</div>
            <select class="form-control selectpicker" data-dropup-auto="false" id="input-award-year" name="year"{% if time_period == 0 or filter_type != 2 %} disabled{% endif %}>
              <option value="0">any year</option>
              {% for valid_year in valid_years %}
                <option value="{{valid_year}}"{% if valid_year == year %} selected="selected"{% endif %}>{{valid_year}}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <button id="submit-search" type="submit" class="btn btn-success btn-block{% if filter_type == 2 and not award_types %} disabled{% endif %}"><span class="glyphicon glyphicon-search"></span> Search</button>
      </form>
    </div>

    <div class="col-sm-8 col-lg-9">
      {% if result_models %}
        <p>{{num_results}} result{% if num_results != 1 %}s{% endif %} found</p>

        <table class="event-table">
          <thead>
            <tr>
              <th>Team</th>
            </tr>
          </thead>
          <tbody>
            {% for team in result_models %}
              <tr>
                <td>
                  <a href="/team/{{team.team_number}}/{% if year == 0 %}history{% else %}{{year}}{% endif %}" title="Team {{team.team_number }} - {{team.nickname}}">Team {{team.team_number }} - {{team.nickname}}</a>

                    {% if team.city_state_country %}
                      <br>
                      <small>{{team.city_state_country}}</small>
                    {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p class="well">No results were found matching the search criteria. Try choosing less restrictive filters.</p>
      {% endif %}
    </div>
  </div>
<!--

  <div class="row">
    <div class="col-xs-12">
      <div class="well">
        <form class="">
          <div class="row">
            <div class="col-sm-6 col-md-2">
              <label class="sr-only" for="input-year">Year</label>
              <select class="form-control selectpicker" data-dropup-auto="false" id="input-year" name="year">
                <option value="0">All Years</option>
                {% for valid_year in valid_years %}
                  <option value="{{valid_year}}"{% if valid_year == year %} selected="selected"{% endif %}>{{valid_year}}</option>
                {% endfor %}
              </select>
            </div>

            <div class="col-sm-6 col-md-3">
              <label class="sr-only" for="input-award">Award Filter</label>
              <select class="form-control selectpicker" data-dropup-auto="false" id="input-award-type" name="award_type" multiple title="Won Awards" data-actions-box="true" data-live-search="true">
                {% for valid_award_type, valid_award_type_name in valid_award_types %}
                  <option value="{{valid_award_type}}"{% if valid_award_type in award_types %} selected="selected"{% endif %}>{{valid_award_type_name}}</option>
                  {% if loop.index == num_special_awards %}<option data-divider="true"></option>{% endif %}
                {% endfor %}
              </select>
            </div>

            <div class="col-sm-6 col-md-3">
              <label class="sr-only" for="input-event-type">Event Filter</label>
              <select class="form-control selectpicker" data-dropup-auto="false" id="input-event-type" name="event_type" multiple title="At Events" data-actions-box="true" disabled>
                {% for valid_event_type, valid_event_type_name in valid_event_types %}
                  <option value="{{valid_event_type}}"{% if valid_event_type in event_types %} selected="selected"{% endif %}>{{valid_event_type_name}}</option>
                {% endfor %}
              </select>
            </div>

            <div class="col-sm-6 col-md-2">
              <label class="sr-only" for="input-location">Near Location</label>
              <input type="text" class="form-control" id="input-location" name="location" placeholder="City / Zip / Address"{% if location %} value="{{location}}"{% endif %}">
            </div>

            <div class="col-sm-12 col-md-2">
              <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-search"></span> Search</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      {% if results %}
        <p>{{num_results}} {% if search_type == 'teams' %}team{% else %}event{% endif %}{% if num_results != 1 %}s{% endif %} found</p>

        {% if num_results > page_size %}
          <nav aria-label="Page navigation">
            <ul class="pagination">
              {% if page != 0 %}
              <li>
                <a href="/nearby?year={{year}}{% for award_type in award_types %}&award_type={{award_type}}{% endfor %}{% for event_type in event_types %}&event_type={{event_type}}{% endfor %}&location={{location}}&page={{page - 1}}&search_type={{search_type}}" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              {% endif %}
              {% for i in range((num_results / page_size)|ceil) %}
                <li {% if i == page %}class="active"{% endif %}>
                  <a href="/nearby?year={{year}}{% for award_type in award_types %}&award_type={{award_type}}{% endfor %}{% for event_type in event_types %}&event_type={{event_type}}{% endfor %}&location={{location}}&page={{i}}&search_type={{search_type}}">
                    {{page_size * i + 1}}-
                    {%- if loop.last -%}
                      {{page_size * i + num_results - page_size * i}}
                    {%- else -%}
                      {{page_size * i + page_size}}
                    {% endif %}
                  </a>
                </li>
              {% endfor %}
              {% if page != (num_results / page_size)|ceil - 1 %}
              <li>
                <a href="/nearby?year={{year}}{% for award_type in award_types %}&award_type={{award_type}}{% endfor %}{% for event_type in event_types %}&event_type={{event_type}}{% endfor %}&location={{location}}&page={{page + 1}}&search_type={{search_type}}" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
              {% endif %}
            </ul>
          </nav>
        {% endif %}

        <table class="event-table">
          <thead>
            <tr>
              <th>{{sm.sort_header('Team' if search_type == 'teams' else 'Event', 0)}}</th>
              {% if search_type == 'events' %}<th>Dates</th>{% endif %}
              {% for field_name in field_names %}
              <th>{{sm.sort_header(field_name, loop.index)}}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for result, fields in results %}
              <tr>
                <td>
                  {% if search_type == 'teams' %}
                    <a href="/team/{{result.team_number}}/{% if year == 0 %}history{% else %}{{year}}{% endif %}" title="Team {{result.team_number }} - {{result.nickname}}">Team {{result.team_number }} - {{result.nickname}}</a>
                  {% else %}
                    <a href="/event/{{result.key_name}}" title="{{result.name}}">{{result.name}}</a>
                  {% endif %}
                    {% if result.city_state_country %}
                      <br>
                      <small>{{result.city_state_country}}</small>
                    {% endif %}
                </td>
                {% if search_type == 'events' %}
                <td>
                  {% if result.start_date %}<time itemprop="startDate" datetime="{{result.start_date|strftime("%c")}}">{{ result.start_date|strftime("%b %d") }}{% if result.start_date.date() != result.end_date.date() %}</time> to <time itemprop="endDate" datetime="{{result.end_date|strftime("%c")}}">{{ result.end_date|strftime("%b %d") }}{% endif %}{{ result.end_date|strftime(", %Y") }}</time>{% endif %}
                </td>
                {% endif %}
                {% for returned_field in returned_fields %}
                  {% if returned_field == 'distance' %}
                    <td>{{fields.get(returned_field)|round|int}} miles</td>
                  {% else %}
                    <td>{{fields.get(returned_field)|int}}</td>
                  {% endif %}
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p class="well">No {% if search_type == 'teams' %}teams{% else %}events {% endif %} were found matching the search criteria. Try choosing less restrictive filters.</p>
      {% endif %}
    </div>
  </div>
 -->
</div>
{% endblock %}

{% block inline_javascript %}
<script>
  function enable(input) {
    input.prop('disabled', false);
    input.closest('.form-group').show();
    input.selectpicker('refresh');
  }

  function disable(input) {
    input.closest('.form-group').hide();
    input.prop('disabled', true);
    input.selectpicker('refresh');
  }

  // Show/hide location text input based on location type selection
  $('#input-location-type').on('changed.bs.select loaded.bs.select', function () {
    if ($(this).selectpicker('val') == 0) {
      disable($('#input-location'));
    } else {
      enable($('#input-location'));
    }
  });

  // Handle filter options
  $('input[type=radio][name=filter_type]').change(function() {
    if (this.value == 0) {
      $('#submit-search').removeClass('disabled');
      // Show year filter
      enable($('#input-year'));

      // Hide all others
      disable($('#input-award-type'));

    } else if (this.value == 1) {
      $('#submit-search').removeClass('disabled');
      // Show year filter

      // Hide all others
      disable($('#input-year'));
      disable($('#input-award-type'));

    } else if (this.value == 2) {
      $('#submit-search').removeClass('disabled');
      // Show award filter
      enable($('#input-award-type'));

      // Hide all others
      disable($('#input-year'));
    }
  });

  // Show/hide depending on #input-award-type
  $('#input-award-type').on('changed.bs.select loaded.bs.select refreshed.bs.select', function () {
    if ($(this).selectpicker('val') == null || $(this).is(':hidden')) {
      disable($('#input-event-type'));
      disable($('#input-time-period'));
    } else {
      enable($('#input-event-type'));
      enable($('#input-time-period'));
    }

    if (!$(this).is(':hidden')) {
      if ($(this).selectpicker('val') == null) {
        $('#submit-search').addClass('disabled');
      } else{
        $('#submit-search').removeClass('disabled');
      }
    }
  });

  // Show/hide depending on #input-time-period
  $('#input-time-period').on('changed.bs.select loaded.bs.select refreshed.bs.select', function () {
    if ($(this).selectpicker('val') == 0 || $(this).is(':hidden')) {
      disable($('#input-award-year'));
    } else {
      enable($('#input-award-year'));
    }
  });
</script>
{% endblock %}
