{% extends "base.html" %}

{% block title %}The Blue Alliance - 2018 Avatars{% endblock %}

{% block meta_description %}Team avatars for the 2018 season{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 text-center">
      <h1 class="end_header">2018 FIRST POWER UP Avatars</h1>

      <p>For more information about submitting avatars, please read the official FRC <a href="https://www.firstinspires.org/robotics/frc/blog/team-avatar-submission-system" target="_blank">blog post</a>.</p>
      <a id="color-switch" class="btn btn-md btn-default">
        Toggle background color
      </a>
      <br><br>

      {% for avatar in avatars %}
        <a href="/team/{{avatar.references[0].id()[3:]}}/2018" class="avatar-link">
          <img class="team-avatar blue" src="{{avatar.avatar_image_source}}" rel="tooltip" title="Team {{avatar.references[0].id()[3:]}}"/>
        </a>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

{% block inline_javascript %}
<script>
  $("#color-switch").click(function(){
    $(".team-avatar").toggleClass("red").toggleClass("blue")
  });
</script>
{% endblock %}
