{% extends "base.html" %}

{% block title %}The Blue Alliance - {{year}} Avatars{% endblock %}

{% block meta_description %}Team avatars for the {{year}} season{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 text-center">
      <h1 class="end_header">{{year}} {% if year == 2018 %}<i>FIRST POWER UP</i>{% elif year == 2019 %}<i>DESTINATION: DEEP SPACE</i>{% elif year == 2020 %}<i>INFINITE RECHARGE</i>{% endif %} Avatars</h1>

      <p>For more information about submitting avatars, please read the official FRC <a href="{% if year == 2018 %}https://www.firstinspires.org/robotics/frc/blog/team-avatar-submission-system{% elif year == 2019 %}https://www.firstinspires.org/robotics/frc/blog/2019-team-avatars-reprise{% elif year == 2020 %}https://www.firstinspires.org/robotics/frc/blog/2020-team-avatars{% endif %}" target="_blank">blog post</a>.</p>
      <a id="color-switch" class="btn btn-md btn-default">
        Toggle background color
      </a>
      <br><br>

      {% for avatar in avatars %}
        <a href="/team/{{avatar.references[0].id()[3:]}}/{{year}}" class="avatar-link">
          <img class="team-avatar blue" src="{{avatar.avatar_image_source}}" rel="tooltip" title="Team {{avatar.references[0].id()[3:]}}"/>
        </a>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

{% block inline_javascript %}
<script>
  $("#color-switch").click(function(){
    $(".team-avatar").toggleClass("red").toggleClass("blue")
  });
</script>
{% endblock %}
