<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}The Blue Alliance{% endblock %}</title>
  <!-- Favicons and theme meta -->
  <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/icons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/icons/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#3F51B5">
  <link rel="shortcut icon" href="/icons/favicon.ico">
  <meta name="msapplication-config" content="/icons/browserconfig.xml">

  {% block main_style %}<link rel="stylesheet" href="/css/tba_combined_style.main.min.css">{% endblock %}
  {% block font_awesome_css %}<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">{% endblock %}
  {% block featherlight_css %}
  <link href="//cdnjs.cloudflare.com/ajax/libs/featherlight/1.3.5/featherlight.min.css" rel="stylesheet">
  <link href="//cdnjs.cloudflare.com/ajax/libs/featherlight/1.3.5/featherlight.gallery.min.css" rel="stylesheet">
  {% endblock %}
  <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css" rel="stylesheet">
  <link href="//cdnjs.cloudflare.com/ajax/libs/vis/4.19.1/vis.min.css" rel="stylesheet">

  <meta name="description" content="{% block meta_description %}Team information and match videos and results from the FIRST Robotics Competition{% endblock %}">
  <meta name="keywords" content="FIRST Robotics, FIRST Robotics Competition, robotics, first, firstrobotics, competition, team, regionals, matches, videos">
  <meta property="fb:page_id" content="29895192027">
  <meta property="fb:admins" content="1086840001">
  <meta property="fb:app_id" content="117484816504">
  <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <meta name="theme-color" content="#3F51B5">
  <meta name="apple-itunes-app" content="app-id=1441973916">

  {% block more_head_tags %}
    <meta property="og:title" content="The Blue Alliance" />
    <meta property="og:image" content="https://www.thebluealliance.com/images/logo_square_512.png" />
    <meta property="og:description" content="Watch webcasts and get team information, competition results, and more from the FIRST Robotics Competition."/>
    <meta property="og:site_name" content="The Blue Alliance" />
  {% endblock %}

  {% block schema_org_markup %}{% endblock %}
</head>
<body>

<div id="fb-root"></div>

<div id="fixed-alert-container"></div>

{% block navbar %}
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <button type="button" class="navbar-toggle tba-navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <a class="tba-navbar-logo-link" href="/">
      <img class="tba-navbar-logo" src="/images/tba_lamp.svg" alt="tba logo">
    </a>
    <a class="navbar-brand tba-navbar-brand visible-lg" href="/">The Blue Alliance</a>
    <a class="navbar-brand tba-navbar-brand hidden-lg" href="/">TBA</a>

    <ul class="nav navbar-nav tba-navbar-nav">
      <li class="tba-nav-persistent {% block mytba_active %}{% endblock %}"><a href="/mytba"><span><span class="glyphicon glyphicon-star"></span> myTBA</span></a></li>
      <li class="tba-nav-persistent {% block events_active %}{% endblock %}"><a href="/events"><span><span class="glyphicon glyphicon-calendar"></span> Events</span></a></li>
      <li class="tba-nav-persistent hidden-xs {% block teams_active %}{% endblock %}"><a href="/teams"><span><span class="glyphicon glyphicon-user"></span> Teams</span></a></li>
      <li class="tba-nav-persistent hidden-xs"><a href="/gameday"><span><span class="glyphicon glyphicon-facetime-video"></span> GameDay</span></a></li>
      <li class="tba-nav-persistent hidden-xs {% block insights_active %}{% endblock %}"><a href="/insights"><span><span class="glyphicon glyphicon-align-left"></span> Insights</span></a></li>
      <li class="tba-nav-persistent hidden-xs hidden-sm dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-option-vertical"></span> More</a>
          <ul class="dropdown-menu">
            <li><a href="//blog.thebluealliance.com"><span><span class="glyphicon glyphicon-pencil"></span> Blog</span></a></li>
            <li><a href="/swag"><span class="glyphicon glyphicon-shopping-cart"></span> Swag</a></li>
            <li><a href="/account"><span class="glyphicon glyphicon-cog"></span> Account</a></li>
          </ul>
        </li>
    </ul>

    <div class="navbar-collapse collapse tba-navbar-collapse tba-collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li class="visible-xs {% block teams_active_collapsed %}{% endblock %}"><a href="/teams"><span><span class="glyphicon glyphicon-user"></span> Teams</span></a></li>
        <li class="visible-xs {% block insights_active_collapsed %}{% endblock %}"><a href="/insights"><span><span class="glyphicon glyphicon-align-left"></span> Insights</span></a></li>
        <li class="visible-xs"><a href="/gameday"><span><span class="glyphicon glyphicon-facetime-video"></span> GameDay</span></a></li>
        <li class="visible-xs visible-sm"><a href="//blog.thebluealliance.com"><span><span class="glyphicon glyphicon-pencil"></span> Blog</span></a></li>
        <li class="visible-xs visible-sm"><a href="/account"><span class="glyphicon glyphicon-cog"></span> Account</a></li>
      </ul>

      <form class="navbar-form tba-navbar-form" action="/search" >
        <input type="text" class="form-control typeahead" placeholder="🔍 Search teams and events" name="q"/>
      </form>

      <ul class="nav navbar-nav visible-xs">
        <li class="visible-xs"><a href="/nearby"><span class="glyphicon glyphicon-search"></span> Search Nearby</a></li>
        <li class="visible-xs"><a href="/advanced_team_search"><span class="glyphicon glyphicon-search"></span> Advanced Search</a></li>
      </ul>
      <hr class="visible-xs" />

      <div class="social-icons">
        <a href="https://www.facebook.com/thebluealliance" title="Like us on Facebook"><i class="fa fa-facebook fa-fw fa-lg"></i></a>
        <a href="https://www.twitter.com/thebluealliance" title="Follow us on Twitter"><i class="fa fa-twitter fa-fw fa-lg"></i></a>
        <a href="https://www.instagram.com/the_blue_alliance" title="Follow us on Instagram"><i class="fa fa-instagram fa-fw fa-lg"></i></a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
<div id="footer" class="container">
  <div class="row">
    <div class="col-sm-12 footer-separator">
      <hr>
    </div>
    <div class="col-sm-6 col-sm-offset-3 col-md-offset-3 col-lg-offset-3">
      <div style="overflow: hidden;">
        <div class="fb-like" data-href="https://www.facebook.com/thebluealliance" data-width="450" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
      </div>

      <hr>

      <div>
        <strong>Powered by:</strong>
        <a href="https://www.vexrobotics.com/vexpro/"><img class="sponsor-image" src="/images/vexpro_logo_horiz.png" alt="VEXpro"></a>
        <a href="https://firebase.google.com/"><img class="sponsor-image" src="/images/firebase_logo_horiz.png" alt="Firebase"></a>
      </div>

      <hr>

      {% if render_time %}
      <div>
          <p>This page was generated on <time datetime="{{render_time|rfc2822}}+00:00" class="tba-verbose-datetime-utc">{{render_time|strftime("%b. %d, %Y at %I:%M%p")}} UTC</time></p>
      </div>
      {% endif %}
      <div>The Blue Alliance is <a href="https://github.com/the-blue-alliance/the-blue-alliance/">open source</a>. Help improve it!</div>
      <div>
        <a href="/about">about</a> -
        <a href="/add-data">add data</a> -
        <a href="/contact">contact</a> -
        <a href="/thanks">thanks</a> -
        <a href="/apidocs">API</a> -
        <a href="/privacy">privacy</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 footer-separator">
      <hr>
    </div>
    <div class="col-sm-6 col-sm-offset-3 col-md-offset-3 col-lg-offset-3">
      <a class='reView' data-defaultText='Mobile Version' data-coreText='Desktop Version'>Desktop Version</a>
    </div>
  </div>
</div>
{% endblock %}

{% block login_modal %}
<!-- Login Modal -->
<div id="login-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="text-center">Follow your favorite teams with myTBA</h3>
      </div>
      <div class="modal-body">
        <p>myTBA lets you customize your experience when using The Blue Alliance.</p>
        <p><strong><span class="glyphicon glyphicon-star"></span> Favorites</strong> are used for personalized content and quick access.</p>
        <p><strong><span class="glyphicon glyphicon-bell"></span> Subscriptions</strong> are used for push notifications.</p>
        <hr>
        {% include "mytba_partials/mytba_settings.html" %}
        <p>Sign in with your Google Account to start using myTBA!</p>
        <br>
        <button id="mytba-login" type="button" class="btn btn-success btn-lg btn-block" data-dismiss="modal">Yes, I'm in!</button>
        <button type="button" class="btn btn-danger btn-lg btn-block" data-dismiss="modal">No thanks.</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block admin_bar %}
<!-- Admin Bar -->
{% endblock %}

<script src="https://www.gstatic.com/firebasejs/3.6.9/firebase.js"></script>
{% block main_javascript %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.3.1/jquery.cookie.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fitvids/1.0.1/jquery.fitvids.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.5.2/jquery.tablesorter.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.9.3/typeahead.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/hogan.js/2.0.0/hogan.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/featherlight/1.3.5/featherlight.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/featherlight/1.3.5/featherlight.gallery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/vis/4.19.1/vis.min.js"></script>
<script src="/javascript/tba_combined_js.main.min.js"></script>
{% endblock %}

{% block inline_javascript %}{% endblock %}

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=117484816504";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1090782-5']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

<script>
  (function() {
    var po = document.createElement("script"); po.type = "text/javascript"; po.async = true;
    po.src = "https://apis.google.com/js/plusone.js?publisherid=109136537718913835390";
    var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

{% block ganalytics_timer %}{% endblock %}

<script>
  (function(sa,fbc){function load(f,c){var a=document.createElement('script');
a.async=1;a.src=f;var s=document.getElementsByTagName('script')[0];
s.parentNode.insertBefore(a,s);}load(sa);window.onload = function() {firebase.initializeApp(fbc).performance();};
})('https://www.gstatic.com/firebasejs/6.0.0/firebase-performance-standalone.js', {
  apiKey: "AIzaSyDBlFwtAgb2i7hMCQ5vBv44UEKVsA543hs",
  projectId: "tbatv-prod-hrd",
  appId: "1:836511118694:web:02272aa0400554c7"
});
</script>

</body>
</html>
