{% extends "base.html" %}
{% import 'match_partials/match_table_macros.html' as mtm %}
{% import 'event_partials/event_macros.html' as em %}

{% block title %}{{event.name}} ({{event.year}}) - The Blue Alliance{% endblock %}

{% block meta_description %}Videos and match results for the {{event.year}} {{event.name}} FIRST Robotics Competition in {{event.location}}.{% endblock %}

{% block more_head_tags %}
  <meta property="og:title" content="{{ event.year }} {{ event.name }}"
          xmlns="http://www.w3.org/1999/html"/>
  <meta property="og:type" content="article" />
  <meta property="og:image" content="https://www.thebluealliance.com/images/logo_square_512.png" />
  <meta property="og:description" content="Videos and match results for the {{event.year}} {{event.name}} FIRST Robotics Competition in {{event.location}}."/>
  <meta property="og:site_name" content="The Blue Alliance" />
  <meta property="og:location" content="{{event.location}}" />
  {% if event.start_date %}<meta property="og:start_time" content="{{event.start_date|strftime("%Y-%m-%d")}}" />
  {% else %}<meta property="og:start_time" content="{{event.year}}" />{% endif %}
  {% if event.end_date %}<meta property="og:end_time" content="{{event.end_date|strftime("%Y-%m-%d")}}" />{% endif %}
  {% if event.venue %}<meta property="og:fn" content="{{event.venue}}" />{% endif %}
{% endblock %}

{% block content %}
{% if event_down %}
  <div id="fixed-alert-container">
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <b>Event is offline</b>
      <br>
      It looks like this event hasn't posted any results recently. It's possible that the internet connection at this event is down. The event's information might be out of date.
    </div>
  </div>
{% endif %}
<div class="container" itemscope itemtype="http://data-vocabulary.org/Event">
  <div class="row">
    <div class="col-sm-12">
      {% if event.year == 2016 and event.event_type_enum == 3 %}
      <p class="pull-right"><a class="btn btn-primary" href="/event/{{event.key_name}}/insights"><span class="glyphicon glyphicon-align-left"></span> Advanced Insights</a></p>
      {% endif %}
      <h1 itemprop="summary">{{event.name}} {{event.year}}</h1>
      {% if event_divisions %}
      <div class="btn-group division-button">
        <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
          {% if event.divisions %}Event Divisions{% elif parent_event %}Other Divisions{% endif %}
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu tba-dropdown-menu-limited">
          {% for division in event_divisions%}
            {% if division.key_name != event.key_name %}
              <li><a href="/event/{{division.key_name}}">{{division.short_name}}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <a class="btn btn-success pull-right hidden-xs" href="/suggest/event/video?event_key={{event.key_name}}" target="_blank"><span class="glyphicon glyphicon-plus"></span> Add Match Videos!</a>
      <p>
        {% if district_name %}
          <span class="glyphicon glyphicon-globe"></span> <a href="/events/{{district_abbrev}}/{{event.year}}">{{district_name}} District</a> Event<br />
        {% endif %}
        {% if parent_event %}
          <span class="glyphicon glyphicon-circle-arrow-right"></span> Winners advance to the <a href="/event/{{ parent_event.key_name }}">{{ parent_event.name }}</a><br />
        {% endif %}
        {{ em.showEventDates(event) }}
        {% if event.nl and event.nl.name and event.nl.city_state_country %}
          <br><span class="glyphicon glyphicon-map-marker"></span>
          <span itemprop="location">
          {% if event.nl and event.nl.name %}
            <a href="{{event.nl.place_details.url}}" target="_blank">{{event.nl.name}}</a> in {{event.nl.city_state_country}}
          {% else %}
            <a href="//maps.google.com/maps?q={{ event.city_state_country|urlencode }}" target="_blank">{{event.city_state_country}}</a>
          {% endif %}
          </span>
        {% elif event.location or event.venue_address_safe %}
          <br><span class="glyphicon glyphicon-map-marker"></span>
          <span itemprop="location">
          {% if event.venue_address_safe %}
            <a href="http://maps.google.com/maps?q={{ event.venue_address_safe|urlencode }}" target="_blank">{{ event.venue_or_venue_from_address }}</a>{% if event.location %} in {{event.location}}{% endif %}
          {% else %}
            <a href="http://maps.google.com/maps?q={{ event.location|urlencode }}" target="_blank">{{event.location}}</a>
          {% endif %}
          </span>
        {% endif %}
        {% if event.website %}<br><span class="glyphicon glyphicon-link"></span> <a href="{{ event.website }}" title="{{ event.name }}" target="_blank">{{ event.website }}</a>{% endif %}
        {% if event.first_eid or event.official %}{% if not event.website %}<br><span class="glyphicon glyphicon-info-sign"></span>{% else %} - {% endif %} details on <a href="{% if event.first_eid %}https://www.firstinspires.org/team-event-search/event?id={{event.first_eid}}{%elif event.official %}https://frc-events.firstinspires.org/{{event.year}}/{{event.first_api_code}}{%endif%}" target="_blank">firstinspires.org</a>{% endif %}
        {% if event.facebook_eid %}<br><span class="glyphicon glyphicon-thumbs-up"></span> <a href="{{ event.facebook_event_url }}" title="Facebook Event" target="_blank">RSVP on Facebook</a><br>{% endif %}
        {% if event.official and event.year >= 2006 %}<br><span class="glyphicon glyphicon-info-sign"></span> Data provided by the <a href="https://frc-events.firstinspires.org/services/API" target="_blank">FIRST Events API</a>{% endif %}
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <ul class="nav nav-tabs nav-justified">
        {% if matches.num > 0 %}<li class="active"><a href="#results" data-toggle="tab">Results</a></li>{% endif %}
        {% if event.details and event.details.rankings_table %}<li><a href="#rankings" data-toggle="tab">Rankings</a></li>{% endif %}
        {% if awards %}<li><a href="#awards" data-toggle="tab">Awards</a></li>{% endif %}
        {% if district_points_sorted %}<li><a href="#district-points" data-toggle="tab">District Points</a></li>{% endif %}
        <li class="{% if matches.num == 0 %}active{% endif %}"><a href="#teams" data-toggle="tab">Teams <span class="badge">{{num_teams}}</span></a></li>
        {% if event_insights_qual or event_insights_playoff or oprs|length > 0 %}<li><a href="#event-insights" data-toggle="tab">Insights</a></li>{% endif %}
        <li><a href="#media" data-toggle="tab">Media <span class="badge">{{medias_by_slugname.youtube|length}}</span></a></li>
      </ul>
    </div>
  </div>

  <div class="tab-content">
    {% if matches.num > 0 %}
    <div class="tab-pane active" id="results">
      {% if event.now %}
      <br />
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="pull-right">
                {% if event.webcast %}
                  {% if event.webcast_status == 'offline' %}
                    <a class="btn btn-default btn-xs" href="{{event.gameday_url}}" target="_blank"><span class="glyphicon glyphicon-facetime-video"></span> Offline</a>
                  {% else %}
                    <a class="btn btn-success btn-xs" href="{{event.gameday_url}}" target="_blank"><span class="glyphicon glyphicon-facetime-video"></span> Watch Now</a>
                  {% endif %}
                {% else %}
                  <a class="btn btn-xs btn-default" href="/suggest/event/webcast?event_key={{event.key_name}}" target="_blank">Add webcast</a>
                {% endif %}
              </div>
              <h3 class="panel-title">Event in progress</h3>
            </div>
            <div class="clearfix"></div>

            <div class="liveevent-content" data-eventkey="{{event.key.id()}}">
              {% if matches_recent %}
              <div class="col-sm-6 text-center">
                <h4>Last Matches</h4>
                {{ mtm.recent_match_table(matches_recent) }}
              </div>
              {% if matches_upcoming %}
              <div class="col-sm-6 text-center">
                <h4>Upcoming Matches</h4>
                {{ mtm.upcoming_match_table(matches_upcoming) }}
              </div>
              {% endif %}
              {% endif %}
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}

      <div class="row">
        {% if matches.qm %}
        <div class="col-sm-6">
          <h3>Qualification Results</h3>
          {{mtm.qual_match_table(matches)}}
        </div>
        {% endif %}

        {% if matches.ef or matches.qf or matches.sf or matches.f %}
        <div class="col-sm-6">
          {% if matches.qm %}
          {% include "event_partials/event_alliances_table.html" %}
          {% endif %}

          <h3>{% if event.year >= 2015 %}Playoff{% else %}Elimination{% endif %} Results</h3>
          {% if event.playoff_type in double_elim_playoff_types %}
            {{ mtm.double_elim_table(double_elim_matches) }}
          {% else %}
            {{mtm.elim_match_table(matches)}}
          {% endif %}

          {% if matches.qm %}
            {% if event.playoff_type not in double_elim_playoff_types and (matches.qf or matches.sf or matches.f) %}
              {% if playoff_advancement %}
                <h3>Playoff Advancement</h3>
                {% include "playoff_partials/{}.html".format(playoff_template) %}
              {% elif playoff_template != 'custom' %}
                <h3>{% if event.year >= 2015 %}Playoff{% else %}Elimination{% endif %} Bracket</h3>
                {% include "bracket_partials/bracket_table.html" %}
              {% endif %}
            {% endif %}
          {% endif %}
        </div>
        {% else %}
          <div class="col-sm-6">
            {% include "event_partials/event_alliances_table.html" %}
          </div>
        {% endif %}

        {% if not matches.qm %}
        <div class="col-sm-6">
          {% include "event_partials/event_alliances_table.html" %}

          {% if matches.qf or matches.sf or matches.f %}
            {% if playoff_advancement %}
              <h3>Playoff Advancement</h3>
              {% include "playoff_partials/{}.html".format(playoff_template) %}
            {% else %}
              <h3>{% if event.year >= 2015 %}Playoff{% else %}Elimination{% endif %} Bracket</h3>
              {% include "bracket_partials/bracket_table.html" %}
            {% endif %}
          {% endif %}
        </div>
        {% endif %}
      </div>
      <div class="row">
        <div class="col-sm-12">
          {% if has_time_predictions %}<p>Match times listed with a <em>*</em> are unofficial predicted times in your timezone computed by The Blue Alliance for your convenience.</p>{% endif %}
          <p><a class="btn btn-default" href="/suggest/event/video?event_key={{event.key_name}}"><span class="glyphicon glyphicon-upload"></span> Tell us about YouTube videos</a></p>
          <p><a class="btn btn-default" href="/event/{{ event.key_name }}/feed"><span class="glyphicon glyphicon-barcode"></span> Matches in RSS</a></p>
        </div>
      </div>
    </div>
    {% endif %}

    {% if event.details and event.details.rankings_table %}
    <div class="tab-pane" id="rankings">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
          <table class="table table-striped table-condensed table-center tablesorter" id="rankingsTable">
            <thead>
              <tr>
              {% for element in event.details.rankings_table.0 %}
                <th>{{ element }}</th>
              {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for row in event.details.rankings_table %}
              {% if not loop.first %}
              <tr>
                {% for element in row %}
                <td>
                  {% if loop.index0 == 1 %}
                    <a href="/team/{{ element|digits }}/{{event.year}}">{{ element }}</a>
                  {% else %}
                    {{ element }}
                  {% endif %}
                </td>
                {% endfor %}
              </tr>
              {% endif %}
              {% endfor %}
            </tbody>
          </table>
          {% if event.year >= 2007 and event.year != 2015 %}<p><b>*</b>This column is calculated for your convenience by The Blue Alliance using data provided by <i>FIRST</i> and is not official.</p>{% endif %}
        </div>
      </div>
    </div>
    {% endif %}

    <div class="tab-pane {% if matches.num == 0 %}active{% endif %}" id="teams">
      <div class="row">
        {% if teams_a %}
        <div class="col-sm-6">
          <table class="table table-striped table-condensed table-center team-table">
            <thead>
              <tr><th>Team</th><th>Location</th><th>Image</th></tr>
            </thead>
            <tbody>
              {% for team, image_medias in teams_a %}
              <tr>
                <td>
                  <div class="team-name-container">
                    <div class="favorite-team-icon" data-team="{{team.key.id()}}">
                        <span class="favorite-team-icon-spacer"></span>
                        <span class="glyphicon glyphicon-star"></span>
                    </div>
                    <div class="team-name">
                      <a href="/team/{{ team.team_number }}/{{event.year}}">{{ team.team_number }}<br>{% if team.nickname %}{{ team.nickname }}{% else %}--{% endif %}</a>
                    </div>
                  </div>
                </td>
                <td>{% if team.city_state_country %}{{ team.city_state_country }}{% else %}--{% endif %}</td>
                <td>{% if image_medias %}{% set small_thumbnail = True %}{% include "media_partials/image_carousel_partial.html" %}{% else %}<a class="btn btn-success" href="/suggest/team/media?team_key={{team.key_name}}&year={{event.year}}" target="_blank"><span class="glyphicon glyphicon-plus"></span></a>{% endif %}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% else %}
        <div class="col-sm-6">
          <p>No teams yet.</p>
        </div>
        {% endif %}
        {% if teams_b %}
        <div class="col-sm-6">
          <table class="table table-striped table-condensed table-center team-table">
            <thead>
              <tr><th>Team</th><th>Location</th><th>Image</th></tr>
            </thead>
            <tbody>
              {% for team, image_medias in teams_b %}
              <tr>
                <td>
                  <div class="team-name-container">
                    <div class="favorite-team-icon" data-team="{{team.key.id()}}">
                        <span class="favorite-team-icon-spacer"></span>
                        <span class="glyphicon glyphicon-star"></span>
                    </div>
                    <div class="team-name">
                      <a href="/team/{{ team.team_number }}/{{event.year}}">{{ team.team_number }}<br>{% if team.nickname %}{{ team.nickname }}{% else %}--{% endif %}</a>
                    </div>
                  </div>
                </td>
                <td>{% if team.city_state_country %}{{ team.city_state_country }}{% else %}--{% endif %}</td>
                <td>{% if image_medias %}{% set small_thumbnail = True %}{% include "media_partials/image_carousel_partial.html" %}{% else %}<a class="btn btn-success" href="/suggest/team/media?team_key={{team.key_name}}&year={{event.year}}" target="_blank"><span class="glyphicon glyphicon-plus"></span></a>{% endif %}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% endif %}
      </div>
    </div>

    {% if awards %}
    <div class="tab-pane" id="awards">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
          <table class="table table-striped table-condensed">
            <thead>
              <tr>
                <th>Award</th>
                <th>Winner</th>
              </tr>
            </thead>
            <tbody>
              {% for award in awards %}
              {% for team_number, awardees in award.recipient_dict.items() %}
              {% for awardee in awardees %}
              <tr>
                <td>{{award.name_str}}</td>
                <td>
                {% if awardee %}
                  {{ awardee }}
                  {% if team_number %}(<a href="/team/{{team_number|digits}}/{{event.year}}">{{team_number}}</a>){% endif %}
                {% else %}
                  {% if team_number %}
                  <a href="/team/{{team_number|digits}}/{{event.year}}">{{team_number}}</a>
                  {% else %}
                  --
                  {% endif %}
                {% endif %}
                </td>
              </tr>
              {% endfor %}
              {% endfor %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {% endif %}

    {% if district_points_sorted %}
    <div class="tab-pane" id="district-points">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
          <table class="table table-striped table-condensed table-center">
            <thead>
              <tr>
                <th>Rank</th>
                <th>Team</th>
                <th>Qual Points</th>
                <th>{% if event.year >= 2015 %}Playoff{% else %}Elim{% endif %} Points</th>
                <th>Alliance Points</th>
                <th>Award Points</th>
                <th>Total Points</th>
              </tr>
            </thead>
            <tbody>
              {% for team_key, breakdown in district_points_sorted %}
              <tr>
                <td>{{loop.index}}</td>
                <td><a href="/team/{{team_key|strip_frc}}/{{event.year}}">{{team_key|strip_frc}}</a></td>
                <td>{{breakdown.qual_points}}</td>
                <td>{{breakdown.elim_points}}</td>
                <td>{{breakdown.alliance_points}}</td>
                <td>{{breakdown.award_points}}</td>
                <td><strong>{{breakdown.total}}<strong></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <p>* Although points are calculated for all teams at this event, not all teams may receive points in the District Ranking System for this event.</p>
        </div>
      </div>
    </div>
    {% endif %}

    {% if event_insights_qual or event_insights_playoff or oprs|length > 0 %}
    <div class="tab-pane" id="event-insights">
      {% if oprs|length > 0 %}
      <div class="row">
        <div class="col-sm-12">
          {% include "event_partials/event_opr_table.html" %}
        </div>
      </div>
      {% endif %}

      <div class="row">
        {% if event_insights_qual %}
        <div class="col-sm-6">
          <h2>Qualification</h2>
          {% set event_insights = event_insights_qual %}
          {% include event_insights_template %}
        </div>
        {% endif %}

        {% if event_insights_playoff %}
        <div class="col-sm-6">
          <h2>Playoff</h2>
          {% set event_insights = event_insights_playoff %}
          {% include event_insights_template %}
        </div>
        {% endif %}
      </div>
    </div>
    {% endif %}

    <div class="tab-pane" id="media">
        <div class="col-xs-12">
          <a class="btn btn-success pull-right" href="/suggest/event/media?event_key={{event.key_name}}" target="_blank"><span class="glyphicon glyphicon-plus"></span> Add Other Media!</a>
          <h2 id="media">Media</h2>

          <div class="row">
            <div class="col-xs-12">
              {% if medias_by_slugname.youtube %}
                {% for media in medias_by_slugname.youtube %}
                  <div class="col-xs-12 col-md-6 fitvids">
                  {% include "media_partials/media_display_partial.html" %}
                  </div>
                {% endfor %}
              {% else %}
                <p>No videos for this event... <a href="/suggest/event/media?event_key={{event.key_name}}" target="_blank">Why not add one</a>?</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>

      </div>
    </div>
</div>
{% endblock %}

{% block inline_javascript %}
{% if event.now %}
<script type="text/javascript" src="/javascript/liveevent.min.js"></script>
{% endif %}
{% endblock %}
