{% extends "base.html" %}
{% import 'match_partials/match_table_macros.html' as mtm %}

{% block title %}The Blue Alliance{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      {% if any_webcast_online %}
        <h2>Currently On Air</h2>
      {% endif %}
      {% for webcast in special_webcasts %}
        {% if webcast.status == 'online' %}
          <h3>{{webcast.name}}
          <small>{{webcast.stream_title}}</small>
            <a class="btn btn-md btn-success pull-right" href="/gameday#layout=0&view_0={{webcast.key_name}}-0{% if webcast.type == 'twitch'%}&chat={{webcast.channel}}{% endif %}">
              <span class="glyphicon glyphicon-facetime-video"></span> Watch Now
            </a>
          </h3>
          <hr>
        {% endif %}
      {% endfor %}
      <div class="row">
        <div class="col-xs-7">
          <h2>Currently Competing Favorite Teams</h2>
          <input id="add-team-input" class="form-control" type="text" placeholder="Add Team by Name or Number">

          {% if live_table %}
              {{ live_table|safe }}
          {% else %}
            <p>No favorite teams are currently competing.</p>
          {% endif %}
        </div>
        <div class="col-xs-5">
          <h2>Matches to Watch</h2>
          {{ mtm.upcoming_match_table(favorite_team_matches, show_event=match_table_show_event) }}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block inline_javascript %}
<script>
  $(function() {
    // Setup Team typeahead
    $('#add-team-input').attr('autocomplete', 'off');
    $('#add-team-input').typeahead([
      {
        prefetch: {
          url: '/_/typeahead/teams-all',
          filter: teamFilter
        },
      }
    ]);

    // Submit form when Team entry chosen
    function doTeamAction(obj, datum) {
      var team_re = datum.value.match(/(\d+) [|] .+/);
      if (team_re != null) {
        var team_num = team_re[1];
        window.location.href = '/account/mytba/team/' + team_num + '?return=/';
      }
    }
    $('#add-team-input').bind('typeahead:selected', doTeamAction);
    $('#add-team-input').bind('typeahead:autocompleted', doTeamAction);
  });
</script>
{% endblock %}
