{% extends "insights_base.html" %}
{% import "match_partials/match_table_macros.html" as mtm %}

{% block title %}{{selected_year}} Insights - The Blue Alliance{% endblock %}

{% block meta_description %}FIRST Robotics Competition insights from {{selected_year}}.{% endblock %}

{% block detailed_content %}
  <h1 class="end_header">{{selected_year}} Insights</h1>
  {% if last_updated %}<p>Last updated on <time datetime="{{last_updated|rfc2822}}+00:00" class="tba-verbose-datetime-utc">{{last_updated|strftime("%b. %d, %Y at %I:%M%p")}} UTC</time></p>{% endif %}

  {% if match_highscore or match_averages_by_week or score_distribution %}
  <h2>Matches{% if num_matches %} <small>{{num_matches.data}} Matches Played</small>{% endif %}</h2>
  {% endif %}

  {% if match_highscore %}
  {% if match_highscore.data.qual %}
  <div class="row">
    <div class="col-xs-12">
      <h3>Highest Scoring Qual Match{% if match_highscore.data.qual|length > 1 %}es{% endif %}{% if selected_year >= 2017 %} <small>(Minus Penalties)</small>{% endif %}</h3>
      {% for match in match_highscore.data.qual %}
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
        <h4><a href="/match/{{match.key_name}}">{{ match.event_name }} <small>{{ match.verbose_name }}</small></a></h4>
          {{mtm.single_match_table(match, force_played=True)}}
          {% if match.tba_video %}
            {% include "video_partials/tbavideo_player.html" %}
          {% elif match.youtube_videos_formatted %}
            {% set youtube_video = match.youtube_videos_formatted.0 %}
            {% include "video_partials/youtube_video_player.html" %}
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  {% if match_highscore.data.playoff %}
  <div class="row">
    <div class="col-xs-12">
      <h3>Highest Scoring Playoff Match{% if match_highscore.data.playoff|length > 1 %}es{% endif %}{% if selected_year >= 2017 %} <small>(Minus Penalties)</small>{% endif %}</h3>
      {% for match in match_highscore.data.playoff %}
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
        <h4><a href="/match/{{match.key_name}}">{{ match.event_name }} <small>{{ match.verbose_name }}</small></a></h4>
          {{mtm.single_match_table(match, force_played=True)}}
          {% if match.tba_video %}
            {% include "video_partials/tbavideo_player.html" %}
          {% elif match.youtube_videos_formatted %}
            {% set youtube_video = match.youtube_videos_formatted.0 %}
            {% include "video_partials/youtube_video_player.html" %}
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  {% if match_highscore.data.overall %}
  <div class="row">
    <div class="col-xs-12">
      <h3>Highest Scoring Match Overall{% if match_highscore.data.overall|length > 1 %}es{% endif %}</h3>
      {% for match in match_highscore.data.overall %}
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
        <h4><a href="/match/{{match.key_name}}">{{ match.event_name }} <small>{{ match.verbose_name }}</small></a></h4>
          {{mtm.single_match_table(match, force_played=True)}}
          {% if match.tba_video %}
            {% include "video_partials/tbavideo_player.html" %}
          {% elif match.youtube_videos_formatted %}
            {% set youtube_video = match.youtube_videos_formatted.0 %}
            {% include "video_partials/youtube_video_player.html" %}
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  <!--
  <div class="row">
    <h3>Highest Scoring Matches By Week</h3>
    <div class="col-xs-12">
    {% for week, matches in match_highscore_by_week.data %}
      <h3>{{week}}</h3>
      {% for match in matches %}
      <h4><a href="/match/{{match.key_name}}">{{ match.event_name }} <small>{{ match.verbose_name }}</small></a></h4>
      <table class="match-table">
        <thead>
          <tr class="key">
            <th colspan="{{match.alliances.items().0.1.teams|length}}">Teams</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody>
          {% for items in match.alliances.items()|reverse %}
          <tr>
            {% for team in items.1.teams %}
              <td class="{{ items.0 }}{% if match.winning_alliance == items.0 %} winner{% endif %}"><a href="/team/{{ team|strip_frc }}">{{ team|strip_frc }}</a></td>
            {% endfor %}
            <td class="{{items.0}}Score{% if match.winning_alliance == items.0 %} winner{% endif %}">{% if items.1.score == "-1" %}?{% else %}{{ items.1.score }}{% endif %}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endfor %}
    {% endfor %}
    </div>
  </div>
  -->
  {% endif %}

  {% if match_averages_by_week %}
  <h3>Average Match Score By Week</h3>
    {% if elim_match_averages_by_week %}
    <div class="row">
      <div class="col-sm-6 col-xs-12"><div class="color-key blue-color-key"></div><div class="chart-key-text">All Match Averages</div></div>
      <div class="col-sm-6 col-xs-12"><div class="color-key green-color-key"></div><div class="chart-key-text">{% if selected_year >= 2015 %}Playoff{% else %}Elim{% endif %} Match Averages</div></div>
    </div>
    <figure style="width: 90%; height: 300px;" id="elim-match-average-chart"></figure>
    <div id="elim-match-average" class="xcharts-data xcharts-line-data">[{{ match_averages_by_week.data_json|safe }}, {{ elim_match_averages_by_week.data_json|safe }}]</div>
    {% else %}
    <figure style="width: 90%; height: 300px;" id="match-average-chart"></figure>
    <div id="match-average" class="xcharts-data xcharts-line-data">[{{ match_averages_by_week.data_json|safe }}]</div>
    {% endif %}
  {% endif %}

  {% if match_average_margins_by_week %}
  <h3>Average Winning Margin By Week</h3>
    {% if elim_match_average_margins_by_week %}
    <div class="row">
      <div class="col-sm-6 col-xs-12"><div class="color-key blue-color-key"></div><div class="chart-key-text">All Match Averages</div></div>
      <div class="col-sm-6 col-xs-12"><div class="color-key green-color-key"></div><div class="chart-key-text">{% if selected_year >= 2015 %}Playoff{% else %}Elim{% endif %} Match Averages</div></div>
    </div>
    <figure style="width: 90%; height: 300px;" id="elim-match-margin-average-chart"></figure>
    <div id="elim-match-margin-average" class="xcharts-data xcharts-line-data">[{{ match_average_margins_by_week.data_json|safe }}, {{ elim_match_average_margins_by_week.data_json|safe }}]</div>
    {% else %}
    <figure style="width: 90%; height: 300px;" id="match-margin-average-chart"></figure>
    <div id="match-margin-average" class="xcharts-data xcharts-line-data">[{{ match_average_margins_by_week.data_json|safe }}]</div>
    {% endif %}
  {% endif %}

  {% if score_distribution %}
  <h3>Match Score Distribution <small>Percent of Matches vs. Match Score</small></h3>
    {% if elim_score_distribution %}
    <div class="row">
      <div class="col-sm-6 col-xs-12"><div class="color-key blue-color-key"></div><div class="chart-key-text">All Match Scores</div></div>
      <div class="col-sm-6 col-xs-12"><div class="color-key green-color-key"></div><div class="chart-key-text">{% if selected_year >= 2015 %}Playoff{% else %}Elim{% endif %} Match Scores</div></div>
    </div>
    <figure style="width: 90%; height: 300px;" id="elim-match-distribution-chart"></figure>
    <div id="elim-match-distribution" class="xcharts-data xcharts-bar-data">[{{ score_distribution.data_json|safe }}, {{ elim_score_distribution.data_json|safe }}]</div>
    {% else %}
    <figure style="width: 90%; height: 300px;" id="match-distribution-chart"></figure>
    <div id="match-distribution" class="xcharts-data xcharts-bar-data">[{{ score_distribution.data_json|safe }}]</div>
    {% endif %}
  {% endif %}

  {% if winning_margin_distribution %}
  <h3>Winning Margin Distribution <small>Percent of Matches vs. Winning Margin</small></h3>
    {% if elim_winning_margin_distribution %}
    <div class="row">
      <div class="col-sm-6 col-xs-12"><div class="color-key blue-color-key"></div><div class="chart-key-text">All Winning Margins</div></div>
      <div class="col-sm-6 col-xs-12"><div class="color-key green-color-key"></div><div class="chart-key-text">{% if selected_year >= 2015 %}Playoff{% else %}Elim{% endif %} Winning Margins</div></div>
    </div>
    <figure style="width: 90%; height: 300px;" id="elim-match-margin-distribution-chart"></figure>
    <div id="elim-match-margin-distribution" class="xcharts-data xcharts-bar-data">[{{ winning_margin_distribution.data_json|safe }}, {{ elim_winning_margin_distribution.data_json|safe }}]</div>
    {% else %}
    <figure style="width: 90%; height: 300px;" id="match-margin-distribution-chart"></figure>
    <div id="match-margin-distribution" class="xcharts-data xcharts-bar-data">[{{ winning_margin_distribution.data_json|safe }}]</div>
    {% endif %}
  {% endif %}

  {% if year_specific_by_week or year_specific %}
  <h3>Year Specific Statistics</h3>
  <ul class="nav nav-tabs nav-justified">
    {% if year_specific %}
      <li class="active"><a href="#year-specific" data-toggle="tab">Year Aggregate</a></li>
    {% endif %}

    {% for week, stats in year_specific_by_week.data %}
      {% if stats.qual or stats.playoff %}
      <li{% if loop.first and not year_specific %} class="active"{% endif %}><a href="#year-specific-week-{{loop.index}}"data-toggle="tab">{{week}}</a></li>
      {% endif %}
    {% endfor %}
  </ul>

  <div class="tab-content">
    {% if year_specific %}
      <div class="tab-pane active" id="year-specific">
        <div class="row">
          {% if year_specific.data.qual %}
          <div class="col-sm-6">
            <h3>Qualification</h3>
            {% set event_insights = year_specific.data.qual %}
            {% include year_specific_insights_template %}
          </div>
          {% endif %}

          {% if year_specific.data.playoff %}
          <div class="col-sm-6">
            <h3>Playoff</h3>
            {% set event_insights = year_specific.data.playoff %}
            {% include year_specific_insights_template %}
          </div>
          {% endif %}
        </div>
      </div>
    {% endif %}

    {% for week, stats in year_specific_by_week.data %}
    {% if stats.qual or stats.playoff %}
    <div class="tab-pane{% if loop.first and not year_specific %} active{% endif %}" id="year-specific-week-{{loop.index}}">
      <div class="row">
        {% if stats.qual %}
        <div class="col-sm-6">
          <h3>Qualification</h3>
          {% set event_insights = stats.qual %}
          {% include year_specific_insights_template %}
        </div>
        {% endif %}

        {% if stats.playoff %}
        <div class="col-sm-6">
          <h3>Playoff</h3>
          {% set event_insights = stats.playoff %}
          {% include year_specific_insights_template %}
        </div>
        {% endif %}
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
  {% endif %}

  {% if blue_banners or regional_district_winners %}
  {% if match_highscore or match_averages_by_week or score_distribution or year_specific_by_week or year_specific %}
  <hr>
  {% endif %}
  {% endif %}

  {% if blue_banners or regional_district_winners %}
  <h2>Awards</h2>
  {% endif %}

  {% if blue_banners %}
  <div class="row">
    <div class="col-xs-12">
      <h3>Top Blue Banner Winners</h3>
      <table class="table table-striped table-condensed table-center insights-table">
        <thead>
          <tr><th>Number</th><th>Teams</th></tr>
        </thead>
        <tbody>
          {% for number, team_list in blue_banners.data %}
            {% if team_list|length < 50 %}
            <tr>
              <td>{{number}}</td>
              <td>
                {% for team in team_list %}
                <a href="/team/{{team|digits}}/{{selected_year}}">{{team|digits}}</a>{% if not loop.last %},{% endif %}
                {% endfor %}
              </td>
            </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}

  {% if regional_district_winners %}
  <div class="row">
    <div class="col-xs-12">
      <h3>Top Regional &amp; District Winners</h3>
      <table class="table table-striped table-condensed table-center insights-table">
        <thead>
          <tr><th>Number</th><th>Teams</th></tr>
        </thead>
        <tbody>
          {% for number, team_list in regional_district_winners.data %}
            {% if team_list|length < 50 or loop.first %}
            <tr>
              <td>{{number}}</td>
              <td>
                {% for team in team_list %}
                <a href="/team/{{team|digits}}/{{selected_year}}">{{team|digits}}</a>{% if not loop.last %},{% endif %}
                {% endfor %}
              </td>
            </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}

  {% if match_predictions %}
  <h2>Match Predictions</h2>
  <div class="row">
    <div class="col-xs-12">
      <h3>Prediction Accuracy</h3>
      <table class="table table-striped table-condensed table-center insights-table">
        <thead>
          <tr>
            <th></th>
            <th># Correct</th>
            <th># Matches</th>
            <th>% Correct</th>
            <th>Brier Score</th>
          </tr>
        </thead>
        <tbody>
          {% if match_predictions.data.qual.total_matches_count %}
          <tr>
            <th>All Qual</th>
            <td>{{match_predictions.data.qual.correct_matches_count}}</td>
            <td>{{match_predictions.data.qual.total_matches_count}}</td>
            <td>{{'%0.2f' % (100 * match_predictions.data.qual.correct_matches_count / match_predictions.data.qual.total_matches_count|float)}} %</td>
            <td>{{'%0.5f' % (match_predictions.data.qual.mean_brier_score|float)}}</td>
          </tr>
          {% endif %}
          {% if match_predictions.data.playoff.total_matches_count %}
          <tr>
            <th>All Playoff</th>
            <td>{{match_predictions.data.playoff.correct_matches_count}}</td>
            <td>{{match_predictions.data.playoff.total_matches_count}}</td>
            <td>{{'%0.2f' % (100 * match_predictions.data.playoff.correct_matches_count / match_predictions.data.playoff.total_matches_count|float)}} %</td>
            <td>{{'%0.5f' % (match_predictions.data.playoff.mean_brier_score|float)}}</td>
          </tr>
          {% endif %}
          {% if match_predictions.data.qual.total_matches_count_cmp %}
          <tr>
            <th>Champs Qual</th>
            <td>{{match_predictions.data.qual.correct_matches_count_cmp}}</td>
            <td>{{match_predictions.data.qual.total_matches_count_cmp}}</td>
            <td>{{'%0.2f' % (100 * match_predictions.data.qual.correct_matches_count_cmp / match_predictions.data.qual.total_matches_count_cmp|float)}} %</td>
            <td>{{'%0.5f' % (match_predictions.data.qual.mean_brier_score_cmp|float)}}</td>
          </tr>
          {% endif %}
          {% if match_predictions.data.playoff.total_matches_count_cmp %}
          <tr>
            <th>Champs Playoff</th>
            <td>{{match_predictions.data.playoff.correct_matches_count_cmp}}</td>
            <td>{{match_predictions.data.playoff.total_matches_count_cmp}}</td>
            <td>{{'%0.2f' % (100 * match_predictions.data.playoff.correct_matches_count_cmp / match_predictions.data.playoff.total_matches_count_cmp|float)}} %</td>
            <td>{{'%0.5f' % (match_predictions.data.playoff.mean_brier_score_cmp|float)}}</td>
          </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  {% endif %}

  {% if blue_banners or regional_district_winners or match_highscore or match_averages_by_week or score_distribution %}
  {% else %}
  <p>No insights are currently available for {{selected_year}}.</p>
  {% endif %}

{% endblock %}
