{% extends "insights_base.html" %}

{% block title %}Insights Overview - The Blue Alliance{% endblock %}

{% block meta_description %}FIRST Robotics Competition insights overview.{% endblock %}

{% block detailed_content %}
  <h1 class="end_header">Insights Overview</h1>
  {% if last_updated %}<p>Last updated on <time datetime="{{last_updated|rfc2822}}+00:00" class="tba-verbose-datetime-utc">{{last_updated|strftime("%b. %d, %Y at %I:%M%p")}} UTC</time></p>{% endif %}

  <h3><a href="/hall-of-fame"><i>FIRST</i> Hall of Fame</a></h3>

  {% if num_matches %}
  <div class="row">
    <div class="col-xs-12">
      <h3>Number of Matches by Year</h3>
      <figure style="width: 90%; height: 300px;" id="num-matches-chart"></figure>
      <div id="num-matches" class="xcharts-data xcharts-line-data">[{{ num_matches.data_json|safe }}]</div>
    </div>
  </div>
  {% endif %}

  {% if blue_banners %}
  <div class="row">
    <div class="col-xs-12">
      <h3>Most Blue Banners</h3>
      <table class="table table-striped table-condensed table-center insights-table">
        <thead>
          <tr>
            <th>Number</th>
            <th>Teams</th>
          </tr>
        </thead>
        <tbody>
          {% for number, team_list in blue_banners.data %}
          {% if loop.index <= 8 %}
          {% if team_list|length < 50 %}
          <tr>
            <td>{{number}}</td>
            <td>
              {% for team in team_list %}
              <a href="/team/{{team|digits}}/history">{{team|digits}}</a>{% if not loop.last %},{% endif %}
              {% endfor %}
            </td>
          </tr>
          {% endif %}
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}

  {% if world_champions %}
  <div class="row">
    <div class="col-xs-12">
    <h3>Most Championship Wins</h3>
      <table class="table table-striped table-condensed table-center insights-table">
        <thead>
          <tr>
            <th>Number</th>
            <th>Teams</th>
          </tr>
        </thead>
        <tbody>
        {% for number, team_years_list in world_champions.data %}
        {% if number != 1 %}
          <tr>
            <td>{{number}}</td>
            <td>
              {% for team, years in team_years_list %}
              <a href="/team/{{team|digits}}/history" rel="tooltip" title="{{years|join(', ')}}">{{team|digits}}</a>{% if not loop.last %},{% endif %}
              {% endfor %}
            </td>
          </tr>
        {% endif %}
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}

  {% if division_winners %}
  <div class="row">
    <div class="col-xs-12">
    <h3>Most (Sub)Division Wins <small>(Most Einstein Appearances)</small></h3>
      <table class="table table-striped table-condensed table-center insights-table">
        <thead>
          <tr>
            <th>Number</th>
            <th>Teams</th>
          </tr>
        </thead>
        <tbody>
        {% for number, team_years_list in division_winners.data %}
        {% if number != 1 %}
          <tr>
            <td>{{number}}</td>
            <td>
              {% for team, years in team_years_list %}
              <a href="/team/{{team|digits}}/history" rel="tooltip" title="{{years|join(', ')}}">{{team|digits}}</a>{% if not loop.last %},{% endif %}
              {% endfor %}
            </td>
          </tr>
        {% endif %}
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}

  {% if rca_winners %}
  <div class="row">
    <div class="col-xs-12">
    <h3>Most Regional &amp; District Championship Chairman's Award Wins</h3>
      <table class="table table-striped table-condensed table-center insights-table">
        <thead>
          <tr>
            <th>Number</th>
            <th>Teams</th>
          </tr>
        </thead>
        <tbody>
        {% for number, team_list in rca_winners.data %}
        {% if loop.index <= 4 %}
        {% if team_list|length < 15 %}
        <tr>
          <td>{{number}}</td>
          <td>
            {% for team in team_list %}
            <a href="/team/{{team|digits}}/history">{{team|digits}}</a>{% if not loop.last %},{% endif %}
            {% endfor %}
          </td>
        </tr>
        {% endif %}
        {% endif %}
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}

  {% if regional_district_winners %}
  <div class="row">
    <div class="col-xs-12">
      <h3>Most Regional &amp; District Wins</h3>
      <table class="table table-striped table-condensed table-center insights-table">
        <thead>
          <tr>
            <th>Number</th>
            <th>Teams</th>
          </tr>
        </thead>
        <tbody>
          {% for number, team_list in regional_district_winners.data %}
          {% if loop.index <= 6 %}
          {% if team_list|length < 15 %}
          <tr>
            <td>{{number}}</td>
            <td>
              {% for team in team_list %}
              <a href="/team/{{team|digits}}/history">{{team|digits}}</a>{% if not loop.last %},{% endif %}
              {% endfor %}
            </td>
          </tr>
          {% endif %}
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}

  {% if successful_elim_teamups %}
  <div class="row">
    <div class="col-xs-12">
      <h3>Successful Teamups</h3>
      <table class="table table-striped table-condensed table-center insights-table">
        <thead>
          <tr>
            <th>Event Wins</th>
            <th>Teams</th>
          </tr>
        </thead>
        <tbody>
          {% for number, pairs in successful_elim_teamups.data %}
          {% if loop.index <= 4 %}
          <tr>
            <td>{{number}}</td>
            <td>
              {% for pair in pairs %}
                {% for team in pair %}
                  <a href="/team/{{team|digits}}/history">{{team|digits}}</a>{% if not loop.last %},{% endif %}
                {% endfor %}
                {% if not loop.last %}<br>{% endif %}
              {% endfor %}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}

{% endblock %}
