{% for live_event, team_statuses in live_events_with_teams %}
    <div class="row">
        <div class="col-xs-12">
            <a href="/event/{{ live_event.key_name }}"><h3>{{ live_event.name }}</h3></a>
            {% if live_event.now and live_event.webcast %}
                {% if live_event.webcast_status == 'offline' %}
                    <a class="btn btn-default btn-small pull-right" href="{{live_event.gameday_url}}" target="_blank"><span class="glyphicon glyphicon-facetime-video"></span> Offline</a>
                {% else %}
                    <a class="btn btn-success btn-small pull-right" href="{{live_event.gameday_url}}" target="_blank"><span class="glyphicon glyphicon-facetime-video"></span> Watch Now</a>
                {% endif %}
            {% endif %}
            <p>
                {% if live_event.location %}<span class="glyphicon glyphicon-map-marker"></span> in <a href="http://maps.google.com/maps?q={{ live_event.location }}" target="_blank">{{ live_event.location }}</a><br />{% endif %}
                {% if live_event.start_date %}<span class="glyphicon glyphicon-calendar"></span> {{ live_event.start_date|strftime("%b %d") }}{% if live_event.start_date|strftime("%b %d") != live_event.end_date|strftime("%b %d") %} - {{ live_event.end_date|strftime("%b %d") }}{% endif %}{{ live_event.end_date|strftime(", %Y") }}{% endif %}
            </p>

            <table class="table table-striped table-condensed col-xs-11">
                <tr>
                    <th>Team Number</th>
                    <th>Team Name</th>
                    <th>Next Match</th>
                    <th>Qual Record</th>
                    <th>Ranking</th>
                    <th>Alliance</th>
                    <th>Playoff Status</th>
                </tr>
                {% for team, status, status_str in team_statuses %}
                    <tr>
                        <td>{{ team.team_number }}</td>
                        <td>
                            <a href="/team/{{ team.team_number }}/{{ live_event.year }}#{{ live_event.key_name }}">{{ team.nickname }}</a>
                        </td>
                        <td>
                            {% if status.next_match_key %}<a href="/match/{{ status.next_match_key }}">{{ status.next_match_key|match_short }}</a>{% else %}--{% endif %}
                        </td>
                        <td>{% if status.qual %}{{ status.qual.ranking.record.wins }}-{{ status.qual.ranking.record.losses }}-{{ status.qual.ranking.record.ties }}{% else %}--{% endif %}</td>
                        <td>{% if status.qual and status.qual.ranking.rank %}{{ status.qual.ranking.rank }}/{{ status.qual.num_teams }}{% else %}--{% endif %}</td>
                        <td>{{status_str.alliance|safe}}</td>
                        <td>{{status_str.playoff|safe}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endfor %}