{% extends "base.html" %}

{% block title %}The Blue Alliance - Match Input{% endblock %}

{% block meta_description %}Interface to update matches using The Blue Alliance's write API.{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="endheader">2015 Championship Match Input</h1>
      <p>Because we care, and we know you do too!</p>

      <hr>

      <h2 id="setup">Setup</h2>
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label for="event_key" class="col-sm-2 control-label">Event Key</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="event_key" placeholder="Event Key">
          </div>
        </div>
        <div class="form-group">
          <label for="auth_id" class="col-sm-2 control-label">Auth Id</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="auth_id" placeholder="Auth ID">
          </div>
        </div>
        <div class="form-group">
          <label for="auth_secret" class="col-sm-2 control-label">Auth Secret</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="auth_secret" placeholder="Auth Secret">
          </div>
        </div>
      </form>

      <hr>

      <h2 id="matches">Update Matches</h2>
      <button class="btn btn-success" id="setup-ok"><span class="glyphicon glyphicon-refresh"></span> Get Matches</button>

      <table id="match-table" class="match-table">
      </table>
  </div>
</div>
{% endblock %}

{% block inline_javascript %}
<script src="//cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/md5.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-csv/0.71/jquery.csv-0.71.min.js"></script>

<script>
  $(function() {
    $(window).bind('beforeunload', function(){
      return 'Auth ID and Auth Secret will need to be reentered if you leave.';
    });

    var COMP_LEVELS_PLAY_ORDER = {
      'qm': 1,
      'ef': 2,
      'qf': 3,
      'sf': 4,
      'f': 5,
    }

    $('#setup-ok').click(function(e) {
      e.preventDefault();

      $.ajax({
        url: '/api/v2/event/' + $('#event_key').val() + '/matches',
        dataType: 'json',
        headers: {'X-TBA-App-Id': 'tba-web:match-input:v01'},
        success: function(matches) {
          $("#match-table").empty();

          for (i in matches) {
            var match = matches[i];
            match.play_order = COMP_LEVELS_PLAY_ORDER[match.comp_level] * 1000000 + match.match_number * 1000 + match.set_number
          }
          matches.sort(function(a, b) { return a.play_order - b.play_order});

          for (i in matches) {
            var match = matches[i];

            var trRed = $('<tr>');
            trRed.append($('<td>', {rowspan: 2, text: match.key.split('_')[1]}));
            for (j in match.alliances.red.teams) {
              trRed.append($('<td>', {class: 'red', 'data-matchKey-redTeam': match.key, text: match.alliances.red.teams[j].substring(3)}));
            }
            trRed.append($('<td>', {class: 'redScore'}).append($('<input>', {id: match.key + '-redScore', type: 'text', type: 'number', value: match.alliances.red.score}).css('max-width', '50px')));
            trRed.append($('<td>', {rowspan: 2}).append($('<button>', {class: 'update-match', 'data-matchKey': match.key, 'data-matchCompLevel': match.comp_level, 'data-matchSetNumber': match.set_number, 'data-matchNumber': match.match_number, text: 'SUBMIT'})));
            $("#match-table").append(trRed);

            var trBlue = $('<tr>');
            for (j in match.alliances.blue.teams) {
              trBlue.append($('<td>', {class: 'blue', 'data-matchKey-blueTeam': match.key, text: match.alliances.blue.teams[j].substring(3)}));
            }
            trBlue.append($('<td>', {class: 'blueScore'}).append($('<input>', {id: match.key + '-blueScore', type: 'text', type: 'number', value: match.alliances.blue.score}).css('max-width', '50px')));
            $("#match-table").append(trBlue);
          }

          $('.update-match').click(function(e) {
            e.preventDefault();

            $(this).parent().css('background-color', '#eb9316');

            var matchKey = $(this).attr('data-matchKey');
            var redEls = $("[data-matchKey-redTeam='" + matchKey + "']");
            var blueEls = $("[data-matchKey-blueTeam='" + matchKey + "']");
            var redTeams = [];
            var blueTeams = [];
            for (var i=0; i<redEls.length; i++) {
              redTeams.push('frc' + redEls[i].textContent);
            }
            for (var i=0; i<blueEls.length; i++) {
              blueTeams.push('frc' + blueEls[i].textContent);
            }
            var redScore = parseInt($('#' + matchKey + '-redScore')[0].value);
            var blueScore = parseInt($('#' + matchKey + '-blueScore')[0].value);

            var match = {
              'comp_level': $(this).attr('data-matchCompLevel'),
              'set_number': parseInt($(this).attr('data-matchSetNumber')),
              'match_number': parseInt($(this).attr('data-matchNumber')),
              'alliances': {
                'red': {
                  'teams': redTeams,
                  'score': redScore
                },
                'blue': {
                  'teams': blueTeams,
                  'score': blueScore
                }
              },
            };
            var request_body = JSON.stringify([match]);
            makeRequest('/api/trusted/v1/event/' + $('#event_key').val() + '/matches/update', request_body, $(this).parent());
          });
        },
        error: function(data) {
          alert("Something went wrong! Please check your Event Key.");
        }
      });
    });

    function makeRequest(request_path, request_body, feedback) {
      var auth_id = $('#auth_id').val();
      var auth_secret = $('#auth_secret').val();
      var auth_sig = CryptoJS.MD5(auth_secret + request_path + request_body).toString();

      $.ajax({
        type: 'POST',
        url: request_path,
        dataType: 'json',
        headers: {
          'X-TBA-Auth-Id': auth_id,
          'X-TBA-Auth-Sig': auth_sig
        },
        data: request_body,
        success: function(data) {
          feedback.css('background-color', '#419641');
        },
        error: function(data) {
          feedback.css('background-color', '#c12e2a');
          alert(data.responseText);
        }
      });
    }
  });
</script>
{% endblock %}
