{% extends "base.html" %}

{% block title %}The Blue Alliance - OPR{% endblock %}

{% block meta_description %}What is OPR?{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-8 col-sm-offset-2 col-lg-offset-2">
      <h1 class="end_header">What is OPR?</h1>
      <p>OPR stands for <strong>Offensive Power Rating</strong>, which is a system to attempt to deduce the average point contribution of a team to an alliance. It is based on <a href="https://en.wikipedia.org/wiki/Sports_rating_system">sports rating systems</a> used in other sports. OPRs are an interesting way to slice the data for teams at particular events, but aren't a perfect system for assessing a team's performance or contribution.</p>
      <p>The Blue Alliance opts to show the top 15 OPRs for each competition.</p>
      </div>
  </div>
</div>
{% endblock %}
