{% extends "base.html" %}

{% block title %}Pending Suggestions{% endblock %}

{% block content %}
<div class="container">

  <ol class="breadcrumb">
    <li><a href="/suggest/review">Suggestions</a></li>
    <li class="active">Offseason Events</li>
  </ol>
  <h1>{{ events_and_ids|length }} Pending Event Suggestions</h1>

  {% if success == "accept" %}
  <div class="row">
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4>Created event {{event_key}}!</h4>
      <div class="btn-group">
        <a href="/event/{{event_key}}" class="btn btn-default">View on TBA</a>
      </div>
    </div>
  </div>
  {% elif success == "reject" %}
  <div class="row">
    <div class="alert alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4>Rejected event!</h4>
    </div>
  </div>
  {% endif %}

  <div class="row">
    <div class="col-sm-6">
      <h2>Event Approval Guidelines</h2>
      <div class="alert alert-success">
        <strong>Do approve:</strong>
        <ul>
          <li><strong>New</strong> Offseason Events (ensure they don't already exist)</li>
        </ul>
      </div>
      <div class="alert alert-danger">
        <strong>Do NOT approve:</strong>
        <ul>
          <li>Official Events</li>
          <li>Events Without Websites you can verify the info for</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      {% for suggestion_id, event, similar in events_and_ids %}
        <div class="well">
          <h4>Similar Events</h4>
          <ul>
          {% for other_event in similar %}
            <li><a href="/event/{{ other_event.key_name }}" target="_blank">[{{ other_event.event_short }}] {{ other_event.name }}</a></li>
          {% else %}
            <li>No similar events found</li>
          {% endfor %}
          </ul>
          {% include "event_partials/suggest_event_info.html" %}
        </div>
      {% else %}
        <div class="well">
          <p>No suggestions! Go build more community!</p>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
