{% extends "base.html" %}

{% block title %}The Blue Alliance - Add Team Media{% endblock %}

{% block meta_description %}Add team media to The Blue Alliance.{% endblock %}

{% block content %}
<div class="container">
  {% if status %}
  <div class="row">
    <div class="col-xs-12 col-lg-6 col-lg-offset-3">
      {% if status == 'success' %}
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4>Thanks!</h4>
        <p>We'll review your suggestion and get it added to the site soon!</p>
      </div>
      {% elif status == 'media_exists' %}
      <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4>Thanks!</h4>
        <p>The URL you submitted has already been approved!</p>
      </div>
      {% elif status == 'suggestion_exists' %}
      <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4>Thanks!</h4>
        <p>The URL you submitted is already pending review!</p>
      </div>
      {% else %}
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4>Uh oh!</h4>
        <p>Sorry, but we are currently unable to support the URL you submitted. See below for currently supported formats.</p>
      </div>
      {% endif %}
    </div>
  </div>
  {% endif %}
  <div class="row">
    <div class="col-xs-12 col-lg-6 col-lg-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title">Help others by adding media!</h1>
        </div>
        <div class="panel-body">
          <p>Thanks for helping make The Blue Alliance better! Let us know about media so we can add them to the site!</p>
          <ul>
            <li>Your suggestion will be reviewed by a moderator</li>
            <li>Your account info (like {{user_bundle.user.email()}} and {{user_bundle.user.nickname()}}) will also be submitted. <a href="{{user_bundle.logout_url}}">log in as a different user</a></li>
          </ul>

          <hr>

          <p><strong>Currently supported formats are:</strong></p>
          <ul>
            <li>Chief Delphi Images
              <ul>
                <li>Example: <code>http://www.chiefdelphi.com/media/photos/36646</code></li>
              </ul>
            </li>
            <li>Imgur Images
              <ul>
                <li>Example: <code>http://imgur.com/aF8T5ZE</code></li>
              </ul>
            </li>
            <li>YouTube Videos
              <ul>
                <li>Example: <code>https://www.youtube.com/watch?v=DojyJ9bZ4fk</code></li>
              </ul>
            </li>
            <li>GrabCAD Files
              <ul>
                <li>Example: <code>https://grabcad.com/library/cad-stuff</code></li>
              </ul>
            </li>
          </ul>

          <p><strong>Please do not submit:</strong></p>
          <ul>
            <li>Full match videos</li>
            <li>Long, drawn out videos with little to no real content</li>
            <li>GIFs</li>
          </ul>

          <hr>

          <h3>Team {{team.team_number}}{% if team.nickname %} - {{team.nickname}}{% endif %} ({{year}})</h3>

          {% if medias_by_slugname.cdphotothread %}
          <div class="row">
            <div class="col-xs-12">
              <h4>Existing Chief Delphi Images</h4>
              {% for media in medias_by_slugname.cdphotothread %}
                <div class="col-xs-6 col-sm-4">
                {% include "media_partials/cdphotothread_partial.html" %}
                </div>
              {% endfor %}
            </div>
          </div>
          {% endif %}

          {% if medias_by_slugname.imgur %}
          <div class="row">
            <div class="col-xs-12">
              <h4>Existing Imgur Images</h4>
              {% for media in medias_by_slugname.imgur %}
                <div class="col-xs-6 col-sm-4">
                {% include "media_partials/imgur_partial.html" %}
                </div>
              {% endfor %}
            </div>
          </div>
          {% endif %}

          {% if medias_by_slugname.youtube %}
          <div class="row">
            <div class="col-xs-12">
              <h4>Existing Videos</h4>
              {% for media in medias_by_slugname.youtube %}
                <div class="col-xs-12 col-md-6 fitvids">
                {% include "media_partials/youtube_partial.html" %}
                </div>
              {% endfor %}
            </div>
          </div>
          {% endif %}

          {% if medias_by_slugname.grabcad %}
          <div class="row">
            <div class="col-xs-12">
              <h4>Existing CAD Models</h4>
              {% for media in medias_by_slugname.grabcad%}
                <div class="col-xs-12 col-md-6">
                {% include "media_partials/grabcad_partial.html" %}
                </div>
              {% endfor %}
            </div>
          </div>
          {% endif %}

          <hr>
          <div class="row">
            <div class="col-xs-12">
              <h4>Add more media</h4>
              <form action="/suggest/team/media" method="post">
                <input name="team_key" type="hidden" value="{{team.key.id()}}" />
                <input name="year" type="hidden" value="{{year}}" />
                <div class="input-group">
                  <span class="input-group-addon">{{year}}</span>
                  <input class="form-control" type="text" name="media_url" placeholder="http://www.chiefdelphi.com/media/photos/36646" value="" />
                  <span class="input-group-btn">
                    <button class="btn btn-success" type="submit"><span class="glyphicon glyphicon-plus-sign"></span> Add Media</button>
                  </span>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
