{% extends "base.html" %}
{% import 'media_partials/social_media_macros.html' as smm %}

{% block title %}Team Admin - The Blue Alliance{% endblock %}

{% block meta_description %}Manage Team TBA Profile{% endblock %}

{% block content %}
<div class="container">
<h1>Team Admin Dashboard</h1>
<h3>Hi, {{user_bundle.account.display_name}}, you have administrative access for {{teams|length}} team{% if teams|length > 1%}s{%endif%}</h3>
<ul>
  {% for team_link in existing_access %}
    <li><a href="/team/{{team_link.team_number}}/{{team_link.year}}">Team {{team_link.team_number}} - {{teams[team_link.team_number].nickname}} ({{team_link.year}})</a></li>
  {%endfor%}
</ul>

<div class="row">
<div class="col-sm-12">
<ul class="nav nav-tabs">
  <li><a href="#team-info" data-toggle="tab">Team Info</a></li>
  <li class="active"><a href="#queue" data-toggle="tab">Suggestion Queue</a></li>
  {% for team_link in existing_access %}
    <li><a href="#frc{{team_link.team_number}}" data-toggle="tab">Team {{team_link.team_number}} Media</a></li>
  {% endfor %}
  <li><a href="#help" data-toggle="tab">Help</a></li>
  <li><a href="#faq" data-toggle="tab">FAQs</a></li>
</ul>
</div>
</div>

<div class="tab-content">

<div class="tab-pane" id="team-info">
<div class="row">
  <div class="alert alert-info">
    <p>Most team information is imported directly from <i>FIRST</i> and is unable to be modifed directly on TBA. This data is editable by the team's Lead Mentor 1 or 2 on the
    <a href="https://my.firstinspires.org/Dashboard/"><i>FIRST</i> Inspires Dashboard</a> for the team.
  </div>
  {% for team_link in existing_access %}
  <h2>Team {{team_link.team_number}}</h2>
  <form action="/mod" method="post" id="team-info-frc{{team_link.team_number}}">
    <input type="hidden" name="team_number" value="{{team_link.team_number}}" />
    <input name="action" type="hidden" value="set_team_info" />
    <table class="table table-striped table-hover">
        <tr>
            <th>Name</th>
            <td><input class="form-control" value="{{teams[team_link.team_number].name}}" disabled/></td>
        </tr>
        <tr>
            <th>Nickname</th>
            <td><input class="form-control" value="{{teams[team_link.team_number].nickname}}" disabled/></td>
        </tr>
        <tr>
            <th>Website</th>
            <td><input class="form-control" value="{{teams[team_link.team_number].website}}" disabled/></td>
        </tr>
        <tr>
            <th>Robot Name</th>
            <td><input class="form-control" name="robot_name" placeholder="Robot Name" value="{{robot_names_by_team[team_link.team_number]}}"/></td>
        </tr>
    </table>
    <div class="alert alert-warning">
      <p>Changes may take up to 24 hours to appear everywhere, due to the way web browsers cache pages. Don't be alarmed if changes don't appear on your team page immediately</p>
    </div>
    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
  </form>
  {% endfor %}
</div>
</div>

<div class="tab-pane active" id="queue">
<div class="row">
  {% for team_link in existing_access %}
    <h2>Team {{team_link.team_number}}: Pending Suggestions</h2>
    {% for suggestion_type, suggestions in suggestions_by_team[team_link.team_number].items() %}
        <h3>{{suggestions|length}} {{suggestion_names[suggestion_type]}} Suggestion{% if suggestions|length > 1 %}s{%endif%}</h3>
        <form action="{{suggestion_review_urls[suggestion_type]}}" method="post" id="review_{{suggestion_type}}">
        <input type="hidden" name="return_url" value="/mod" />
        {% for suggestion in suggestions %}
        <div class="row">
          <div class="well">
            <div class="col-xs-2">
              <label class="radio text-success">
                <input class="accept" type="radio" name="accept_reject-{{suggestion.key.id()}}" value="accept::{{suggestion.key.id()}}"> Accept
              </label>
              <label class="radio text-danger">
                <input class="reject" type="radio" name="accept_reject-{{suggestion.key.id()}}" value="reject::{{suggestion.key.id()}}"> Reject
              </label>
              <input type="hidden" class="form-control" name="year-{{suggestion.key.id()}}" value="{{suggestion.contents.year}}">
            </div>
            <div class="col-xs-5 fitvids">
              {% if suggestion_type == "media" or suggestion_type == "robot" %}
                {% set media = suggestion.candidate_media -%}
                {% include "media_partials/media_display_partial.html" %}
              {% elif suggestion_type == "social-media" %}
                {{smm.social_media_card(suggestion)}}
              {% endif %}
            </div>
            <div class="col-xs-2">
              {% if suggestion_type == "media" %}
                <label class="checkbox text-info" for="preferred_{{suggestion.key.id()}}">
                  <input type="checkbox" name="preferred_keys[]" id="preferred_{{suggestion.key.id()}}" value="preferred::{{suggestion.key.id()}}" {% if suggestion.contents.default_preferred %}checked{% endif %}> Add as Preferred<br>(Doesn't do anything for non-images)
                </label>
              {% endif %}
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        {% endfor %}
        <div class="row">
            <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-pencil"></span> Act On Selected {{suggestion_names[suggestion_type]}}</button>
        </div>
        </form>
    {% else %}
      <p>No suggestions found!</p>
    {% endfor %}
  {% endfor %}
</div>
</div>

{% for team_link in existing_access %}
  <div class="tab-pane" id="frc{{team_link.team_number}}">
  <div class="row">
    <h2>Social Media</h2>
    {% if team_social_medias[team_link.team_number] %}
      <table class="table table-striped table-hover table-condensed">
      <tr><th>Type</th><th>Profile</th><th>Tags</th><th>Actions</th></tr>
      {% for media in team_social_medias[team_link.team_number] %}
        {% include "media_partials/team_admin_media_row.html" %}
      {% endfor %}
      </table>
    {% else %}
      <p>No media found!</p>
    {% endif %}

    <h2>{{team_link.year}} Media</h2>
    {% if  team_medias[team_link.team_number][team_link.year] %}
      <table class="table table-striped table-hover table-condensed">
      <tr><th>Type</th><th>Media</th><th>Tags</th><th>Actions</th></tr>
      {% for media in team_medias[team_link.team_number][team_link.year] %}
        {% include "media_partials/team_admin_media_row.html" %}
      {% endfor %}
      </table>
    {% else %}
      <p>No media found!</p>
    {% endif %}
  </div>
  </div>
{% endfor %}


<div class="tab-pane" id="help">
  <div class="row">
    <h2>Team Administration Help</h2>
    <p>Team Administration on The Blue Alliance allows an authorized team member to manage social media links, as well
    as approve or reject new team media.</p>

    <h3>Team Media Suggestions</h3>
    <p>Approved team administrators have the ability to approve or reject any team media, images, video, CAD, or social
    media links pending for the team in the current competition year. Any items pending approval will be shown on the
    <strong>Suggestion Queue</strong> tab.</p>
    <p>For images, in addition to approving or rejecting the media, The Blue Alliance allows images to be marked
    <strong>preferred</strong>. Preferred images are highlighted at the top of your team page, and is shown next to
    your team in the team event list. Preferred media should be quality pictures of your robot, with nothing else in the
    foreground. Preferred images will likely be one of the first pictures visitors on TBA see for your team.</p>
    <p>Please note, if you have multiple kinds of media pending approval, you should make sure to do each section
    separately, and click the <strong>Act on...</strong> button at the end of each section before continuing.</p>

    <h3>Administering Existing Media</h3>
    <p>Team administrators can review the existing media for their team on the <strong>Team Media</strong> tab. From
    this tab media can be removed, or in the case of images, you can toggle whether that image is preferred.</p>

    <h3>Adding Team Media</h3>
    <p>To add team media, videos, CAD models, or Social Media links, visit your team page and click on one of the
    <strong>Add Media</strong> buttons to make a suggestion. That suggestion will then appear on the
    <strong>Suggestion Queue</strong> tab.</p>

    <h3>Content Guidelines</h3>
    <p>Team administrators are asked to follow The Blue Alliance content guidelines for all approved links and media.</p>
    <p>For team media, please do not approve:</p>
    <ul>
      <li>Full match videos</li>
      <li>Long, drawn out videos with little to no real content</li>
      <li>GIFs</li>
      <li>Images without a robot</li>
    </ul>

    <h3>Need More Help?</h3>
    <p>For additional support, please <a href="/contact">contact us</a>.</p>
  </div>
</div>

<div class="tab-pane" id="faq">
  <div class="row">
    <h2>Team Administration Frequently Asked Questions</h2>

    <h4>I'm a Mentor for Two Different Teams, How Can I Administer Both?</h4>
    <p>Currently, accounts can only administer one team per season. We know this is important for several teams and
    mentors. In the meantime, we do not restrict users to one account, so if you have multiple TBA accounts you can
    administer other teams, one per additional account.</p>

    <h4>Our Website URL Has Changed. How Do I Change it on TBA?</h4>
    <p>Your website link is another piece of data we get directly from <i>FIRST</i> and therefore do not allow you to edit.</p>

    <h4>How Do I Change the Information TBA Gets from <i>FIRST</i>?</h4>
    <p>Nearly all of the information The Blue Alliance receives from <i>FIRST</i>, excluding event and match data, is
    editable by the team's Lead Mentor 1 or 2 on the
    <a href="https://my.firstinspires.org/Dashboard/"><i>FIRST</i> Inspires Dashboard</a> for the team. If you are
    having difficulty locating the information to change on the <i>FIRST</i> Inspires Dashboard, please have a Lead
    Mentor contact <i>FIRST</i> directly.</p>

    <h4>I Have a Great Picture of Just My Team Members, Why Can't I Approve It?</h4>
    <p>We understand you have an awesome picture of your team and want to share it and help "Make It Loud." The Blue
    Alliance is focused on event data, match data, and robots. Due to the way pictures are used on The Blue Alliance,
    most often to represent your robot, we do not allow pictures without the robot. Feel free to feature your team
    members in other media on The Blue Alliance, like team videos or social media, instead.</p>

    <h4>How Long is My Access Good For? When Does it Expire?</h4>
    <p>Team Administrators will have access through the competition season, and all access will automatically
    expire at the beginning of July each year.</p>

    <h4>Question Not Answered Here?</h4>
    <p>For additional support, please <a href="/contact">contact us</a>.</p>
  </div>
</div>

</div>
</div>
{% endblock %}
