{% extends "base.html" %}
{% import 'media_partials/social_media_macros.html' as smm %}

{% block title %}Team Admin - The Blue Alliance{% endblock %}

{% block meta_description %}Manage Team TBA Profile{% endblock %}

{% block content %}
<div class="container">
<h1>Team Admin Dashboard</h1>
<p>
  <a class="btn btn-info" href="/mod/help">Help</a>
  <a class="btn btn-primary" href="mod/redeem">Redeem</a>
</p>
<h3>Hi {{user_bundle.account.display_name}}, you have moderator access for {{teams|length}} team{% if teams|length > 1%}s{%endif%}</h3>
<ul>
  {% for team_link in existing_access %}
    <li><a href="/team/{{team_link.team_number}}/{{team_link.year}}">Team {{team_link.team_number}} - {{teams[team_link.team_number].nickname}} ({{team_link.year}})</a></li>
  {%endfor%}
</ul>

<div class="row">
<div class="col-sm-12">
<ul class="nav nav-tabs">
  <li class="active"><a href="#queue" data-toggle="tab">Suggestion Queue</a></li>
  {% for team_link in existing_access %}
    <li><a href="#frc{{team_link.team_number}}" data-toggle="tab">Team {{team_link.team_number}} Media</a></li>
  {% endfor %}
</ul>
</div>
</div>

<div class="tab-content">
<div class="tab-pane active" id="queue">
<div class="row">
  {% for team_link in existing_access %}
    <h2>Team {{team_link.team_number}}: Pending Suggestions</h2>
    {% for suggestion_type, suggestions in suggestions_by_team[team_link.team_number].items() %}
        <h3>{{suggestions|length}} {{suggestion_names[suggestion_type]}} Suggestion{% if suggestions|length > 1 %}s{%endif%}</h3>
        <form action="{{suggestion_review_urls[suggestion_type]}}" method="post" id="review_{{suggestion_type}}">
        <input type="hidden" name="return_url" value="/mod" />
        {% for suggestion in suggestions %}
        <div class="row">
          <div class="well">
            <div class="col-xs-2">
              <label class="radio text-success">
                <input class="accept" type="radio" name="accept_reject-{{suggestion.key.id()}}" value="accept::{{suggestion.key.id()}}"> Accept
              </label>
              <label class="radio text-danger">
                <input class="reject" type="radio" name="accept_reject-{{suggestion.key.id()}}" value="reject::{{suggestion.key.id()}}"> Reject
              </label>
              <input type="hidden" class="form-control" name="year-{{suggestion.key.id()}}" value="{{suggestion.contents.year}}">
            </div>
            <div class="col-xs-5 fitvids">
              {% if suggestion_type == "media" or suggestion_type == "robot" %}
                {% set media = suggestion.candidate_media -%}
                {% include "media_partials/media_display_partial.html" %}
              {% elif suggestion_type == "social-media" %}
                {{smm.social_media_card(suggestion)}}
              {% endif %}
            </div>
            <div class="col-xs-2">
              {% if suggestion_type == "media" %}
                <label class="checkbox text-info" for="preferred_{{suggestion.key.id()}}">
                  <input type="checkbox" name="preferred_keys[]" id="preferred_{{suggestion.key.id()}}" value="preferred::{{suggestion.key.id()}}" {% if suggestion.contents.default_preferred %}checked{% endif %}> Add as Preferred<br>(Doesn't do anything for non-images)
                </label>
              {% endif %}
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        {% endfor %}
        <div class="row">
            <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-pencil"></span> Act On Selected {{suggestion_names[suggestion_type]}}</button>
        </div>
        </form>
    {% else %}
      <p>No suggestions found!</p>
    {% endfor %}
  {% endfor %}
</div>
</div>

{% for team_link in existing_access %}
  <div class="tab-pane" id="frc{{team_link.team_number}}">
  <div class="row">
    <h2>Social Media</h2>
    {% if team_social_medias[team_link.team_number] %}
      <table class="table table-striped table-hover table-condensed">
      <tr><th>Type</th><th>Profile</th><th>Tags</th><th>Actions</th></tr>
      {% for media in team_social_medias[team_link.team_number] %}
        {% include "media_partials/team_admin_media_row.html" %}
      {% endfor %}
      </table>
    {% else %}
      <p>No media found!</p>
    {% endif %}

    <h2>{{team_link.year}} Media</h2>
    {% if  team_medias[team_link.team_number][team_link.year] %}
      <table class="table table-striped table-hover table-condensed">
      <tr><th>Type</th><th>Media</th><th>Tags</th><th>Actions</th></tr>
      {% for media in team_medias[team_link.team_number][team_link.year] %}
        {% include "media_partials/team_admin_media_row.html" %}
      {% endfor %}
      </table>
    {% else %}
      <p>No media found!</p>
    {% endif %}
  </div>
  </div>
{% endfor %}

</div>
</div>
{% endblock %}
