{% extends "base.html" %}

{% block title %}FIRST Robotics Teams - The Blue Alliance{% endblock %}

{% block meta_description %}Information, match results, and videos about FIRST Robotics Competition teams from around the world.{% endblock %}

{% block more_head_tags %}
  <meta property="og:title" content="FRC Team List" />
  <meta property="og:image" content="https://www.thebluealliance.com/images/logo_square_512.png" />
  <meta property="og:description" content="List of teams in the FIRST Robotics Competition."/>
  <meta property="og:site_name" content="The Blue Alliance" />
{% endblock %}

{% block teams_active %}active{% endblock %}
{% block teams_active_collapsed %}active{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Teams {{cur_page_label}} <small>{{ num_teams }} teams</small></h1>
      <div class="btn-group pull-right">
        <a class="btn btn-default" href="/avatars/2020"><span class="glyphicon glyphicon-user"></span> View  Avatars</>
        <a class="btn btn-default" href="/nearby?search_type=teams"><span class="glyphicon glyphicon-search"></span> Search Nearby</a>
      </div>
      <ul class="pagination pagination-small">
        {% for page_label in page_labels %}
        <li{% if loop.index == current_page %} class="active"{% endif %}><a href="/teams{% if not loop.first %}/{{loop.index}}{% endif %}">{{page_label}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="row">
    {% if teams_a %}
    <div class="col-xs-12 col-sm-6 col-lg-6">
      <table class="table table-striped table-condensed table-center team-table">
        <thead>
          <tr><th>Team Number</th><th>Team Name</th><th>Location</th></tr>
        </thead>
        <tbody>
          {% for team in teams_a %}
          <tr>
            <td>
              <div class="team-name-container">
                <div class="favorite-team-icon" data-team="{{ team.key.id() }}">
                    <span class="favorite-team-icon-spacer"></span>
                    <span class="glyphicon glyphicon-star"></span>
                </div>
                <div class="team-name">
                  <a href="/team/{{ team.team_number }}">{{ team.team_number }}</a>
                </div>
              </div>
            </td>
            <td><a href="/team/{{ team.team_number }}">{% if team.nickname %}{{ team.nickname }}{% else %}--{% endif %}</a></td>
            <td>{% if team.city_state_country %}{{ team.city_state_country }}{% else %}--{% endif %}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}

    {% if teams_b %}
    <div class="col-xs-12 col-sm-6 col-lg-6">
      <table class="table table-striped table-condensed table-center team-table">
        <thead>
          <tr><th>Team Number</th><th>Team Name</th><th>Location</th></tr>
        </thead>
        <tbody>
          {% for team in teams_b %}
          <tr>
            <td>
              <div class="team-name-container">
                <div class="favorite-team-icon" data-team="{{ team.key.id() }}">
                    <span class="favorite-team-icon-spacer"></span>
                    <span class="glyphicon glyphicon-star"></span>
                </div>
                <div class="team-name">
                  <a href="/team/{{ team.team_number }}">{{ team.team_number }}</a>
                </div>
              </div>
            </td>
            <td><a href="/team/{{ team.team_number }}">{% if team.nickname %}{{ team.nickname }}{% else %}--{% endif %}</a></td>
            <td>{% if team.city_state_country %}{{ team.city_state_country }}{% else %}--{% endif %}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
