{% extends "base.html" %}
{% import 'team_partials/blue_banner_macros.html' as bbm %}

{% block title %}{% if team.nickname %}{{team.nickname}} - {% endif %}Team {{team.team_number}} (History) - The Blue Alliance{% endblock %}

{% block meta_description %}{% if team.location %}From {{team.location}}{% endif %}. Team history from the FIRST Robotics Competition.{% endblock %}

{% block more_head_tags %}
{% include "team_partials/team_head_tags.html" %}
{% endblock %}

{% block content %}
<div class="container">
  <div class="col-sm-3 col-lg-2">
    <div class="tba-sidenav-affixed">
      {% set dropdown_label = "History" %}
      {% include "team_partials/team_year_dropdown.html" %}

      <h2 class="visible-xs end_header">Team {{team.team_number}}{% if team.nickname %} - {{team.nickname}}{% endif %}</h2>

      {% if participation|length > 1 %}
      <div class="tba-sidebar">
        <ul class="nav tba-sidenav">
          <li><a class="smooth-scroll" href="#team-info">Team Info</a></li>
          <li><a class="smooth-scroll" href="#competition-list">Competition List</a></li>
        </ul>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="col-xs-12 col-sm-9 col-lg-10">
    {% include "team_partials/team_info.html" %}

    <div class="row">
      <div class="col-sm-8">
        {% if event_awards %}
        <h3 id="competition-list">Competition List:</h3>
        <table class="table table-condensed table-striped">
          <thead>
            <tr>
              <th>Year</th>
              <th>Event</th>
              <th>Awards</th>
            </tr>
          </thead>
          <tbody>
            {% for event, awards in event_awards|reverse %}
            <tr>
              <td><a href="/team/{{team.team_number}}/{{event.year}}">{{event.year}}</a></td>
              <td><a href="/event/{{event.key_name}}">{{event.name}}</a></td>
              <td>
              {% if awards %}
              {% for award in awards %}
                {% for team_number, awardees in award.recipient_dict.items() %}
                {% if team_number|int == team.team_number %}
                {% for awardee in awardees %}
                  {{ award.name_str }}{% if awardee %} ({{ awardee }}){% endif %}<br>
                {% endfor %}
                {% endif %}
                {% endfor %}
              {% endfor %}
              {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% endif %}
      </div>

      <div class="col-sm-4">
        <div class="text-center">
          {# for 4/1 #}
          {{bbm.blue_banner({'year': current_year, 'normalized_name': 'Participation Award'}, {'normalized_name': 'Season'}, hidden=True)}}

          {% for event, awards in event_awards|reverse %}
            {% if event.is_season_event and awards %}
              {% for award in awards %}
                {% if award.is_blue_banner and award.count_banner %}
                  {% for team_number, _ in award.recipient_dict.items() %}
                    {% if team_number|string == team.team_number|string %}
                      {{bbm.blue_banner(award, event)}}
                    {% endif %}
                  {% endfor %}
                {% endif %}
              {% endfor %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block inline_javascript %}
{% if team.team_number == 148 %}
<script>
  $(".banner").click(function(){
    $(".banner").addClass("black");
  });
</script>
{% endif %}
{% endblock %}
