{% extends "base.html" %}

{% block title %}The Blue Alliance - Brand{% endblock %}

{% block meta_description %}Documentation of The Blue Alliance's logo and brand usage guidelines.{% endblock %}

{% block content %}
<!-- Inspired by MailChimp’s Brand Assets Page (mailchimp.com/about/brand-assets) -->
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-sm-offset-1">
      <h1 class="end_header">Brand Guidelines</h1>
      <p>
        Thanks for your interest our branding. We have a few guidelines for using our brand resources. Please take a
        moment to familiarize yourself with them.<br />
        You can find downloadable assets in <a href="https://github.com/the-blue-alliance/the-blue-alliance-logo"
          target="_blank">our GitHub</a>.
      </p>

      <h2>Our Colors</h2>
      <p>Blue is our primary color. We use Yellow for accents.</p>
      <div class="color-swatches">
        <div class="color-swatch" style="background: #3F51B5">
          <h4>Primary</h4>
          <span>Hex: #3F51B5</span>
          <span>RGB: 63 / 81 / 181</span>
          <span>CMYK: 65 / 55 / 0 / 29</span>
        </div>
        <div class="color-swatch" style="background: #FFD600; color: black">
          <h4>Accent</h4>
          <span>Hex: #FFD600</span>
          <span>RGB: 255 / 214 / 0</span>
          <span>CMYK: 0 / 16 / 100 / 0</span>
        </div>
      </div>

      <h2>Our Logo</h2>
      <p>
        The logo can only appear in blue, white or black.<br />
        You are free to use these logos when referring to or linking to The Blue Alliance.<br />
        Please do not make derivatives of these logos or use them to brand unofficial The Blue Alliance products so we
        can maintain our visual identity.
      </p>
      <div class="row">
        <div class="brand-download">
          <div class="brand-download-box">
            <img width="180" alt="Lamp Logo" src="/images/brand/logo-blue.svg">
          </div>
          <div class="brand-download-btns">
            <a class="brand-download-btn" target="_blank" href="/images/brand/logo-blue.svg" download
              style="border-bottom-right-radius: 6px">SVG</a>

            <a class="brand-download-btn" target="_blank" href="/images/brand/logo-blue.png" download>PNG</a>

            <a class="brand-download-btn" target="_blank" href="/images/brand/logo-blue.ai" download
              style="border-bottom-left-radius: 6px; border-right-width: 1px">AI</a>
          </div>
        </div>
        <div class="brand-download">
          <div class="brand-download-box">
            <img width="180" alt="Lamp Logo" src="/images/brand/logo-white.svg">
          </div>
          <div class="brand-download-btns">
            <a class="brand-download-btn" target="_blank" href="/images/brand/logo-white.svg" download
              style="border-bottom-right-radius: 6px">SVG</a>

            <a class="brand-download-btn" target="_blank" href="/images/brand/logo-white.png" download>PNG</a>

            <a class="brand-download-btn" target="_blank" href="/images/brand/logo-white.ai" download
              style="border-bottom-left-radius: 6px; border-right-width: 1px">AI</a>
          </div>
        </div>
      </div>

      <h4 style="margin-top: 24px">Please don’t do these things</h4>
      <div class="row brand-dont">
        <div class="col-xs-6 col-sm-4 col-lg-3">
          <img src="images/brand/dont_rotate.svg" alt="Example">
          <b>Don't</b> rotate the logo.
        </div>
        <div class="col-xs-6 col-sm-4 col-lg-3">
          <img src="images/brand/dont_stretch.svg" alt="Example">
          <b>Don't</b> change the logo’s proportion (e.g. skew, stretch or rotate).
        </div>
        <div class="col-xs-6 col-sm-4 col-lg-3">
          <img src="images/brand/dont_change.svg" alt="Example">
          <b>Don't</b> change the elements.
        </div>
        <div class="col-xs-6 col-sm-4 col-lg-3">
          <img src="images/brand/dont_colors.svg" alt="Example">
          <b>Don't</b> re-color the colors.
        </div>
        <div class="col-xs-6 col-sm-4 col-lg-3">
          <img src="images/brand/dont_shadow.svg" alt="Example">
          <b>Don't</b> add drop shadows or any other effects.
        </div>
        <div class="col-xs-6 col-sm-4 col-lg-3">
          <img src="images/brand/dont_background.svg" alt="Example">
          <b>Don't</b> put on distracting backgrounds or colors.
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}