{% extends "base.html" %}

{% block title %}Hashtags for FIRST Robotics - The Blue Alliance{% endblock %}

{% block meta_description %}Hashtags for the FIRST Robotics Competition.{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
      <h1 class="end_header">Hashtags for the <em>FIRST</em> Robotics Competition</h1>
      <div>
        <p>By using the same hashtags as other people use when you share pictures and posts about the <em>FIRST</em> Robotics Competition, you make it easier for other people to learn more about <em>FIRST</em>!</p>
        <ul>
          <li><strong>Teams</strong> - People use #frc + a team number, like <a href="https://www.youtube.com/results?search_query=%23frc177">#frc177</a> or <a href="https://www.youtube.com/results?search_query=%23frc4">#frc4</a></li>
          <li><strong>Events</strong> - People use #frc + the event&rsquo;s &quot;short code&quot;, which is an abbreviation of its name, like <a href="https://www.youtube.com/results?search_query=%23frccmp">#frccmp</a> for the Championship Einstein Field (This standard is set by <em>FIRST</em>'s <a href="https://twitter.com/frcfms/">@FRCFMS</a> score bot)
          <li><strong><em>FIRST</em></strong> - Lots of people use <a href="https://twitter.com/search/%23omgrobots">#omgrobots</a></li>
        </ul>
      </div>
      <div>
        <h2>What are hashtags?</h2>
        <p>A hashtag is a way of saying that what you are posting online is related to a particular topic. People can click the hashtag to see other posts that use it also, to find more pictures or posts about the same thing. The more people that use the same hashtag, the easier it is to see everything else! Hashtags start with the # symbol, followed by letters and numbers. <a href="https://www.youtube.com/results?search_query=%23frc195">#frc195</a> is a hashtag people use to talk about Team 195, and <a href="https://twitter.com/search/%23omgrobots">#omgrobots</a> is a hashtag people use to talk about <em>FIRST</em> Robotics generally.</p>
        <p style="text-align: center"><img src="/images/hashtag_example.png" class="align-center" /></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
