{% extends "base.html" %}

{% block title %}Admin Redeem - The Blue Alliance{% endblock %}

{% block meta_description %}Link Team Admin Code{% endblock %}

{% block content %}
<div class="container">
<h1>Redeem Team Admin Code</h1>

{% if status == "invalid_code" %}
  <div class="alert alert-danger">
    Invalid auth code!
  </div>
{% elif status == "code_used" %}
  <div class="alert alert-danger">
    This access code has already been used!
  </div>
{% elif status == "success" %}
  <div class="alert alert-success">
    Redeemed auth code for <a href="/team/{{team}}">Team {{team}}</a> - check out the <a href="/mod">moderator dashboard</a> to see what you can do!
  </div>
{% endif %}

{% if existing_access %}
  <p>This account has been linked to the following teams:</p>
  <ul>
    {% for team_link in existing_access %}
      <li><a href="/team/{{team_link.team_number}}">Team {{team_link.team_number}} - {{teams[team_link.team_number].nickname}}</a></li>
    {% endfor %}
  </ul>
  <a class="btn btn-primary" href="/mod"><span class="glyphicon glyphicon-eye-open"></span> View Team Admin Dashboard</a>
{% endif %}
<p>Redeem an access code to administer your team's media on The Blue Alliance. Having administrative access allows you to manage media linked to your team's TBA profile as well as accept or reject suggestions for additional media links.</p>

<p>Only one account can be linked per team for each year and the administration access will expire at the end of the competition season. For additional support, please <a href="/contact">contact us</a>.</p>
<form class="form-inline" acount="/mod/redeem" method="post" id="redeem">
  <legend>Redeem</legend>
  <div class="input-group">
    <span class="input-group-addon">Team Number: </span>
    <input class="form-control" size="16" name="team_number">
  </div>
  <div class="input-group">
    <span class="input-group-addon">Admin Code: </span>
    <input class="form-control" size="16" name="auth_code">
  </div>
  <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-link"></span> Link</button>
</form>

</div>
{% endblock %}
