{% if event.alliance_selections %}
  <h3>Alliances</h3>
  <table class="table table-condensed table-striped table-center">
  {% for alliance in event.alliance_selections %}
    {% if forloop.first %}
    <tr>
      <th>#</th>
      {% for _ in alliance.picks %}
        {% if forloop.counter0 == 0 %}
          <th>Captain</th>
        {% else %}
          <th>Pick {{forloop.counter0}}</th>
        {% endif %}
      {% endfor %}
    </tr>
    {% endif %}

    <tr>
      <td>{{forloop.counter}}</td>
      {% for team in alliance.picks %}
        <td><a href="/team/{{ team|digits }}/{{event.year}}">{{ team|slice:'3:' }}</a></td>
      {% endfor %}
    </tr>
  {% endfor %}
  </table>
{% endif %}