{% extends "base.html" %}

{% block title %}404 - Page Not Found{% endblock %}

{% block content %}
<div class="container">
	<div class="hero-unit">
	  <img class="pull-right" src="images/logo_square_200.png" alt="tbalogo"></img>
	  <h1>What? A 404!</h1>
  	  <p>Sorry, we couldn't find the page you were looking for. Try search for it.</p>
	  <br />
	  <form id="cse-search-box" class="search-query" action="http://www.thebluealliance.com/search" >
	      <input type="hidden" name="cx" value="017956276086362105630:99ctqytcokm" />
	      <input type="hidden" name="cof" value="FORID:11" />
	      <input type="hidden" name="ie" value="UTF-8" />
	      <input type="text" id="q" class="search-query" placeholder="Search" name="q" />
	  </form>
	  <div class="clear-both"></div>
	</div>
</div>
{% endblock %}
