{% extends "base.html" %}

{% block title %}404 - Page Not Found{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="jumbotron">
        <div class="row">
          <div class="col-12 col-sm-7">
            <h1>Oh Noes!1!!</h1>
            <p>Sorry, we couldn't find the thing you were looking for. Try searching for it.</p>
            <form id="cse-search-box" action="http://www.thebluealliance.com/search">
                <input type="hidden" name="cx" value="017956276086362105630:99ctqytcokm"/>
                <input type="hidden" name="cof" value="FORID:11" />
                <input type="hidden" name="ie" value="UTF-8" />
                <input type="text" id="q" class="form-control" placeholder="Search for a team, event, or match" name="q"/>
            </form>
          </div>
          <div class="col-sm-5 hidden-sm">
            <img class="tba-404-logo" src="/images/logo_square_200.png" alt="tbalogo" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
