{% extends "base.html" %}

{% block title %}404 - Page Not Found{% endblock %}

{% block leftCol %}
{% include "base_partials/left_col.html" %}
{% endblock %}

{% block content %}

<div id="contentTop">
  <div id="centeredContent">
  <h1>What? A 404!</h1>
  <p>Sorry, we couldn't find the page you were looking for. Try search for it.</p>
  <form action="http://www.thebluealliance.com/search" id="cse-search-box" class="textInput">
      <input type="hidden" name="cx" value="017956276086362105630:99ctqytcokm" />
      <input type="hidden" name="cof" value="FORID:11" />
      <input type="hidden" name="ie" value="UTF-8" />
      <input type="text" id="q" name="q" />
      <button id="sa" name="sa" type="submit" value="Search" ></button>
  </form>
  <script type="text/javascript" src="http://www.google.com/cse/brand?form=cse-search-box&lang=en"></script>
</div>
</div>

{% endblock %}
