{% extends "base.html" %}

{% block title %}500 - Internal Server Error{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="jumbotron">
        <div class="row">
          <div class="col-xs-12 col-sm-7">
            <h1>Oh Noes!1!!</h1>
            <h2>Error 500</h2>
            <p>Sorry, this is a problem on our end. Please try again later or <a href="/contact">contact us</a> if the problem persists.</p>
            <form action="/search">
                <input type="text" class="form-control typeahead" placeholder="Search for a team, event, or match" name="q"/>
            </form>
          </div>
          <div class="col-sm-5 hidden-xs">
            <img class="tba-error-logo" src="/images/logo_circle_512.png" alt="tbalogo" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
