{% extends "base.html" %}

{% block title %}The Blue Alliance - Account Overview{% endblock %}

{% block meta_description %}Overview of your TBA account.{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
      <p class="pull-right">
        <a class="btn btn-info" href="/logout"><span class="glyphicon glyphicon-remove"></span> Logout</a>
      </p>
      <p>
        <a class="btn btn-default" href="/account/edit"><span class="glyphicon glyphicon-pencil"></span> Edit Profile</a>
      </p>
      <div class="pull-left">
        <h1>Welcome, {{user.nickname}}!</h1>
      </div>
    </div>
  </div>
</div>
{% endblock %}
