{% extends "base.html" %}

{% block title %}The Blue Alliance - Account Overview{% endblock %}

{% block meta_description %}Overview of your TBA account.{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
      <p class="pull-right">
        <a class="btn btn-info" href="/logout"><span class="glyphicon glyphicon-remove"></span> Logout</a>
      </p>
      <p>
        <a class="btn btn-default" href="/account/edit"><span class="glyphicon glyphicon-pencil"></span> Edit Profile</a>
      </p>
      <div class="pull-left">
        <h1>Welcome back, {{user_bundle.account.display_name}}!</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
      {{user_bundle.account2}}
      <table class="table table-striped">
        <tbody>
          <tr>
            <td>Name: </td>
            <td>{{user_bundle.account.display_name}}</td>
          </tr>
          <tr>
            <td>Email: </td>
            <td>{{user_bundle.account.email}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
    <h2>Connected Devices</h2>
      <table class="table table-striped">
        <tr>
          <th>Type</th>
          <th>ID</td>
        </tr>
          {% for client in user_bundle.mobile_clients %}
            <tr>
              <td>{{ client.type_string }}</td>
              <td>{{ client.messaging_id }}</td>
            </tr>
          {% endfor %}
      </table>
      <p>
        <a class="btn btn-default" href="/webhooks/add"><span class="glyphicon glyphicon-plus"></span> Add Webhook</a>
      </p>
    </div>
  </div>
</div>
{% endblock %}
