<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
         "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{% block title %}The Blue Alliance{% endblock %}</title>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.2.0/build/cssreset/reset-min.css">
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <script type="text/javascript" src="/jwplayer/jwplayer.js"></script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-1090782-5']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    <meta name="description" content="{% block meta_description %}Team information and match videos and results from the FIRST Robotics Competition{% endblock %}">
	<meta name="keywords" content="FIRST Robotics, FIRST Robotics Competition, robotics, first, firstrobotics, competition, team, regionals, matches, videos">
</head>
<body>
    <div id="header">
        <div id="headerSpacer">
            <div id="headerContent">
                <div id="headerRight">
                    <div id="headerTitle">
                        <a href="/"><img src="/images/header_logo.png" height="36" width="240" alt="The Blue Alliance" /></a>
                    </div>
                    <div id="headerSearch">
                        <form>
                            <span class="textInput">
                                <input id="search_query" name="search_query" />
                                <button id="search_submit" name="search_submit" type="submit" />
                            </span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="main">
        <div id="leftCol">
            {% block leftCol %}
            {% endblock %}
        </div>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <div id="footer">
        <p class="left">The Blue Alliance. <a href="/admin/debug/">admin</a></p>
        <p class="right"><a href="mailto:contact@thebluealliance.net">contact</a> - <a href="http://thebluealliance.tumblr.com/">blog</a> - <a href="http://thebluealliance.tumblr.com/post/1066946079/tba-on-github">code</a> - <a href="https://spreadsheets.google.com/viewform?formkey=dGJFZWRPVV9OX2p0cXVqbWVQSW5UUlE6MQ">report issue</a></p>
    </div>
</body>
</html>
