<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
         "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{% block title %}The Blue Alliance{% endblock %}</title>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.2.0/build/cssreset/reset-min.css">
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <script type="text/javascript" src="/jwplayer/jwplayer.js"></script>
    <!-- TODO: ga.js -->
</head>
<body>
    <div id="header">
        <div id="headerContent">
            <div id="headerTitle">
                <a href="/"><img src="/images/header_logo.png" height="24" width="180" alt="The Blue Alliance" /></a>
            </div>
            <div id="headerRight">
                <div id="headerSearch">
                    <form>
                        <span class="textInput">
                            <input id="search_query" name="search_query" />
                            <button id="search_submit" name="search_submit" type="submit" />
                        </span>
                    </form>
                </div>
                <ul id="headerNav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/teams/">Teams</a></li>
                    <li><a href="/events/">Events</a></li>
                    <li>
                        {% if user %}
                            {{user.email}} | <a href="/admin/logout">log out</a>
                        {% else %}
                            <a href="/admin/login">log in</a>
                        {% endif %}
                    </li>
                </div>
            </div>
        </div>
    </div>
    <div id="main">
        <div id="leftCol">
            {% block leftCol %}
            <img src="http://www2.huronvalley.k12.mi.us/schools/mhs/activity/hot_team/index1_files/IMG_3246%20%28800x600%29.jpg" width="200" height="160" class="profileImg" />
            <ul class="leftNav">
                <li class="event"><a href="/events/">Events</a></li>
                <li class="robot"><a href="/teams/">Teams</a></li>
                <li class="info"><a href="/">Live!</a></li>
            </ul>
            <div class="divider"></div>
            <ul class="leftNav">
                <li class="event"><a href="/events/">Events</a></li>
                <li class="robot"><a href="/teams/">Teams</a></li>
                <li class="info"><a href="/">Live!</a></li>
            </ul>
            {% endblock %}
        </div>
        <div id="content">
            {% block content %}
            <div id="contentTop">
                <h1>Bobcat Robotics <span class="annotation">team 177</span></h1>
                <h2><a href="http://bobcatrobotics.org">bobcatrobotics.org</a></h2>
            </div>
            <div id="contentRight">
                <div class="contentBlock">
                    <div class="contentBlockTopper">
                        <span>Related Events</span>
                    </div>
                    <p>There are all kinds of related events!</p>
                </div>
            </div>
            <div id="contentCenter">
                <div class="contentBlock">
                    <div class="contentBlockTopper">
                        <span>Information</span>
                    </div>
                    <table class="infoTable">
                        <tr>
                            <th>Location</th>
                            <td>South Windsor, CT</th>
                        </tr>
                        <tr>
                            <th>Website</th>
                            <td><a href="http://bobcatrobotics.org">bobcatrobotics.org</a></td>
                        </tr>
                        <tr>
                            <th>Rookie Year</th>
                            <td>1995</td>
                        </tr>
                    </table>
                </div>
                <div class="contentBlock">
                    <div class="contentBlockTopper">
                        <span>Events</span>
                    </div>
                    <p>Matches Go Here</p>
                </div>
            </div>
            {% endblock %}
        </div>
    </div>
    <div id="footer">
        <p class="left">The Blue Alliance. <a href="/debug/">debug + dev</a></p>
        <p class="right"><a href="/">contact</a> - <a href="/">about</a> - <a href="/">developers</a></p>
    </div>
</body>
</html>
