{% extends "base.html" %}

{% block title %}The Blue Alliance - Contact{% endblock %}

{% block meta_description %}How to get in touch with The Blue Alliance.{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">

      <h1 class="end_header">Contact Us</h1>
      <p>We'd love to hear from you. Here's how to get in touch about different issues or questions.</p>
      <hr>

      <h2>Is your team's information wrong?</h2>
      <h3>Team Information</h3>
      <p>Most team data - like names, websites, sponsors, etc - are updated directly from FIRST. If your team's information is incorrect on The Blue Alliance, please check that it is correct on <em>FIRST</em>'s website. We update our records from <a href="https://my.firstinspires.org/Dashboard/"><em>FIRST</em>'s Team Information Management System</a> daily, and are unable to change your team information to anything other than what is listed there. You can ask your team's Lead Mentor to update the information in FIRST TIMS and it will update on The Blue Alliance within a day or two.</p>
      <h3>Photos, Social Media, and Robot Names</h3>
      <p>Some team data - like photos, CAD models, social media, and robot names - are provided to The Blue Alliance through crowdsourcing or by teams directly. Teams can use the Team Moderator codes in the FIRST Digital Kit of Parts to change robot names and approve or change media on your own team page. You can get the code for your team from the FIRST Digital Kit of Parts, and redeem it at the <a href="https://thebluealliance.com/mod">TBA Team Mod dashboard</a>. Only one TBA account may be the "team mod" each year, so please choose carefully.</p>
      <hr>

      <h2>Have match videos or data to add to The Blue Alliance?</h2>
      <p>Learn how you can help add match video, offseason results, report bad data, and more <a href="/add-data">here</a>.</p>
      <hr>

      <h2>Want to help keep our data up to date?</h2>
      <p>Join <a href="https://www.facebook.com/groups/moardata/">our Facebook group</a> to help add offseason results, report bad data, give us feedback, and more!</p>
      <hr>

      <h2>Need API access?</h2>
      <p>You can review the <a href="/apidocs">documentation for our APIs</a> on our website.</p>
      <hr>

      <h2>Want to help improve The Blue Alliance?</h2>
      <p>Check out our <a href="https://github.com/the-blue-alliance/the-blue-alliance" target="_blank">GitHub repository</a> if you'd like to help improve The Blue Alliance website or APIs.</p>
      <hr>

      <h2>Everything else</h2>
      <p>Drop us a line!</p>
      <p><a class="btn btn-primary" href="mailto:contact@thebluealliance.com" target="_blank"><span class="glyphicon glyphicon-envelope"></span> Email us</a></p>
    </div>
  </div>
</div>
{% endblock %}
