{% extends "base.html" %}

{% block title %}The Blue Alliance - Contact{% endblock %}

{% block meta_description %}How to get in touch with The Blue Alliance.{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
      <h1 class="end_header">Contact Us</h1>
      <div>
        <h2>Have match videos or data you want added to The Blue Alliance?</h2>
        <p>Learn how you can help add match video, offseason results, report bad data, and more <a href="/add-data">here</a>.</p>
      </div>
      <div>
        <h2>Help keep our data up to date</h2>
        <p>Join <a href="https://www.facebook.com/groups/moardata/">our Facebook group</a> to help add offseason results, report bad data, give us feedback, and more!</p>
      </div>
      <div>
        <h2>Team information wrong?</h2>
        <p> If your team's information, such as team name, sponsors, and robot name, is incorrect on The Blue Alliance, please check if it is correct on <em>FIRST</em>'s website. We update our records from <a href="https://my.usfirst.org/frc/tims/site.lasso"><em>FIRST</em>'s TIMS</a> daily, and are unable to change your team information to anything other than what is listed there.</p>
      </div>
      <div>
        <h2>API access</h2>
        <p>The new "dotcom" website brings a new API that doesn't require an API key to use. We provide the <a href="/apidocs">documentation for the API</a> on our website. Check out our <a href="https://github.com/the-blue-alliance/the-blue-alliance" target="_blank">GitHub repository</a> if you'd like to help build it. :D</p>
      </div>
      <div>
        <h2>Everything else</h2>
        <p>Drop us a line!</p>
        <p><a class="btn btn-default" href="mailto:contact@thebluealliance.com" target="_blank"><span class="glyphicon glyphicon-envelope"></span> Email us</a></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}