{% extends "base.html" %}

{% block title %}{% if explicit_year %}{{selected_year}} {% endif %}FIRST Robotics Districts - The Blue Alliance{% endblock %}

{% block meta_description %}Information, match results, and videos for FIRST Robotics Competition districts{% if explicit_year %} from {{selected_year}}{% endif %}.{% endblock %}

{% block districts_active %}active{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-3 col-lg-2">
      <div class="tba-sidenav-affixed">
        <div class="btn-group">
          <a class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" href="#">
            {{selected_year}}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu tba-dropdown-menu-limited">
            {% for year in valid_years %}
              <li><a href="/districts/{{year}}">{{year}}</a></li>
            {% endfor %}
          </ul>
        </div>

        <h1 class="visible-xs end_header">{% if explicit_year %}{{selected_year}} {% endif %}<em>FIRST</em> Robotics Competition District Events</h1>

        <div class="tba-sidebar">
          <ul class="nav tba-sidenav">
          {% for district, _ in districts_and_events %}
            <li><a class="smooth-scroll" href="#{{district.1}}">{{district.0}}</a></li>
          {% endfor %}
          </ul>
        </div>

      </div>
    </div>
    <div class="col-xs-12 col-sm-9 col-lg-10">
      <h1 class="hidden-xs end_header">{% if explicit_year %}{{selected_year}} {% endif %}<em>FIRST</em> Robotics Competition District Events</h1>
      {% for district, events in districts_and_events %}
        <p class="pull-right"><a class="btn btn-default" href="/districts/rankings/{{district.1}}/{{selected_year}}"><span class="glyphicon glyphicon-sort"></span> View Rankings</a></p>
        <h2 id="{{district.1}}">{{district.0}} <small>{{events|length}} Events</small></h2>
        {% include "event_partials/event_table.html" %}

        {% if not forloop.last %}
          <hr>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
