{% extends "base.html" %}

{% block title %}The Blue Alliance - Event Wizard{% endblock %}

{% block meta_description %}Interface to update matches using The Blue Alliance's write API.{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="endheader">TBA Event Wizard</h1>
      <p>A tool to help you archive all the data associated with an event</p>

      <hr>

      <h2 id="setup">Setup</h2>
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label for="event_key" class="col-sm-2 control-label">Select Event</label>
          <div class="col-sm-10">
            <select id="event_key">
                <option value="">Select Event</option>
                <option value="2015nyc">NYC</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="auth_id" class="col-sm-2 control-label">Auth Id</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="auth_id" placeholder="Auth ID">
          </div>
        </div>
        <div class="form-group">
          <label for="auth_secret" class="col-sm-2 control-label">Auth Secret</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="auth_secret" placeholder="Auth Secret">
          </div>
        </div>
      </form>

      <hr>

      <div class="row">
        <div class="col-sm-12">
          <ul class="nav nav-tabs">
            <li><a href="#teams" data-toggle="tab">Teams</a></li>
            <li><a href="#schedule" data-toggle="tab">Schedule Import</a></li>
            <li><a href="#matches" data-toggle="tab">Match Play</a></li>
            <li><a href="#results" data-toggle="tab">Results</a></li>
            <li><a href="#alliances" data-toggle="tab">Alliance Selection</a></li>
            <li><a href="#awards" data-toggle="tab">Awards</a></li>
          </ul>
        </div>
      </div>

      <div class="tab-content">
        <div class="tab-pane" id="teams">
          <h3>Teams</h3>
        </div>

        <div class="tab-pane" id="schedule">
          <h3>Import Schedule</h3>
            <p>Allows you to import matches via FMS report. Note that this will overwrite all data that currently exists for these matches</p>
            <label for="schedule_file">Report File</label><input type="file" id="schedule_file" name="schedule_file" />

            <div id="schedule_preview_status">

            </div>
            <button class="btn btn-info" id="schedule-ok"><span class="glyphicon glyphicon-refresh"></span>  Post Schedule</button>
            <table id="schedule_preview" class="table table-striped">
              <tr><th>Time</th><th>Description</th><th>Match</th><th>Blue 1</th><th>Blue 2</th><th>Blue 3</th><th>Red 1</th><th>Red 2</th><th>Red 3</th></tr>
            </table>
        </div>

        <div class="tab-pane" id="matches">
          <h3>Match Play</h3>
          <button class="btn btn-success" id="setup-ok"><span class="glyphicon glyphicon-refresh"></span> Fetch Matches</button>
          <table id="match-table" class="match-table">
          </table>
        </div>

        <div class="tab-pane" id="results">
          <h3>Upload Match Results</h3>

          <h3>Upload Rankings</h3>
        </div>

        <div class="tab-pane" id="alliances">
          <h3>Alliance Selection</h3>
        </div>

        <div class="tab-pane" id="awards">
          <h3>Awards</h3>
        </div>
      </div>

      <table id="match-table" class="match-table">
      </table>
  </div>
</div>
{% endblock %}

{% block inline_javascript %}
<script src="//cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/md5.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-csv/0.71/jquery.csv-0.71.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/xlsx.core.min.js"></script>
<script type="text/javascript" src="/javascript/tba_js/eventwizard.js"></script>

{% endblock %}
