{% extends "base.html" %}

{% block title %}{{event.name}} ({{event.year}}) - The Blue Alliance{% endblock %}

{% block meta_description %}Videos and match results for the {{event.year}} {{event.name}} FIRST Robotics Competition in {{event.location}}.{% endblock %}

{% block more_head_tags %}
    <meta property="og:title" content="{{event.year}} {{event.name}}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://thebluealliance.com/event/{{event.key_name}}" />
    <meta property="og:image" content="http://www.thebluealliance.com/images/logo_square_200.png" />
    <meta property="og:description" content="Videos and match results for the {{event.year}} {{event.name}} FIRST Robotics Competition in {{event.location}}."/>
    <meta property="og:site_name" content="The Blue Alliance" />
    <meta property="og:location" content="{{event.location}}" />
    {% if event.start_date %}<meta property="og:start_time" content="{{event.start_date|date:"Y-m-d"}}" />
    {% else %}<meta property="og:start_time" content="{{event.year}}" />{% endif %}
    {% if event.end_date %}<meta property="og:end_time" content="{{event.end_date|date:"Y-m-d"}}" />{% endif %}
    {% if event.venue %}<meta property="og:fn" content="{{event.venue}}" />{% endif %}
{% endblock %}

{% block content %}

<div class="container" itemscope itemtype="http://data-vocabulary.org/Event">
    <p class="pull-right"><a class="btn" href="/event/{{event.key_name}}"><i class="icon-refresh"></i></a></p>
    <p><a class="btn" href="/events/{{event.year}}"><i class="icon-chevron-left"></i> {{event.year}} Events</a></p>

    <h1 itemprop="summary">{{event.name}} {{event.year}}</h1>

    <div class="row">
        <div class="span8">
            <p>
                {% if event.start_date %}<i class="icon-calendar"></i> <time itemprop="startDate" datetime="{{event.start_date|date:"c"}}">{{ event.start_date|date:"M jS" }}</time>{% if event.start_date != event.end_date %} to <time itemprop="endDate" datetime="{{event.end_date|date:"c"}}">{{ event.end_date|date:"M jS, Y" }}</time>{% endif %}{% endif %}
                {% if event.location %}{% if not event.start_date %}<br /><i class="icon-map-marker"></i>{% endif %} in <a href="http://maps.google.com/maps?q={{ event.location|urlencode }}"><span itemprop="location">{{ event.location }}</span></a>{% endif %}
                {% if event.website %}<br /><i class="icon-globe"></i> <a href="{{ event.website }}" title="{{ event.name }}">{{ event.website }}</a>{% endif %}
                {% if event.official %}{% if not event.website %}<br /><i class="icon-info-sign"></i>{% else %} - {% endif %} details on <a href="https://my.usfirst.org/myarea/index.lasso?page=teamlist&amp;event_type=FRC&amp;sort_teams=number&amp;year={{ event.year }}&amp;event={{ event.event_short }}">usfirst.org</a>{% endif %}
                {% if event.facebook_eid %}<br /><i class="icon-thumbs-up"></i> <a href="{{ event.facebook_event_url }}" title="Facebook Event">RSVP on Facebook</a><br />{% endif %}
            </p>

            <p><strong>#frc{{ event.event_short }}</strong> <small><a href="/hashtags" rel="tooltip" title="What are hashtags?">?</a></small> - Search
                <a class="hashtag-link hashtag-twitter" href="https://twitter.com/search/%23frc{{ event.event_short }}" target="_blank" title="Search Twitter">Twitter</a> &middot;
                <a class="hashtag-link hashtag-youtube" href="http://www.youtube.com/results?search_query=%23frc{{ event.event_short }}+OR+%22{{ event.name|urlencode }}%22" target="_blank" title="Search YouTube">YouTube</a> &middot;
                <a class="hashtag-link hashtag-cd" href="http://www.chiefdelphi.com/media/photos/tags/frc{{ event.event_short }}" target="_blank" title="Search Chief Delphi">Chief Delphi</a> &middot;
                <a class="hashtag-link hashtag-flickr" href="http://www.flickr.com/search/?q=%23frc{{ event.event_short }}" target="_blank" title="Search Flickr">Flickr</a>
            </p>
        </div>
    </div>
    
    {% if event.within_a_day %}
    <div class="row">
        <div class="span12 well">
            <div class="row-fluid">
                <span class="lead"><strong>Event in progress</strong></span>
                <div class="hidden-phone pull-right">
                  {% if event.webcast%}
                      <a class="btn btn-large btn-success" href="{{event.gameday_url}}" target="_blank"><i class="icon-facetime-video icon-white"></i> Watch now</a>
                  {% endif %}
                </div>
            </div>
            <div class="row-fluid">
                {% if matches_upcoming %}
                <div class="span6">
                    <h4>Upcoming Matches</h4>
                    {% with matches_upcoming as matches %}
                        {% include "match_partials/upcoming_match_table.html" %}
                    {% endwith %}
                </div>
                {% endif %}
                {% if matches_recent %}
                <div class="span6">
                    <h4>Recent Matches</h4>
                    {% with matches_recent as matches %}
                        {% include "match_partials/recent_match_table.html" %}
                    {% endwith %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}

    <ul class="nav nav-tabs nav-stacked-phone">
        {% if matches.num > 0 %}<li class="active"><a href="#results" data-toggle="tab">Results</a></li>{% endif %}
        {% if event.rankings %}<li><a href="#rankings" data-toggle="tab">Rankings</a></li>{% endif %}
         {% if awards.list %}<li><a href="#awards" data-toggle="tab">Awards</a></li>{% endif %}
        <li class="{% if matches.num == 0 %}active{% endif %}"><a href="#teams" data-toggle="tab">Teams</a></li>
    </ul>

    <div class="tab-content">
        {% if matches.num > 0 %}
        <div class="tab-pane active" id="results">
            <div class="row">
                {% if matches.qm %}
                <div class="span6">
                    <h3>Qualification Results</h3>
                    {% include "match_partials/qual_match_table.html" %}
                </div>
                {% endif %}

                {% if matches.ef or matches.qf or matches.sf or matches.f %}
                <div class="span6">
                    <h3>Elimination Results</h3>
                    {% include "match_partials/elim_match_table.html" %}

                    {% if matches.qm %}
                        {% if matches.qf or matches.sf or matches.f %}
                            <h3>Elimination Bracket</h3>
                            {% include "bracket_partials/bracket_table.html" %}
                        {% endif %}

                        {% if oprs|length > 0 %}
                        <h3>OPRs - Top 15 (<a href="/opr">?</a>)</h3>
                        <table class="table table-condensed table-striped table-center">
                            <tr>
                                <th>Team</th>
                                <th>OPR</th>
                            </tr>
                            {% for opr,opr_team in oprs %}
                            <tr>
                                <td><a href="/team/{{ opr_team }}">{{ opr_team }}</a></td>
                                <td>{{ opr|floatformat:2 }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                        {% endif %}
                    {% endif %}
                </div>
                {% endif %}

                {% if not matches.qm %}
                <div class="span6">
                    {% if matches.qf or matches.sf or matches.f %}
                    <h3>Elimination Bracket</h3>
                    {% include "bracket_partials/bracket_table.html" %}
                    {% endif %}

                    {% if oprs|length > 0 %}
                    <h3>OPRs - Top 15 (<a href="/opr" rel="tooltip" title="What are Offensive Power Rankings?">?</a>)</h3>
                    <table class="table table-condensed table-striped table-center">
                        <tr>
                            <th>Team</th>
                            <th>OPR</th>
                        </tr>
                        {% for opr,opr_team in oprs %}
                        <tr>
                            <td><a href="/team/{{ opr_team }}">{{ opr_team }}</a></td>
                            <td>{{ opr|floatformat:2 }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% endif %}
                </div>
                {% endif %}
            </div>
            <p><a class="btn" href="/contact"><i class="icon-upload"></i> Add YouTube Videos</a></p>
            <p><i class="icon-barcode"></i> <a href="http://www.thebluealliance.com/event/{{ event.key_name }}/feed"> matches in rss</a></p>
        </div>
        {% endif %}

        {% if event.rankings %}
        <div class="tab-pane" id="rankings">
            <div class="row">
                <div class="span8 offset2">
                    <p>Data from <a href="http://www2.usfirst.org/{{event.year}}comp/events/{{event.event_short}}/rankings.html" target="_blank"> <em>FIRST</em>'s event page</a>.</p>
                    <table class="table table-striped table-condensed table-center tablesorter" id="rankingsTable">
                        <thead>
                            <tr>
                            {% for element in event.rankings.0 %}
                                    <th>{{ element }}</th>
                            {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in event.rankings %}
                            {% if not forloop.first %}
                            <tr>
                                {% for element in row %}
                                <td>
                                    {% if forloop.counter == 2 %}
                                        <a href="/team/{{ element }}/{{event.year}}">{{ element }}</a>
                                    {% else %}
                                        {{ element }}
                                    {% endif %}
                                </td>
                                {% endfor %}
                            </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="tab-pane {% if matches.num == 0 %}active{% endif %}" id="teams">
            <div class="row-fluid">
                {% if teams_a %}
                <div class="span6">
                    <table class="table table-striped table-condensed table-center team-table">
                        <tbody>
                            <tr><th>Team Number</th><th>Team Name</th><th>Location</th></tr>
                            {% for team in teams_a %}
                            <tr>
                                <td><a class="team_table" href="/team/{{ team.team_number }}/{{event.year}}">{{ team.team_number }}</a></td>
                                <td><a href="/team/{{ team.team_number }}/{{event.year}}">{% if team.nickname %}{{ team.nickname }}{% else %}--{% endif %}</a></td>
                                <td>{% if team.location %}{{ team.location }}{% else %}--{% endif %}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                <p>No teams yet.</p>
                {% endif %}
                {% if teams_b %}
                <div class="span6">
                    <table class="table table-striped table-condensed table-center team-table">
                        <tbody>
                            <tr><th>Team Number</th><th>Team Name</th><th>Location</th></tr>
                            {% for team in teams_b %}
                            <tr>
                                <td><a class="team_table" href="/team/{{ team.team_number }}">{{ team.team_number }}</a></td>
                                <td><a href="/team/{{ team.team_number }}">{% if team.nickname %}{{ team.nickname }}{% else %}--{% endif %}</a></td>
                                <td>{% if team.location %}{{ team.location }}{% else %}--{% endif %}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}
            </div>
        </div>
        
        {% if awards.list %}
        <div class="tab-pane" id="awards">
            <div class="row">
                <div class="span8 offset2">
                    <table class="table table-striped table-condensed table-hover">
                        <tbody>
                            <tr>
                                <th>Award</th>
                                <th>Winner</th>
                            </tr>
                            {% for award in awards.list %}
                            <tr>
                                <td>{{award.official_name}}</td>
                                <td>
                                {% if award.awardee %}
                                    {{ award.awardee }}
                                    {% if award.team %}(<a href="/team/{{award.team.id|slice:"3:"}}/{{event.year}}">{{award.team.id|slice:"3:"}}</a>){% endif %}
                                {% else %}
                                    {% if award.team %}
                                    <a href="/team/{{award.team.id|slice:"3:"}}/{{event.year}}">{{award.team.id|slice:"3:"}}</a>
                                    {% else %}
                                    --
                                    {% endif %}
                                {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
