{% extends "base.html" %}

{% block title %}{{event.name}} ({{event.year}}) - The Blue Alliance{% endblock %}

{% block meta_description %}Match results and for the {{event.year}} {{event.name}} FIRST Robotics Competition in {{event.location}}.{% endblock %}

{% block more_head_tags %}
    <meta property="og:title" content="{{event.year}} {{event.name}}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://thebluealliance.com/event/{{event.key.name}}" />
    <meta property="og:image" content="http://www.thebluealliance.com/images/logo_square_200.png" />
    <meta property="og:description" content="The {{event.year}} {{event.name}} FIRST Robotics Competition in {{event.location}}."/>
    <meta property="og:site_name" content="The Blue Alliance" />
    <meta property="og:location" content="{{event.location}}" />
    {% if event.start_date %}<meta property="og:start_time" content="{{event.start_date|date:"Y-m-d"}}" />
    {% else %}<meta property="og:start_time" content="{{event.year}}" />{% endif %}
    {% if event.end_date %}<meta property="og:end_time" content="{{event.end_date|date:"Y-m-d"}}" />{% endif %}
    {% if event.venue %}<meta property="og:fn" content="{{event.venue}}" />{% endif %}
{% endblock %}

{% block content %}

<div class="container">
	<p><a href="/events/{{event.year}}"><i class="icon-chevron-left"></i> {{event.year}} Events</a></p>

	<h1>{{event.name}} {{event.year}}</h1>
	
	<div class="row">
		<div class="span8">
			<p>
				{% if event.start_date %}<i class="icon-calendar"></i> {{ event.start_date|date:"M jS" }} to {{ event.end_date|date:"M jS, Y" }}<br />{% endif %}
				{% if event.location %}<i class="icon-map-marker"></i> in <a href="http://maps.google.com/maps?q={{ event.location }}">{{ event.location }}</a><br />{% endif %}
				{% if event.website %}<i class="icon-globe"></i> <a href="{{ event.website }}" title="{{ event.name }}">{{ event.website }}</a><br />{% endif %}
				{% if event.official %}<i class="icon-info-sign"></i> <a href="https://my.usfirst.org/myarea/index.lasso?page=teamlist&event_type=FRC&sort_teams=number&year={{ event.year }}&event={{ event.event_short }}">details on usfirst.org</a><br />{% endif %}
				{% if event.webcast_url %}<i class="icon-film"></i> <a href="{{ event.webcast_url }}" title="">live webcast</a><br />{% endif %}
				{% if event.facebook_eid %}<i class="icon-thumbs-up"></i> <a href="{{ event.facebook_event_url }}" title="Facebook Event">RSVP on Facebook</a><br />{% endif %}
				<i class="icon-barcode"></i> <a href="http://www.thebluealliance.com/event/{{ event.key_name }}/feed"> matches in rss</a>
			</p>

			

			<p><strong>#frc{{ event.event_short }}</strong> <small><a href="/hashtags" rel="tooltip" title="What are hashtags?">?</a></small> - Search
		        <a class="hashtag-link hashtag-twitter" href="https://twitter.com/search/%23frc{{ event.event_short }}" target="_blank" title="Search Twitter">Twitter</a> &middot;
		        <a class="hashtag-link hashtag-youtube" href="http://www.youtube.com/results?search_query=%23frc{{ event.event_short }}+OR+%22{{ event.name }}%22" target="_blank" title="Search YouTube">YouTube</a> &middot;
		        <a class="hashtag-link hashtag-cd" href="http://www.chiefdelphi.com/media/photos/tags/frc{{ event.event_short }}" target="_blank" title="Search Chief Delphi">Chief Delphi</a> &middot;
		        <a class="hashtag-link hashtag-flickr" href="http://www.flickr.com/search/?q=%23frc{{ event.event_short }}" target="_blank" title="Search Flickr">Flickr</a>
		    </p>
		</div>
	</div>
	
	<ul class="nav nav-tabs nav-stacked-phone">
	    <li class="active"><a href="#results" data-toggle="tab">Results</a></li>
        {% if event.rankings %}<li><a href="#rankings" data-toggle="tab">Rankings</a></li>{% endif %}
        <li><a href="#teams" data-toggle="tab">Teams</a></li>
	    <!-- <li><a href="#awards" data-toggle="tab">Awards</a></li>-->
	</ul>
	
	<div class="tab-content">

	  <div class="tab-pane active" id="results">
			
		<div class="row">
		{% if matches.qm %}
		<div class="span6">
			<h3>Qualification Match Results</h3>
	        	{% include "match_partials/qual_match_table.html" %}
		</div>
		{% endif %}
		
		{% if matches.ef or matches.qf or matches.sf or matches.f %}
		<div class="span6">
			<h3>Elimination Match Results</h3>
	        	{% include "match_partials/elim_match_table.html" %}

			{% if matches.qm %}
				{% if matches.qf or matches.sf or matches.f %}
				<h3>Elimination Bracket</h3>	
				{% include "bracket_partials/bracket_table.html" %}
				{% endif %}
	
			    {% if oprs|length > 0 %}
	            <h3>OPRs - Top 15 (<a href="/opr">?</a>)</h3>
		        <table class="table table-condensed table-striped table-center">
		            <tr>
		                <th>Team</th>
		                <th>OPR</th>
		            </tr>
		            {% for opr,opr_team in oprs %}
		            <tr>
		                <td><a href="/team/{{ opr_team }}">{{ opr_team }}</a></td>
		                <td>{{ opr|floatformat:2 }}</td>
		            </tr>
		            {% endfor %}
		        </table>
			    {% endif %}
		    {% endif %}
		</div>
		{% endif %}

		{% if not matches.qm %}
		    <div class="span6">
		        {% if matches.qf or matches.sf or matches.f %}
	                <h3>Elimination Bracket</h3>	
	                {% include "bracket_partials/bracket_table.html" %}
                {% endif %}
					
				{% if oprs|length > 0 %}
                <h3>OPRs - Top 15 (<a href="/opr" rel="tooltip" title="What are Offensive Power Rankings?">?</a>)</h3>
		        <table class="table table-condensed table-striped table-center">
		            <tr>
		                <th>Team</th>
		                <th>OPR</th>
		            </tr>
		            {% for opr,opr_team in oprs %}
		            <tr>
		                <td><a href="/team/{{ opr_team }}">{{ opr_team }}</a></td>
		                <td>{{ opr|floatformat:2 }}</td>
		            </tr>
		            {% endfor %}
		        </table>
		        {% endif %}
			</div>
		{% endif %}
	  </div>
    </div>

    {% if event.rankings %}
    <div class="tab-pane" id="rankings">
        <div class="row">
            <div class="span8 offset2">
            <p>Data from <a href="http://www2.usfirst.org/{{event.year}}comp/events/{{event.event_short}}/rankings.html" target="_blank">
                <em>FIRST</em>'s event page</a>.</p>
            <table class="table table-striped table-condensed table-center">
	        {% for row in event.rankings %}
	            <tr>
	            {% if forloop.first %}
                    {% for element in row %}
                        <th>{{ element }}</th>
                    {% endfor %}
	            {% else %}
		            {% for element in row %}
		                <td>
		                {% if forloop.counter0 == 1 %}
		                    <a href="/team/{{ element }}">{{ element }}</a>
		                {% else %}
		                    {{ element }}
		                {% endif %}
		                </td>
		            {% endfor %}
		        {% endif %}
		        </tr>
	        {% endfor %}
	        </table>
	        </div>
        </div>
    </div>
    {% endif %}

	  <div class="tab-pane" id="teams">
		  <div class="row">
	        {% if teams_a %}
	        <div class="span6">
				<table class="table table-striped table-condensed table-center team-table">
			  		<tbody>
			  			<tr><th>Team Number</th><th>Team Name</th><th>Location</th></tr>
			  			{% for team in teams_a %}
			  			<tr>
			  				<td><a class="team_table" href="/team/{{ team.team_number }}">{{ team.team_number }}</a></td>
			  				<td><a href="/team/{{ team.team_number }}">{% if team.nickname %}{{ team.nickname }}{% else %}--{% endif %}</a></td>
			  				<td>{% if team.address %}{{ team.address }}{% else %}--{% endif %}</td>
			  			</tr>
	      			    {% endfor %}
			  		</tbody>
			  	</table>
			</div>
	        {% else %}
	        <p>No teams yet.</p>
	        {% endif %}

	        {% if teams_b %}
	        <div class="span6">
				<table class="table table-striped table-condensed table-center team-table">
			  		<tbody>
			  			<tr><th>Team Number</th><th>Team Name</th><th>Location</th></tr>
			  			{% for team in teams_b %}
			  			<tr>
			  				<td><a class="team_table" href="/team/{{ team.team_number }}">{{ team.team_number }}</a></td>
			  				<td><a href="/team/{{ team.team_number }}">{% if team.nickname %}{{ team.nickname }}{% else %}--{% endif %}</a></td>
			  				<td>{% if team.address %}{{ team.address }}{% else %}--{% endif %}</td>
			  			</tr>
	      			    {% endfor %}
			  		</tbody>
			  	</table>
			</div>
	        {% endif %}
		  </div>

		</div>
	</div>
</div>
{% endblock %}

