{% extends "base.html" %}

{% block title %}The Blue Alliance - Event Wizard{% endblock %}

{% block meta_description %}Interface to update matches using The Blue Alliance's write API.{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="endheader">TBA Event Wizard</h1>
      <p>A tool to input FRC event data. <a href="/add-data">Visit this page</a> for more info if you're running an offseason event and would like to import your data to TBA, or <a href="/contact">contact us</a>.</p>
      <p>For help using this tool, please refer to the <a href="https://docs.google.com/document/d/1RWcsehMDXzlAyv4p5srwofknYvdNt6noejpMSYZMmeA/pub">User Guide</a>.</p>
      <hr>

      <h2 id="setup">Setup</h2>
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label for="event_key" class="col-sm-2 control-label">Select Event</label>
          <div class="col-sm-10">
            <select id="event_key_select" class="form-control">
               <option value="">Select Event</option>
               {% if selected_event %}
                  <option value="{{ selected_event.key_name }}" selected>{{ selected_event.year }} {{ selected_event.name }}</option>
                {% endif %}
              <option value="other">Other</option>
            </select>
            <input type="text" class="form-control" id="event_key" placeholder="Event Key"/>
          </div>
        </div>
        <div class="form-group" id="auth-tools">
          <label class="col-sm-2 control-label">Auth Tools</label>
          <div class="col-sm-10">
            <button type="button" class="btn btn-default" id="load_auth">Load Auth</button>
            <button type="button" class="btn btn-default" id="store_auth">Store Auth</button>
            <a href="#" id="show-help"><span class="glyphicon glyphicon-help"></span> ?</a>
          <div class="alert alert-info" id="auth-help">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>Auth Help</h4>
            <p>You can store your auth keys for a specific event in a local cookie so you don't have to enter it every time you load the page. Make sure you've selected an event before loading or storing auth. If you don't have an auth key, <a href="/contact">contact us</a> to obtain one for your event.</p>
          </div>
          </div>
        </div>
        <div id="auth-container">
        <div class="form-group">
          <label for="auth_id" class="col-sm-2 control-label">Auth Id</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="auth_id" placeholder="Auth ID">
          </div>
        </div>
        <div class="form-group">
          <label for="auth_secret" class="col-sm-2 control-label">Auth Secret</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="auth_secret" placeholder="Auth Secret">
          </div>
        </div>
        </div>
      </form>

      <hr>

      <div class="row">
        <div class="col-sm-12">
          <ul class="nav nav-tabs">
            <li><a href="#teams" data-toggle="tab">Manual Teams</a></li>
            <li><a href="#fms-teams" data-toggle="tab">FMS Teams</a></li>
            <li><a href="#schedule" data-toggle="tab">FMS Schedule Import</a></li>
            <li><a href="#matches" data-toggle="tab">Match Play</a></li>
            <li><a href="#results" data-toggle="tab">FMS Match Import</a></li>
            <li><a href="#rankings" data-toggle="tab">FMS Rankings Import</a></li>
            <li><a href="#alliances" data-toggle="tab">Alliance Selection</a></li>
          </ul>
        </div>
      </div>

      <div class="tab-content">
        <div class="tab-pane" id="teams">
          <h3>Teams (Manual)</h3>
          <p>Add a list of teams attending an event. This will overwrite all existing team data for the event. Input one team number per line.</p>
          <button class="btn btn-info" id="teams-ok"><span class="glyphicon glyphicon-refresh"></span>  Add Teams</button><br/>
          <label for="team_list">Team List</label><textarea class="form-control" id="team_list"></textarea>
        </div>

        <div class="tab-pane" id="fms-teams">
          <h3>Teams (FMS)</h3>
          <p>Add a list of teams attending an event via FMS Report. This will overwrite all existing team data for the event.</p>
          <label for="teams_file">Report File</label><input type="file" id="teams_file" name="teams_file" />
          <div id="teams_preview_status"></div>
          <button class="btn btn-info" id="fmsteams-ok"><span class="glyphicon glyphicon-refresh"></span> Post Teams</button>
          <table id="teams_preview" class="table table-striped"></table>
        </div>

        <div class="tab-pane" id="schedule">
          <h3>Import Schedule</h3>
            <p>Allows you to import matches via FMS report. Note that this <strong>will overwrite all data</strong> that currently exists for these matches. If you are running a Playoff Tournament and need to import only a certain level of matches (e.g. only import Semifinals so Quarterfinals don't get overwritten), select the level below prior to selecting a file.</p>
            <label for="import-comp-level">Comp Level to Import</label>
            <div class="radio">
              <label><input type="radio" name="import-comp-level" id="import-comp-level-all" value="all" checked>All</label>
            </div>
            <div class="radio">
              <label><input type="radio" name="import-comp-level" id="import-comp-level-qf" value="qf">Quarterfinals</label>
            </div>
            <div class="radio">
              <label><input type="radio" name="import-comp-level" id="import-comp-level-sf" value="sf">Semifinals</label>
            </div>
            <div class="radio">
              <label><input type="radio" name="import-comp-level" id="import-comp-level-f" value="f">Finals</label>
            </div>
            <label for="alliance-count-schedule">Number of Alliances (Playoffs Only)</label>
            <div class="radio">
              <label><input type="radio" name="alliance-count-schedule" id="alliance-count-schedule-8" value="8" checked>8</label>
            </div>
            <div class="radio">
              <label><input type="radio" name="alliance-count-schedule" id="alliance-count-schedule-16" value="16">16</label>
            </div>

              <label for="schedule_file">Report File</label><input type="file" id="schedule_file" name="schedule_file" />

            <div id="schedule_preview_status">

            </div>
            <button class="btn btn-info" id="schedule-ok"><span class="glyphicon glyphicon-refresh"></span>  Post Schedule</button>
            <table id="schedule_preview" class="table table-striped">
              <tr><th>Time</th><th>Description</th><th>Match</th><th>Blue 1</th><th>Blue 2</th><th>Blue 3</th><th>Red 1</th><th>Red 2</th><th>Red 3</th></tr>
            </table>
        </div>

        <div class="tab-pane" id="matches">
          <h3>Match Play</h3>
          <div>
            <label for="enable_fms_rankings">Enable Rankings import from FMS (must be on field network)</label>
            <input type="checkbox" id="enable_fms_rankings"/>
          </div>
          <button class="btn btn-success" id="fetch-matches"><span class="glyphicon glyphicon-refresh"></span> Fetch Matches</button>
          <div id="match_play_load_status"></div>
          <table id="match-table" class="match-table">
          </table>
        </div>

        <div class="tab-pane" id="results">
          <h3>Upload Match Results</h3>
          <p>Lets you upload a FMS Match Results report. Note that this will overwite data that currently exists for these matches.</p>
          <label for="alliance-count-results">Number of Alliances (Playoffs Only)</label>
          <div class="radio">
            <label><input type="radio" name="alliance-count-results" id="alliance-count-results-8" value="8" checked>8</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="alliance-count-results" id="alliance-count-results-16" value="16">16</label>
          </div>

          <label for="results_file">Report File</label><input type="file" id="results_file" name="results_file" />
          <div id="results_preview_status">

          </div>

          <button class="btn btn-info" id="results-ok"><span class="glyphicon glyphicon-refresh"></span> Post Results</button>
          <table id="results_preview" class="table table-striped">

          </table>
        </div>

        <div class="tab-pane" id="rankings">
          <h3>Upload Rankings</h3>
          <p>Upload event rankings from FMS report. This will overwrite current rankings for that event.</p>

          <label for="rankings_file">Rankings File</label><input type="file" id="rankings_file" name="rankings_file" />
          <div id="rankings_preview_status">

          </div>

          <button class="btn btn-info" id="rankings-ok"><span class="glyphicon glyphicon-refresh"></span> Post Rankings</button>
          <table id="rankings_preview" class="table table-striped">

          </table>
        </div>

        <div class="tab-pane" id="alliances">
          <h3>Alliance Selection</h3>
          <p>Input team numbers for event Alliance Selections. This will overwite existing alliances.</p>
          <label for="alliance-size">Number of teams per alliance</label>
          <div class="radio">
            <label><input type="radio" name="alliance-size" id="alliance-size-2" value="2">2</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="alliance-size" id="alliance-size-3" value="3" checked>3</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="alliance-size" id="alliance-size-4" value="4">4</label>
          </div>

          <button class="btn btn-info" id="alliances-ok"><span class="glyphicon glyphicon-refresh"></span> Post Alliances</button>
          <table id="alliances" class="table table-striped">
            <tr><th>Alliance</th><th>Captain</th><th class="pick-1">Pick 1</th><th class="pick-2">Pick 2</th><th class="pick-3">Pick 3</th></tr>
          </table>
        </div>
      <table id="match-table" class="match-table">
      </table>
  </div>
</div>
{% endblock %}

{% block inline_javascript %}
<script src="//cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/md5.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-csv/0.71/jquery.csv-0.71.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.0/xlsx.full.min.js"></script>
<script type="text/javascript" src="/javascript/tba_combined_js.eventwizard.min.js"></script>

{% endblock %}
