{% extends "base.html" %}

{% block title %}GameDay - The Blue Alliance{% endblock %}

{% block meta_description %}Live competition page for the FIRST Robotics Competition.{% endblock %}

{% block more_head_tags %}<script type="text/javascript" src="/javascript/gameday.js"></script>{% endblock %}

{% block navbar %}
<div class="gameday">
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <div id="navTitle" class="brand">
        <span class="gameday-title">TBA GameDay</span>
        <a class="main-site" href="/">To main site &raquo;</a>
        <div class="div_helper"></div>
      </div>

      <ul class="nav pull-right">
        <li class="dropdown">
          <a class="dropdown-toggle" href="#">Layouts</a>
          <ul class="dropdown-menu">
	          <li><a class="layout-choice layout_0" href="javascript:layout_0()">Single View</a>
	          <li><a class="layout-choice layout_1" href="javascript:layout_1()">Split View</a></li>
	          <li><a class="layout-choice layout_2" href="javascript:layout_2()">"1+2" View</a></li>
	          <li><a class="layout-choice layout_3" href="javascript:layout_3()">Quad View</a></li>
	          <li><a class="layout-choice layout_6" href="javascript:layout_6()">"1+3" View</a></li>
	          <li><a class="layout-choice layout_4" href="javascript:layout_4()">"1+4" View</a></li>
	          <li><a class="layout-choice layout_5" href="javascript:layout_5()">Hex View</a></li>
          </ul>
        </li>
        
        <li class="dropdown">
          <a class="dropdown-toggle" href="#">Webcasts</a>
          <ul class="dropdown-menu webcasts">
          {% for event in ongoing_webcasts %}
            <li><a id='{{event.key_name}}' class='video_buttons' alt='{{event.name}} [{{event.event_short|upper}}]'>{{event.name}} [{{event.event_short|upper}}]</a></li>
          {% empty %}
            <li><a>No webcasts</a></li>
          {% endfor %}
          </ul>
        </li>
        
        <li class="dropdown">
          <a class="dropdown-toggle" href="#">Results</a>
          <ul class="dropdown-menu results">
          {% for event in ongoing_events %}
            <li><a class="event_results" href="/event/{{event.key_name}}">{{event.name}} [{{event.event_short|upper}}]</a></li>
          {% empty %}
            <li><a>No events</a></li>
          {% endfor %}
          </ul>
        </li>
        
        <li class="chat"><a class="chat-toggle" href="javascript:chat_tab();">Chat</a></li>
      </ul>
    </div>
  </div>
</div>
</div>
{% endblock %}

{% block content %}
<div class="webcasts_panel">
	<div class="video_container"></div>
</div>
<div class="chat_panel"></div>
<div class="feed_bar"></div>
{% endblock %}

{% block footer %}{% endblock %}