<!DOCTYPE html>
<html>
  <head>
    <title>Gameday2</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/gameday2.css" type="text/css" />

    <script src="javascript/react-with-addons.js"></script>
    <script src="javascript/JSXTransformer.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js"></script>

    <script src="http://codeorigin.jquery.com/jquery-2.0.3.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fitvids/1.0.1/jquery.fitvids.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div id="content"></div>
    <script type="text/jsx" src="javascript/gameday2/gameday2.js"></script>
  </body>
</html>