{% extends "base.html" %}

{% block title %}GameDay - The Blue Alliance{% endblock %}

{% block meta_description %}Live competition page for the FIRST Robotics Competition.{% endblock %}

{% block more_head_tags %}<script type="text/javascript" src="/javascript/gameday.js"></script>{% endblock %}

{% block body_class %}gameday{% endblock %}

{% block navbar %}
<div class="gameday-navbar">

  <div class="gameday-navbar-logo">
    <div class="gameday-navbar-inner">
      <span class="gameday-title">TBA GameDay</span>
      <a href="/">To main site &raquo;</a>
    </div>
  </div>
      
  <div class="menu">
    <ul>
	    <li><a>Layouts</a>
		    <ul class="layouts">
			    <li><a class="layout-choice layout_0" href="javascript:layout_0()">Single View</a>
			    <li><a class="layout-choice layout_1" href="javascript:layout_1()">Split View</a></li>
			    <li><a class="layout-choice layout_2" href="javascript:layout_2()">"1+2" View</a></li>
			    <li><a class="layout-choice layout_3" href="javascript:layout_3()">Quad View</a></li>
			    <li><a class="layout-choice layout_6" href="javascript:layout_6()">"1+3" View</a></li>
			    <li><a class="layout-choice layout_4" href="javascript:layout_4()">"1+4" View</a></li>
			    <li><a class="layout-choice layout_5" href="javascript:layout_5()">Hex View</a></li>
		    </ul>
	    </li>
	    
	    <li><a>Webcasts</a>
				<ul id="webcasts_hide" class="webcasts">
					{% for event in ongoing_events %}
            <li><a id='{{event.event_short}}' class='video_buttons other_vids' alt='{{event.name}} [{{event.event_short}}]'>{{event.name}} [{{event.event_short}}]</a></li>
					{% endfor %}
					<li><a id='arc' class='video_buttons other_vids' alt='Championship: Archimedes Field [ARC]'>Championship: Archimedes Field [ARC]</a></li>
					<li><a id='cur' class='video_buttons other_vids' alt='Championship: Curie Field [CUR]'>Championship: Curie Field [CUR]</a></li>
					<li><a id='gal' class='video_buttons other_vids' alt='Championship: Galileo Field [GAL]'>Championship: Galileo Field [GAL]</a></li>
					<li><a id='new' class='video_buttons other_vids' alt='Championship: Newton Field [NEW]'>Championship: Newton Field [NEW]</a></li>
					<li><a id='ein' class='video_buttons other_vids' alt='Championship: Einstein Field [EIN]'>Championship: Einstein Field [EIN]</a></li>
					<li><a id='edi' class='video_buttons other_vids' alt='FTC: Edison Field'>FTC: Edison Field</a></li>
					<li><a id='fra' class='video_buttons other_vids' alt='FTC: Franklin Field'>FTC: Franklin Field</a></li>
				</ul>
			</li>
			
			<li><a id="chat_tab" href="#">Chat</a></li>
    </ul>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="webcasts_panel">
	<div class="video_container"></div>
</div>
{% endblock %}


{% block footer %}{% endblock %}