{% extends "base.html" %}

{% block title %}GameDay - The Blue Alliance{% endblock %}

{% block main_style %}
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />-->
    <link rel="stylesheet" href="/css/gameday2.min.css" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
{% endblock %}

{% block meta_description %}Watch live FIRST Robotics Competition events.{% endblock %}

{% block more_head_tags %}
  <meta property="og:title" content="Gameday - Live FIRST Robotics Video">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://www.thebluealliance.com/gameday">
  <meta property="og:image" content="http://www.thebluealliance.com/images/first_logo.png">
  <meta property="og:description" content="Watch live FIRST Robotics Competition events!">
  <meta property="og:site_name" content="The Blue Alliance">
{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
  <div id="content"></div>
  <div style="display: none;" id="webcasts_json">{{ webcasts_json|safe }}</div>
{% endblock %}

{% block admin_bar %}{% endblock %}

{% block footer %}{% endblock %}

{% block login_modal %}{% endblock %}

{% block main_javascript %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js"></script>

    <script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fitvids/1.0.1/jquery.fitvids.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" ></script>

    <script type="text/javascript" src="javascript/gameday2.min.js"></script>
{% endblock %}

{% block ganalytics_timer %}
<script>
(function (tos) {
  window.setInterval(function () {
    // Calculate time every 60,000 milliseconds (60 seconds)
    tos = (function (t) {
      return ((parseInt(t[1]) || 0) + 1) + ':00';
    })(tos.split(':').reverse());
    // Collect and send the time to Google Analytics
    window.pageTracker ? pageTracker._trackEvent('gameday_time', 'Log', tos) : _gaq.push(['_trackEvent', 'gameday_time', 'Log', tos]);
    }, 60000);
  })('00');
</script>
{% endblock %}
