{% extends "base.html" %}

{% block title %}The Blue Alliance - How To Record Regionals{% endblock %}

{% block meta_description %}Recommended tools and instructions for archiving a regional in video format.{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="span8 offset2">
      <h1 class="end_header">How To: Record Regionals</h1>
        
      <table id="toc" class="toc" summary="Contents"><tbody><tr><td><div id="toctitle"><h2>Contents</h2></div>
      <ul>
      <li class="toclevel-1"><a href="http://www.firstwiki.net/index.php?title=2012_Webcasting_%26_Archiving&redirect=no&printable=yes#Overview"><span class="tocnumber">1</span> <span class="toctext">Overview</span></a></li>
      <li class="toclevel-1"><a href="http://www.firstwiki.net/index.php?title=2012_Webcasting_%26_Archiving&redirect=no&printable=yes#Required_Hardware_.26_Software"><span class="tocnumber">2</span> <span class="toctext">Required Hardware &amp; Software</span></a></li>
      <li class="toclevel-1"><a href="http://www.firstwiki.net/index.php?title=2012_Webcasting_%26_Archiving&redirect=no&printable=yes#Setting_up_the_Hardware_.26_Software"><span class="tocnumber">3</span> <span class="toctext">Setting up the Hardware &amp; Software</span></a>
      <ul>
      <li class="toclevel-2"><a href="http://www.firstwiki.net/index.php?title=2012_Webcasting_%26_Archiving&redirect=no&printable=yes#IMPORTANT_NOTE.21"><span class="tocnumber">3.1</span> <span class="toctext">IMPORTANT NOTE!</span></a></li>
      <li class="toclevel-2"><a href="http://www.firstwiki.net/index.php?title=2012_Webcasting_%26_Archiving&redirect=no&printable=yes#Connecting_the_Hardware"><span class="tocnumber">3.2</span> <span class="toctext">Connecting the Hardware</span></a></li>
      <li class="toclevel-2"><a href="http://www.firstwiki.net/index.php?title=2012_Webcasting_%26_Archiving&redirect=no&printable=yes#Justin.tv"><span class="tocnumber">3.3</span> <span class="toctext">Justin.tv</span></a></li>
      <li class="toclevel-2"><a href="http://www.firstwiki.net/index.php?title=2012_Webcasting_%26_Archiving&redirect=no&printable=yes#Video_capture_device"><span class="tocnumber">3.4</span> <span class="toctext">Video capture device</span></a></li>
      <li class="toclevel-2"><a href="http://www.firstwiki.net/index.php?title=2012_Webcasting_%26_Archiving&redirect=no&printable=yes#Adobe_Flash_Media_Live_Encoder"><span class="tocnumber">3.5</span> <span class="toctext">Adobe Flash Media Live Encoder</span></a></li>
      <li class="toclevel-2"><a href="http://www.firstwiki.net/index.php?title=2012_Webcasting_%26_Archiving&redirect=no&printable=yes#VH_Multi_Cam_Studio"><span class="tocnumber">3.6</span> <span class="toctext">VH Multi Cam Studio</span></a></li>
      <li class="toclevel-2"><a href="http://www.firstwiki.net/index.php?title=2012_Webcasting_%26_Archiving&redirect=no&printable=yes#VH_Capture"><span class="tocnumber">3.7</span> <span class="toctext">VH Capture</span></a></li>
      </ul>
      </li>
      <li class="toclevel-1"><a href="http://www.firstwiki.net/index.php?title=2012_Webcasting_%26_Archiving&redirect=no&printable=yes#During_the_Event"><span class="tocnumber">4</span> <span class="toctext">During the Event</span></a></li>
      <li class="toclevel-1"><a href="http://www.firstwiki.net/index.php?title=2012_Webcasting_%26_Archiving&redirect=no&printable=yes#After_the_Event"><span class="tocnumber">5</span> <span class="toctext">After the Event</span></a>
      <ul>
      <li class="toclevel-2"><a href="http://www.firstwiki.net/index.php?title=2012_Webcasting_%26_Archiving&redirect=no&printable=yes#Splitting_the_Video_Into_Individual_Matches"><span class="tocnumber">5.1</span> <span class="toctext">Splitting the Video Into Individual Matches</span></a></li>
      <li class="toclevel-2"><a href="http://www.firstwiki.net/index.php?title=2012_Webcasting_%26_Archiving&redirect=no&printable=yes#Upload_to_YouTube_.28Recommended.29"><span class="tocnumber">5.2</span> <span class="toctext">Upload to YouTube (Recommended)</span></a></li>
      <li class="toclevel-2"><a href="http://www.firstwiki.net/index.php?title=2012_Webcasting_%26_Archiving&redirect=no&printable=yes#Upload_to_The_Blue_Alliance.2FSOAP.28.3F.29.2FFirst_Video_Archives_.28Alternative.29"><span class="tocnumber">5.3</span> <span class="toctext">Upload to The Blue Alliance/SOAP(?)/First Video Archives (Alternative)</span></a>
      <ul>
      <li class="toclevel-3"><a href="http://www.firstwiki.net/index.php?title=2012_Webcasting_%26_Archiving&redirect=no&printable=yes#Naming_Rules_for_TBA"><span class="tocnumber">5.3.1</span> <span class="toctext">Naming Rules for TBA</span></a></li>
      <li class="toclevel-3"><a href="http://www.firstwiki.net/index.php?title=2012_Webcasting_%26_Archiving&redirect=no&printable=yes#Event_Abbreviations"><span class="tocnumber">5.3.2</span> <span class="toctext">Event Abbreviations</span></a></li>
      </ul>
      </li>
      </ul>
      </li>
      <li class="toclevel-1"><a href="http://www.firstwiki.net/index.php?title=2012_Webcasting_%26_Archiving&redirect=no&printable=yes#Who_is_Archiving_What.3F"><span class="tocnumber">6</span> <span class="toctext">Who is Archiving What?</span></a>
      <ul>
      <li class="toclevel-2"><a href="http://www.firstwiki.net/index.php?title=2012_Webcasting_%26_Archiving&redirect=no&printable=yes#Regional_Events"><span class="tocnumber">6.1</span> <span class="toctext">Regional Events</span></a></li>
      <li class="toclevel-2"><a href="http://www.firstwiki.net/index.php?title=2012_Webcasting_%26_Archiving&redirect=no&printable=yes#District_Events"><span class="tocnumber">6.2</span> <span class="toctext">District Events</span></a></li>
      </ul>
      </li>
      <li class="toclevel-1"><a href="http://www.firstwiki.net/index.php?title=2012_Webcasting_%26_Archiving&redirect=no&printable=yes#Troubleshooting.2FQuestions_you_might_have"><span class="tocnumber">7</span> <span class="toctext">Troubleshooting/Questions you might have</span></a></li>
      </ul>
      </td></tr></tbody></table><script type="text/javascript"> if (window.showTocToggle) { var tocShowText = "show"; var tocHideText = "hide"; showTocToggle(); } </script>
      <div class="editsection" style="float:right;margin-left:5px;">[<a href="http://www.firstwiki.net/index.php?title=2012_Webcasting_%26_Archiving&action=edit&section=1" title="Edit section: Overview">edit</a>]</div><a name="Overview"></a><h2> Overview </h2>
      <p><b>This example will cover using a ~$15 device to capture video, Justin.tv to broadcast, and VH Capture software to archive.</b>
      </p><p>Part of getting <i>FIRST</i> into the public eye is to increase accessibility to live webcasts and archived videos of competitions. Hopefully this documentation will make it easier for volunteers to get as many events webcasted and archived as possible.
      </p><p>Webcasting and archiving can be done individually, however doing both on one computer is most efficient. This page outlines a low-cost and easy to set up process to webcast and archive on a single computer.
      </p><p>If you have any questions, please contact Greg Marra or EugeneF on ChiefDelphi.
      </p>
      <div class="editsection" style="float:right;margin-left:5px;">[<a href="http://www.firstwiki.net/index.php?title=2012_Webcasting_%26_Archiving&action=edit&section=2" title="Edit section: Required Hardware &amp; Software">edit</a>]</div><a name="Required_Hardware_.26_Software"></a><h2> Required Hardware &amp; Software </h2>
      <ul><li> Internet connectivity at the event
      <ul><li> Work with event coordinators
      </li><li> Preferably wired (better speed and reliability, won't interfere with FMS)
      </li></ul>
      </li><li> Video/audio feed connectivity at the event
      <ul><li> Work with event coordinators
      </li><li> Typically a composite video signal (yellow) with stereo audio (red/white)
      </li></ul>
      </li><li> Adobe Flash Media Live Encoder v3.2 (Free): <a href="http://www.adobe.com/products/flashmediaserver/flashmediaencoder/" class="external free" title="http://www.adobe.com/products/flashmediaserver/flashmediaencoder/" rel="nofollow">http://www.adobe.com/products/flashmediaserver/flashmediaencoder/</a>
      </li><li> VH Capture &amp; VH Multi Cam Studio (both are included in the download) (Free): <a href="http://download.cnet.com/VH-Screen-Capture-Driver/3000-2169_4-10436367.html" class="external free" title="http://download.cnet.com/VH-Screen-Capture-Driver/3000-2169_4-10436367.html" rel="nofollow">http://download.cnet.com/VH-Screen-Capture-Driver/3000-2169_4-10436367.html</a>
      </li><li> Video capture device
      <ul><li> These can get expensive
      </li><li> Affordable solution for composite video to USB input that has been tested (~$15): <a href="http://www.monoprice.com/products/product.asp?c_id=108&cp_id=10810&cs_id=1081003&p_id=5616&seq=1&format=2" class="external free" title="http://www.monoprice.com/products/product.asp?c_id=108&amp;cp_id=10810&amp;cs_id=1081003&amp;p_id=5616&amp;seq=1&amp;format=2" rel="nofollow">http://www.monoprice.com/products/product.asp?c_id=108&amp;cp_id=10810&amp;cs_id=1081003&amp;p_id=5616&amp;seq=1&amp;format=2</a>
      </li><li> Make sure the video capture device can handle the inputs available at the event
      </li></ul>
      </li><li> Computer
      <ul><li> Needs internet connectivity
      </li><li> Must be able to interface with the video capture device (typically USB)
      </li><li> ~5 GB hard drive space (depends on video quality &amp; number of matches)
      </li><li> Dual core or more processor preferred
      </li><li> Line In/Microphone input
      </li><li> 3.5mm Stereo to RCA audio adapter
      <ul><li> For example (~$1): (<a href="http://www.monoprice.com/products/product.asp?c_id=102&cp_id=10218&cs_id=1021804&p_id=666&seq=1&format=2" class="external free" title="http://www.monoprice.com/products/product.asp?c_id=102&amp;cp_id=10218&amp;cs_id=1021804&amp;p_id=666&amp;seq=1&amp;format=2" rel="nofollow">http://www.monoprice.com/products/product.asp?c_id=102&amp;cp_id=10218&amp;cs_id=1021804&amp;p_id=666&amp;seq=1&amp;format=2</a>)
      </li></ul>
      </li></ul>
      </li><li> Justin.tv Account (Free): <a href="http://www.justin.tv/" class="external free" title="http://www.justin.tv" rel="nofollow">http://www.justin.tv</a>
      </li></ul>
      <div class="editsection" style="float:right;margin-left:5px;">[<a href="http://www.firstwiki.net/index.php?title=2012_Webcasting_%26_Archiving&action=edit&section=3" title="Edit section: Setting up the Hardware &amp; Software">edit</a>]</div><a name="Setting_up_the_Hardware_.26_Software"></a><h2> Setting up the Hardware &amp; Software </h2>
      <div class="editsection" style="float:right;margin-left:5px;">[<a href="http://www.firstwiki.net/index.php?title=2012_Webcasting_%26_Archiving&action=edit&section=4" title="Edit section: IMPORTANT NOTE!">edit</a>]</div><a name="IMPORTANT_NOTE.21"></a><h3> IMPORTANT NOTE! </h3>
      <p>8/1/2012 edit: Good program here: <a href="http://www.ffsplit.com/" class="external free" title="http://www.ffsplit.com/" rel="nofollow">http://www.ffsplit.com/</a> Will update 2013's archiving page with information about FFsplit.
      </p>
      <div class="editsection" style="float:right;margin-left:5px;">[<a href="http://www.firstwiki.net/index.php?title=2012_Webcasting_%26_Archiving&action=edit&section=5" title="Edit section: Connecting the Hardware">edit</a>]</div><a name="Connecting_the_Hardware"></a><h3> Connecting the Hardware </h3>
      <dl><dd><ol><li>Plug in the video capture device into the proper port on your computer
      </li><li>Connect the composite video feed (yellow) to the video in port on the video capture device
      </li><li>Connect the audio feed (red/white) to the 3.5mm Stereo to RCA audio adapter
      </li><li>Plug the 3.5mm Stereo to RCA audio adapter into the Line in/Microphone port on your computer
      </li></ol>
      </dd></dl>
      <div class="editsection" style="float:right;margin-left:5px;">[<a href="http://www.firstwiki.net/index.php?title=2012_Webcasting_%26_Archiving&action=edit&section=6" title="Edit section: Justin.tv">edit</a>]</div><a name="Justin.tv"></a><h3> Justin.tv </h3>
      <dl><dd><ol><li>Create an account at <a href="http://justin.tv/" class="external free" title="http://justin.tv" rel="nofollow">http://justin.tv</a>
      </li><li>While logged in, visit <a href="http://www.justin.tv/broadcast/adv_other" class="external free" title="http://www.justin.tv/broadcast/adv_other" rel="nofollow">http://www.justin.tv/broadcast/adv_other</a> and click "Show" next to "Stream Key:'
      </li><li>Copy and save the stream key
      </li></ol>
      </dd></dl>
      <div class="editsection" style="float:right;margin-left:5px;">[<a href="http://www.firstwiki.net/index.php?title=2012_Webcasting_%26_Archiving&action=edit&section=7" title="Edit section: Video capture device">edit</a>]</div><a name="Video_capture_device"></a><h3> Video capture device </h3>
      <dl><dd><ol><li>Install the necessary drivers and/or any software that comes with the device
      </li><li>If software is included with the video capture device, hook up the video capture device to a video source, such as a DVD player, and confirm that video can be displayed on your computer through the included software
      </li></ol>
      </dd></dl>
      <div class="editsection" style="float:right;margin-left:5px;">[<a href="http://www.firstwiki.net/index.php?title=2012_Webcasting_%26_Archiving&action=edit&section=8" title="Edit section: Adobe Flash Media Live Encoder">edit</a>]</div><a name="Adobe_Flash_Media_Live_Encoder"></a><h3> Adobe Flash Media Live Encoder </h3>
      <p>This software broadcasts the video to Justin.tv.
      </p>
      <dl><dd><ol><li>Open Adobe Flash Media Live Encoder.
      </li><li>Adjust the video and audio settings. Suggested settings are below.
      </li><li>Set "FMS URL" to: rtmp://live.justin.tv/app
      </li><li>Set "Stream" to the stream key you saved when you set up your Justin.tv account.
      </li></ol>
      </dd></dl>
      <ul><li>Suggested video settings:
      <ul><li>Device: VHMultiCam
      </li><li>Format: H.264
      <ul><li>Wrench icon: Profile: Main, Level: 5.1, Keyframe Frequency: 3 seconds
      </li></ul>
      </li><li>Frame Rate: 30 fps
      </li><li>Input Size 720x480 if you're using a composite video source
      <ul><li>The resolution can be higher if you're using a higher quality video capture device.
      </li></ul>
      </li><li>Bit Rate: Check only the first box, ideally ~3000-4000 Kbps
      <ul><li>Bitrate will depend on your internet connection. You can check your upload speed at <a href="http://www.speedtest.net/" class="external free" title="http://www.speedtest.net" rel="nofollow">http://www.speedtest.net</a>. Set the bitrate to around 500 Kbps (0.5 Mbps) less than your upload speed. There shouldn't be a need to set it to more than 4000 Kbps.
      </li></ul>
      </li><li>Output Size: Same as "Input Size"
      </li><li>Crop: Unchecked
      </li><li>Deinterlace: Unchecked
      </li><li>Timecode: Unchecked
      </li></ul>
      </li></ul>
      <ul><li>Suggested audio settings:
      <ul><li>Device: Line in/Microphone
      </li><li>Formate: MP3
      </li><li>Channels: Stereo
      </li><li>Sample Rate: 44100 Hz
      </li><li>Bit Rate: 96 Kbps
      </li><li>Volume: Adjust so that the volume preview does not max out
      </li></ul>
      </li></ul>
      <div class="editsection" style="float:right;margin-left:5px;">[<a href="http://www.firstwiki.net/index.php?title=2012_Webcasting_%26_Archiving&action=edit&section=9" title="Edit section: VH Multi Cam Studio">edit</a>]</div><a name="VH_Multi_Cam_Studio"></a><h3> VH Multi Cam Studio </h3>
      <p>This software enables both recording and broadcasting from one piece of hardware.
      </p>
      <dl><dd><ol><li>Open VH Multi Cam Studio
      </li><li>Under "View," set "Resolution" to "720x480" if you're using a composite video source. The resolution can be higher if you're using a higher quality video capture device
      </li><li>Under "View," set "Frame rate" to "30 fps."
      </li><li>Under "File," select "Add Camera," and select the video capture device.
      </li><li>Resize the video by hovering over it and dragging the white border until it fills the frame.
      </li></ol>
      </dd></dl>
      <div class="editsection" style="float:right;margin-left:5px;">[<a href="http://www.firstwiki.net/index.php?title=2012_Webcasting_%26_Archiving&action=edit&section=10" title="Edit section: VH Capture">edit</a>]</div><a name="VH_Capture"></a><h3> VH Capture </h3>
      <p>This software records the video.
      </p>
      <dl><dd><ol><li>Open VH Capture
      </li><li>Browse (near the bottom) for a location to store saved videos
      </li><li>Set the video capture source to VHMultiCam
      </li><li>Click on the "&gt;" next to browse and make sure it's set on "avi"
      </li><li>For "Video compression," use a MPEG-4 codec
      </li><li>Click on the down arrow in the video compression section to get to compressor settings, and set the data rate to 6000 Kbps (6 Mbps) if the option is available.
      </li><li>Set the frame rate to 30
      </li><li>Set the audio capture source to Line In/Microphone
      </li><li>Leave "Audio compression" on "None."
      </li><li>Record a short clip, paying attention to the CPU usage (shouldn't be maxing out your CPU), Data rate (~10 MB/minute), and Avg. fps (~30).
      </li><li>Verify that the output file plays, is of reasonable quality, and that sound levels are appropriate.
      </li></ol>
      </dd></dl>
      <div class="editsection" style="float:right;margin-left:5px;">[<a href="http://www.firstwiki.net/index.php?title=2012_Webcasting_%26_Archiving&action=edit&section=11" title="Edit section: During the Event">edit</a>]</div><a name="During_the_Event"></a><h2> During the Event </h2>
      <p>Let everyone know about the webcast! MadStream (<a href="http://madstream.team1323.com/" class="external free" title="http://madstream.team1323.com" rel="nofollow">http://madstream.team1323.com</a>) (currently undergoing upgrades) will be providing webcast and score aggregation during the events, so contact them with the link to your webcast.
      </p><p>If you want to be listed on NASA's website, email drew.r.price[at]nasa.gov with the url and info about your team/organization. 
      </p>
      <ul><li>The stream should be started before the opening ceremony and stopped after the awards ceremony.
      </li><li>The recording should be started and stopped before and after each match. DO NOT include the announcers introduction, we are just looking for the robot action.
      <ul><li>If no volunteer is able to start and stop the video for each match, a continuous recording can be made, but will require more work and trouble later to parse. See <a href="http://www.firstwiki.net/index.php?title=2012_Webcasting_%26_Archiving&redirect=no&printable=yes#Splitting_the_Video_Into_Individual_Matches" title="">Splitting the Video Into Individual Matches</a> for more details.
      </li></ul>
      </li></ul>
      <ul><li>To start streaming, press "Start" in Adobe Flash Media Encoder.
      </li><li>To stop streaming, press "Stop" in Adobe Flash Media Encoder.
      </li><li>To start recording, press the record button in VH Capture.
      </li><li>To stop recording, press the stop button in VH Capture.
      </li></ul>
      <div class="editsection" style="float:right;margin-left:5px;">[<a href="http://www.firstwiki.net/index.php?title=2012_Webcasting_%26_Archiving&action=edit&section=12" title="Edit section: After the Event">edit</a>]</div><a name="After_the_Event"></a><h2> After the Event </h2>
      <div class="editsection" style="float:right;margin-left:5px;">[<a href="http://www.firstwiki.net/index.php?title=2012_Webcasting_%26_Archiving&action=edit&section=13" title="Edit section: Splitting the Video Into Individual Matches">edit</a>]</div><a name="Splitting_the_Video_Into_Individual_Matches"></a><h3> Splitting the Video Into Individual Matches </h3>
      <p>If someone manually started and stopped the video for each match, you may ignore this section.
      </p><p>Splitting the video into individual matches can be done with whatever video editing program you would like, every Windows machine comes with Windows Movie Maker and every Mac comes with iMovie. As for the output video and naming standards please see below!
      </p>
      <ul><li> DO NOT include the announcers introduction, we are just looking for the robot action.
      </li><li> End the video once the play has stopped, if you like you can cut in the final score (this is a bit of a pain, and TBA already has it listed on their site anyway).
      </li></ul>
      <div class="editsection" style="float:right;margin-left:5px;">[<a href="http://www.firstwiki.net/index.php?title=2012_Webcasting_%26_Archiving&action=edit&section=14" title="Edit section: Upload to YouTube (Recommended)">edit</a>]</div><a name="Upload_to_YouTube_.28Recommended.29"></a><h3> Upload to YouTube (Recommended) </h3>
      <p>The Blue Alliance (<a href="http://www.thebluealliance.com/" class="external free" title="http://www.thebluealliance.com" rel="nofollow">http://www.thebluealliance.com</a>) is currently working on using YouTube to host the videos. This method will be easier than the traditional method of uploading files to TBA (less work renaming files, converting them to proper formats, etc.). Also, it allows the quality of the videos to be much better, as TBA won't have to worry about server space.
      </p><p>This spreadsheet tracks videos on YouTube so we can add them to TBA.
      <a href="https://docs.google.com/spreadsheet/ccc?key=0ApRO2Yzh2z01dExFZEdieV9WdTJsZ25HSWI3VUxsWGc" class="external free" title="https://docs.google.com/spreadsheet/ccc?key=0ApRO2Yzh2z01dExFZEdieV9WdTJsZ25HSWI3VUxsWGc" rel="nofollow">https://docs.google.com/spreadsheet/ccc?key=0ApRO2Yzh2z01dExFZEdieV9WdTJsZ25HSWI3VUxsWGc</a>
      </p>
      <div class="editsection" style="float:right;margin-left:5px;">[<a href="http://www.firstwiki.net/index.php?title=2012_Webcasting_%26_Archiving&action=edit&section=15" title="Edit section: Upload to The Blue Alliance/SOAP(?)/First Video Archives (Alternative)">edit</a>]</div><a name="Upload_to_The_Blue_Alliance.2FSOAP.28.3F.29.2FFirst_Video_Archives_.28Alternative.29"></a><h3> Upload to The Blue Alliance/SOAP(?)/First Video Archives (Alternative) </h3>
      <p>This is the traditional method to upload videos to TBA. Contact Greg Marra or Jonathan Norris or Mike Aalderink on the Chief Delphi forums for more information about how to send video to the TBA and SOAP and Firstvideo Archives via FTP.
      </p><p><b>Video Format Standards:</b>
      </p>
      <ul><li> Format: MPEG4 or H264 (.mp4, .mpv, or .mov are all acceptable containers). WMV is acceptable, but for reasons explained below not favored
      </li><li> File Size: 15-25 Mb per file, this roughly a bitrate of: 1000-1250 kb/s, with an audio bitrate of: 128 kb/s.
      <ul><li> Video Resolution: recommended 640X480, acceptable 320X240
      </li><li> HTTP Streaming: when encoding the video to its final format of MPEG4 or h264 enable HTTP streaming (for most encoders it will be an option). This will allow anyone with a smart phone, iPhone, or iPod touch to stream the matches and watch them directly on their handset.
      </li></ul>
      </li></ul>
      <div class="editsection" style="float:right;margin-left:5px;">[<a href="http://www.firstwiki.net/index.php?title=2012_Webcasting_%26_Archiving&action=edit&section=16" title="Edit section: Naming Rules for TBA">edit</a>]</div><a name="Naming_Rules_for_TBA"></a><h4> Naming Rules for TBA </h4>
      <p><b>Example File Names:</b>
      </p>
      <ul><li> ct_001.mp4
      </li><li> fl_qf2m1.wmv
      </li><li> ca_fm1.wmv
      </li></ul>
      <p><b>Naming Rules:</b>
      </p>
      <ul><li> Two or three character event abbreviation in lowercase, e.g. "fl"
      </li><li> Underscore, "_"
      </li><li> XOR:
      <ul><li> Qualification: Use THREE digits, "001", "047", "108".
      </li><li> Elimination: Use "qf4m2", "sf2m1", "fm3"
      </li><li> Awards: Use "award_" + AwardDescription.
      </li><li> Opening: Use "openingremarks_" + "friday" or "saturday".
      </li><li> Closing: Use "closingremarks_" + "friday" or "saturday".
      </li><li> Else: any string that does not begin with "qf", "sf", "fm", or a digit.
      </li></ul>
      </li><li> ".wmv" , ".mov", ".divx" , ".whatever"
      </li></ul>
      <p><b>Notes:</b>
      </p>
      <ol><li> Always use lowercase, please.
      </li><li> No spaces in a filename, please.
      </li><li> Sometimes a match gets replayed- name the one that counts in the standings as "fl_001.wmv". The one(s) that do NOT count, "fl_001bad1.wmv", "fl_001bad2.wmv", etc...
      </li></ol>
      <div class="editsection" style="float:right;margin-left:5px;">[<a href="http://www.firstwiki.net/index.php?title=2012_Webcasting_%26_Archiving&action=edit&section=17" title="Edit section: Event Abbreviations">edit</a>]</div><a name="Event_Abbreviations"></a><h4> Event Abbreviations </h4>
       <table>
            <tbody><tr>
              <td>stx</td>
              <td>Alamo</td>
              <td>&nbsp;</td>
              <td>swm</td>
              <td>Niles FiM</td>
            </tr>
            <tr>
              <td>az</td>
              <td>Arizona</td>
              <td>&nbsp;</td>
              <td>nc</td>
              <td>North Carolina</td>
            </tr>
            <tr>
              <td>or</td>
              <td>Autodesk Oregon</td>
              <td>&nbsp;</td>
              <td>ct</td>
              <td>Northeast Utilities Connecticut</td>
            </tr>
            <tr>
              <td>nh</td>
              <td>BAE Granite State</td>
              <td>&nbsp;</td>
              <td>wca</td>
              <td>Northville FiM</td>
            </tr>
            <tr>
              <td>la</td>
              <td>Bayou</td>
              <td>&nbsp;</td>
              <td>ok</td>
              <td>Oklahoma</td>
            </tr>
            <tr>
              <td>in</td>
              <td>Boilermaker</td>
              <td>&nbsp;</td>
              <td>fl</td>
              <td>Orlando</td>
            </tr>
            <tr>
              <td>ma</td>
              <td>Boston</td>
              <td>&nbsp;</td>
              <td>sc</td>
              <td>Palmetto</td>
            </tr>
            <tr>
              <td>oh</td>
              <td>Buckeye</td>
              <td>&nbsp;</td>
              <td>ga</td>
              <td>Peachtree</td>
            </tr>
            <tr>
              <td>caf</td>
              <td>Central Valley</td>
              <td>&nbsp;</td>
              <td>pit</td>
              <td>Pittsburgh</td>
            </tr>
            <tr>
              <td>md</td>
              <td>Chesapeake</td>
              <td>&nbsp;</td>
              <td>ohc</td>
              <td>Queen City</td>
            </tr>
            <tr>
              <td>phl</td>
              <td>Chestnut Hill MAR</td>
              <td>&nbsp;</td>
              <td>nj</td>
              <td>Rutgers University MAR</td>
            </tr>
            <tr>
              <td>co</td>
              <td>Colorado</td>
              <td>&nbsp;</td>
              <td>sac</td>
              <td>Sacramento</td>
            </tr>
            <tr>
              <td>da</td>
              <td>Dallas East</td>
              <td>&nbsp;</td>
              <td>sdc</td>
              <td>San Diego</td>
            </tr>
            <tr>
              <td>da2</td>
              <td>Dallas West</td>
              <td>&nbsp;</td>
              <td>li</td>
              <td>SBPLI Long Island</td>
            </tr>
            <tr>
              <td>dt</td>
              <td>Detroit FiM</td>
              <td>&nbsp;</td>
              <td>wa2</td>
              <td>Seattle Cascade</td>
            </tr>
            <tr>
              <td>qc</td>
              <td>Festival de Robotique FRC a Montreal</td>
              <td>&nbsp;</td>
              <td>wa</td>
              <td>Seattle Olympic</td>
            </tr>
            <tr>
              <td>roc</td>
              <td>Finger Lakes</td>
              <td>&nbsp;</td>
              <td>sj</td>
              <td>Silicon Valley</td>
            </tr>
            <tr>
              <td>kc</td>
              <td>Greater Kansas City</td>
              <td>&nbsp;</td>
              <td>tn</td>
              <td>Smoky Mountain</td>
            </tr>
            <tr>
              <td>on</td>
              <td>Greater Toronto East</td>
              <td>&nbsp;</td>
              <td>sfl</td>
              <td>South Florida</td>
            </tr>
            <tr>
              <td>on2</td>
              <td>Greater Toronto West</td>
              <td>&nbsp;</td>
              <td>was</td>
              <td>Spokane</td>
            </tr>
            <tr>
              <td>pah</td>
              <td>Hatboro-Horsham MAR</td>
              <td>&nbsp;</td>
              <td>mo</td>
              <td>St. Louis</td>
            </tr>
            <tr>
              <td>hi</td>
              <td>Hawaii</td>
              <td>&nbsp;</td>
              <td>gt</td>
              <td>Traverse City FiM</td>
            </tr>
            <tr>
              <td>gg</td>
              <td>Kettering University FiM</td>
              <td>&nbsp;</td>
              <td>ut</td>
              <td>Utah</td>
            </tr>
            <tr>
              <td>is</td>
              <td>Israel</td>
              <td>&nbsp;</td>
              <td>oc</td>
              <td>Troy FiM</td>
            </tr>
            <tr>
              <td>dmn</td>
              <td>Lake Superior</td>
              <td>&nbsp;</td>
              <td>va</td>
              <td>Virginia</td>
            </tr>
            <tr>
              <td>nv</td>
              <td>Las Vegas</td>
              <td>&nbsp;</td>
              <td>dc</td>
              <td>Washington DC</td>
            </tr>
            <tr>
              <td>njt</td>
              <td>Lenape MAR</td>
              <td>&nbsp;</td>
              <td>oc1</td>
              <td>Waterford FiM</td>
            </tr>
            <tr>
              <td>ww</td>
              <td>Livonia FiM</td>
              <td>&nbsp;</td>
              <td>wat</td>
              <td>Waterloo</td>
            </tr>
            <tr>
              <td>tx</td>
              <td>Lone Star</td>
              <td>&nbsp;</td>
              <td>mi</td>
              <td>West Michigan FiM</td>
            </tr>
            <tr>
              <td>ca</td>
              <td>Los Angeles</td>
              <td>&nbsp;</td>
              <td>wi</td>
              <td>Wisconsin</td>
            </tr>
            <tr>
              <td>gl</td>
              <td>Michigan State Championship</td>
              <td>&nbsp;</td>
              <td>wor</td>
              <td>WPI</td>
            </tr>
            <tr>
              <td>pa</td>
              <td>Mid-Atlantic Region Championship</td>
              <td>&nbsp;</td>
              <td>cmp</td>
              <td>FIRST Championship</td>
            </tr>
            <tr>
              <td>il</td>
              <td>Midwest</td>
              <td>&nbsp;</td>
              <td>arc</td>
              <td>FIRST Championship - Archimedes Division</td>
            </tr>
            <tr>
              <td>mn</td>
              <td>Minnesota 10000 Lakes</td>
              <td>&nbsp;</td>
              <td>cur</td>
              <td>FIRST Championship - Curie Division</td>
            </tr>
            <tr>
              <td>mn2</td>
              <td>Minnesota North Star</td>
              <td>&nbsp;</td>
              <td>gal</td>
              <td>FIRST Championship - Galileo Division</td>
            </tr>
            <tr>
              <td>njf</td>
              <td>Mount Olive MAR</td>
              <td>&nbsp;</td>
              <td>new</td>
              <td>FIRST Championship - Newton Division</td>
            </tr>
            <tr>
              <td>ny</td>
              <td>New York City</td>
              <td>&nbsp;</td>
              <td>ein</td>
              <td>FIRST Championship - Einstein Field</td>
            </tr>
          </tbody></table>
      <div class="editsection" style="float:right;margin-left:5px;">[<a href="http://www.firstwiki.net/index.php?title=2012_Webcasting_%26_Archiving&action=edit&section=18" title="Edit section: Who is Archiving What?">edit</a>]</div><a name="Who_is_Archiving_What.3F"></a><h2> Who is Archiving What? </h2>
      <div class="editsection" style="float:right;margin-left:5px;">[<a href="http://www.firstwiki.net/index.php?title=2012_Webcasting_%26_Archiving&action=edit&section=19" title="Edit section: Regional Events">edit</a>]</div><a name="Regional_Events"></a><h3>Regional Events</h3>
      <table border="1" cellpadding="1">
        <tbody><tr>
          <td><b>Dates</b></td>
          <td><b>Regional Name</b></td>
          <td><b>Webcast Provided By (Name/Team #)</b></td>
          <td><b>Archiving Provided By  (Name/Team #)</b></td>
        </tr>

      <tr><td>Mar. 1-3</td><td>Greater Kansas City</td><td></td><td></td></tr>
      <tr><td>Mar. 1-3</td><td>BAE Systems Granite State</td><td></td><td></td></tr>
      <tr><td>Mar. 1-3</td><td>Smoky Mountains</td><td>FRC1466/FRC2200</td><td></td></tr>
      <tr><td>Mar. 1-3</td><td>Alamo</td><td></td><td></td></tr>
      <tr><td>Mar. 2-4</td><td>San Diego</td><td></td><td></td></tr>
      <tr><td>Mar. 5-7</td><td>Israel</td><td></td><td></td></tr>
      <tr><td>Mar. 8-10</td><td>Greater Toronto East</td><td>FRC2200</td><td>FRC2200</td></tr>
      <tr><td>Mar. 8-10</td><td>Orlando</td><td></td><td></td></tr>
      <tr><td>Mar. 8-10</td><td>WPI</td><td></td><td></td></tr>
      <tr><td>Mar. 8-10</td><td>Chesapeake</td><td></td><td></td></tr>
      <tr><td>Mar. 8-10</td><td>Lake Superior</td><td></td><td></td></tr>
      <tr><td>Mar. 8-10</td><td>Finger Lakes</td><td></td><td></td></tr>
      <tr><td>Mar. 8-10</td><td>Oregon</td><td></td><td></td></tr>
      <tr><td>Mar. 8-10</td><td>Pittsburgh</td><td></td><td></td></tr>
      <tr><td>Mar. 15-17</td><td>Montreal</td><td></td><td></td></tr>
      <tr><td>Mar. 15-17</td><td>Sacramento</td><td>FRC604</td><td>FRC604</td></tr>
      <tr><td>Mar. 15-17</td><td>Los Angeles</td><td></td><td></td></tr>
      <tr><td>Mar. 15-17</td><td>Peachtree</td><td></td><td></td></tr>
      <tr><td>Mar. 15-17</td><td>Boilermaker</td><td></td><td></td></tr>
      <tr><td>Mar. 15-17</td><td>Bayou</td><td></td><td></td></tr>
      <tr><td>Mar. 15-17</td><td>Utah</td><td></td><td></td></tr>
      <tr><td>Mar. 15-17</td><td>Virginia</td><td></td><td></td></tr>
      <tr><td>Mar. 16-18</td><td>New York City</td><td></td><td></td></tr>
      <tr><td>Mar. 22-24</td><td>Waterloo</td><td>FRC2200</td><td>FRC2200</td></tr>
      <tr><td>Mar. 22-24</td><td>Arizona</td><td></td><td></td></tr>
      <tr><td>Mar. 22-24</td><td>Colorado</td><td></td><td></td></tr>
      <tr><td>Mar. 22-24</td><td>Hawaii</td><td>FRC2348</td><td></td></tr>
      <tr><td>Mar. 22-24</td><td>Midwest</td><td></td><td></td></tr>
      <tr><td>Mar. 22-24</td><td>Boston</td><td>Daniel Bathgate</td><td>Daniel Bathgate</td></tr>
      <tr><td>Mar. 22-24</td><td>St. Louis</td><td></td><td></td></tr>
      <tr><td>Mar. 22-24</td><td>Buckeye</td><td></td><td></td></tr>
      <tr><td>Mar. 22-24</td><td>Palmetto</td><td></td><td></td></tr>
      <tr><td>Mar. 22-24</td><td>Seattle Olympic</td><td></td><td></td></tr>
      <tr><td>Mar. 22-24</td><td>Seattle Cascade</td><td></td><td></td></tr>
      <tr><td>Mar. 22-24</td><td>Wisconsins</td><td></td><td></td></tr>
      <tr><td>Mar. 29-31</td><td>Greater Toronto West</td><td>FRC2200</td><td>FRC2200</td></tr>
      <tr><td>Mar. 29-31</td><td>Silicon Valley</td><td>FRC604</td><td>FRC604</td></tr>
      <tr><td>Mar. 29-31</td><td>Northeast Utilities FIRST Connecticut</td><td></td><td>BrendanBFRC3467/JosephBischFRC2064</td></tr>
      <tr><td>Mar. 29-31</td><td>Washington DC</td><td></td><td></td></tr>
      <tr><td>Mar. 29-31</td><td>South Florida</td><td></td><td></td></tr>
      <tr><td>Mar. 29-31</td><td>Minnesota 10000 Lakes</td><td></td><td></td></tr>
      <tr><td>Mar. 29-31</td><td>Minnesota North Star</td><td></td><td></td></tr>
      <tr><td>Mar. 29-31</td><td>SBPLI Long Island</td><td></td><td></td></tr>
      <tr><td>Mar. 29-31</td><td>Oklahoma</td><td>Steven Bell</td><td>Steven Bell</td></tr>
      <tr><td>Mar. 29-31</td><td>Dallas East</td><td></td><td></td></tr>
      <tr><td>Mar. 29-31</td><td>Dallas West</td><td></td><td></td></tr>
      <tr><td>Apr. 5-7</td><td>Central Valley</td><td>FRC1266</td><td>FRC1266</td></tr>
      <tr><td>Apr. 5-7</td><td>North Carolina</td><td>FRC2059</td><td>FRC2059</td></tr>
      <tr><td>Apr. 5-7</td><td>Las Vegas</td><td></td><td></td></tr>
      <tr><td>Apr. 5-7</td><td>Queen City</td><td></td><td></td></tr>
      <tr><td>Apr. 5-7</td><td>Lone Star</td><td></td><td></td></tr>
      <tr><td>Apr. 5-7</td><td>Spokane</td><td></td><td></td></tr>
      </tbody></table>
      <div class="editsection" style="float:right;margin-left:5px;">[<a href="http://www.firstwiki.net/index.php?title=2012_Webcasting_%26_Archiving&action=edit&section=20" title="Edit section: District Events">edit</a>]</div><a name="District_Events"></a><h3>District Events</h3>
      <p><br>
      </p><table border="1" cellpadding="1">
        <tbody><tr>
          <td><b>Dates</b></td>
          <td><b>Regional Name</b></td>
          <td><b>Webcast Provided By (Name/Team #)</b></td>
          <td><b>Archiving Provided By  (Name/Team #)</b></td>
        </tr>

      <tr><td>Mar. 2-3</td><td>Kettering University</td><td></td><td></td></tr>
      <tr><td>Mar. 2-3</td><td>Gull Lake</td><td></td><td></td></tr>
      <tr><td>Mar. 2-3</td><td>Hatboro-Horsham</td><td></td><td></td></tr>
      <tr><td>Mar. 9-10</td><td>Traverse City</td><td></td><td></td></tr>
      <tr><td>Mar. 9-10</td><td>Waterford</td><td></td><td></td></tr>
      <tr><td>Mar. 9-10</td><td>Chestnut Hill</td><td></td><td></td></tr>
      <tr><td>Mar. 10-11</td><td>Rutgers University</td><td></td><td></td></tr>
      <tr><td>Mar. 16-17</td><td>West Michigan</td><td></td><td>FRC 3458 Mike Aalderink</td></tr>
      <tr><td>Mar. 16-17</td><td>Detroit</td><td></td><td></td></tr>
      <tr><td>Mar. 23-24</td><td>Niles</td><td></td><td>FRC 3458 Mike Aalderink</td></tr>
      <tr><td>Mar. 23-24</td><td>Northville</td><td></td><td></td></tr>
      <tr><td>Mar. 24-25</td><td>Lenape</td><td></td><td></td></tr>
      <tr><td>Mar. 30-31</td><td>Livonia</td><td></td><td></td></tr>
      <tr><td>Mar. 30-31</td><td>Troy</td><td></td><td></td></tr>
      <tr><td>Mar. 31-Apr. 1</td><td>Mount Olive</td><td></td><td></td></tr>
      <tr><td>Apr. 12-14</td><td>Michigan FRC State Championship</td><td></td><td></td></tr>
      <tr><td>Apr. 12-14</td><td>Mid-Atlantic Robotics FRC Region Championship</td><td></td><td></td></tr>

      </tbody></table>
      <div class="editsection" style="float:right;margin-left:5px;">[<a href="http://www.firstwiki.net/index.php?title=2012_Webcasting_%26_Archiving&action=edit&section=21" title="Edit section: Troubleshooting/Questions you might have">edit</a>]</div><a name="Troubleshooting.2FQuestions_you_might_have"></a><h2> Troubleshooting/Questions you might have </h2>
      <p>All tips are in reference to the product mentioned earlier. See <a href="http://www.monoprice.com/products/product.asp?c_id=108&cp_id=10810&cs_id=1081003&p_id=5616&seq=1&format=2" class="external autonumber" title="http://www.monoprice.com/products/product.asp?c_id=108&amp;cp_id=10810&amp;cs_id=1081003&amp;p_id=5616&amp;seq=1&amp;format=2" rel="nofollow">[1]</a>
      </p>
      <ul><li><b>My Video is Black and White/Blinking</b>
      <ul><li>Check your input source with an external monitor if possible (Yes I mean plugging the yellow cable into the monitor instead of the USB
      </li><li>If the source isn't the problem insert the install disk into your computer
      </li><li>Right click on it on your <b>My Computer</b> list and select <b>open</b>
      </li><li>Run <b>setup.exe</b> located in the <b>AV Grabber</b> folder
      </li><li>After installing restart your computer
      </li><li>Upon reboot launch <b>EZ Grabber</b>
      </li><li>Set video format to <b>NTSC_M_J</b> and push ok and close the entire program
      </li><li>Open Adobe Flash Media Encoder and change your Video&gt;Device to <b>VC500 Video</b>
      </li><li>If this doesn't work, Do the math! Play around with all three programs, Adobe Media Encoder, VH, EZ. You'll notice that all programs "fight" for the video feed and periodically switch back and forth between them as so. (You may need to change your <b>Device</b> to <b>VH</b>
      </li></ul>
      </li></ul>
      <ul><li><b>My Audio Sucks/Isn't working</b>
      <ul><li>Increase the bitrate/Check the Source
      </li><li>Push comes to shove try buying a USB sound card or a PCI one if your running the webcast on a desktop
      </li></ul>
      </li></ul>
      <ul><li><b>My video is low quality</b>
      <ul><li>Up your bitrate
      </li></ul>
      </li></ul>
      <ul><li><b>What is bitrate?</b>
      <ul><li>The speed at which you upload video. Think of it as a pipe, the bigger the pipe, the more water can flow through. Same for the interwebs, the bigger the bitrate, the better the quality.
      </li><li>There is only so high you can go. RCA (The connection used by this tool ie Yellow, red, white cables) Max out at about 480p. (720x480)
      </li></ul>
      </li></ul>
      <ul><li><b>There are black bars on the side of my video</b>
      <ul><li>The input of the video is most like in 3:2 (For ever three pixels across, there are two pixels that go up. This same concept applies to 2.35:1, 4:3, 16:9 and every other resolution ratio you see) and you need to change your <b>Output Size</b> to 720x480, a 3:2 acceptable ratio, or whatever fits along with your ratio
      </li></ul>
      </li></ul>
      <ul><li><b>There is a weird buzzing sound on the audio</b>
      <ul><li>This is not your fault, check the source
      </li></ul>
      </li></ul>

    </div>
  </div>
</div>
{% endblock %}