<p class="hidden-xs">The Blue Alliance is the best way to scout, watch, and relive the <i>FIRST</i> Robotics Competition. Learn more about <i>FIRST</i> at <a href="http://www.firstinspires.org/" target="_blank" title="FIRST Robotics">firstinspires.org</a>.</p>
<form action="/search">
  <input type="text" class="form-control typeahead" placeholder="Search teams and events" name="q">
</form>
<br>
<div class="btn-group btn-group-block-2">
  <a class="btn btn-primary btn-lg" href="/events"><span class="glyphicon glyphicon-calendar"></span> Events</a>
  <a class="btn btn-primary btn-lg" href="/teams"><span class="glyphicon glyphicon-user"></span> Teams</a>
</div>

<br><br>
<a class="btn btn-success btn-block" href="/nearby"><span class="glyphicon glyphicon-search"></span> Find nearby Teams and Events</a>
<a class="btn btn-block btn-info" href="/advanced_team_search"><span class="glyphicon glyphicon-search"></span> Advanced Team Search</a>

<!-- <a class="btn btn-info btn-block" href="https://sites.google.com/view/firsthelpnow/need-help-now" target="_blank"><span class="glyphicon glyphicon-earphone"></span> Get 24/7 advice from FIRST Help Now</a> -->

<div class="hidden-xs">
  <br>
  <h4 class="text-center">Help other <i>FIRST</i> teams!</h4>
<div class="btn-group btn-group-block-2">
<a class="btn btn-default" href="/add-data"><span class="glyphicon glyphicon-info-sign"></span> Help Add Data</a>
<a class="btn btn-default" href="https://github.com/the-blue-alliance" target="_blank"><span class="glyphicon glyphicon-wrench"></span> Hack on TBA</a>
  </div>
</div>
<br>
<br class="visible-xs">
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Download our Android app!</h4>
  </div>
  <div class="panel-body text-center">
    <a href="https://play.google.com/store/apps/details?id=com.thebluealliance.androidclient">
      <img alt="Get it on Google Play" src="/images/google_play.png" />
    </a>
  </div>
</div>
<div class="hidden-xs text-center">
  <p><small>POWERED BY</small><br />
  <a href="https://www.vexrobotics.com/vexpro/"><img class="sponsor-image" src="/images/vexpro_logo_horiz.png" alt="VEXpro"></a></p>
</div>
