{% extends "base.html" %}

{% block title %}The Blue Alliance{% endblock %}

{% block content %}

<div class="container">
	<div class="hero-unit landing-hero-unit">
		<div class="row-fluid">
			<div class="span6 landing">
				<h1>The Blue Alliance</h1>
				<p><em>FIRST</em> Robotics Competition team information, event results, and videos</p>
				<div id="landing-buttons">
					<a class="btn btn-large btn-primary" href="/teams"><i class="icon-user icon-white"></i> Teams</a>
					<a class="btn btn-large btn-primary" href="/events"><i class="icon-calendar icon-white"></i> Events</a>
				</div>
				<form id="cse-search-box" class="main-search" action="http://www.thebluealliance.com/search">
				    <input type="hidden" name="cx" value="017956276086362105630:99ctqytcokm"/>
				    <input type="hidden" name="cof" value="FORID:11" />
				    <input type="hidden" name="ie" value="UTF-8" />
				    <input type="text" id="q" class="search-query" placeholder="Search for teams and events" name="q"/>
				</form>
			</div>
            <div class="span6 kickoff landing">
                <div class="kickoff-countdown">
                    <span class="countdown-number kickoff-countdown-days">--</span><span class="countdown-label day-label">D, </span>
                    <span class="countdown-number kickoff-countdown-hours">--</span><span class="countdown-label">H, </span>
                    <span class="countdown-number kickoff-countdown-minutes">--</span><span class="countdown-label">M, </span>
                    <span class="countdown-number kickoff-countdown-seconds">--</span><span class="countdown-label">S</span>
                </div>
                <p class="kickoff-subheader">until the <strong>2013 <em>FIRST</em> Kickoff</strong></p>
                <p>10 A.M. EST on January 5, 2013</p>
                <p><a class="btn btn-large btn-primary" href="https://www.facebook.com/events/236917836430446/"><i class="icon-calendar icon-white"></i> RSVP on Facebook</a></p>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
        {% if not kickoff_countdown %}
		<div class="span10 offset1">
			<h2>Upcoming Events</h2>
	        {% for event in events %}
				<a href="/event/{{event.key.name}}">
				<div class="event_block">
					<div class="event_info">
                        <h4>{{ event.name }}</h4>
                        <p><em>
                            {% if event.start_date %}{{ event.start_date|date:"M j" }}{% endif %}
                            {% if event.end_date %}- {{ event.end_date|date:"M j" }}{% endif %}</em>
                        </p>
                    </div>
				</div>
				</a>
			{% endfor %}
		</div>
		{% else %}
		<div class="span12 kickoff">
            
        </div>
		{% endif %}
	</div>
</div>
{% endblock %}
