<h1 class="hidden-xs">The Blue Alliance</h1>
<p class="hidden-xs"><em>FIRST</em> Robotics Competition team information, event results, and videos</p>
<form action="http://www.thebluealliance.com/search">
  <input type="hidden" name="cx" value="017956276086362105630:99ctqytcokm">
  <input type="hidden" name="cof" value="FORID:11">
  <input type="hidden" name="ie" value="UTF-8">
  <input type="text" class="form-control typeahead" placeholder="Search for teams and events" name="q">
</form>
<br>
<div class="btn-group btn-group-block-2">
  <a class="btn btn-primary btn-lg" href="/teams"><span class="glyphicon glyphicon-user"></span> Teams</a>
  <a class="btn btn-primary btn-lg" href="/events"><span class="glyphicon glyphicon-calendar"></span> Events</a>
</div>
<div class="hidden-xs">
  <br>
  <h4>Help other <em>FIRST</em> teams!</h4>
  <p><small>KNOW VIDEOS WE'RE MISSING?</small><br><a class="btn btn-default" href="https://docs.google.com/spreadsheet/ccc?key=0ApRO2Yzh2z01dExFZEdieV9WdTJsZ25HSWI3VUxsWGc" target="_blank"><span class="glyphicon glyphicon-upload"></span> Add YouTube Videos</a></p>
  <p><small>ADD DATA!</small><br><a class="btn btn-default" href="https://www.facebook.com/groups/moardata/" target="_blank"><span class="glyphicon glyphicon-info-sign"></span> Get Event Data</a></p>
  <p><small>LIKE CODING?</SMALL><br><a class="btn btn-default" href="https://github.com/gregmarra/the-blue-alliance/" target="_blank"><span class="glyphicon glyphicon-wrench"></span> Hack on The Blue Alliance</a></p>
</div>