{% extends "base.html" %}

{% block title %}The Blue Alliance{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xs-4">
            <h2 class="hidden-xs">The Blue Alliance</h2>
            <p class="hidden-xs"><em>FIRST</em> Robotics Competition team information, event results, and videos</p>
            <form action="http://www.thebluealliance.com/search">
                <input type="hidden" name="cx" value="017956276086362105630:99ctqytcokm"/>
                <input type="hidden" name="cof" value="FORID:11" />
                <input type="hidden" name="ie" value="UTF-8" />
                <input type="text" class="form-control" placeholder="Search for teams and events" name="q"/>
            </form>
            <div class="btn-group">
                <a class="btn btn-lg" href="/teams"><span class="glyphicon glyphicon-user"></span> Teams</a>
                <a class="btn btn-lg" href="/events"><span class="glyphicon glyphicon-calendar"></span> Events</a>
            </div>
            <div class="hidden-xs">
                <br />
                <h4>Help other <em>FIRST</em> teams!</h4>
                <p><small>KNOW VIDEOS WE'RE MISSING?</small><br /><a class="btn" href="https://docs.google.com/spreadsheet/ccc?key=0ApRO2Yzh2z01dExFZEdieV9WdTJsZ25HSWI3VUxsWGc" target="_blank"><span class="glyphicon glyphicon-upload"></span> Add YouTube Videos</a></p>
                <p><small>LIKE CODING?</SMALL><br /><a class="btn" href="https://github.com/gregmarra/the-blue-alliance/" target="_blank"><span class="glyphicon glyphicon-wrench"></span> Hack on The Blue Alliance</a></p>
            </div>
        </div>
        <div class="col-xs-4">
            <h2>Kickoff 2013</h2>
            <div id="countdown-finish-time">[2013, 0, 5, 15, 30, 0]</div>
            <h3 class="countdown">
                <span class="countdown-number countdown-days">--</span><span class="countdown-label day-label">D </span>
                <span class="countdown-number countdown-hours">--</span><span class="countdown-label">H </span>
                <span class="countdown-number countdown-minutes">--</span><span class="countdown-label">M </span>
                <span class="countdown-number countdown-seconds">--</span><span class="countdown-label">S</span>
                <small>until Kickoff</small>
            </h3>
            <p><a class="btn btn-lg btn-primary btn-block" href="http://www.thebluealliance.com/gameday#kickoff"><span class="glyphicon glyphicon-play icon-white"></span> Watch Kickoff Live</a></p>
            <p><a class="btn btn-block" href="https://www.facebook.com/events/236917836430446/" target="_blank"><span class="glyphicon glyphicon-calendar"></span> RSVP on Facebook</a></p>
            <p>Come back at 10:30am EST on January 5th to watch live!</p>
            <div>
                <span class="glyphicon glyphicon-globe"></span> <a href="http://www.usfirst.org/roboticsprograms/frc/kickoff" target="_blank" title="FIRST Kickoff Page"><em>FIRST</em> Kickoff Page</a><br />
                <a class="hashtag-link hashtag-cd" href="http://www.chiefdelphi.com/forums/showthread.php?t=109112" target="_blank" title="Chief Delphi Game Hint Thread">Chief Delphi Game Hint Thread</a><br />
                <!--<span class="glyphicon glyphicon-info-sign"></span> <a href="#" target="_blank">Download 2013 Game Manual</a><br />-->
            </div>
        </div>
        <div class="col-xs-4">
            <h2>2013 Game Info</h2>
            <p><em>More coming soon!</em></p>
            <p><a class="btn disabled" href="#"><span class="glyphicon glyphicon-film"></span> 2013 Game Video</a></p>
            <h4>2013 Game Manual</h4>
            <div class="btn-group">
                <a class="btn" href="http://frc-manual.usfirst.org/" target="_blank"><span class="glyphicon glyphicon-file"></span> PDF Version</a>
                <a class="btn" href="https://itunes.apple.com/us/app/frc-manual/id488793605"><span class="glyphicon glyphicon-download"></span> iPhone App</a>
                <a class="btn" href="https://play.google.com/store/apps/details?id=org.usfirst.manual.frc"><span class="glyphicon glyphicon-download"></span> Android App</a>
            </div>
        </div>
    </div>
    <!--TODO: Make these real CSS classes instead of inline styles -gregmarra 11/27/12
    <div class="row">
        <div class="col-xs-12">
            <h2>#omgrobots <small><a href="http://searchinstagram.com/omgrobots" title="Instagram Search">Instagram</a> + <a href="https://twitter.com/search/realtime?q=%23omgrobots" target="_blank">Twitter</a></small></h2>
            <img alt="#omgrobots" src="" style="float: left; margin: 14px; background-color: grey; margin: 6px; height: 148px; width: 222px;" />
            <img alt="#omgrobots" src="" style="float: left; margin: 14px; background-color: grey; margin: 6px; height: 148px; width: 222px;" />
            <img alt="#omgrobots" src="" style="float: left; margin: 14px; background-color: grey; margin: 6px; height: 148px; width: 222px;" />
            <img alt="#omgrobots" src="" style="float: left; margin: 14px; background-color: grey; margin: 6px; height: 148px; width: 222px;" />
            <img alt="#omgrobots" src="" style="float: left; margin: 14px; background-color: grey; margin: 6px; height: 148px; width: 222px;" />
        </div>
    </div>-->
</div>
{% endblock %}
