{% extends "base.html" %}

{% block title %}The Blue Alliance{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-5 col-lg-4">
      {% include "index_lhc.html" %}
    </div>
    <div class="col-sm-7 col-lg-8">
      <h2><span class="countdown-number countdown-days">--</span><span class="countdown-label day-label"> Days</span> Left to Build! <small>Build Season ends {{endbuild_datetime_est|date:"F jS"}}</small></h2>
      <div id="countdown-finish-time">{{endbuild_datetime_utc|date:"c"}}</div>
      <div class="btn-group game-manual">
        <a class="btn btn-default" href="http://www.firstinspires.org/resource-library/frc/competition-manual-qa-system" target="_blank"><span class="glyphicon glyphicon-file"></span> FIRST STEAMworks Game Manual and Materials</a>
      </div>
      <p>Encrypted Manual Password: &amp;Full$team^Ahead!</p>

      <div>
        <div class="btn-group btn-group-block-2">
          <a class="btn btn-lg btn-success" href="/watch/fun"><span class="glyphicon glyphicon-play"></span> Watch Robot in 3 Days Live</a>
          <a class="btn btn-lg btn-primary" href="/advanced_team_search"><span class="glyphicon glyphicon-search"></span> Search for previous successful robots</a>
        </div>
      </div>

      {% if events %}
        <h2>This Week's Events</h2>
        {% with events as events %}
          {% include "event_partials/event_table.html" %}
        {% endwith %}
        <div>
          <a class="btn btn-default" href="/webcasts"><span class="glyphicon glyphicon-info-sign"></span> Add Webcasts</a>
          <a class="btn btn-default" href="/contact"><span class="glyphicon glyphicon-upload"></span> Add YouTube Videos</a>
        </div>
      {% endif %}
      <br>
      <div class="fitvids">
        <iframe width="420" height="315" src="https://www.youtube.com/embed/EMiNmJW7enI" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
{% endblock %}
