{% extends "base.html" %}

{% block title %}The Blue Alliance{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-4">
            <h2 class="hidden-sm">The Blue Alliance</h2>
            <p class="hidden-sm"><em>FIRST</em> Robotics Competition team information, event results, and videos</p>
            <form action="http://www.thebluealliance.com/search">
                <input type="hidden" name="cx" value="017956276086362105630:99ctqytcokm"/>
                <input type="hidden" name="cof" value="FORID:11" />
                <input type="hidden" name="ie" value="UTF-8" />
                <input type="text" class="form-control" placeholder="Search for teams and events" name="q"/>
            </form>
            <div class="btn-group">
                <a class="btn btn-lg" href="/teams"><span class="glyphicon glyphicon-user"></span> Teams</a>
                <a class="btn btn-lg" href="/events"><span class="glyphicon glyphicon-calendar"></span> Events</a>
            </div>
            <div class="hidden-sm">
                <br />
                <h4>Help other <em>FIRST</em> teams!</h4>
                <p><small>KNOW VIDEOS WE'RE MISSING?</small><br /><a class="btn" href="https://docs.google.com/spreadsheet/ccc?key=0ApRO2Yzh2z01dExFZEdieV9WdTJsZ25HSWI3VUxsWGc" target="_blank"><span class="glyphicon glyphicon-upload"></span> Add YouTube Videos</a></p>
                <p><small>LIKE CODING?</SMALL><br /><a class="btn" href="https://github.com/gregmarra/the-blue-alliance/" target="_blank"><span class="glyphicon glyphicon-wrench"></span> Hack on The Blue Alliance</a></p>
            </div>
        </div>
        <div class="col-8">
            <h2><span class="countdown-number countdown-days">--</span><span class="countdown-label day-label"> Days</span> to Build! <small>Build Season ends February 19th</small></h2>
            <div id="countdown-finish-time">[2013, 1, 20, 12, 0, 0]</div>
            <div class="btn-group">
                <a class="btn" href="http://www.usfirst.org/roboticsprograms/frc/2013-game" target="_blank"><span class="glyphicon glyphicon-file"></span> Game Manual PDF</a>
                <a class="btn" href="https://itunes.apple.com/us/app/frc-manual/id488793605"><span class="glyphicon glyphicon-download"></span> iPhone Manual </a>
                <a class="btn" href="https://play.google.com/store/apps/details?id=org.usfirst.manual.frc"><span class="glyphicon glyphicon-download"></span> Android Manual</a>
            </div>
            <br /><br />
            <div class="fitvids">
                <iframe width="420" height="315" src="http://www.youtube.com/embed/wa5MGEZNrf0?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock %}
