<p>The Blue Alliance is the best way to scout, watch, and relive the <i>FIRST</i> Robotics Competition. Learn more about <i>FIRST</i> at <a href="http://www.firstinspires.org/" target="_blank" title="FIRST Robotics">firstinspires.org</a>.</p>

<hr>

<h4 class="text-center">Upcoming Events:</h4>
<a class="btn btn-default btn-xs pull-right" href="https://www.facebook.com/events/495511237506787/"><span class="glyphicon glyphicon-calendar"></span> RSVP on Facebook</a>
<h5><b><a href="/event/2017nhfoc"><i>FIRST</i> Festival of Champions</a><br><small>July 28-29, 2017</small></b></h5>

<hr>

<div>
  <h4 class="text-center">Help other <i>FIRST</i> teams!</h4>
  <a class="btn btn-default btn-block" href="/suggest/offseason"><span class="glyphicon glyphicon-plus"></span> Add an Offseason Event</a>
  <a class="btn btn-default btn-block" href="/eventwizard"><span class="glyphicon glyphicon-pencil"></span> Add Offseason Event Data</a>
  <a class="btn btn-default btn-block" href="/add-data"><span class="glyphicon glyphicon-info-sign"></span> Adding Data Overview</a>
  <a class="btn btn-default btn-block" href="https://github.com/the-blue-alliance" target="_blank"><span class="glyphicon glyphicon-wrench"></span> Hack on TBA</a>
</div>

<hr>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Download our Android app!</h4>
  </div>
  <div class="panel-body text-center">
    <a href="https://play.google.com/store/apps/details?id=com.thebluealliance.androidclient">
      <img alt="Get it on Google Play" src="/images/google_play.png" />
    </a>
  </div>
</div>
<div class="hidden-xs text-center">
  <p><small>POWERED BY</small><br />
  <a href="https://www.vexrobotics.com/vexpro/"><img class="sponsor-image" src="/images/vexpro_logo_horiz.png" alt="VEXpro"></a></p>
</div>
