{% extends "base.html" %}

{% block title %}The Blue Alliance{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xs-4">
            <h2 class="hidden-xs">The Blue Alliance</h2>
            <p class="hidden-xs"><em>FIRST</em> Robotics Competition team information, event results, and videos</p>
            <form action="http://www.thebluealliance.com/search">
                <input type="hidden" name="cx" value="017956276086362105630:99ctqytcokm"/>
                <input type="hidden" name="cof" value="FORID:11" />
                <input type="hidden" name="ie" value="UTF-8" />
                <input type="text" class="form-control" placeholder="Search for teams and events" name="q"/>
            </form>
            <div class="btn-group">
                <a class="btn btn-lg" href="/teams"><span class="glyphicon glyphicon-user"></span> Teams</a>
                <a class="btn btn-lg" href="/events"><span class="glyphicon glyphicon-calendar"></span> Events</a>
            </div>
            <div class="hidden-xs">
                <br />
                <h4>Help other <em>FIRST</em> teams!</h4>
                <p><small>KNOW OF WEBCASTS?</small><br /><a class="btn" href="/webcasts" target="_blank"><span class="glyphicon glyphicon-info-sign"></span> Add Webcast Info</a></p>
                <p><small>KNOW VIDEOS WE'RE MISSING?</small><br /><a class="btn" href="https://docs.google.com/spreadsheet/ccc?key=0ApRO2Yzh2z01dExFZEdieV9WdTJsZ25HSWI3VUxsWGc" target="_blank"><span class="glyphicon glyphicon-upload"></span> Add YouTube Videos</a></p>
                <p><small>LIKE CODING?</SMALL><br /><a class="btn" href="https://github.com/gregmarra/the-blue-alliance/" target="_blank"><span class="glyphicon glyphicon-wrench"></span> Hack on The Blue Alliance</a></p>
            </div>
        </div>
        <div class="col-xs-8">
            <h2>This Week's Events</h2>
            {% with events as events %}
                {% include "event_partials/event_table.html" %}
            {% endwith %}
            <div>
                <a class="btn" href="/webcasts"><span class="glyphicon glyphicon-info-sign"></span> Add Webcasts</a>
                <a class="btn" href="/contact"><span class="glyphicon glyphicon-upload"></span> Add YouTube Videos</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
