{% extends "base.html" %}

{% block title %}The Blue Alliance{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-5 col-lg-4">
      {% include "index_lhc.html" %}
    </div>
    <div class="col-xs-12 col-sm-7 col-lg-8">
      <h2>2014 Kickoff: <span class="countdown-number countdown-days">--</span><span class="countdown-label day-label"> Days!</span> <small>Water Game?</small></h2>
      <div id="countdown-finish-time">[2014, 0, 4, 0, 0, 0]</div>
      <p>Watch the 2014 Kickoff LIVE on GameDay on The Blue Alliance on January 4th!</p>
      <p><a class="btn btn-primary" href="https://www.facebook.com/events/192845597552272/" target="_blank"><span class="glyphicon glyphicon-calendar"></span> RSVP on Facebook</a></p>
      {% if events and events|length > 0%}
        {% with events as events %}
          {% include "event_partials/event_table.html" %}
        {% endwith %}
      {% endif %}
      <br /><br />
      <div class="fitvids">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/MQ0VNzIvHx0?rel=0&amp;start=107" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
{% endblock %}
