<h1>TBATV GAE</h1>
<p>Some things you may be interested in doing:</p>
<p>To process TaskQueues offline use the following command: <strong>python2.5 run_tasks.py -p <em>port</em></strong></p>
<h2>Setup</h2>
<ol>
    <strong>You must do these things first</strong>.
    <li><a href="/tasks/usfirst_teams_instantiate?skip=0">UsfirstTeamsInstantiate</a>, creates Team objects for all teams from USFIRST.  Uses code borrowed from Patrick Fairbank's FRCLinks.</li>
    <li><a href="/tasks/usfirst_events_instantiate">UsfirstEventsInstantiate</a>, enqueues Tasks to create Event objects for regional events from USFIRST.</li>
</ol>
<h2>Updates</h2>
<ul>
    <li><a href="/tasks/usfirst_event_get_enqueue">UsfirstEventGetEnqueue</a>, which sets up the TaskQueue to update details for all official Event objects.</li>
    <li><a href="/tasks/usfirst_matches_get_enqueue?year=2010">UsfirstMatchesGetEnqueue</a>, which sets up the TaskQueue to get match results for all known Event objects, which will create or update Match objects.</li>
    <li><a href="/tasks/usfirst_team_get_enqueue?offset=0">UsfirstTeamGetEnqueue @ 0</a> and <a href="/tasks/usfirst_team_get_enqueue?offset=1000">UsfirstTeamGetEnqueue @ 1k</a>, which set up the TaskQueue to read the USFIRST team details, updating Team objects.</li>
</ul>
<h2>View</h2>
<ul>
    <li><a href="/team/list">Team List</a>, attempts to list all teams. Eventually a public facing page.</li>
    <li><a href="/event/list">Event List</a>, attempts to list all events. Eventually a public facing page.</li>
    <li><a href="/match/list">Match List</a>, attempts to list all matches. Eventually a public facing page?</li>
</ul>
<h2>Bulkloading</h2>
<p>appcfg.py upload_data --config_file=bulkloader.yaml --filename=<em>something</em>.csv --kind=<em>Something</em> --url=http://<em>something</em>/_ah/remote_api --application=tbatv-dev</p>