{% extends "base.html" %}

{% block title %}The Blue Alliance{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="span4">
            <h2 class="hidden-phone">The Blue Alliance</h2>
            <p class="hidden-phone"><em>FIRST</em> Robotics Competition team information, event results, and videos</p>
            <form class="main-search" action="http://www.thebluealliance.com/search">
                <input type="hidden" name="cx" value="017956276086362105630:99ctqytcokm"/>
                <input type="hidden" name="cof" value="FORID:11" />
                <input type="hidden" name="ie" value="UTF-8" />
                <input type="text" class="search-query" placeholder="Search for teams and events" name="q"/>
            </form>
            <div class="btn-group">
                <a class="btn btn-large" href="/teams"><i class="icon-user"></i> Teams</a>
                <a class="btn btn-large" href="/events"><i class="icon-calendar"></i> Events</a>
            </div>
            <div class="hidden-phone">
                <br />
                <h4>Help other <em>FIRST</em> teams!</h4>
                <p><small>KNOW OF WEBCASTS?</small><br /><a class="btn" href="/webcasts" target="_blank"><i class="icon-info-sign"></i> Add Webcast Info</a></p>
                <p><small>KNOW VIDEOS WE'RE MISSING?</small><br /><a class="btn" href="https://docs.google.com/spreadsheet/ccc?key=0ApRO2Yzh2z01dExFZEdieV9WdTJsZ25HSWI3VUxsWGc" target="_blank"><i class="icon-upload"></i> Add YouTube Videos</a></p>
                <p><small>LIKE CODING?</SMALL><br /><a class="btn" href="https://github.com/gregmarra/the-blue-alliance/" target="_blank"><i class="icon-wrench"></i> Hack on The Blue Alliance</a></p>
            </div>
        </div>
        <div class="span8">
            <h2>Upcoming Events</h2>
            {% with events as events %}
                {% include "event_partials/event_table.html" %}
            {% endwith %}
            <div>
                <a class="btn" href="/webcasts"><i class="icon-info-sign"></i> Add Webcasts</a>
                <a class="btn" href="/contact"><i class="icon-upload"></i> Add YouTube Videos</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
