{% extends "base.html" %}

{% block title %}The Blue Alliance{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xs-4">
            {% include "index_lhc.html" %}
        </div>
        <div class="col-xs-8">
            <h2>This Week's Events</h2>
            {% with events as events %}
                {% include "event_partials/event_table.html" %}
            {% endwith %}
            <div>
                <a class="btn" href="/webcasts"><span class="glyphicon glyphicon-info-sign"></span> Add Webcasts</a>
                <a class="btn" href="/contact"><span class="glyphicon glyphicon-upload"></span> Add YouTube Videos</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
