{% extends "base.html" %}

{% block insights_active %}active{% endblock %}
{% block insights_active_collapsed %}active{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-2 col-lg-2">
      <div class="tba-sidebar">
        <ul class="nav tba-sidenav">
          <li>
            <a href="/insights">
              {% if not selected_year %}<strong>{% endif %}Overview{% if not selected_year %}</strong>{% endif %}
            </a>
          </li>
          {% for year in valid_years %}
          <li>
            <a href="/insights/{{year}}">
            {% if selected_year == year %}<strong>{% endif %}{{year}}{% if selected_year == year %}</strong>{% endif %}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="col-xs-12 col-sm-10 col-lg-10">
      {% block detailed_content %}
      {% endblock %}
    </div>
  </div>
</div>
{% endblock %}
