{% extends "insights_base.html" %}

{% block title %}{{selected_year}} Insights - The Blue Alliance{% endblock %}

{% block meta_description %}FIRST Robotics Competition insights from {{selected_year}}.{% endblock %}

{% block detailed_content %}
  <h1 class="end_header">{{selected_year}} Insights</h1>

  <div class="insights_block">
    <div class="insights_content insights_content_half">
      <h4>Chairman's Award Winner</h4>
      <p>{{ ca_winner|slice:'3:' }}</p>
    </div>

    <div class="insights_content insights_content_half insights_content_last">
      <h4>Chairman's Award Winner</h4>
      <p>{{ ca_winner|slice:'3:' }}</p>
    </div>
  </div>
  
  <div class="insights_block">
    <div class="insights_content insights_content_third">
      <h4>Chairman's Award Winner</h4>
      <p>{{ ca_winner|slice:'3:' }}</p>
    </div>

    <div class="insights_content insights_content_third">
      <h4>Chairman's Award Winner</h4>
      <p>{{ ca_winner|slice:'3:' }}</p>
    </div>

    <div class="insights_content insights_content_third insights_content_last">
      <h4>Chairman's Award Winner</h4>
      <p>{{ ca_winner|slice:'3:' }}</p>
    </div>
  </div>
  
  <div class="insights_block">
    <div class="insights_content">
      <h4>Top Blue Banner Winners</h4>
      {% for num_wins, team_list in blue_banners %}
        {% if num_wins > 1 %}
          <p>{{num_wins}}, {{team_list}}</p>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  
  <div class="insights_block">
    <div class="insights_content">
      <h4>Top Regional/District Winners</h4>
      {% for num_wins, team_list in regional_winners %}
        {% if num_wins > 1 %}
          <p>{{num_wins}}, {{team_list}}</p>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  
  <div class="insights_block">
    <div class="insights_content insights_content_half">
      <h4>Highest Scoring Match</h4>
      <p>--</p>
    </div>
  </div>
  
  <!-- 
  <div class="row-fluid">
    <div class="span4 well">
      <h4>Chairman's Award Winner</h4>
      <p>{{ ca_winner|slice:'3:' }}</p>
    </div>
  
    <div class="span4 well">
      <h4>Top Blue Banner Winners</h4>
      {% for num_wins, team_list in blue_banners %}
        {% if num_wins > 1 %}
          <p>{{num_wins}}, {{team_list}}</p>
        {% endif %}
      {% endfor %}
    </div>
  
    <div class="span4 well">
      <h4>Top Regional/District Winners</h4>
      {% for num_wins, team_list in regional_winners %}
        {% if num_wins > 1 %}
          <p>{{num_wins}}, {{team_list}}</p>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  -->

  <!-- 
  <h2>Division Winners</h2>
  {{ division_winners }}
  
  <h2>Division Finalists</h2>
  {{ division_finalists }}
  
  <h2>World Champions</h2>
  {{ world_champions }}
  
  <h2>World Finalists</h2>
  {{ world_finalists }}
  
  <h2>RCA Winners</h2>
  {{ rca_winners }}
  
  <h2>CA Winner</h2>
  {{ ca_winner }}
  
  <h2>Blue Banners</h2>
  {% for num_wins, team_list in blue_banners %}
    {% if num_wins > 1 %}
      <p>{{num_wins}}, {{team_list}}</p>
    {% endif %}
  {% endfor %}
   -->
{% endblock %}
