{% extends "base.html" %}

{% block title %}The Blue Alliance{% endblock %}

{% block content %}

<div class="container">
	<div class="hero-unit landing-hero-unit">
		<div class="row-fluid">
			<div class="span12 kickoff">
				<h1>2013 FRC Kickoff</h1>
				<h2>10 A.M. EST on January 5, 2013</h2>
				<div class="kickoff-countdown">
                    <font class="countdown-number days">--</font><font class="countdown-label day-label">D,</font>
                    <font class="countdown-number hours">--</font><font class="countdown-label">H,</font>
                    <font class="countdown-number minutes">--</font><font class="countdown-label">M,</font>
                    <font class="countdown-number seconds">--</font><font class="countdown-label">S</font>
				</div>
				<p>We will update this page with more resources as Kickoff approaches.</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}
