{% extends "base.html" %}

{% block title %}The Blue Alliance{% endblock %}

{% block content %}

<div class="container">
    <div class="hero-unit landing-hero-unit">
        <div class="row-fluid">
            <div class="span12 kickoff">
                <h1>2013 FRC Kickoff</h1>
                <div class="kickoff-countdown">
                    <font class="countdown-number days">--</font><font class="countdown-label day-label">D, </font>
                    <font class="countdown-number hours">--</font><font class="countdown-label">H, </font>
                    <font class="countdown-number minutes">--</font><font class="countdown-label">M, </font>
                    <font class="countdown-number seconds">--</font><font class="countdown-label">S</font>
                </div>
                <p>To be shown during the live kickoff event.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
