{% extends "base.html" %}

{% block title %}The Blue Alliance{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="span4">
            <h2>Kickoff 2013 Live!</h2>
            <h4>Come back at 10 A.M. EST on<br /> January 5th to watch live!</h4>
            <p><a class="btn btn-large btn-primary" href="https://www.facebook.com/events/236917836430446/"><i class="icon-calendar icon-white"></i> RSVP on Facebook</a></p>
            <br />
            <div>
                <small>KICKOFF FAST LINKS</small><br />
                <i class="icon-globe"></i> <a href="http://www.usfirst.org/roboticsprograms/frc/kickoff" target="_blank" title="FIRST Kickoff Page"><em>FIRST</em> Kickoff Page</a><br />
                <a class="hashtag-link hashtag-cd" href="http://www.chiefdelphi.com/forums/showthread.php?t=109112" target="_blank" title="Chief Delphi Game Hint Thread">Chief Delphi Game Hint Thread</a><br />
                <!--<i class="icon-info-sign"></i> <a href="#" target="_blank">Download 2013 Game Manual</a><br />-->
            </div>
            <br />
            <h4>Help other <em>FIRST</em> teams!</h4>
            <p><small>KNOW VIDEOS WE'RE MISSING?</small><br /><a class="btn" href="https://docs.google.com/spreadsheet/ccc?key=0ApRO2Yzh2z01dExFZEdieV9WdTJsZ25HSWI3VUxsWGc" target="_blank"><i class="icon-upload"></i> Add YouTube Videos</a></p>
            <p><small>LIKE CODING?</SMALL><br /><a class="btn" href="https://github.com/gregmarra/the-blue-alliance/" target="_blank"><i class="icon-wrench"></i> Hack on The Blue Alliance</a></p>
        </div>
        <div class="span8" id="kickoff-video">
            <h2>
                <span class="countdown-number kickoff-countdown-days">--</span><span class="countdown-label day-label">D </span>
                <span class="countdown-number kickoff-countdown-hours">--</span><span class="countdown-label">H </span>
                <span class="countdown-number kickoff-countdown-minutes">--</span><span class="countdown-label">M </span>
                <span class="countdown-number kickoff-countdown-seconds">--</span><span class="countdown-label">S</span>
                <small>until Kickoff 2013 begins</small>
            </h2>
            <iframe width="560" height="315" src="http://www.youtube.com/embed/DA-b9FQSHYY" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <!--TODO: Make these real CSS classes instead of inline styles -gregmarra 11/27/12
    <div class="row">
        <div class="span12">
            <h2>#omgrobots <small><a href="http://searchinstagram.com/omgrobots" title="Instagram Search">Instagram</a> + <a href="https://twitter.com/search/realtime?q=%23omgrobots" target="_blank">Twitter</a></small></h2>
            <img alt="#omgrobots" src="" style="float: left; margin: 14px; background-color: grey; margin: 6px; height: 148px; width: 222px;" />
            <img alt="#omgrobots" src="" style="float: left; margin: 14px; background-color: grey; margin: 6px; height: 148px; width: 222px;" />
            <img alt="#omgrobots" src="" style="float: left; margin: 14px; background-color: grey; margin: 6px; height: 148px; width: 222px;" />
            <img alt="#omgrobots" src="" style="float: left; margin: 14px; background-color: grey; margin: 6px; height: 148px; width: 222px;" />
            <img alt="#omgrobots" src="" style="float: left; margin: 14px; background-color: grey; margin: 6px; height: 148px; width: 222px;" />
        </div>
    </div>-->
</div>

<script src="/javascript/jquery.fitvids.js"></script>
<script>
  $(document).ready(function(){
    $("#kickoff-video").fitVids();
  });
</script>
{% endblock %}
