{% extends "base.html" %}

{% block title %}myTBA Dashboard - The Blue Alliance{% endblock %}

{% block meta_description %}View how your favorite teams are doing.{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>myTBA Dashboard</h1>
      <p>Keep up to date with where your favorite teams are competing and how they're doing!</p>
      <p><a class="btn btn-primary" href="/account/mytba"><span class="glyphicon glyphicon-bookmark"></span> Manage myTBA</a></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2>Currently Competing</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
    {% if live_events_with_teams %}
      <div>
        {% include "live_teams_partial.html" %}
      </div>
    {% else %}
      <p>No favorite teams are competing this week.</p>
    {% endif %}
    </div>
    <div class="row">
    <div class="col-xs-12">
      <h2>Upcoming Competitions</h2>
    </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        {% if future_events_with_teams %}
          <div>
            {% for future_event in future_events_with_teams %}
              {% with future_event.0 as event %}
                <div class="col-sm-4">
                <h3><a href="/event/{{ event.key_name }}">{{ event.name }}</a></h3>
                <p>
                  {% if event.location %}<span class="glyphicon glyphicon-map-marker"></span> in <a href="http://maps.google.com/maps?q={{ event.location }}" target="_blank">{{ event.location }}</a><br />{% endif %}
                  {% if event.start_date %}<span class="glyphicon glyphicon-calendar"></span> {{ event.start_date|strftime:"%B %d" }}{% if event.start_date != event.end_date %} - {{ event.end_date|strftime:"%B %d" }}{% endif %}, {{ event.end_date|strftime:"%Y" }}{% endif %}
                </p>
                <table class="table table-striped table-condensed">
                  <tr>
                    <th>Team Number</th>
                    <th>Team Name</th>
                  </tr>
                  {% for team in future_event.1 %}
                  <tr>
                    <td>{{ team.team_number }}</td>
                    <td>
                        <a href="/team/{{ team.team_number }}/{{ event.year }}#{{ event.key_name }}">{{ team.nickname }}</a>
                    </td>
                  </tr>
                  {% endfor %}
                </table>
              {% endwith %}
            {% endfor %}
          </div>
        {% else %}
          <p>No favorite teams have upcoming competitions.</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}