{% extends "base.html" %}

{% block title %}The Blue Alliance - My TBA{% endblock %}

{% block meta_description %}View your favorites and subscriptions{% endblock %}

{% block content %}
<div class="container">
  {% if error_message %}
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4>Error!</h4>
        <p>{{ error_message}} </p>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
      <h1>myTBA</h1>
      <div class="row">
        <p><a class="btn btn-default" href="/account"><span class="glyphicon glyphicon-chevron-left"></span> My Account</a></p>
        <p>Here you can manage the favorites and subscriptions associated with your account</p>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#favorites" data-toggle="tab">Favorites</a></li>
            <li><a href="#subscriptions" data-toggle="tab">Subscriptions</a></li>
          </ul>
        </div>
      </div>

      <div class="tab-content">
      <div class="tab-pane active" id="favorites">
      <h2>Favorites</h2>
        {% for type, favorites in favorites_by_type.items %}
          <h3>{{type}}</h3>
          <table class="table table-striped">
            {% for favorite in favorites %}
              <tr>
                <td style="padding-right:20px;">{{favorite.model_key}}</td>
                <td><form method="post">
                  <input name="action" type="hidden" value="favorite_delete" />
                  <input name="account_id" type="hidden" value="{{user_bundle.account.key.id}}" />
                  <input name="model_key" type="hidden" value="{{favorite.model_key}}"/>
                  <button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-trash"></span> Delete</button></form>
                </td>
              </tr>
            {% endfor %}
          </table>
        {% empty %}
          <tr><td>No favorites found</td></tr>
        {% endfor %}
        <!-- <h3>Add Favorite</h3>
        <table class="table"><tr><form method="post">
          <td>Model Key: </td>
          <td style="padding-right:20px;">
            <input name="action" type="hidden" value="favorite_add" />
            <input name="account_id" type="hidden" value="{{user_bundle.account.key.id}}" />
            <input class="form-control" type="text" name="model_key" placeholder="2014cur"/></td>
          <td>
            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-thumbs-up"></span> Add Favorite</button></td>
        </form></tr></table> -->
      </div><div class="tab-pane" id="subscriptions">
      <h2>Subscriptions</h2>
        {% for type, subscriptions in subscriptions_by_type.items %}
            <h3>{{type}}</h3>
            <table class="table table-striped">
              {% for subscription in subscriptions %}
                <tr>
                  <td>{{subscription.model_key}}</td>
                  <td><ul>
                    {% for type in subscription.notification_names %}
                      <li>{{ type }}</li>
                    {% endfor %}
                  </ul></td>
                  <td><form method="post">
                    <input name="action" type="hidden" value="subscription_delete" />
                    <input name="account_id" type="hidden" value="{{user_bundle.account.key.id}}" />
                    <input name="model_key" type="hidden" value="{{subscription.model_key}}" />
                    <button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-trash"></span> Delete</button></form>
                  </td>
                </tr>
              {% endfor %}
            </table>
          {% empty %}
            <tr><td>No subscriptions found</td></tr>
          {% endfor %}
        <h3>Subscribe to All Events This Year</h3>
          <form method="post">
            <input name="action" type="hidden" value="subscription_year_add" />
            <input name="account_id" type="hidden" value="{{user_bundle.account.key.id}}" />
            <table class="table">
              <tr>
                <td>Year:</td>
                <td><input class="form-control" type="text" name="year" value="{{this_year}}" readonly/></td>
              </tr>
              <tr>
                <td>Notification Types:</td>
                <td><ul style="list-style-type: none;">
                  {% for index, name in enabled_notifications.items %}
                    <li><input type="checkbox" name="notification_types" value="{{index}}"/> {{ name }}</li>
                  {% endfor %}
                </ul></td>
              </tr>
              <tr>
                <td><button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-thumbs-up"></span> Add Subscription</button></td>
              </tr>
          </table>
        </form>
        </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}
