{% extends "base.html" %}

{% block title %}The Blue Alliance - How To Record Regionals{% endblock %}

{% block meta_description %}Recommended tools and instructions for archiving a regional in video format.{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-4">
      <div class="tba-sidenav-affixed">
        <div class="tba-sidebar">
          <ul class="nav tba-sidenav">
            <li><a class="smooth-scroll" href="#overview">Overview</a></li>
            <li><a class="smooth-scroll" href="#required_hardware_software">Required Hardware &amp; Software</a></li>
            <li><a class="smooth-scroll" href="#setting_up_the_hardware_software">Setup</a></li>
            <li><a class="smooth-scroll" href="#during_the_event">During the Event</a></li>
            <li><a class="smooth-scroll" href="#after_the_event">After the Event</a></li>
            <li><a class="smooth-scroll" href="#who_is_archiving_what">Who is Archiving What?</a></li>
            <li><a class="smooth-scroll" href="#troubleshooting_faq">Troubleshooting/FAQ</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-9 col-sm-8 col-xs-12">
      <div class="page-header">
        <h1>How to Record Regionals</h1>
      </div>
      <h2 id="overview">Overview</h2>
      <p><strong>This example will cover using a ~$15 device to capture video, Justin.tv to broadcast, and VH Capture software to archive.</strong></p>
      <p>Part of getting <i>FIRST</i> into the public eye is to increase accessibility to live webcasts and archived videos of competitions. Hopefully this documentation will make it easier for volunteers to get as many events webcasted and archived as possible.</p>
      <p>Webcasting and archiving can be done individually, however doing both on one computer is most efficient. This page outlines a low-cost and easy to set up process to webcast and archive on a single computer.</p>
      <p>If you have any questions, please contact Greg Marra or EugeneF on ChiefDelphi.</p>
      <h2 id="required_hardware_software">Required Hardware &amp; Software</h2>
      <ul>
        <li>Internet connectivity at the event
          <ul>
            <li>Work with event coordinators</li>
            <li>Preferably wired (better speed and reliability, won't interfere with FMS)</li>
          </ul>
          </li>
          <li>Video/audio feed connectivity at the event
            <ul>
              <li>Work with event coordinators</li>
              <li>Typically a composite video signal (yellow) with stereo audio (red/white)</li>
            </ul>
          </li>
          <li><a href="http://www.adobe.com/products/flashmediaserver/flashmediaencoder/" class="external free" title="http://www.adobe.com/products/flashmediaserver/flashmediaencoder/" rel="nofollow">Adobe Flash Media Live Encoder v3.2</a> (free)</li>
          <li><a href="http://download.cnet.com/VH-Screen-Capture-Driver/3000-2169_4-10436367.html" class="external free" title="http://download.cnet.com/VH-Screen-Capture-Driver/3000-2169_4-10436367.html" rel="nofollow">VH Capture and VH Multi Cam Studio</a> (both included in download) (free)</li>
          <li>Video capture device
            <ul>
              <li>These can get expensive</li>
              <li>Affordable, tested solution for composite video to USB input: <a href="http://www.monoprice.com/products/product.asp?c_id=108&amp;cp_id=10810&amp;cs_id=1081003&amp;p_id=5616&amp;seq=1&amp;format=2" class="external free" title="http://www.monoprice.com/products/product.asp?c_id=108&amp;cp_id=10810&amp;cs_id=1081003&amp;p_id=5616&amp;seq=1&amp;format=2" rel="nofollow">Monoprice: USB 2.0 Video Grabber with Audio</a> (~$15)</li>
              <li>Make sure the video capture device can handle the inputs available at the event</li>
            </ul>
          </li>
          <li>Computer
            <ul>
              <li>Needs internet connectivity</li>
              <li>Must be able to interface with the video capture device (typically USB)</li>
              <li>~5 GB hard drive space (depends on video quality &amp; number of matches)</li>
              <li>Dual core or more processor preferred</li>
              <li>Line In/Microphone input</li>
              <li>3.5mm Stereo to RCA audio adapter
                <ul>
                  <li><a href="http://www.monoprice.com/products/product.asp?c_id=102&amp;cp_id=10218&amp;cs_id=1021804&amp;p_id=666&amp;seq=1&amp;format=2" class="external free" title="http://www.monoprice.com/products/product.asp?c_id=102&amp;cp_id=10218&amp;cs_id=1021804&amp;p_id=666&amp;seq=1&amp;format=2" rel="nofollow">Monoprice: 6-inch 3.5mm Stereo Plug/2 RCA Jack Cable - Black</a> (~$1)</li>
                </ul>
              </li>
            </ul>
          </li>
        <li><a href="http://www.justin.tv/" class="external free" title="http://www.justin.tv" rel="nofollow">Justin.tv</a> account (free)</li>
      </ul>
      <h2 id="setting_up_the_hardware_software">Setting up the Hardware &amp; Software</h2>
      <h3 id="important_note">IMPORTANT NOTE!</h3>
      <p>8/1/2012 edit: Good program here: <a href="http://www.ffsplit.com/" class="external free" title="http://www.ffsplit.com/" rel="nofollow">http://www.ffsplit.com/</a> Will update 2013's archiving page with information about FFsplit.</p>
      <h3 id="connecting_the_hardware">Connecting the Hardware</h3>
      <ol>
        <li>Plug in the video capture device into the proper port on your computer</li>
        <li>Connect the composite video feed (yellow) to the video in port on the video capture device</li>
        <li>Connect the audio feed (red/white) to the 3.5mm Stereo to RCA audio adapter</li>
        <li>Plug the 3.5mm Stereo to RCA audio adapter into the Line in/Microphone port on your computer</li>
      </ol>
      <h3 id="justin_tv">Justin.tv</h3>
      <ol>
        <li><a href="http://www.justin.tv/user/signup" class="external free" title="http://justin.tv" rel="nofollow">Create a Justin.tv account.</a></li>
        <li>While logged in, visit <a href="http://www.justin.tv/broadcast/adv_other" class="external free" title="http://www.justin.tv/broadcast/adv_other" rel="nofollow">http://www.justin.tv/broadcast/adv_other</a> and click "Show" next to "Stream Key:'</li>
        <li>Copy and save your stream key.</li>
      </ol>
      <h3 id="video_capture_device">Video capture device</h3>
      <ol>
        <li>Install the necessary drivers and/or any software that comes with the device</li>
        <li>If software is included with the video capture device, hook up the video capture device to a video source, such as a DVD player, and confirm that video can be displayed on your computer through the included software</li>
      </ol>
      <h3 id="adobe_flash_media_live_encoder">Adobe Flash Media Live Encoder</h3>
      <p>This software broadcasts the video to Justin.tv.</p>
      <ol>
        <li>Open Adobe Flash Media Live Encoder.</li>
        <li>Adjust the video and audio settings. Suggested settings are below.</li>
        <li>Set "FMS URL" to <code>rtmp://live.justin.tv/app</code></li>
        <li>Set "Stream" to the stream key you saved when you set up your Justin.tv account.</li>
      </ol>
      <ul>
        <li>Suggested video settings:
          <ul>
            <li>Device: VHMultiCam</li>
            <li>Format: H.264
              <ul>
                <li>Wrench icon: Profile: Main, Level: 5.1, Keyframe Frequency: 3 seconds</li>
              </ul>
            </li>
            <li>Frame Rate: 30 fps</li>
            <li>Input Size 720x480 if you're using a composite video source
              <ul>
                <li>The resolution can be higher if you're using a higher quality video capture device.</li>
              </ul>
            </li>
            <li>Bit Rate: Check only the first box, ideally ~3000-4000 Kbps
              <ul>
                  <li>Bitrate will depend on your internet connection. You can check your upload speed at <a href="http://www.speedtest.net/" class="external free" title="http://www.speedtest.net" rel="nofollow">http://www.speedtest.net</a>. Set the bitrate to around 500 Kbps (0.5 Mbps) less than your upload speed. There shouldn't be a need to set it to more than 4000 Kbps.</li>
              </ul>
            </li>
            <li>Output Size: Same as "Input Size"</li>
            <li>Crop: Unchecked</li>
            <li>Deinterlace: Unchecked</li>
            <li>Timecode: Unchecked</li>
          </ul>
        </li>
      </ul>
      <ul>
        <li>Suggested audio settings:
          <ul>
            <li>Device: Line in/Microphone</li>
            <li>Formate: MP3</li>
            <li>Channels: Stereo</li>
            <li>Sample Rate: 44100 Hz</li>
            <li>Bit Rate: 96 Kbps</li>
            <li>Volume: Adjust so that the volume preview does not max out</li>
          </ul>
        </li>
      </ul>
      <h3 id="vh_multi_cam_studio">VH Multi Cam Studio</h3>
      <p>This software enables both recording and broadcasting from one piece of hardware.</p>
      <ol>
        <li>Open VH Multi Cam Studio</li>
        <li>Under "View," set "Resolution" to "720x480" if you're using a composite video source. The resolution can be higher if you're using a higher quality video capture device</li>
        <li>Under "View," set "Frame rate" to "30 fps."</li>
        <li>Under "File," select "Add Camera," and select the video capture device.</li>
        <li>Resize the video by hovering over it and dragging the white border until it fills the frame.</li>
      </ol>
      <h3 id="vh_capture">VH Capture</h3>
      <p>This software records the video.</p>
      <ol>
        <li>Open VH Capture</li>
        <li>Browse (near the bottom) for a location to store saved videos</li>
        <li>Set the video capture source to VHMultiCam</li>
        <li>Click on the "&gt;" next to browse and make sure it's set on "avi"</li>
        <li>For "Video compression," use a MPEG-4 codec</li>
        <li>Click on the down arrow in the video compression section to get to compressor settings, and set the data rate to 6000 Kbps (6 Mbps) if the option is available.</li>
        <li>Set the frame rate to 30</li>
        <li>Set the audio capture source to Line In/Microphone</li>
        <li>Leave "Audio compression" on "None."</li>
        <li>Record a short clip, paying attention to the CPU usage (shouldn't be maxing out your CPU), Data rate (~10 MB/minute), and Avg. fps (~30).</li>
        <li>Verify that the output file plays, is of reasonable quality, and that sound levels are appropriate.</li>
      </ol>
      <h2 id="during_the_event">During the Event</h2>
      <p>Let everyone know about the webcast! <a href="/gameday" title="http://www.thebluealliance.com/gameday">TBA Gameday</a> provides webcast and score aggregation during the events. To submit your webcast, visit the <a href="/webcasts" title="http://www.thebluealliance.com/webcasts">webcasts page</a>.</p>
      <p>If you want to be listed on NASA's website, email drew.r.price[at]nasa.gov with the url and info about your team/organization. </p>
      <ul>
        <li>The stream should be started before the opening ceremony and stopped after the awards ceremony.</li>
        <li>The recording should be started and stopped before and after each match. DO NOT include the announcers introduction, we are just looking for the robot action.
          <ul>
            <li>If no volunteer is able to start and stop the video for each match, a continuous recording can be made, but will require more work and trouble later to parse. See <a href="#splitting_the_video_into_individual_matches" title="">Splitting the Video Into Individual Matches</a> for more details.</li>
          </ul>
        </li>
      </ul>
      <ul>
        <li>To start streaming, press "Start" in Adobe Flash Media Encoder.</li>
        <li>To stop streaming, press "Stop" in Adobe Flash Media Encoder.</li>
        <li>To start recording, press the record button in VH Capture.</li>
        <li>To stop recording, press the stop button in VH Capture.</li>
      </ul>
      <h2 id="after_the_event">After the Event</h2>
      <h3 id="splitting_the_video_into_individual_matches">Splitting the Video Into Individual Matches</h3>
      <p>If someone manually started and stopped the video for each match, you may ignore this section.</p>
      <p>Splitting the video into individual matches can be done with whatever video editing program you would like, every Windows machine comes with Windows Movie Maker and every Mac comes with iMovie. As for the output video and naming standards please see below!</p>
      <ul>
        <li> DO NOT include the announcers introduction, we are just looking for the robot action.</li>
        <li> End the video once the play has stopped, if you like you can cut in the final score (this is a bit of a pain, and TBA already has it listed on their site anyway).</li>
      </ul>
      <h3 id="upload_to_youtube">Upload to YouTube</h3>
      <p>For the best possible quality, use <a href="http://support.google.com/youtube/bin/answer.py?hl=en&amp;answer=1722171&amp;topic=2888648&amp;ctx=topic" class="external" title="http://support.google.com/youtube/bin/answer.py?hl=en&amp;answer=1722171&amp;topic=2888648&amp;ctx=topic" rel="nofollow">Youtube-recommended settings</a> when rendering/saving your videos. </p>
      <p><a href="https://docs.google.com/spreadsheet/ccc?key=0ApRO2Yzh2z01dExFZEdieV9WdTJsZ25HSWI3VUxsWGc" class="external free" title="https://docs.google.com/spreadsheet/ccc?key=0ApRO2Yzh2z01dExFZEdieV9WdTJsZ25HSWI3VUxsWGc" rel="nofollow">This spreadsheet</a> tracks videos on YouTube so we can add them to TBA.</p>

      <h4 id="naming_rules_for_tba">Naming Rules for TBA</h4>
      <p><strong>Example File Names:</strong></p>
      <ul>
        <li> ct_001.mp4</li>
        <li> fl_qf2m1.wmv</li>
        <li> ca_fm1.wmv</li>
      </ul>
      <p><strong>Naming Rules:</strong></p>
      <ul>
        <li> Two or three character event abbreviation in lowercase, e.g. "fl"</li>
        <li> Underscore, "_"</li>
        <li> XOR:
          <ul>
            <li> Qualification: Use THREE digits, "001", "047", "108".</li>
            <li> Elimination: Use "qf4m2", "sf2m1", "fm3"</li>
            <li> Awards: Use "award_" + AwardDescription.</li>
            <li> Opening: Use "openingremarks_" + "friday" or "saturday".</li>
            <li> Closing: Use "closingremarks_" + "friday" or "saturday".</li>
            <li> Else: any string that does not begin with "qf", "sf", "fm", or a digit.</li>
          </ul>
        </li>
        <li> ".wmv" , ".mov", ".divx" , ".whatever"</li>
      </ul>
      <p><strong>Notes:</strong></p>
      <ol>
        <li> Always use lowercase, please.</li>
        <li> No spaces in a filename, please.</li>
        <li> Sometimes a match gets replayed- name the one that counts in the standings as "fl_001.wmv". The one(s) that do NOT count, "fl_001bad1.wmv", "fl_001bad2.wmv", etc...</li>
      </ol>
      <!--<h4 id="event_abbreviations">Event Abbreviations</h4>-->
        <!--<table>
          <tbody>
            <tr>
              <td>frc</td>
              <td>FIRST</td>
              <td>&nbsp;</td>
              <td>frc</td>
              <td>FIRST</td>
            </tr>
          </tbody>
        </table>-->
      <h2 id="who_is_archiving_what">Who is Archiving What?</h2>
      <iframe style="width: 100%; height: 300px; border: 0;" src="https://docs.google.com/spreadsheet/pub?key=0ApRO2Yzh2z01dExFZEdieV9WdTJsZ25HSWI3VUxsWGc&amp;single=true&amp;gid=8&amp;output=html&amp;widget=true"></iframe>
      <h2 id="troubleshooting_faq">Troubleshooting/FAQ</h2>
      <p>All tips are in reference to the product mentioned earlier. See <a href="http://www.monoprice.com/products/product.asp?c_id=108&amp;cp_id=10810&amp;cs_id=1081003&amp;p_id=5616&amp;seq=1&amp;format=2" class="external autonumber" title="http://www.monoprice.com/products/product.asp?c_id=108&amp;cp_id=10810&amp;cs_id=1081003&amp;p_id=5616&amp;seq=1&amp;format=2" rel="nofollow">[1]</a></p>
      <ul>
        <li><strong>My Video is Black and White/Blinking</strong>
          <ul>
            <li>Check your input source with an external monitor if possible (Yes I mean plugging the yellow cable into the monitor instead of the USB</li>
            <li>If the source isn't the problem insert the install disk into your computer</li>
            <li>Right click on it on your <strong>My Computer</strong> list and select <strong>open</strong></li>
            <li>Run <strong>setup.exe</strong> located in the <strong>AV Grabber</strong> folder</li>
            <li>After installing restart your computer</li>
            <li>Upon reboot launch <strong>EZ Grabber</strong></li>
            <li>Set video format to <strong>NTSC_M_J</strong> and push ok and close the entire program</li>
            <li>Open Adobe Flash Media Encoder and change your Video&gt;Device to <strong>VC500 Video</strong></li>
            <li>If this doesn't work, Do the math! Play around with all three programs, Adobe Media Encoder, VH, EZ. You'll notice that all programs "fight" for the video feed and periodically switch back and forth between them as so. (You may need to change your <strong>Device</strong> to <strong>VH</strong></li>
          </ul>
        </li>
      </ul>
      <ul>
        <li><strong>My Audio Sucks/Isn't working</strong>
          <ul>
            <li>Increase the bitrate/Check the Source</li>
            <li>Push comes to shove try buying a USB sound card or a PCI one if your running the webcast on a desktop</li>
          </ul>
        </li>
      </ul>
      <ul>
        <li><strong>My video is low quality</strong>
          <ul>
            <li>Up your bitrate</li>
          </ul>
        </li>
      </ul>
      <ul>
        <li><strong>What is bitrate?</strong>
          <ul>
            <li>The speed at which you upload video. Think of it as a pipe, the bigger the pipe, the more water can flow through. Same for the interwebs, the bigger the bitrate, the better the quality.</li>
            <li>There is only so high you can go. RCA (The connection used by this tool ie Yellow, red, white cables) Max out at about 480p. (720x480)</li>
          </ul>
        </li>
      </ul>
      <ul>
        <li><strong>There are black bars on the side of my video</strong>
          <ul>
            <li>The input of the video is most like in 3:2 (For ever three pixels across, there are two pixels that go up. This same concept applies to 2.35:1, 4:3, 16:9 and every other resolution ratio you see) and you need to change your <strong>Output Size</strong> to 720x480, a 3:2 acceptable ratio, or whatever fits along with your ratio</li>
          </ul>
        </li>
      </ul>
      <ul>
        <li><strong>There is a weird buzzing sound on the audio</strong>
          <ul>
            <li>This is not your fault, check the source</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
