{% extends "base.html" %}

{% block title %}The Blue Alliance - Search{% endblock %}

{% block meta_description %}Search for FIRST Robotics Competition teams, events, and matches.{% endblock %}

{% block content %}
<div class="container">
  <h1 class="end_header">Search Results</h1>
  <div class="row">
    <div id="resultsBox" class="col-xs-12 col-md-8 col-md-offset-2">
      <script>
        (function() {
          var cx = '017956276086362105630:99ctqytcokm';
          var gcse = document.createElement('script');
          gcse.type = 'text/javascript';
          gcse.async = true;
          gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(gcse, s);
        })();
      </script>
      <gcse:search linktarget="_self"></gcse:search>
    </div>
  </div>
</div>
{% endblock %}
