{% extends "base.html" %}

{% block title %}The Blue Alliance - Add Match Video{% endblock %}

{% block meta_description %}Add match videos to The Blue Alliance.{% endblock %}

<div class="col-xs-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Version Info</h3>
        </div>
        <div class="panel-body">
            <p>Build time: {{build_time}}</p>
            <br>
            <p>Branch: <strong>{{git_branch_name}}</strong></p>
            <p class="text-warning">Commit: <a href="https://github.com/gregmarra/the-blue-alliance/commit/{{commit_hash.1}}">{{commit_hash.1}}</a></p>
            <p>{{commit_author}}</p>
            <p>{{commit_date}}</p>
            <p>{{commit_msg}}</p>
        </div>
    </div>
</div>

{% block content %}
<div class="container">
    {% if success %}
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h4>Thanks!</h4>
                <p>We'll review your suggestion and get it added to the site soon!</p>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-xs-12 col-lg-6 col-lg-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">Help others by adding videos!</h1>
                </div>
                <div class="panel-body">
                    <p>Thanks for helping make The Blue Alliance better! Let us know about videos so we can add them to the site!</p>
                    <ul>
                        <li>Your suggestion will be reviewed by a moderator</li>
                        <li>Your account info (like {{user_bundle.user.email}} and {{user_bundle.user.nickname}}) will also be submitted. <a href="{{user_bundle.logout_url}}">log in as a different user</a></li>
                    </ul>
                    <hr>
                    <h3>{{match.verbose_name}} - {{event.year}} {{event.name}}</h3>
                    {% if match.youtube_videos %}
                    <p>Videos on The Blue Alliance</p>
                    {% for youtube_video in match.youtube_videos %}
                        <iframe width="240" height="180" src="http://www.youtube.com/embed/{{youtube_video}}?rel=0" frameborder="0" allowfullscreen></iframe>
                    {% endfor %}
                    <h4>Add another video</h4>
                    {% endif %}
                    <form action="/suggest/match/video" method="post">
                        <input name="match_key" type="hidden" value="{{match.key.id}}" />
                        <div class="input-group">
                            <input class="form-control" type="text" name="youtube_url" placeholder="http://www.youtube.com/watch?v=MQ0VNzIvHx0" value="" />
                            <span class="input-group-btn">
                                <button class="btn btn-success" type="submit"><span class="glyphicon glyphicon-plus-sign"></span> Add Video</button>
                            </span>
                        </div>
                    </form>
                    <br>
                    <p><a class="btn btn-primary" href="http://www.youtube.com/results?search_query={{match.verbose_name|urlencode}}+{{event.year|urlencode}}+{{event.name|urlencode}}" target="_blank"><span class="glyphicon glyphicon-search"></span> Search YouTube :: {{match.verbose_name}} - {{event.year}} {{event.name}}</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}