{% extends "team_base.html" %}

{% block title %}{% if team.nickname %}{{team.nickname}} - {% endif %}Team {{team.team_number}} (History) - The Blue Alliance{% endblock %}

{% block meta_description %}{% if team.location %}From {{team.location}}{% endif %}. Team history from the FIRST Robotics Competition.{% endblock %}

{% block team_dropdown_label %}History{% endblock %}

{% block team_content %}
    <div class="row">
        <div class="span8 offset2">
        {% if event_awards %}
          <h3>Competition List:</h3>
          <table class="table table-condensed table-striped">
            <tr>
              <th>Year</th>
              <th>Event</th>
              <th>Awards</th>
            </tr>
            {% for event, awards in event_awards reversed %}
            <tr>
              <td><a href="/team/{{team.team_number}}/{{event.year}}">{{event.year}}</a></td>
              <td><a href="/event/{{event.key_name}}">{{event.name}}</a></td>
              <td>{% if awards %}
                {% for award in awards %}
                  {{ award.official_name }}
                  {% if award.awardee %} ({{ award.awardee }}){% endif %}<br>
                {% endfor %}
              {% endif %}</td>
            </tr>
            {% endfor %}
          </table>
        {% endif %}
        </div>
    </div>
{% endblock %}
