{% extends "base.html" %}

{% block title %}{% if team.nickname %}{{team.nickname}} - {% endif %}Team {{team.team_number}}{% if explicit_year %} ({{year}}){% endif %} - The Blue Alliance{% endblock %}

{% block meta_description %}{% if team.location %}From {{team.location}}{% endif %}. Team information, match results, and match videos from the{% if explicit_year %} {{year}}{% endif %} FIRST Robotics Competition.{% endblock %}

{% block more_head_tags %}
    <meta property="og:title" content="Team {{team.team_number}}" />
    <meta property="og:type" content="sports_team" />
    <meta property="og:url" content="http://thebluealliance.com/team/{{team.team_number}}" />
    <meta property="og:image" content="http://www.thebluealliance.com/images/first_logo.png" />
    <meta property="og:description" content="FIRST Robotics Competition team{% if team.location %} from {{team.location}}{% endif %}."/>
    <meta property="og:site_name" content="The Blue Alliance" />
    {% if team.locality %}<meta property="og:locality" content="{{team.locality}}" />{% endif %}
    {% if team.region %}<meta property="og:region" content="{{team.region}}" />{% endif %}
    {% if team.country_name %}<meta property="og:country-name" content="{{team.country_name}}" />{% endif %}
{% endblock %}

{% block content %}

<div class="container">
    <h2>Team {{team.team_number}}{% if team.nickname %} - {{team.nickname}}{% endif %}</h2>

    <div class="row">
        <div class="span7">
            <p>
                {% if team.location %}<i class="icon-map-marker"></i> from <a href="http://maps.google.com/maps?q={{ team.location|urlencode }}">{{ team.location }}</a><br />{% endif %}
                {% if team.name %}<i class="icon-info-sign"></i> aka <em>{{ team.name }}</em><br />{% endif %}
                {% if team.rookie_year %}<i class="icon-calendar"></i> first competed in {{ team.rookie_year }}{% endif %}
                {% if team.website %}<i class="icon-globe"></i> <a href="{{team.website}}" target="_blank">{{ team.website }}</a>{% endif %}
            </p>

            <p><i class="icon-search"></i> <strong>#frc{{ team.team_number }}</strong> <small><a href="/hashtags" rel="tooltip" title="Learn more about hashtags">?</a></small> - Search
                <a class="hashtag-link hashtag-twitter" href="https://twitter.com/search/%23frc{{ team.team_number }}" target="_blank" title="Search Twitter">Twitter</a> &middot;
                <a class="hashtag-link hashtag-youtube" href="http://www.youtube.com/results?search_query=%23frc{{ team.team_number }}+OR+%22team+{{ team.team_number }}%22" target="_blank" title="Search YouTube">YouTube</a> &middot;
                <a class="hashtag-link hashtag-cd" href="http://www.chiefdelphi.com/media/photos/tags/frc{{ team.team_number }}" target="_blank" title="Search Chief Delphi">Chief Delphi</a> &middot;
                <a class="hashtag-link hashtag-flickr" href="http://www.flickr.com/search/?q=%23frc{{ team.team_number }}" target="_blank" title="Search Flickr">Flickr</a><br />
                <i class="icon-bullhorn"></i> <a href="http://www.frcmega.com/register/{{team.team_number}}">Subscribe to notifications on FRC Megaphone</a><br />
                <i class="image-atc"></i> <a href="http://atthecontrol.com/{{team.team_number}}">See live data on At The Control</a>
            </p>
            
            {% if current_event %}
            <div style="max-width: 100%; overflow: hidden">
              <div class="fb-like" data-href="http://www.thebluealliance.com/team/{{team.team_number}}" data-send="false" data-width="450" data-show-faces="false"></div>
              <div id="gplus"><g:plusone annotation="inline" href="http://www.thebluealliance.com/team/{{team.team_number}}" width="450"></g:plusone></div>
            </div>
            {% endif %}
        </div>
        {% if current_event %}
        <div class="span5">
            <div class="well">
                {% if current_event.webcast %}
                    <div class="hidden-phone pull-right">
                    <a class="btn btn-success" href="{{current_event.gameday_url}}" target="_blank"><i class="icon-facetime-video icon-white"></i> Watch Now</a>
                    </div>
                {% endif %}
                <span class="lead">Currently competing at:
                <br>
                <a href="/event/{{ current_event.key_name }}"><strong>{{ current_event.name }}</strong></a>
                </span>
                {% if matches_upcoming %}
                    <h4>Upcoming Matches</h4>
                    {% with matches_upcoming as matches %}
                        {% include "match_partials/upcoming_match_table.html" %}
                    {% endwith %}
                {% endif %}
            </div>
        </div>
        {% else %}
        <div class="span5 hidden-phone">
    		  	<div style="max-width: 100%; overflow: hidden">
    		  	  <div class="fb-like" data-href="http://www.thebluealliance.com/team/{{team.team_number}}" data-send="false" data-width="450" data-show-faces="false"></div>
    	        <div id="gplus"><g:plusone annotation="inline" href="http://www.thebluealliance.com/team/{{team.team_number}}" width="450"></g:plusone></div>
    	      </div>
        </div>
        {% endif %}
	</div>

    <hr>

    <div class="row">
        <div class="span12">
            <h3 class="clearfix">
                <div class="btn-group inline pull-left" style="margin-top: 3px">
                    <a class="btn btn-large dropdown-toggle" data-toggle="dropdown" href="#">
                        {% block team_dropdown_label %}{% endblock %}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/team/{{team.team_number}}/history">History</a></li>
                        {% for a_year in years reversed %}
                            <li><a href="/team/{{team.team_number}}/{{a_year}}">{{a_year}} Season</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </h3>
            
            {% block year_content %}{% endblock %}
        </div>
    </div>
    <hr>
    {% block team_content %}{% endblock %}

</div>
{% endblock %}
