{% extends "base.html" %}

{% block title %}{% if team.nickname %}{{team.nickname}} - {% endif %}Team {{team.team_number}}{% if explicit_year %} ({{year}}){% endif %} - The Blue Alliance{% endblock %}

{% block meta_description %}{% if team.location %}From {{team.location}}{% endif %}. Team information, match results, and match videos from the{% if explicit_year %} {{year}}{% endif %} FIRST Robotics Competition.{% endblock %}

{% block more_head_tags %}
{% include "team_partials/team_head_tags.html" %}
{% endblock %}

{% block content %}
<div class="container">
    {% include "team_partials/team_info.html" %}
    <hr>
    <div class="row">
        <div class="span12">
            {% with year|slugify|add:" Season" as dropdown_label %}
            {% include "team_partials/team_year_dropdown.html" %}
            {% endwith %}
            
            {% if year_wlt %}
                <p>Overall, team {{team.team_number}} was <strong>{{year_wlt.win}}-{{year_wlt.loss}}-{{year_wlt.tie}}</strong> in {{year}}.</p>
            {% endif %}
            
            {% if participation|length > 1 %}
            <ul class="nav nav-pills nav-stacked-phone">
              {% for comp in participation %}
                <li><a class="btn smooth-scroll" href="#{{ comp.event.key_name}}">{{ comp.event.name }}</a></li>
              {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
    <hr>
    {% for comp in participation %}
        <div class="row" id="{{ comp.event.key_name }}">
            <div class="span4">
                <h3><a href="/event/{{ comp.event.key_name }}">{{ comp.event.name }}</a></h3>
                <p>
                    {% if comp.event.location %}<i class="icon-map-marker"></i> in <a href="http://maps.google.com/maps?q={{ comp.event.location }}">{{ comp.event.location }}</a><br />{% endif %}
                    {% if comp.event.start_date %}<i class="icon-calendar"></i> {{ comp.event.start_date|date:"M jS" }} - {{ comp.event.end_date|date:"M jS, Y" }}{% endif %}
                </p>

                {% if comp.wlt or comp.rank or comp.awards.list %}
                <p>Team {{ team.team_number }}
                  {% if comp.rank %}was <strong>Rank {{ comp.rank }}</strong>{% endif %}
                  {% if comp.wlt %}
                    {% if comp.rank %}with a record of{% else %}had a record of{% endif %}
                    <strong>{{comp.wlt.win}}-{{comp.wlt.loss}}-{{comp.wlt.tie}}</strong>
                  {% endif %}
                  
                  {% if comp.awards.list %}
                    {% if comp.rank or comp.wlt %}and{% endif %} won the following awards:
                    <ul>
                    {% for award in comp.awards.list %}
                      <li>{{ award.official_name }}{% if award.awardee %} ({{ award.awardee }}){% endif %}</li>
                    {% endfor %}
                    </ul>
                  {% endif %}
                </p>
                {% endif %}
            </div>
            <div class="span8" style="margin-top: 1em">
                {% if comp.matches.num %}
                    {% with comp.matches as matches %}
                        {% include "match_partials/full_match_table.html" %}
                    {% endwith %}
                {% else %}
                    <p class="muted">No matches yet. Check back after {{ comp.event.start_date|date:"M d, Y" }}.</p>
                {% endif %}
            </div>
        </div>
        {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
</div>
{% endblock %}
