{% extends "base.html" %}

{% block title %}{% if team.nickname %}{{team.nickname}} - {% endif %}Team {{team.team_number}}{% if explicit_year %} ({{year}}){% endif %} - The Blue Alliance{% endblock %}

{% block meta_description %}{% if team.address %}From {{team.split_address.full_address}}{% endif %}. Team information, match results, and match videos from the{% if explicit_year %} {{year}}{% endif %} FIRST Robotics Competition.{% endblock %}

{% block more_head_tags %}
    <meta property="og:title" content="Team {{team.team_number}}" />
    <meta property="og:type" content="sports_team" />
    <meta property="og:url" content="http://thebluealliance.com/team/{{team.team_number}}" />
    <meta property="og:image" content="http://www.thebluealliance.com/images/first_logo.png" />
    <meta property="og:description" content="FIRST Robotics Competition team{% if team.address %} from {{team.split_address.full_address}}{% endif %}."/>
    <meta property="og:site_name" content="The Blue Alliance" />
    {% if team.split_address.locality %}<meta property="og:locality" content="{{team.split_address.locality}}" />{% endif %}
    {% if team.split_address.region %}<meta property="og:region" content="{{team.split_address.region}}" />{% endif %}
    {% if team.split_address.country_name %}<meta property="og:country-name" content="{{team.split_address.country_name}}" />{% endif %}
{% endblock %}

{% block content %}

<div class="container">
    <p><a href="/teams"><i class="icon-chevron-left"></i> All Teams</a></p>

    <h1>Team {{team.team_number}}{% if team.nickname %} - {{team.nickname}}{% endif %}</h1>
    
    <div class="row">
        <div class="span8">
            <p>
                {% if team.address %}<i class="icon-map-marker"></i> from <a href="http://maps.google.com/maps?q={{ team.address }}">{{ team.address }}</a><br />{% endif %}
                {% if team.name %}<i class="icon-info-sign"></i> aka <em>{{ team.name }}</em><br />{% endif %}
                {% if team.rookie_year %}<i class="icon-calendar"></i> first competed in {{ team.rookie_year }}{% endif %}
                {% if team.website %}<i class="icon-globe"></i> <a href="{{team.website}}" target="_blank">{{ team.website }}</a>{% endif %}
            </p>

            <p><strong>#frc{{ team.team_number }}</strong> <small><a href="/hashtags" rel="tooltip" title="Learn more about hashtags">?</a></small> - Search
                <a class="hashtag-link hashtag-twitter" href="https://twitter.com/search/%23frc{{ team.team_number }}" target="_blank" title="Search Twitter">Twitter</a> &middot;
                <a class="hashtag-link hashtag-youtube" href="http://www.youtube.com/results?search_query=%23frc{{ team.team_number }}+OR+%22team+{{ team.team_number }}%22" target="_blank" title="Search YouTube">YouTube</a> &middot;
                <a class="hashtag-link hashtag-cd" href="http://www.chiefdelphi.com/media/photos/tags/frc{{ team.team_number }}" target="_blank" title="Search Chief Delphi">Chief Delphi</a> &middot;
                <a class="hashtag-link hashtag-flickr" href="http://www.flickr.com/search/?q=%23frc{{ team.team_number }}" target="_blank" title="Search Flickr">Flickr</a>
            </p>
        </div>
        <div class="span4 hidden-phone">
		  	<div style="max-width: 100%; overflow: hidden">
		  	  <div class="fb-like" data-href="http://www.thebluealliance.com/team/{{team.team_number}}" data-send="false" data-width="450" data-show-faces="false"></div>
	           <div id="gplus"><g:plusone annotation="inline" href="http://www.thebluealliance.com/team/{{team.team_number}}" width="450"></g:plusone></div>
	        </div>
		</div>
	</div>

    <hr>

    <div class="row">
        <div class="span12">
            <h3 class="clearfix">
                <div class="btn-group inline pull-left" style="margin-top: 3px">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        {{year}}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {% for a_year in years reversed %}
                            <li><a href="/team/{{team.team_number}}/{{a_year}}">{{a_year}}</a></li>
                        {% empty %}
                            <li>No other info</li>
                        {% endfor %}
                    </ul>
                </div>
                <span class="inline">&nbsp;Season</span>
            </h3>
            {% if year_wlt %}
                <p>Overall, team {{team.team_number}} was <strong>{{year_wlt.win}}-{{year_wlt.loss}}-{{year_wlt.tie}}</strong> in {{year}}.</p>
            {% endif %}

            {% if participation|length > 1 %}
            <ul class="nav nav-pills nav-stacked-phone">
              {% for comp in participation %}
                <li><a class="btn smooth-scroll" href="#{{ comp.event.key_name}}">{{ comp.event.name }}</a></li>
              {% endfor %}
            </ul>
            {% endif %}

    </div>
		<!--<div class="span2">
			<a href="/images/no_robot_image.png" class="thumbnail fancybox no-robot-image">
				<img src="/images/no_robot_image.png" alt="No Robot Image">
			</a>
		</div>-->
	</div>

    <hr>

    {% for comp in participation %}
        <div class="row" id="{{ comp.event.key_name }}">
            <div class="span4">
                <h2><a href="/event/{{ comp.event.key_name }}">{{ comp.event.name }}</a></h2>
                <p>
                    {% if comp.event.location %}<i class="icon-map-marker"></i> in <a href="http://maps.google.com/maps?q={{ comp.event.location }}">{{ comp.event.location }}</a><br />{% endif %}
                    {% if comp.event.start_date %}<i class="icon-calendar"></i> {{ comp.event.start_date|date:"M jS" }} - {{ comp.event.end_date|date:"M jS, Y" }}{% endif %}
                </p>

                {% if comp.wlt or comp.rank or comp.awards.list %}
                <p>Team {{ team.team_number }}
                  {% if comp.rank %}was <strong>Rank {{ comp.rank }}</strong>{% endif %}
                  {% if comp.wlt %}
                    {% if comp.rank %}with a record of{% else %}had a record of{% endif %}
                    <strong>{{comp.wlt.win}}-{{comp.wlt.loss}}-{{comp.wlt.tie}}</strong>
                  {% endif %}
                  
                  {% if comp.awards.list %}
                    {% if comp.rank or comp.wlt %}and{% endif %} won the following awards:
	                  <ul>
	                  {% for award in comp.awards.list %}
	                    <li>{{ award.official_name }}{% if award.awardee %} ({{ award.awardee }}){% endif %}</li>
	                  {% endfor %}
	                  </ul>
	                {% endif %}
                </p>
                {% endif %}
            </div>
            <div class="span8" style="margin-top: 1em">
                {% if comp.matches.num %}
                    {% with comp.matches as matches %}
                        {% include "match_partials/full_match_table.html" %}
                    {% endwith %}
                {% else %}
                    <p class="muted">No matches yet. Check back after {{ comp.event.start_date|date:"M d, Y" }}.</p>
                {% endif %}
            </div>
        </div>
        <hr>
    {% endfor %}
</div>
{% endblock %}
