{% extends "base.html" %}

{% block title %}{% if team.nickname %}{{team.nickname}} - {% endif %}Team {{team.team_number}} (History) - The Blue Alliance{% endblock %}

{% block meta_description %}{% if team.location %}From {{team.location}}{% endif %}. Team history from the FIRST Robotics Competition.{% endblock %}

{% block more_head_tags %}
{% include "team_partials/team_head_tags.html" %}
{% endblock %}

{% block content %}
<div class="container">
    {% include "team_partials/team_info.html" %}
    <hr>
    <div class="row">
        <div class="col-xs-12">
            {% with "History" as dropdown_label %}
            {% include "team_partials/team_year_dropdown.html" %}
            {% endwith %}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-8 col-sm-offset-2 col-lg-offset-2">
        {% if event_awards %}
          <h3>Competition List:</h3>
          <table class="table table-condensed table-striped">
            <tr>
              <th>Year</th>
              <th>Event</th>
              <th>Awards</th>
            </tr>
            {% for event, awards in event_awards reversed %}
            <tr>
              <td><a href="/team/{{team.team_number}}/{{event.year}}">{{event.year}}</a></td>
              <td><a href="/event/{{event.key_name}}">{{event.name}}</a></td>
              <td>{% if awards %}
                {% for award in awards %}
                  {{ award.official_name }}
                  {% if award.awardee %} ({{ award.awardee }}){% endif %}<br>
                {% endfor %}
              {% endif %}</td>
            </tr>
            {% endfor %}
          </table>
        {% endif %}
        </div>
    </div>
{% endblock %}
