{% extends "base.html" %}

{% block title %}The Blue Alliance - Thanks{% endblock %}

{% block meta_description %}Thanks to all the companies and technologies that make The Blue Alliance possible.{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
      <h1 class="end_header">Thanks To</h1>
      <br>
      <ul>
        <li>
          <h3><a href="https://www.vexrobotics.com/vexpro/" title="VEXpro">VEXpro</a></h3>
          <p>For deferring hosting costs</p>
        </li>
        <li>
          <h3><a href="https://firebase.google.com/" title="Firebase">Firebase</a></h3>
          <p>For sponsoring the backend service that handles our push notifications</p>
        </li>
        <li>
          <h3><a href="http://www.dotblock.com/" title="Dotblock VPS Hosting">Dotblock VPS Hosting</a></h3>
          <p>For the dedicated server that serves our videos</p>
        </li>
        <li>
          <h3><a href="https://developers.google.com/appengine/">Google AppEngine</a></h3>
          <p>For the webapp platform</p>
        </li>
        <li>
          <h3><a href="http://www.komodomedia.com/download/#social-network-icon-pack">Komodo Media</a></h3>
          <p>For the wonderful social media icons</p>
        </li>
        <li>
          <h3><a href="https://github.com/twbs/bootstrap" title="Bootstrap">Bootstrap</a></h3>
          <p>For the wonderful HTML CSS JS framework</p>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
