{% extends "base.html" %}

{% block title %}The Blue Alliance - Verify Webhook{% endblock %}

{% block meta_description %}Verify your ownership of a webhook you've created.{% endblock %}

{% block content %}
<div class="container">
  {% if error %}
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4>Incorrect Verification Code!</h4>
        <p>Please double check that the verification code you entered is correct.</p>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
      <h1>Verify Webhook</h1>
      <form class="webhook_verification_form" method="post">
        <table class="table table-striped">
          <tbody>
            <tr>
              <td>Verification Code</td>
              <td><input class="form-control" type="text" name="code"/></td>
            </tr>
          </tbody>
        </table>
        <input name="account_id" type="hidden" value="{{user_bundle.account.key.id}}" />
        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-thumbs-up"></span> Verify Webhook</button>
        <a class="btn btn-default" href="/account"><span class="glyphicon glyphicon-remove"></span> Cancel</a>
      </form>
    </div>
  </div>
</div>
{% endblock %}
