{% extends "base.html" %}

{% block title %}The Blue Alliance - Webhooks{% endblock %}

{% block meta_description %}Documentation for The Blue Alliance's webhook API.{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-3 col-lg-2">
      <div class="tba-sidenav-affixed">
        <div class="tba-sidebar">
          <ul class="nav tba-sidenav">
            <li><a class="smooth-scroll" href="#overview">Overview</a></li>
            <li><a class="smooth-scroll" href="#request">Request Structure</a><li>
            <li><a class="smooth-scroll" href="#configuration">Configuration</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-9 col-lg-10">
      <h1 class="endheader">Webhooks</h1>
      <h2 id="overview">Overview</h2>
        <p>This documentation is for using webhooks with The Blue Alliance's dataset, which allow our server to push notifications to you. Notifications will be sent as HTTP POST requests to a URL that your specify. This API does not replace the regular <a href="/apidocs">API</a>; it be used to replace excessive polling or in other situations where realtime notifications are beneficial.</p>

      <h2 id="request">Request Structure</h2>
        <p>Each request will contain a payload of JSON data containing information about the event that has been pushed to you. Details of each type of supported event is below.</p>
        <p>Each request also contains a <code>X-Tba-Checksum</code> header that you can use to validate requests on your client. The header will contain a hash of a secret key that you set when you create the webhook concatenated with the payload string. 

      <h2 id="configuration">Configuration</h2>
        <p>Webhooks are tied to your TBA Account - you can create them from your <a href="/account">account overview</a>. You will have to enter a URL that will receive the pushed notification. You also have to enter a secret key used to secure requests - we recommend using a long randomly generated string.</p>
        <p>If you want to test out recieving webhooks on your local computer, you can use a program called <a href="https://ngrok.com/download">ngrok</a> to expose a port on your device to the internet. You can check out <a href="https://developer.github.com/webhooks/configuring/">this page</a> from GitHub's documentation to see a brief overview of testing webhooks.
    </div>
  </div>
</div>
{% endblock %}
