<div class="contentBlock">
    <div class="contentBlockTopper">
        <h2>Follow us online...</h2>
    </div>
    <p>
        <a href="http://facebook.com/thebluealliance" title="Like us on Facebook"><img src="/images/icons/facebook-24x24.png" /></a>
        <a href="http://twitter.com/thebluealliance" title="Follow us on Twitter"><img src="/images/icons/twitter-24x24.png" /></a>
        <a href="http://thebluealliance.tumblr.com" title="Read our Blog"><img src="/images/icons/feed-24x24.png" /></a>
    </p>
</div>
<div class="contentBlock">
    <div class="contentBlockTopper">
        <h2>Brought to you by..</h2>
    </div>
    <p><a href="http://www.appspot.com" title="Powered by Google App Engine"><img src="http://code.google.com/appengine/images/appengine-noborder-120x30.gif" alt="Powered by Google App Engine" width="120" height="30" /></a></p>
    <p>Dotblock <a href="http://www.dotblock.com" title="Dotblock VPS Hosting">VPS Hosting</a></p>
    <p><a href="/thanks" title="Thanks">and others...</a></p>
</div>