<video
    src="{{ tbavideo.getStreamablePath }}"
    height="375"
    id="tbavideo_container"
    poster="{{ tbavideo.getThumbnailPath }}"
    width="500">
</video>

<script type="text/javascript">
    jwplayer("tbavideo_container").setup({
        players: [
            { type: "html5" },
            { type: "flash", src: "/jwplayer/player.swf" }
        ],
        provider: "http",
        controlbar: "bottom",
    });
</script>
<br /><br />
<p>TODO: Fix buffering issues where mp4's take too long to start playback.</p>