<video
    src="{{ tbavideo.getStreamablePath }}"
    height="375"
    id="tbavideo_container"
    poster="{{ tbavideo.getThumbnailPath }}"
    width="500">
</video>

<script type="text/javascript">
    jwplayer("tbavideo_container").setup({
        players: [
            { type: "flash", src: "/jwplayer/player.swf" },
            { type: "html5" }
        ],
        provider: "http",
        controlbar: "bottom",
    });
</script>
<br /><br />
<p><a href="{{tbavideo.getDownloadablePath}}" title="Video of {{match.verbose_name}} - {{match.event.year}} {{match.event.name}}">Download this video.</a></p>
