{% extends "admin/base.html" %}

{% block title %}Sitevar List{% endblock %}

{% block content %}

<h1>All {{ sitevars|length }} Sitevars</h1>
<p>Sitevars are used to hold properties that are needed across the site, but shouldn't be stored in physical files or hardcoded.</p>
<p><a href="/admin/sitevar/create" class="btn btn-primary">Create Sitevar</a></p>
<table class="table table-striped table-hover">
    <thead>
        <th>Key</th>
        <th>Description</th>
        <th>Last Updated</th>
    </thead>

    {% for sitevar in sitevars %}
    <tr>
        <td><a href="/admin/sitevar/edit/{{sitevar.key.id()}}">{{ sitevar.key.id() }}</a></td>
        <td>{{ sitevar.description }}</td>
        <td>{{ sitevar.updated }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}