{% macro social_media_icon_link(media) %}
<a href="{{ media.social_profile_url }}" class="hashtag-link-wrapper" target="_blank">
{% if media.media_type_enum == 3 %}
  <span class="hashtag-link hashtag-facebook"></span>
{% elif media.media_type_enum == 4 %}
  <span class="hashtag-link hashtag-twitter"></span>
{% elif media.media_type_enum == 5 %}
  <span class="hashtag-link hashtag-youtube"></span>
{% elif media.media_type_enum == 6 %}
  <span class="hashtag-link hashtag-github"></span>
{% elif media.media_type_enum == 7 %}
  <span class="hashtag-link hashtag-instagram"></span>
{% elif media.media_type_enum == 8 %}
  <span class="hashtag-link hashtag-periscope"></span>
{% endif %}
{{ media.foreign_key }}</a>
{% endmacro %}

{% macro social_media_card(suggestion) %}
    {% if suggestion.contents.media_type_enum == 3 %}
        <!-- Facebook profile -->
        <div class="fb-page"
             data-href="https://www.facebook.com/{{ suggestion.contents.foreign_key }}"
             data-hide-cover="false" data-show-facepile="false" data-show-posts="false"
             data-width="500">
            <div class="fb-xfbml-parse-ignore">
                <blockquote cite="https://www.facebook.com/{{ suggestion.contents.foreign_key }}"><a
                        href="https://www.facebook.com/">Facebook
                    Profile: {{ suggestion.contents.foreign_key }}</a></blockquote>
            </div>
        </div>
    {% elif suggestion.contents.media_type_enum == 4 %}
        <!-- Twitter profile -->
        <a class="twitter-timeline" href="https://twitter.com/{{ suggestion.contents.foreign_key }}"
           data-widget-id="715993204777172992"
           data-screen-name="{{ suggestion.contents.foreign_key }}">Tweets by
            @{{ suggestion.contents.foreign_key }}</a>
        <script>!function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
            if (!d.getElementById(id)) {
                js = d.createElement(s);
                js.id = id;
                js.src = p + "://platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);
            }
        }(document, "script", "twitter-wjs");</script>
    {% elif suggestion.contents.media_type_enum == 5 %}
        <!-- YouTube profile -->
        {{ suggestion.contents.site_name }}:
        <a href="{{ suggestion.contents.profile_url }}">{{ suggestion.contents.foreign_key }}</a>
    {% elif suggestion.contents.media_type_enum == 6 %}
        <!-- GitHub profile -->
        <div class="github-card" data-user="{{ suggestion.contents.foreign_key }}"></div>
        <p><a href="//www.github.com/{{ suggestion.contents.foreign_key }}">github.com/{{ suggestion.contents.foreign_key }}</a></p>
    {% elif suggestion.contents.media_type_enum == 7 %}
        <!-- Instagram profile -->
        {{ suggestion.contents.site_name }}:
        <a href="{{ suggestion.contents.profile_url }}">{{ suggestion.contents.foreign_key }}</a>
    {% elif suggestion.contents.media_type_enum == 8 %}
        <!-- Periscope profile -->
        {{ suggestion.contents.site_name }}:
        <a href="{{ suggestion.contents.profile_url }}">{{ suggestion.contents.foreign_key }}</a>
    {% endif %}
{% endmacro %}
