{% if event.alliance_selections %}
  <h3>Alliances</h3>
  <table class="table table-condensed table-striped table-center">
  {% for alliance in event.alliance_selections %}
    {% if loop.first %}
    <tr>
      <th>Alliance</th>
      {% for _ in alliance.picks %}
        {% if loop.first %}
          <th>Captain</th>
        {% else %}
          <th>Pick {{loop.index0}}</th>
        {% endif %}
      {% endfor %}
    </tr>
    {% endif %}

    <tr>
      <td>{% if alliance.name %}{{alliance.name}}{% else %}Alliance {{loop.index}}{% endif %}</td>
      {% for team in alliance.picks %}
        <td><a href="/team/{{ team|digits }}/{{event.year}}">{{ team|strip_frc }}</a>{% if alliance.backup and alliance.backup.out == team %} (<a href="/team/{{ alliance.backup.in|digits }}/{{event.year}}" rel="tooltip" title="This team was called as a backup for Team {{team|strip_frc}}">{{alliance.backup.in|strip_frc}}</a>){% endif %}</td>
      {% endfor %}
    </tr>
  {% endfor %}
  </table>
{% endif %}