.team-table {
  table-layout: fixed;

  td {
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: middle !important;
  }

  .team-media-carousel {
    height: 100px;
    width: 100px;
  }


  div.team-name-container {
    position: relative;

    .team-name {
      padding-left: 15px;
      padding-right: 15px;
    }

    .favorite-team-icon {
      position: absolute;
      left: 0px;
      height: 100%;
      display: none;
      margin-top: -2px;

      .favorite-team-icon-spacer {
        height: 100%;
        vertical-align: middle;
        display: inline-block;
      }

      .glyphicon {
        color: #ffc107;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}