// TBA Blues
// -------------------------
@TBAblueSubtle:     #000033;
@TBAblueDarker:			#000044;
@TBAblueDark:			  #000088;
@TBAblueLight:			#112255;
// TBA Reds
// -------------------------
@TBAredSubtle:     #330000;
@TBAredDarker:     #440000;
@TBAredeDark:      #880000;
@TBAredLight:      #552211;
