// Prevent bootstrap from messing up Google Custom Search input
#resultsBox {
  .gsib_a {
    padding-top: 2px;
  }

  input {
    box-shadow: none;
    color: #000000;
  }
    
  td > .gsc-search-button {
    margin: 0;
  }
}

.hashtag-link {
  padding-left: 20px;
  background-repeat: no-repeat;
  background-position: left center;
}

.hashtag-twitter {
  background-image: url('/images/icons/twitter-16x16.png');
}

.hashtag-youtube {
  background-image: url('/images/icons/youtube-16x16.png');
}

.hashtag-cd {
  background-image: url('/images/icons/chiefdelphi-16x16.png');
}

.hashtag-flickr {
  background-image: url('/images/icons/flickr-16x16.png');
}

.image-atc {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  vertical-align: text-top;
  background-image: url('/images/icons/atthecontrol-16x16.png');
  background-repeat: no-repeat;
}

.year_list {
  padding-bottom: 20px;
}

.auth-gplus {
  background-image: url('/images/gplus_sprite.png') !important;
  background-position: 0 0;
  width: 246px;
  height: 54px;
  text-indent: -9999px;
  
  &:hover {
    background-position: 0 -55px;
  }
  
  &:active {
    background-position: 0 -110px;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
}
