@logo-width: 18px;
@logo-height: 28px;

.tba-navbar-brand {
  max-width: 250px;
  margin-left: 0;
  margin-right: 5px;
  float: left;

  @media (max-width: @screen-xs-min) {
    padding-left: 0;
    padding-right: 0;
  }
}

.tba-navbar-toggle {
  margin-left: 0;
  margin-right: 0;
}

.tba-navbar-nav {
  margin: 0;
  > li > a {
    padding-top: ((@navbar-height - @line-height-computed) / 2);
    padding-bottom: ((@navbar-height - @line-height-computed) / 2);

    padding-left: 5px;
    padding-right: 5px;
    @media (min-width: @screen-xs-min) and (max-width: @screen-sm-max) {
      padding-left: 10px;
      padding-right: 10px;
    }
    @media (min-width: @screen-lg-min) {
      padding-left: 12px;
      padding-right: 12px;
    }
  }
}

@media screen and (min-width: @grid-float-breakpoint) {
  .tba-navbar-collapse.tba-collapse {
    padding-bottom: 0;
  }
}

.tba-navbar-logo {
  width: @logo-width;
  height: @logo-height;
}

.tba-navbar-logo-link {
  @minus-amt: (@logo-height - @navbar-height) / 2;
  float: left;
  overflow: visible;
  height: @navbar-height + @minus-amt;
  margin: -@minus-amt 15px 0 0;
  @media (max-width: @screen-xs-max) {
    margin-right: 5px;
  }
}

.tba-nav-persistent {
  float: left;
  > a {
    border-radius: 0 !important;
  }
}

.tba-navbar-form {
  width: 250px;

  @media (min-width: @screen-md-min) {
    .pull-right();
  }
  @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    .pull-left();
    margin-top: 0;
    margin-bottom: 0;
  }
  @media (max-width: @screen-xs-max) {
    .full-width-search();
  }
}

@social-icon-size: 24px;
.social-icons {
  max-height: @social-icon-size;
  padding: 0;
  margin-top: (@navbar-height - @social-icon-size)/2 + 2;
  float: right;

  @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    float: left;
    margin: 13px 0 13px 15px;
  }

  @media (max-width: @screen-xs-max) {
    margin: 15px 0 15px 0;
    text-align: center;
    float: none;
  }
}

.social-icons i {
  width: @social-icon-size;
  height: @social-icon-size;
  color: white;
  display: inline-block;
  margin: 0 4px 0px 4px;
  background-repeat: no-repeat;
  background-position: center center;

  @media (max-width: @screen-sm-max) {
    margin: 0 15px;
    text-align: center;
    float: none;
  }
}
