{% extends "base.html" %}

{% block title %}FmsTeamListGet{% endblock %}

{% block content %}
<div class="row">
    <div class="alert alert-block alert-success">
        <h4>Got {{teams|length}} teams</h4>
    </div>
    <table class="table table-condensed table-hover table-striped">
        <thead>
            <th>team_number</th>
            <th>name</th>
            <th>nickname</th>
            <th>address</th>
        </thead>
        {% for team in teams %}
        <tr>
            <td>{{team.team_number}}</td>
            <td>{{team.name}}</td>
            <td>{{team.nickname}}</td>
            <td>{{team.adress}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
