{% extends "base.html" %}

{% block title %}FmsEventListGet{% endblock %}

{% block content %}
<div class="row">
    <div class="alert alert-block alert-success">
        <h4>Got {{ districts|length }} districts</h4>
    </div>
    <table class="table table-condensed table-hover table-striped">
        <thead>
            <th>key</th>
            <th>name</th>
        </thead>
        {% for district in districts %}
        <tr>
            <td>{{district.key_name}}</td>
            <td>{{district.display_name}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
