<h2>Got {{matches|length}} Matches</h2>
{% for match in matches %}
    <ul>
        <li>{{match.comp_level}}{{match.set_number}}m{{match.match_number}}</li>
        <li>Time String: {{match.time_string}}</li>
        <li>Time: {{match.time}}</li>
        <li>Actual Time: {{match.actual_time}}</li>
        <li>Post Result Time: {{match.post_result_time}}</li>
        <li>Teams: {{match.team_key_names}}</li>
        <li>Alliances: {{match.alliances_json}}</li>
        <li>Breakdown: {{match.score_breakdown_json}}</li>
    </ul>
{% endfor %}