{% extends "base.html" %}

{% block title %}UsfirstTeamDetailsGet{% endblock %}

{% block content %}
<div class="row">
    {% if success %}
    <div class="alert alert-block alert-success">
        <h4>Got team {{team.team_number}}</h4>
    </div>
    <h2>Team {{team.team_number}}</h2>
    <div class="btn-group">
        <a href="/team/{{team.team_number}}" class="btn btn-primary" /><span class="glyphicon glyphicon-eye-open"></span> View on TBA</a>
        <a href="/admin/team/{{team.team_number}}" class="btn" /><span class="glyphicon glyphicon-edit"></span> View in Admin</a>
    </div>
    <ul>
        <li>Name: {{team.name}}</li>
        <li>Nickname: {{team.nickname}}</li>
        <li>Address: {{team.address}}</li>
        <li>Website: {{team.website}}</li>
    </ul>
    {% else %}
    <div class="alert alert-block alert-error">
        <h4>Team Fetch failed.</h4>
    </div>
    {% endif %}
</div>
{% endblock %}
