{% extends "base.html" %}

{% block title %}UsfirstEventAlliancesGet{% endblock %}

{% block content %}
<div class="row">
    <div class="alert alert-block alert-success">
        <h4>Got Alliances for {{event_name}}</h4>
    </div>
    <table class="table table-striped table-hover">
    {% for alliance in alliance_selections %}
        <tr>
            <td>{{forloop.counter}}</td>
            {% for team in alliance.picks %}
                <td>{{team}}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </table>
</div>
{% endblock %}