{% extends "base.html" %}

{% block title %}UsfirstEventRankingsGet{% endblock %}

{% block content %}
<div class="row">
    <div class="alert alert-block alert-success">
        <h4>Got Rankings for {{event_name}}</h4>
    </div>
    <table class="table table-striped table-hover">
    {% for row in rankings %}
        <tr>
        {% if forloop.first %}
            {% for element in row %}
                <th>{{ element }}</th>
            {% endfor %}
        {% else %}
            {% for element in row %}
                <td>{{ element }}</td>
            {% endfor %}
        {% endif %}
        </tr>
    {% endfor %}
    </table>
</div>
{% endblock %}