{{ match.unpack_json }}
<tr>
    <td class="icon">{% if match.has_video %}<img src="/images/icons/video.png" />{% endif %}</td>
    <td><a href="/match/{{match.key.name}}">{{match.verbose_name}}</td>
    <td class="red{% ifequal match.winning_alliance 'red' %} winner{% endifequal %}"><a href="/team/{{ match.alliances.red.teams.0|slice:"3:" }}">{{ match.alliances.red.teams.0|slice:"3:" }}</a></td>
    <td class="red{% ifequal match.winning_alliance 'red' %} winner{% endifequal %}"><a href="/team/{{ match.alliances.red.teams.1|slice:"3:" }}">{{ match.alliances.red.teams.1|slice:"3:" }}</a></td>
    <td class="red{% ifequal match.winning_alliance 'red' %} winner{% endifequal %}"><a href="/team/{{ match.alliances.red.teams.2|slice:"3:" }}">{{ match.alliances.red.teams.2|slice:"3:" }}</a></td>
    <td class="blue{% ifequal match.winning_alliance 'blue' %} winner{% endifequal %}"><a href="/team/{{ match.alliances.blue.teams.0|slice:"3:" }}">{{ match.alliances.blue.teams.0|slice:"3:" }}</a></td>
    <td class="blue{% ifequal match.winning_alliance 'blue' %} winner{% endifequal %}"><a href="/team/{{ match.alliances.blue.teams.1|slice:"3:" }}">{{ match.alliances.blue.teams.1|slice:"3:" }}</a></td>
    <td class="blue{% ifequal match.winning_alliance 'blue' %} winner{% endifequal %}"><a href="/team/{{ match.alliances.blue.teams.2|slice:"3:" }}">{{ match.alliances.blue.teams.2|slice:"3:" }}</a></td>
    <td class="redScore{% ifequal match.winning_alliance 'red' %} winner{% endifequal %}">{{ match.alliances.red.score }}</td>
    <td class="blueScore{% ifequal match.winning_alliance 'blue' %} winner{% endifequal %}">{{ match.alliances.blue.score }}</td>
</tr>