{{ match.unpack_json }}
<tr>
    <td><a href="/match/{{match.key.name}}">{{match.verbose_name}}</td>
    <td class="red"><a href="/team/{{ match.alliances.red.teams.0|slice:"3:" }}">{{ match.alliances.red.teams.0|slice:"3:" }}</a></td>
    <td class="red"><a href="/team/{{ match.alliances.red.teams.1|slice:"3:" }}">{{ match.alliances.red.teams.1|slice:"3:" }}</a></td>
    <td class="red"><a href="/team/{{ match.alliances.red.teams.2|slice:"3:" }}">{{ match.alliances.red.teams.2|slice:"3:" }}</a></td>
    <td class="blue"><a href="/team/{{ match.alliances.blue.teams.0|slice:"3:" }}">{{ match.alliances.blue.teams.0|slice:"3:" }}</a></td>
    <td class="blue"><a href="/team/{{ match.alliances.blue.teams.1|slice:"3:" }}">{{ match.alliances.blue.teams.1|slice:"3:" }}</a></td>
    <td class="blue"><a href="/team/{{ match.alliances.blue.teams.2|slice:"3:" }}">{{ match.alliances.blue.teams.2|slice:"3:" }}</a></td>
    <td class="redScore">{{ match.alliances.red.score }}</td>
    <td class="blueScore">{{ match.alliances.blue.score }}</td>
</tr>