<div class="thumbnail cdphotothread-thumbnail">
  <a
    href="{{media.view_image_url}}"
    target="_blank"
    rel="noopener noreferrer"
    style="
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 150px;
      background-image: url(&quot;{{media.details.image_url}}&quot;);
      background-size: cover;
      background-position: center;
      position: relative;
    "
  >
  </a>
  <div class="caption">
    <a href="{{media.view_image_url}}" target="_blank" rel="noopener noreferrer"
      >{{media.details.thread_title}}</a
    >
  </div>
</div>

