<h2>Got an Event</h2>
<ul>
    <li>Type: {{event.event_type_str}}</li>
    <li>District: {{event.district_key}}</li>
    <li>Name: {{event.name}}</li>
    <li>Short Name: {{event.short_name}}</li>
    <li>Event Short: {{event.event_short}}</li>
    <li>Year: {{event.year}}</li>
    <li>FIRST eid: {{event.first_eid}}</li>
    <li>Venue: {{event.venue}}</li>
    <li>Venue Address: {{event.venue_address}}</li>
    <li>City: {{event.city}}</li>
    <li>State/Prov: {{event.state_prov}}</li>
    <li>Postal Code: {{event.postalcode}}</li>
    <li>Country: {{event.country}}</li>
    <li>Timezone ID: {{event.timezone_id}}</li>
    <li>Starts on: {{event.start_date}}</li>
    <li>Ends on: {{event.end_date}}</li>
    <li>Website: {{event.website}}</li>
    <li>Teams: {{event_teams|length}} registered - {% for event_team in event_teams %}{{event_team.team.id}} {% endfor %}</li>
</ul>
