<div class="row">
    <div class="alert alert-block alert-success">
        <h4>Got Rankings for {{event_name}}</h4>
    </div>
    <table class="table table-striped table-hover">
    {% for row in rankings %}
        {% if loop.first %}
            <tr>
            {% for k, _ in row.items() %}
                <th>{{ k }}</th>
            {% endfor %}
            </tr>
        {% endif %}
        <tr>
        {% for _, v in row.items() %}
            <td>{{ v }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
    </table>
</div>