{% extends "../base.html" %}

{% block title %}{{event.year}}{{event.event_short}} - Edit Event - TBA Admin{% endblock %}

{% block content %}

<h1>Edit {{ event.year }} {{ event.name }}</h1>

<form action="/admin/event/edit/{{event.year}}{{event.event_short}}" method="post">
    <fieldset>
        <legend>Edit {{ event.year }} {{ event.name }}</legend>
        <ul>
            <li><input type="text" name="disabled_event_short" value="{{event.event_short}}" disabled="disabled" /><input type="hidden" name="event_short" value="{{event.event_short}}" /><label for="name">Event Short</label></li>
            <li><input type="text" name="disabled_year" value="{{event.year}}" disabled="disabled" /><input type="hidden" name="year" value="{{event.year}}" /><label for="year">Year</label></li>
            <li><input type="text" name="name" value="{{event.name}}" /><label for="name">Name</label></li>
            <li><input type="text" name="short_name" value="{{event.short_name}}" /><label for="short_name">Short Name</label></li>
            <li><input type="text" name="website" value="{{event.website}}" /><label for="website">Website</label></li>
            <li><input type="text" name="event_type" value="{{event.event_type}}" /><label for="event_type">Event Type</label></li>
            <li><input type="text" name="location" value="{{event.location}}" /><label for="location">Location</label></li>
            <li><input type="text" name="official" value="{{event.official}}" /><label for="official">Official</label></li>
            <li><input type="text" name="first_eid" value="{{event.first_eid}}" /><label for="first_eid">FIRST eid</label></li>
            
            <li><input type="submit" id="submit" name="submit" value="Save"></li>
        </ul>
    </fieldset>
</form>

{% endblock %}
