{% macro drawNullPanelSVG() %}
<svg width="16px" height="16px" style="display: inline-block; vertical-align: middle;" rel="tooltip" title="Null Hatch Panel">
  <circle cx="8" cy="8" r="6" fill="none" stroke="#555" stroke-width="4"/>
</svg>
{% endmacro %}

{% macro drawPanelSVG() %}
<svg width="16px" height="16px" style="display: inline-block; vertical-align: middle;" rel="tooltip" title="Hatch Panel">
  <circle cx="8" cy="8" r="6" fill="none" stroke="#f4d941" stroke-width="4"/>
</svg>
{% endmacro %}

{% macro drawCargoSVG() %}
<svg width="16px" height="16px" style="display: inline-block; vertical-align: middle;" rel="tooltip" title="Cargo">
  <circle cx="8" cy="8" r="8" fill="#ffa500" />
</svg>
{% endmacro %}

<table class="match-table">
  <tbody>
    <!-- Robot 1 Sandstorm Bonus -->
    {% if "preMatchLevelRobot1" in match.score_breakdown.red and
      "habLineRobot1" in match.score_breakdown.red
    %}
    <tr>
      <td class="red" colspan="2">
        {% if match.score_breakdown.red.habLineRobot1 == 'CrossedHabLineInSandstorm' %}
          {% if match.score_breakdown.red.preMatchLevelRobot1 == 'HabLevel1' %}
            Level 1 (+3)
          {% elif match.score_breakdown.red.preMatchLevelRobot1 == 'HabLevel2' %}
            Level 2 (+6)
          {% else %}
            ?
          {% endif %}
        {% else %}
          <span class="glyphicon glyphicon-remove"></span>
        {% endif %}
      </td>
      <td>Robot 1 Sandstorm Bonus</td>
      <td class="blue" colspan="2">
        {% if match.score_breakdown.blue.habLineRobot1 == 'CrossedHabLineInSandstorm' %}
          {% if match.score_breakdown.blue.preMatchLevelRobot1 == 'HabLevel1' %}
            Level 1 (+3)
          {% elif match.score_breakdown.blue.preMatchLevelRobot1 == 'HabLevel2' %}
            Level 2 (+6)
          {% else %}
            ?
          {% endif %}
        {% else %}
          <span class="glyphicon glyphicon-remove"></span>
        {% endif %}
      </td>
    </tr>
    {% endif %}
    <!-- Robot 2 Sandstorm Bonus -->
    {% if "preMatchLevelRobot2" in match.score_breakdown.red and
      "habLineRobot2" in match.score_breakdown.red
    %}
    <tr>
      <td class="red" colspan="2">
        {% if match.score_breakdown.red.habLineRobot2 == 'CrossedHabLineInSandstorm' %}
          {% if match.score_breakdown.red.preMatchLevelRobot2 == 'HabLevel1' %}
            Level 1 (+3)
          {% elif match.score_breakdown.red.preMatchLevelRobot2 == 'HabLevel2' %}
            Level 2 (+6)
          {% else %}
            ?
          {% endif %}
        {% else %}
          <span class="glyphicon glyphicon-remove"></span>
        {% endif %}
      </td>
      <td>Robot 2 Sandstorm Bonus</td>
      <td class="blue" colspan="2">
        {% if match.score_breakdown.blue.habLineRobot2 == 'CrossedHabLineInSandstorm' %}
          {% if match.score_breakdown.blue.preMatchLevelRobot2 == 'HabLevel1' %}
            Level 1 (+3)
          {% elif match.score_breakdown.blue.preMatchLevelRobot2 == 'HabLevel2' %}
            Level 2 (+6)
          {% else %}
            ?
          {% endif %}
        {% else %}
          <span class="glyphicon glyphicon-remove"></span>
        {% endif %}
      </td>
    </tr>
    {% endif %}
    <!-- Robot 3 Sandstorm Bonus -->
    {% if "preMatchLevelRobot3" in match.score_breakdown.red and
      "habLineRobot3" in match.score_breakdown.red
    %}
    <tr>
      <td class="red" colspan="2">
        {% if match.score_breakdown.red.habLineRobot3 == 'CrossedHabLineInSandstorm' %}
          {% if match.score_breakdown.red.preMatchLevelRobot3 == 'HabLevel1' %}
            Level 1 (+3)
          {% elif match.score_breakdown.red.preMatchLevelRobot3 == 'HabLevel2' %}
            Level 2 (+6)
          {% else %}
            ?
          {% endif %}
        {% else %}
          <span class="glyphicon glyphicon-remove"></span>
        {% endif %}
      </td>
      <td>Robot 3 Sandstorm Bonus</td>
      <td class="blue" colspan="2">
        {% if match.score_breakdown.blue.habLineRobot3 == 'CrossedHabLineInSandstorm' %}
          {% if match.score_breakdown.blue.preMatchLevelRobot3 == 'HabLevel1' %}
            Level 1 (+3)
          {% elif match.score_breakdown.blue.preMatchLevelRobot3 == 'HabLevel2' %}
            Level 2 (+6)
          {% else %}
            ?
          {% endif %}
        {% else %}
          <span class="glyphicon glyphicon-remove"></span>
        {% endif %}
      </td>
    </tr>
    {% endif %}
    <!-- Sandstorm Bonus -->
    {% if "sandStormBonusPoints" in match.score_breakdown.red %}
    <tr class="key">
      <td class="redScore" colspan="2"><b>{% if match.score_breakdown.red.sandStormBonusPoints %}{{match.score_breakdown.red.sandStormBonusPoints}}{%else%}0{%endif%}</b></td>
      <th>Total Sandstorm Bonus</th>
      <td class="blueScore" colspan="2"><b>{% if match.score_breakdown.blue.sandStormBonusPoints %}{{match.score_breakdown.blue.sandStormBonusPoints}}{%else%}0{%endif%}</b></td>
    </tr>
    {% endif %}

    <!-- Cargo Ship -->
    {% if "bay1" in match.score_breakdown.red %}
    <tr>
      <td class="red" colspan="2">
        {{drawNullPanelSVG()}}
        {{
          (1 if match.score_breakdown.red.preMatchBay1 == 'Panel' else 0) +
          (1 if match.score_breakdown.red.preMatchBay2 == 'Panel' else 0) +
          (1 if match.score_breakdown.red.preMatchBay3 == 'Panel' else 0) +
          (1 if match.score_breakdown.red.preMatchBay6 == 'Panel' else 0) +
          (1 if match.score_breakdown.red.preMatchBay7 == 'Panel' else 0) +
          (1 if match.score_breakdown.red.preMatchBay8 == 'Panel' else 0)
        }}&nbsp;
        {{drawPanelSVG()}}
        {{
          (1 if 'Panel' in match.score_breakdown.red.bay1 and match.score_breakdown.red.preMatchBay1 != 'Panel' else 0) +
          (1 if 'Panel' in match.score_breakdown.red.bay2 and match.score_breakdown.red.preMatchBay2 != 'Panel' else 0) +
          (1 if 'Panel' in match.score_breakdown.red.bay3 and match.score_breakdown.red.preMatchBay3 != 'Panel' else 0) +
          (1 if 'Panel' in match.score_breakdown.red.bay4 and match.score_breakdown.red.preMatchBay4 != 'Panel' else 0) +
          (1 if 'Panel' in match.score_breakdown.red.bay5 and match.score_breakdown.red.preMatchBay5 != 'Panel' else 0) +
          (1 if 'Panel' in match.score_breakdown.red.bay6 and match.score_breakdown.red.preMatchBay6 != 'Panel' else 0) +
          (1 if 'Panel' in match.score_breakdown.red.bay7 and match.score_breakdown.red.preMatchBay7 != 'Panel' else 0) +
          (1 if 'Panel' in match.score_breakdown.red.bay8 and match.score_breakdown.red.preMatchBay8 != 'Panel' else 0)
        }}&nbsp;
        {{drawCargoSVG()}}
        {{
          (1 if 'Cargo' in match.score_breakdown.red.bay1 else 0) +
          (1 if 'Cargo' in match.score_breakdown.red.bay2 else 0) +
          (1 if 'Cargo' in match.score_breakdown.red.bay3 else 0) +
          (1 if 'Cargo' in match.score_breakdown.red.bay4 else 0) +
          (1 if 'Cargo' in match.score_breakdown.red.bay5 else 0) +
          (1 if 'Cargo' in match.score_breakdown.red.bay6 else 0) +
          (1 if 'Cargo' in match.score_breakdown.red.bay7 else 0) +
          (1 if 'Cargo' in match.score_breakdown.red.bay8 else 0)
        }}
      </td>
      <td>Cargo Ship</td>
      <td class="blue" colspan="2">
        {{drawNullPanelSVG()}}
        {{
          (1 if match.score_breakdown.blue.preMatchBay1 == 'Panel' else 0) +
          (1 if match.score_breakdown.blue.preMatchBay2 == 'Panel' else 0) +
          (1 if match.score_breakdown.blue.preMatchBay3 == 'Panel' else 0) +
          (1 if match.score_breakdown.blue.preMatchBay6 == 'Panel' else 0) +
          (1 if match.score_breakdown.blue.preMatchBay7 == 'Panel' else 0) +
          (1 if match.score_breakdown.blue.preMatchBay8 == 'Panel' else 0)
        }}&nbsp;
        {{drawPanelSVG()}}
        {{
          (1 if 'Panel' in match.score_breakdown.blue.bay1 and match.score_breakdown.blue.preMatchBay1 != 'Panel' else 0) +
          (1 if 'Panel' in match.score_breakdown.blue.bay2 and match.score_breakdown.blue.preMatchBay2 != 'Panel' else 0) +
          (1 if 'Panel' in match.score_breakdown.blue.bay3 and match.score_breakdown.blue.preMatchBay3 != 'Panel' else 0) +
          (1 if 'Panel' in match.score_breakdown.blue.bay4 and match.score_breakdown.blue.preMatchBay4 != 'Panel' else 0) +
          (1 if 'Panel' in match.score_breakdown.blue.bay5 and match.score_breakdown.blue.preMatchBay5 != 'Panel' else 0) +
          (1 if 'Panel' in match.score_breakdown.blue.bay6 and match.score_breakdown.blue.preMatchBay6 != 'Panel' else 0) +
          (1 if 'Panel' in match.score_breakdown.blue.bay7 and match.score_breakdown.blue.preMatchBay7 != 'Panel' else 0) +
          (1 if 'Panel' in match.score_breakdown.blue.bay8 and match.score_breakdown.blue.preMatchBay8 != 'Panel' else 0)
        }}&nbsp;
        {{drawCargoSVG()}}
        {{
          (1 if 'Cargo' in match.score_breakdown.blue.bay1 else 0) +
          (1 if 'Cargo' in match.score_breakdown.blue.bay2 else 0) +
          (1 if 'Cargo' in match.score_breakdown.blue.bay3 else 0) +
          (1 if 'Cargo' in match.score_breakdown.blue.bay4 else 0) +
          (1 if 'Cargo' in match.score_breakdown.blue.bay5 else 0) +
          (1 if 'Cargo' in match.score_breakdown.blue.bay6 else 0) +
          (1 if 'Cargo' in match.score_breakdown.blue.bay7 else 0) +
          (1 if 'Cargo' in match.score_breakdown.blue.bay8 else 0)
        }}
      </td>
    </tr>
    {% endif %}
    <!-- Rocekt 1 -->
    <tr>
      <td class="red" colspan="2">
        {{drawPanelSVG()}}
        {{
          (1 if 'Panel' in match.score_breakdown.red.topLeftRocketNear else 0) +
          (1 if 'Panel' in match.score_breakdown.red.topRightRocketNear else 0) +
          (1 if 'Panel' in match.score_breakdown.red.midLeftRocketNear else 0) +
          (1 if 'Panel' in match.score_breakdown.red.midRightRocketNear else 0) +
          (1 if 'Panel' in match.score_breakdown.red.lowLeftRocketNear else 0) +
          (1 if 'Panel' in match.score_breakdown.red.lowRightRocketNear else 0)
        }}&nbsp;
        {{drawCargoSVG()}}
        {{
          (1 if 'Cargo' in match.score_breakdown.red.topLeftRocketNear else 0) +
          (1 if 'Cargo' in match.score_breakdown.red.topRightRocketNear else 0) +
          (1 if 'Cargo' in match.score_breakdown.red.midLeftRocketNear else 0) +
          (1 if 'Cargo' in match.score_breakdown.red.midRightRocketNear else 0) +
          (1 if 'Cargo' in match.score_breakdown.red.lowLeftRocketNear else 0) +
          (1 if 'Cargo' in match.score_breakdown.red.lowRightRocketNear else 0)
        }}
      </td>
      <td>Rocket 1</td>
      <td class="blue" colspan="2">
        {{drawPanelSVG()}}
        {{
          (1 if 'Panel' in match.score_breakdown.blue.topLeftRocketNear else 0) +
          (1 if 'Panel' in match.score_breakdown.blue.topRightRocketNear else 0) +
          (1 if 'Panel' in match.score_breakdown.blue.midLeftRocketNear else 0) +
          (1 if 'Panel' in match.score_breakdown.blue.midRightRocketNear else 0) +
          (1 if 'Panel' in match.score_breakdown.blue.lowLeftRocketNear else 0) +
          (1 if 'Panel' in match.score_breakdown.blue.lowRightRocketNear else 0)
        }}&nbsp;
        {{drawCargoSVG()}}
        {{
          (1 if 'Cargo' in match.score_breakdown.blue.topLeftRocketNear else 0) +
          (1 if 'Cargo' in match.score_breakdown.blue.topRightRocketNear else 0) +
          (1 if 'Cargo' in match.score_breakdown.blue.midLeftRocketNear else 0) +
          (1 if 'Cargo' in match.score_breakdown.blue.midRightRocketNear else 0) +
          (1 if 'Cargo' in match.score_breakdown.blue.lowLeftRocketNear else 0) +
          (1 if 'Cargo' in match.score_breakdown.blue.lowRightRocketNear else 0)
        }}
      </td>
    </tr>
    <!-- Rocekt 2 -->
    <tr>
      <td class="red" colspan="2">
        {{drawPanelSVG()}}
        {{
          (1 if 'Panel' in match.score_breakdown.red.topLeftRocketFar else 0) +
          (1 if 'Panel' in match.score_breakdown.red.topRightRocketFar else 0) +
          (1 if 'Panel' in match.score_breakdown.red.midLeftRocketFar else 0) +
          (1 if 'Panel' in match.score_breakdown.red.midRightRocketFar else 0) +
          (1 if 'Panel' in match.score_breakdown.red.lowLeftRocketFar else 0) +
          (1 if 'Panel' in match.score_breakdown.red.lowRightRocketFar else 0)
        }}&nbsp;
        {{drawCargoSVG()}}
        {{
          (1 if 'Cargo' in match.score_breakdown.red.topLeftRocketFar else 0) +
          (1 if 'Cargo' in match.score_breakdown.red.topRightRocketFar else 0) +
          (1 if 'Cargo' in match.score_breakdown.red.midLeftRocketFar else 0) +
          (1 if 'Cargo' in match.score_breakdown.red.midRightRocketFar else 0) +
          (1 if 'Cargo' in match.score_breakdown.red.lowLeftRocketFar else 0) +
          (1 if 'Cargo' in match.score_breakdown.red.lowRightRocketFar else 0)
        }}
      </td>
      <td>Rocket 2</td>
      <td class="blue" colspan="2">
        {{drawPanelSVG()}}
        {{
          (1 if 'Panel' in match.score_breakdown.blue.topLeftRocketFar else 0) +
          (1 if 'Panel' in match.score_breakdown.blue.topRightRocketFar else 0) +
          (1 if 'Panel' in match.score_breakdown.blue.midLeftRocketFar else 0) +
          (1 if 'Panel' in match.score_breakdown.blue.midRightRocketFar else 0) +
          (1 if 'Panel' in match.score_breakdown.blue.lowLeftRocketFar else 0) +
          (1 if 'Panel' in match.score_breakdown.blue.lowRightRocketFar else 0)
        }}&nbsp;
        {{drawCargoSVG()}}
        {{
          (1 if 'Cargo' in match.score_breakdown.blue.topLeftRocketFar else 0) +
          (1 if 'Cargo' in match.score_breakdown.blue.topRightRocketFar else 0) +
          (1 if 'Cargo' in match.score_breakdown.blue.midLeftRocketFar else 0) +
          (1 if 'Cargo' in match.score_breakdown.blue.midRightRocketFar else 0) +
          (1 if 'Cargo' in match.score_breakdown.blue.lowLeftRocketFar else 0) +
          (1 if 'Cargo' in match.score_breakdown.blue.lowRightRocketFar else 0)
        }}
      </td>
    </tr>
    <!-- Total Hatch Panels / Cargo -->
    {% if "hatchPanelPoints" in match.score_breakdown.red %}
    <tr class="key">
      <td class="redScore" colspan="2">
        {{drawPanelSVG()}}
        {{(match.score_breakdown.red.hatchPanelPoints / 2) | int}}
        (+{{match.score_breakdown.red.hatchPanelPoints}})
      </td>
      <td>Total Hatch Panels</td>
      <td class="blueScore" colspan="2">
        {{drawPanelSVG()}}
        {{(match.score_breakdown.blue.hatchPanelPoints / 2) | int}}
        (+{{match.score_breakdown.blue.hatchPanelPoints}})
      </td>
    </tr>
    {% endif %}
    {% if "cargoPoints" in match.score_breakdown.red %}
    <tr class="key">
      <td class="redScore" colspan="2">
        {{drawCargoSVG()}}
        {{(match.score_breakdown.red.cargoPoints / 3) | int}}
        (+{{match.score_breakdown.red.cargoPoints}})
      </td>
      <td>Total Points Cargo</td>
      <td class="blueScore" colspan="2">
        {{drawCargoSVG()}}
        {{(match.score_breakdown.blue.cargoPoints / 3) | int}}
        (+{{match.score_breakdown.blue.cargoPoints}})
      </td>
    </tr>
    {% endif %}

    <!-- Robot 1 HAB Climb -->
    {% if "endgameRobot1" in match.score_breakdown.red %}
    <tr>
      <td class="red" colspan="2">
        {% if match.score_breakdown.red.endgameRobot1 == 'HabLevel1' and match.score_breakdown.red.habLineRobot1 != 'None' %}
          Level 1 (+3)
        {% elif match.score_breakdown.red.endgameRobot1 == 'HabLevel2' and match.score_breakdown.red.habLineRobot1 != 'None' %}
          Level 2 (+6)
        {% elif match.score_breakdown.red.endgameRobot1 == 'HabLevel3' and match.score_breakdown.red.habLineRobot1 != 'None' %}
          Level 3 (+12)
        {% else %}
          <span class="glyphicon glyphicon-remove"></span>
        {% endif %}
      <td>Robot 1 HAB Climb</td>
      <td class="blue" colspan="2">
        {% if match.score_breakdown.blue.endgameRobot1 == 'HabLevel1' and match.score_breakdown.blue.habLineRobot1 != 'None' %}
          Level 1 (+3)
        {% elif match.score_breakdown.blue.endgameRobot1 == 'HabLevel2' and match.score_breakdown.blue.habLineRobot1 != 'None' %}
          Level 2(+6)
        {% elif match.score_breakdown.blue.endgameRobot1 == 'HabLevel3' and match.score_breakdown.blue.habLineRobot1 != 'None' %}
          Level 3 (+12)
        {% else %}
          <span class="glyphicon glyphicon-remove"></span>
        {% endif %}
      </td>
    </tr>
    {% endif %}
    <!-- Robot 2 HAB Climb -->
    {% if "endgameRobot2" in match.score_breakdown.red %}
    <tr>
      <td class="red" colspan="2">
        {% if match.score_breakdown.red.endgameRobot2 == 'HabLevel1' and match.score_breakdown.red.habLineRobot2 != 'None' %}
          Level 1 (+3)
        {% elif match.score_breakdown.red.endgameRobot2 == 'HabLevel2' and match.score_breakdown.red.habLineRobot2 != 'None' %}
          Level 2 (+6)
        {% elif match.score_breakdown.red.endgameRobot2 == 'HabLevel3' and match.score_breakdown.red.habLineRobot2 != 'None' %}
          Level 3 (+12)
        {% else %}
          <span class="glyphicon glyphicon-remove"></span>
        {% endif %}
      <td>Robot 2 HAB Climb</td>
      <td class="blue" colspan="2">
        {% if match.score_breakdown.blue.endgameRobot2 == 'HabLevel1' and match.score_breakdown.blue.habLineRobot2 != 'None' %}
          Level 1 (+3)
        {% elif match.score_breakdown.blue.endgameRobot2 == 'HabLevel2' and match.score_breakdown.blue.habLineRobot2 != 'None' %}
          Level 2 (+6)
        {% elif match.score_breakdown.blue.endgameRobot2 == 'HabLevel3' and match.score_breakdown.blue.habLineRobot2 != 'None' %}
          Level 3 (+12)
        {% else %}
          <span class="glyphicon glyphicon-remove"></span>
        {% endif %}
      </td>
    </tr>
    {% endif %}
    <!-- Robot 3 HAB Climb -->
    {% if "endgameRobot3" in match.score_breakdown.red %}
    <tr>
      <td class="red" colspan="2">
        {% if match.score_breakdown.red.endgameRobot3 == 'HabLevel1' and match.score_breakdown.red.habLineRobot3 != 'None'  %}
          Level 1 (+3)
        {% elif match.score_breakdown.red.endgameRobot3 == 'HabLevel2' and match.score_breakdown.red.habLineRobot3 != 'None'  %}
          Level 2 (+6)
        {% elif match.score_breakdown.red.endgameRobot3 == 'HabLevel3' and match.score_breakdown.red.habLineRobot3 != 'None'  %}
          Level 3 (+12)
        {% else %}
          <span class="glyphicon glyphicon-remove"></span>
        {% endif %}
      <td>Robot 3 HAB Climb</td>
      <td class="blue" colspan="2">
        {% if match.score_breakdown.blue.endgameRobot3 == 'HabLevel1' and match.score_breakdown.blue.habLineRobot3 != 'None'  %}
          Level 1 (+3)
        {% elif match.score_breakdown.blue.endgameRobot3 == 'HabLevel2' and match.score_breakdown.blue.habLineRobot3 != 'None'  %}
          Level 2 (+6)
        {% elif match.score_breakdown.blue.endgameRobot3 == 'HabLevel3' and match.score_breakdown.blue.habLineRobot3 != 'None'  %}
          Level 3 (+12)
        {% else %}
          <span class="glyphicon glyphicon-remove"></span>
        {% endif %}
      </td>
    </tr>
    {% endif %}
    <!-- HAB Climb Points -->
    {% if "habClimbPoints" in match.score_breakdown.red %}
    <tr class="key">
      <td class="redScore" colspan="2">{% if match.score_breakdown.red.habClimbPoints %} {{match.score_breakdown.red.habClimbPoints}} {% else %} 0 {% endif %}</td>
      <td>HAB Climb Points</td>
      <td class="blueScore" colspan="2">{% if match.score_breakdown.blue.habClimbPoints %} {{match.score_breakdown.blue.habClimbPoints}} {% else %} 0 {% endif %}</td>
    </tr>
    {% endif %}

    <!-- Teleop Total -->
    {% if "teleopPoints" in match.score_breakdown.red %}
    <tr class="key">
      <td class="redScore" colspan="2"><b>{% if match.score_breakdown.red.teleopPoints %}{{match.score_breakdown.red.teleopPoints}}{%else%}0{%endif%}</b></td>
      <th>Total Teleop</th>
      <td class="blueScore" colspan="2"><b>{% if match.score_breakdown.blue.teleopPoints %}{{match.score_breakdown.blue.teleopPoints}}{%else%}0{%endif%}</b></td>
    </tr>
    {% endif %}

    <!-- Complete Rocket / HAB Docking RP -->
    {% if "completeRocketRankingPoint" in match.score_breakdown.red %}
    <tr>
      <td class="red" colspan="2">{% if match.score_breakdown.red.completeRocketRankingPoint%}<span class="glyphicon glyphicon-ok"></span>{% else %}<span class="glyphicon glyphicon-remove"></span>{% endif %}</td>
      <td>Complete Rocket</td>
      <td class="blue" colspan="2">{% if match.score_breakdown.blue.completeRocketRankingPoint%}<span class="glyphicon glyphicon-ok"></span>{% else %}<span class="glyphicon glyphicon-remove"></span>{% endif %}</td>
    </tr>
    {% endif %}
    {% if "habDockingRankingPoint" in match.score_breakdown.red %}
    <tr>
      <td class="red" colspan="2">{% if match.score_breakdown.red.habDockingRankingPoint%}<span class="glyphicon glyphicon-ok"></span>{% else %}<span class="glyphicon glyphicon-remove"></span>{% endif %}</td>
      <td>HAB Docking</td>
      <td class="blue" colspan="2">{% if match.score_breakdown.blue.habDockingRankingPoint%}<span class="glyphicon glyphicon-ok"></span>{% else %}<span class="glyphicon glyphicon-remove"></span>{% endif %}</td>
    </tr>
    {% endif %}

    <!-- Fouls & Adjustments -->
    {% if "foulPoints" in match.score_breakdown.red %}
    <tr>
      <td class="red" colspan="2">+{%if match.score_breakdown.red.foulPoints%}{{match.score_breakdown.red.foulPoints}}{%else%}0{%endif%}</td>
      <td>Fouls</td>
      <td class="blue" colspan="2">+{%if match.score_breakdown.blue.foulPoints%}{{match.score_breakdown.blue.foulPoints}}{%else%}0{%endif%}</td>
    </tr>
    {% endif %}
    {% if "adjustPoints" in match.score_breakdown.red %}
    <tr>
      <td class="red" colspan="2">{% if match.score_breakdown.red.adjustPoints%}{{match.score_breakdown.red.adjustPoints}}{%else%}0{%endif%}</td>
      <td>Adjustments</td>
      <td class="blue" colspan="2">{%if match.score_breakdown.blue.adjustPoints%}{{match.score_breakdown.blue.adjustPoints}}{%else%}0{%endif%}</td>
    </tr>
    {% endif %}

    <tr class="key">
      <td class="redScore" colspan="2"><b>{%if match.score_breakdown.red.totalPoints%}{{match.score_breakdown.red.totalPoints}}{%else%}0{%endif%}</b></td>
      <th>Total Score</th>
      <td class="blueScore" colspan="2"><b>{%if match.score_breakdown.blue.totalPoints%}{{match.score_breakdown.blue.totalPoints}}{%else%}0{%endif%}</b></td>
    </tr>

    {% if 'rp' in match.score_breakdown.red and match.comp_level == 'qm' %}
    <tr>
      <td class="red" colspan="2">
        {% if match.score_breakdown.red.completeRocketRankingPoint %}
        <svg class="top-left-dot" rel="tooltip" title="Complete Rocket">
          <circle cx="2" cy="2" r="2"/>
        </svg>
        {% endif %}
        {% if match.score_breakdown.red.habDockingRankingPoint %}
        <svg class="top-left-dot-2" rel="tooltip" title="HAB Docking">
          <circle cx="2" cy="2" r="2"/>
        </svg>
        {% endif %}
        +{{match.score_breakdown.red.rp}} RP
      </td>
      <td>Ranking Points</td>
      <td class="blue" colspan="2">
        {% if match.score_breakdown.blue.completeRocketRankingPoint %}
        <svg class="top-left-dot" rel="tooltip" title="Complete Rocket">
          <circle cx="2" cy="2" r="2"/>
        </svg>
        {% endif %}
        {% if match.score_breakdown.blue.habDockingRankingPoint %}
        <svg class="top-left-dot-2" rel="tooltip" title="HAB Docking">
          <circle cx="2" cy="2" r="2"/>
        </svg>
        {% endif %}
        +{{match.score_breakdown.blue.rp}} RP
      </td>
    </tr>
    {% endif %}
  </tbody>
</table>

<h4>Scoring Location Breakdown</h4>
{% macro drawPanelCargoSVG(contents, preMatchContents=None) %}
<svg width="24px" height="24px" style="display: block; margin: auto;">
  {% if contents == 'PanelAndCargo' %}
    <circle cx="12" cy="12" r="10" fill="#ffa500" stroke="{% if preMatchContents == 'Panel' %}#555{% else %}#f4d941{% endif %}" stroke-width="4"/>
  {% elif contents == 'Panel' %}
    <circle cx="12" cy="12" r="10" fill="none" stroke="{% if preMatchContents == 'Panel' %}#555{% else %}#f4d941{% endif %}" stroke-width="4"/>
  {% endif %}
</svg>
{% endmacro %}
<table class="match-table">
  <tbody>
    <tr>
      <td class="red">{{drawPanelCargoSVG(match.score_breakdown.red.topLeftRocketNear)}}</td>
      <td class="red">{{drawPanelCargoSVG(match.score_breakdown.red.topRightRocketNear)}}</td>
      <td>Rocket 1 Top</td>
      <td class="blue">{{drawPanelCargoSVG(match.score_breakdown.blue.topLeftRocketNear)}}</td>
      <td class="blue">{{drawPanelCargoSVG(match.score_breakdown.blue.topRightRocketNear)}}</td>
    </tr>
    <tr>
      <td class="red">{{drawPanelCargoSVG(match.score_breakdown.red.midLeftRocketNear)}}</td>
      <td class="red">{{drawPanelCargoSVG(match.score_breakdown.red.midRightRocketNear)}}</td>
      <td>Rocket 1 Mid</td>
      <td class="blue">{{drawPanelCargoSVG(match.score_breakdown.blue.midLeftRocketNear)}}</td>
      <td class="blue">{{drawPanelCargoSVG(match.score_breakdown.blue.midRightRocketNear)}}</td>
    </tr>
    <tr>
      <td class="red">{{drawPanelCargoSVG(match.score_breakdown.red.lowLeftRocketNear)}}</td>
      <td class="red">{{drawPanelCargoSVG(match.score_breakdown.red.lowRightRocketNear)}}</td>
      <td>Rocket 1 Low</td>
      <td class="blue">{{drawPanelCargoSVG(match.score_breakdown.blue.lowLeftRocketNear)}}</td>
      <td class="blue">{{drawPanelCargoSVG(match.score_breakdown.blue.lowRightRocketNear)}}</td>
    </tr>
  </tbody>
</table>
<table class="match-table">
  <tbody>
    <tr>
      <td class="red">{{drawPanelCargoSVG(match.score_breakdown.red.bay4, match.score_breakdown.red.preMatchBay4)}}</td>
      <td class="red">{{drawPanelCargoSVG(match.score_breakdown.red.bay3, match.score_breakdown.red.preMatchBay3)}}</td>
      <td class="red">{{drawPanelCargoSVG(match.score_breakdown.red.bay2, match.score_breakdown.red.preMatchBay2)}}</td>
      <td class="red">{{drawPanelCargoSVG(match.score_breakdown.red.bay1, match.score_breakdown.red.preMatchBay1)}}</td>
      <td rowspan="2">Cargo Ship</td>
      <td class="blue">{{drawPanelCargoSVG(match.score_breakdown.blue.bay1, match.score_breakdown.blue.preMatchBay1)}}</td>
      <td class="blue">{{drawPanelCargoSVG(match.score_breakdown.blue.bay2, match.score_breakdown.blue.preMatchBay2)}}</td>
      <td class="blue">{{drawPanelCargoSVG(match.score_breakdown.blue.bay3, match.score_breakdown.blue.preMatchBay3)}}</td>
      <td class="blue">{{drawPanelCargoSVG(match.score_breakdown.blue.bay4, match.score_breakdown.blue.preMatchBay4)}}</td>
    </tr>
    <tr>
      <td class="red">{{drawPanelCargoSVG(match.score_breakdown.red.bay5, match.score_breakdown.red.preMatchBay5)}}</td>
      <td class="red">{{drawPanelCargoSVG(match.score_breakdown.red.bay6, match.score_breakdown.red.preMatchBay6)}}</td>
      <td class="red">{{drawPanelCargoSVG(match.score_breakdown.red.bay7, match.score_breakdown.red.preMatchBay7)}}</td>
      <td class="red">{{drawPanelCargoSVG(match.score_breakdown.red.bay8, match.score_breakdown.red.preMatchBay8)}}</td>
      <td class="blue">{{drawPanelCargoSVG(match.score_breakdown.blue.bay8, match.score_breakdown.blue.preMatchBay8)}}</td>
      <td class="blue">{{drawPanelCargoSVG(match.score_breakdown.blue.bay7, match.score_breakdown.blue.preMatchBay7)}}</td>
      <td class="blue">{{drawPanelCargoSVG(match.score_breakdown.blue.bay6, match.score_breakdown.blue.preMatchBay6)}}</td>
      <td class="blue">{{drawPanelCargoSVG(match.score_breakdown.blue.bay5, match.score_breakdown.blue.preMatchBay5)}}</td>
    </tr>
  </tbody>
</table>
<table class="match-table">
  <tbody>
    <tr>
      <td class="red">{{drawPanelCargoSVG(match.score_breakdown.red.topRightRocketFar)}}</td>
      <td class="red">{{drawPanelCargoSVG(match.score_breakdown.red.topLeftRocketFar)}}</td>
      <td>Rocket 2 Top</td>
      <td class="blue">{{drawPanelCargoSVG(match.score_breakdown.blue.topRightRocketFar)}}</td>
      <td class="blue">{{drawPanelCargoSVG(match.score_breakdown.blue.topLeftRocketFar)}}</td>
    </tr>
    <tr>
      <td class="red">{{drawPanelCargoSVG(match.score_breakdown.red.midRightRocketFar)}}</td>
      <td class="red">{{drawPanelCargoSVG(match.score_breakdown.red.midLeftRocketFar)}}</td>
      <td>Rocket 2 Mid</td>
      <td class="blue">{{drawPanelCargoSVG(match.score_breakdown.blue.midRightRocketFar)}}</td>
      <td class="blue">{{drawPanelCargoSVG(match.score_breakdown.blue.midLeftRocketFar)}}</td>
    </tr>
    <tr>
      <td class="red">{{drawPanelCargoSVG(match.score_breakdown.red.lowRightRocketFar)}}</td>
      <td class="red">{{drawPanelCargoSVG(match.score_breakdown.red.lowLeftRocketFar)}}</td>
      <td>Rocket 2 Low</td>
      <td class="blue">{{drawPanelCargoSVG(match.score_breakdown.blue.lowRightRocketFar)}}</td>
      <td class="blue">{{drawPanelCargoSVG(match.score_breakdown.blue.lowLeftRocketFar)}}</td>
    </tr>
  </tbody>
</table>
