<table class="match-table">
  <tbody>
    <!-- Robot 1 Auto Run -->
    {% if "autoRobot1" in match.score_breakdown.red %}
    <tr>
      <td class="red" colspan="2">{% if match.score_breakdown.red.autoRobot1 %}{% if match.score_breakdown.red.autoRobot1 == 'AutoRun' %}<span class="glyphicon glyphicon-ok"></span>{% else %}<span class="glyphicon glyphicon-remove"></span>{% endif %}{% else %}?{% endif %}</td>
      <td>Robot 1 Auto Run</td>
      <td class="blue" colspan="2">{% if match.score_breakdown.blue.autoRobot1 %}{% if match.score_breakdown.blue.autoRobot1 == 'AutoRun' %}<span class="glyphicon glyphicon-ok"></span>{% else %}<span class="glyphicon glyphicon-remove"></span>{% endif %}{% else %}?{% endif %}</td>
    </tr>
    {% endif %}
    <!-- Robot 2 Auto Run -->
    {% if "autoRobot2" in match.score_breakdown.red %}
    <tr>
      <td class="red" colspan="2">{% if match.score_breakdown.red.autoRobot2 %}{% if match.score_breakdown.red.autoRobot2 == 'AutoRun' %}<span class="glyphicon glyphicon-ok"></span>{% else %}<span class="glyphicon glyphicon-remove"></span>{% endif %}{% else %}?{% endif %}</td>
      <td>Robot 2 Auto Run</td>
      <td class="blue" colspan="2">{% if match.score_breakdown.blue.autoRobot2 %}{% if match.score_breakdown.blue.autoRobot2 == 'AutoRun' %}<span class="glyphicon glyphicon-ok"></span>{% else %}<span class="glyphicon glyphicon-remove"></span>{% endif %}{% else %}?{% endif %}</td>
    </tr>
    {% endif %}
    <!-- Robot 3 Auto Run -->
    {% if "autoRobot3" in match.score_breakdown.red %}
    <tr>
      <td class="red" colspan="2">{% if match.score_breakdown.red.autoRobot3 %}{% if match.score_breakdown.red.autoRobot3 == 'AutoRun' %}<span class="glyphicon glyphicon-ok"></span>{% else %}<span class="glyphicon glyphicon-remove"></span>{% endif %}{% else %}?{% endif %}</td>
      <td>Robot 3 Auto Run</td>
      <td class="blue" colspan="2">{% if match.score_breakdown.blue.autoRobot3 %}{% if match.score_breakdown.blue.autoRobot3 == 'AutoRun' %}<span class="glyphicon glyphicon-ok"></span>{% else %}<span class="glyphicon glyphicon-remove"></span>{% endif %}{% else %} ? {% endif %}</td>
    </tr>
    {% endif %}

    <!-- Auto Run Points -->
    {% if "autoRunPoints" in match.score_breakdown.red %}
    <tr class="key">
      <td class="redScore" colspan="2">{% if match.score_breakdown.red.autoRunPoints %} {{match.score_breakdown.red.autoRunPoints}} {% else %} 0 {% endif %}</td>
      <td>Auto Run Points</td>
      <td class="blueScore" colspan="2">{% if match.score_breakdown.blue.autoRunPoints %} {{match.score_breakdown.blue.autoRunPoints}} {% else %} 0 {% endif %}</td>
    </tr>
    {% endif %}
    <!-- Auto Scale Ownership -->
    {% if "autoScaleOwnershipSec" in match.score_breakdown.red %}
    <tr>
      <td class="red" colspan="2">{% if match.score_breakdown.red.autoScaleOwnershipSec %} {{match.score_breakdown.red.autoScaleOwnershipSec}} {% else %} 0 {% endif %}</td>
      <td>Scale Ownership (seconds)</td>
      <td class="blue" colspan="2">{% if match.score_breakdown.blue.autoScaleOwnershipSec %} {{match.score_breakdown.blue.autoScaleOwnershipSec}} {% else %} 0 {% endif %}</td>
    </tr>
    {% endif %}
    <!-- Auto Switch Ownership -->
    {% if "autoSwitchOwnershipSec" in match.score_breakdown.red %}
    <tr>
      <td class="red" colspan="2">{% if match.score_breakdown.red.autoSwitchOwnershipSec %} {{match.score_breakdown.red.autoSwitchOwnershipSec}} {% else %} 0 {% endif %}</td>
      <td>Switch Ownership (seconds)</td>
      <td class="blue" colspan="2">{% if match.score_breakdown.blue.autoSwitchOwnershipSec %} {{match.score_breakdown.blue.autoSwitchOwnershipSec}} {% else %} 0 {% endif %}</td>
    </tr>
    {% endif %}
    <!-- Auto Ownership Points -->
    {% if "autoOwnershipPoints" in match.score_breakdown.red %}
    <tr class="key">
      <td class="redScore" colspan="2">{% if match.score_breakdown.red.autoOwnershipPoints %} {{match.score_breakdown.red.autoOwnershipPoints}} {% else %} 0 {% endif %}</td>
      <td>Ownership Points</td>
      <td class="blueScore" colspan="2">{% if match.score_breakdown.blue.autoOwnershipPoints %} {{match.score_breakdown.blue.autoOwnershipPoints}} {% else %} 0 {% endif %}</td>
    </tr>
    {% endif %}
    <!-- Auto Total -->
    {% if "autoPoints" in match.score_breakdown.red %}
    <tr class="key">
      <td class="redScore" colspan="2"><b>{% if match.score_breakdown.red.autoPoints %}{{match.score_breakdown.red.autoPoints}}{%else%}0{%endif%}</b></td>
      <th>Total Auto</th>
      <td class="blueScore" colspan="2"><b>{% if match.score_breakdown.blue.autoPoints %}{{match.score_breakdown.blue.autoPoints}}{%else%}0{%endif%}</b></td>
    </tr>
    {% endif %}


    <!-- Teleop Scale Ownership -->
    {% if "teleopScaleOwnershipSec" in match.score_breakdown.red %}
    <tr>
      <td class="red" colspan="2">
        {% if match.score_breakdown.red.teleopScaleOwnershipSec %}
          {{match.score_breakdown.red.teleopScaleOwnershipSec}}
        {% else %}
          0
        {% endif %}
        +
        {% if match.score_breakdown.red.teleopScaleBoostSec %}
          {{match.score_breakdown.red.teleopScaleBoostSec}}
        {% else %}
          0
        {% endif %}
      </td>
      <td>Scale Ownership + Boost (seconds)</td>
      <td class="blue" colspan="2">
        {% if match.score_breakdown.blue.teleopScaleOwnershipSec %}
          {{match.score_breakdown.blue.teleopScaleOwnershipSec}}
        {% else %}
          0
        {% endif %}
        +
        {% if match.score_breakdown.blue.teleopScaleBoostSec %}
          {{match.score_breakdown.blue.teleopScaleBoostSec}}
        {% else %}
          0
        {% endif %}
      </td>
    </tr>
    {% endif %}
    <!-- Teleop Switch Ownership -->
    {% if "teleopSwitchOwnershipSec" in match.score_breakdown.red %}
    <tr>
      <td class="red" colspan="2">
        {% if match.score_breakdown.red.teleopSwitchOwnershipSec %}
          {{match.score_breakdown.red.teleopSwitchOwnershipSec}}
        {% else %}
          0
        {% endif %}
        +
        {% if match.score_breakdown.red.teleopSwitchBoostSec %}
          {{match.score_breakdown.red.teleopSwitchBoostSec}}
        {% else %}
          0
        {% endif %}
      </td>
      <td>Switch Ownership + Boost (seconds)</td>
      <td class="blue" colspan="2">
        {% if match.score_breakdown.blue.teleopSwitchOwnershipSec %}
          {{match.score_breakdown.blue.teleopSwitchOwnershipSec}}
        {% else %}
          0
        {% endif %}
        +
        {% if match.score_breakdown.blue.teleopSwitchBoostSec %}
          {{match.score_breakdown.blue.teleopSwitchBoostSec}}
        {% else %}
          0
        {% endif %}
      </td>
    </tr>
    {% endif %}
    <!-- Teleop Ownership Points -->
    {% if "teleopOwnershipPoints" in match.score_breakdown.red %}
    <tr class="key">
      <td class="redScore" colspan="2">{% if match.score_breakdown.red.teleopOwnershipPoints %} {{match.score_breakdown.red.teleopOwnershipPoints}} {% else %} 0 {% endif %}</td>
      <td>Ownership Points</td>
      <td class="blueScore" colspan="2">{% if match.score_breakdown.blue.teleopOwnershipPoints %} {{match.score_breakdown.blue.teleopOwnershipPoints}} {% else %} 0 {% endif %}</td>
    </tr>
    {% endif %}

    <!-- Force Cubes Total (Played) -->
    {% if "vaultForcePlayed" in match.score_breakdown.red %}
    <tr>
      <td class="red" colspan="2">{% if match.score_breakdown.red.vaultForceTotal %}{{match.score_breakdown.red.vaultForceTotal}}{% else %}0{% endif %} ({% if match.score_breakdown.red.vaultForcePlayed %}{{match.score_breakdown.red.vaultForcePlayed}}{% else %}0{% endif %})</td>
      <td>Force Cubes Total (Played)</td>
      <td class="blue" colspan="2">{% if match.score_breakdown.blue.vaultForceTotal%}{{match.score_breakdown.blue.vaultForceTotal}}{% else %}0{% endif %} ({% if match.score_breakdown.blue.vaultForcePlayed %}{{match.score_breakdown.blue.vaultForcePlayed}}{% else %}0{% endif %})</td>
    </tr>
    {% endif %}

    <!-- Levitate Cubes Total (Played) -->
    {% if "vaultLevitatePlayed" in match.score_breakdown.red %}
    <tr>
      <td class="red" colspan="2">{% if match.score_breakdown.red.vaultLevitateTotal %}{{match.score_breakdown.red.vaultLevitateTotal}}{% else %}0{% endif %} ({% if match.score_breakdown.red.vaultLevitatePlayed %}{{match.score_breakdown.red.vaultLevitatePlayed}}{% else %}0{% endif %})</td>
      <td>Levitate Cubes Total (Played)</td>
      <td class="blue" colspan="2">{% if match.score_breakdown.blue.vaultLevitateTotal%}{{match.score_breakdown.blue.vaultLevitateTotal}}{% else %}0{% endif %} ({% if match.score_breakdown.blue.vaultLevitatePlayed %}{{match.score_breakdown.blue.vaultLevitatePlayed}}{% else %}0{% endif %})</td>
    </tr>
    {% endif %}

    <!-- Boost Cubes Total (Played) -->
    {% if "vaultBoostPlayed" in match.score_breakdown.red %}
    <tr>
      <td class="red" colspan="2">{% if match.score_breakdown.red.vaultBoostTotal %}{{match.score_breakdown.red.vaultBoostTotal}}{% else %}0{% endif %} ({% if match.score_breakdown.red.vaultBoostPlayed %}{{match.score_breakdown.red.vaultBoostPlayed}}{% else %}0{% endif %})</td>
      <td>Boost Cubes Total (Played)</td>
      <td class="blue" colspan="2">{% if match.score_breakdown.blue.vaultBoostTotal%}{{match.score_breakdown.blue.vaultBoostTotal}}{% else %}0{% endif %} ({% if match.score_breakdown.blue.vaultBoostPlayed %}{{match.score_breakdown.blue.vaultBoostPlayed}}{% else %}0{% endif %})</td>
    </tr>
    {% endif %}

    <!-- Vault Total Points -->
    {% if "vaultPoints" in match.score_breakdown.red %}
    <tr class="key">
      <td class="redScore" colspan="2">{% if match.score_breakdown.red.vaultPoints %} {{match.score_breakdown.red.vaultPoints}} {% else %} 0 {% endif %}</td>
      <td>Vault Total Points</td>
      <td class="blueScore" colspan="2">{% if match.score_breakdown.blue.vaultPoints %} {{match.score_breakdown.blue.vaultPoints}} {% else %} 0 {% endif %}</td>
    </tr>
    {% endif %}


    <!-- Robot 1 Endgame -->
    {% if "endgameRobot1" in match.score_breakdown.red %}
    <tr>
      <td class="red" colspan="2">{% if match.score_breakdown.red.endgameRobot1 %} {{match.score_breakdown.red.endgameRobot1}} {% else %} ? {% endif %}</td>
      <td>Robot 1 Endgame</td>
      <td class="blue" colspan="2">{% if match.score_breakdown.blue.endgameRobot1 %} {{match.score_breakdown.blue.endgameRobot1}} {% else %} ? {% endif %}</td>
    </tr>
    {% endif %}
    <!-- Robot 2 Endgame -->
    {% if "endgameRobot2" in match.score_breakdown.red %}
    <tr>
      <td class="red" colspan="2">{% if match.score_breakdown.red.endgameRobot2 %} {{match.score_breakdown.red.endgameRobot2}} {% else %} ? {% endif %}</td>
      <td>Robot 2 Endgame</td>
      <td class="blue" colspan="2">{% if match.score_breakdown.blue.endgameRobot2 %} {{match.score_breakdown.blue.endgameRobot2}} {% else %} ? {% endif %}</td>
    </tr>
    {% endif %}
    <!-- Robot 3 Endgame -->
    {% if "endgameRobot3" in match.score_breakdown.red %}
    <tr>
      <td class="red" colspan="2">{% if match.score_breakdown.red.endgameRobot3 %} {{match.score_breakdown.red.endgameRobot3}} {% else %} ? {% endif %}</td>
      <td>Robot 3 Endgame</td>
      <td class="blue" colspan="2">{% if match.score_breakdown.blue.endgameRobot3 %} {{match.score_breakdown.blue.endgameRobot3}} {% else %} ? {% endif %}</td>
    </tr>
    {% endif %}
    <!-- Park/Climb Points -->
    {% if "endgamePoints" in match.score_breakdown.red %}
    <tr class="key">
      <td class="redScore" colspan="2">{% if match.score_breakdown.red.endgamePoints %} {{match.score_breakdown.red.endgamePoints}} {% else %} 0 {% endif %}</td>
      <td>Park/Climb Points</td>
      <td class="blueScore" colspan="2">{% if match.score_breakdown.blue.endgamePoints %} {{match.score_breakdown.blue.endgamePoints}} {% else %} 0 {% endif %}</td>
    </tr>
    {% endif %}

    <!-- Teleop Total -->
    {% if "teleopPoints" in match.score_breakdown.red %}
    <tr class="key">
      <td class="redScore" colspan="2"><b>{% if match.score_breakdown.red.teleopPoints %}{{match.score_breakdown.red.teleopPoints}}{%else%}0{%endif%}</b></td>
      <th>Total Teleop</th>
      <td class="blueScore" colspan="2"><b>{% if match.score_breakdown.blue.teleopPoints %}{{match.score_breakdown.blue.teleopPoints}}{%else%}0{%endif%}</b></td>
    </tr>
    {% endif %}

    <!-- Auto Quest / Face The Boss -->
    {% if match.comp_level == 'qm' and "autoQuestRankingPoint" in match.score_breakdown.red %}
    <tr>
      <td class="red" colspan="2">{% if match.score_breakdown.red.autoQuestRankingPoint%}<span class="glyphicon glyphicon-ok"></span>{% else %}<span class="glyphicon glyphicon-remove"></span>{% endif %}</td>
      <td>Auto Quest</td>
      <td class="blue" colspan="2">{% if match.score_breakdown.blue.autoQuestRankingPoint%}<span class="glyphicon glyphicon-ok"></span>{% else %}<span class="glyphicon glyphicon-remove"></span>{% endif %}</td>
    </tr>
    {% endif %}
    {% if match.comp_level == 'qm' and "faceTheBossRankingPoint" in match.score_breakdown.red %}
    <tr>
      <td class="red" colspan="2">{% if match.score_breakdown.red.faceTheBossRankingPoint%}<span class="glyphicon glyphicon-ok"></span>{% else %}<span class="glyphicon glyphicon-remove"></span>{% endif %}</td>
      <td>Face The Boss</td>
      <td class="blue" colspan="2">{% if match.score_breakdown.blue.faceTheBossRankingPoint%}<span class="glyphicon glyphicon-ok"></span>{% else %}<span class="glyphicon glyphicon-remove"></span>{% endif %}</td>
    </tr>
    {% endif %}

    <!-- Fouls & Adjustments -->
    {% if "foulPoints" in match.score_breakdown.red %}
    <tr>
      <td class="red" colspan="2">+{%if match.score_breakdown.red.foulPoints%}{{match.score_breakdown.red.foulPoints}}{%else%}0{%endif%}</td>
      <td>Fouls</td>
      <td class="blue" colspan="2">+{%if match.score_breakdown.blue.foulPoints%}{{match.score_breakdown.blue.foulPoints}}{%else%}0{%endif%}</td>
    </tr>
    {% endif %}
    {% if "adjustPoints" in match.score_breakdown.red %}
    <tr>
      <td class="red" colspan="2">{% if match.score_breakdown.red.adjustPoints%}{{match.score_breakdown.red.adjustPoints}}{%else%}0{%endif%}</td>
      <td>Adjustments</td>
      <td class="blue" colspan="2">{%if match.score_breakdown.blue.adjustPoints%}{{match.score_breakdown.blue.adjustPoints}}{%else%}0{%endif%}</td>
    </tr>
    {% endif %}

    <tr class="key">
      <td class="redScore" colspan="2"><b>{%if match.score_breakdown.red.totalPoints%}{{match.score_breakdown.red.totalPoints}}{%else%}0{%endif%}</b></td>
      <th>Total Score</th>
      <td class="blueScore" colspan="2"><b>{%if match.score_breakdown.blue.totalPoints%}{{match.score_breakdown.blue.totalPoints}}{%else%}0{%endif%}</b></td>
    </tr>

    {% if 'rp' in match.score_breakdown.red and match.comp_level == 'qm' %}
    <tr>
      <td class="red" colspan="2">+{{match.score_breakdown.red.rp}} RP</td>
      <td>Ranking Points</td>
      <td class="blue" colspan="2">+{{match.score_breakdown.blue.rp}} RP</td>
    </tr>
    {% endif %}
  </tbody>
</table>
{% if 'tba_gameData' in match.score_breakdown.red %}
  <p>Scoring Plate Assignments: {{match.score_breakdown.red.tba_gameData}}</p>
{% endif %}
