{% extends "../base.html" %}

{% block title %}{{event.year}} {{event.name}} - The Blue Alliance{% endblock %}

{% block content %}

<h1>Details for {{event.year}} {{ event.name }}</h1>

<table>
    <tr>
        <td>Dates</td>
        <td>{{ event.start_date|date:"M d, Y" }} to {{ event.end_date|date:"M d, Y" }}</td>
    </tr>
    <tr>
        <td>Event Location</td>
        <td><a href="http://maps.google.com/maps?q={{ event.location }}">{{ event.location }}</a></td>
    </tr>
    <tr>
        <td>Teams Attending</td>
        <td>{{ event.teams.count }}</td>
    </tr>
</table>

<h2>Match Listing</h2>

<!-- if out 0 sets -gregmarra 17 oct 2010-->
<table>
    <tr>
        <th>Match Number</th>
        <th colspan="3">Red Alliance</th>
        <th colspan="3">Blue Alliance</th>
        <th colspan="2">Scores</th>
    </tr>
    <tr><th colspan="9">Qualifications</th></tr>
    {% for match in matches.qm %}
        {% include "../matches/partials/match_row.html" %}
    {% endfor %}
    <tr><th colspan="9">Eighth Finals</th></tr>
    {% for match in matches.ef %}
        {% include "../matches/partials/match_row.html" %}
    {% endfor %}
    <tr><th colspan="9">Quarterfinals</th></tr>
    {% for match in matches.qf %}
        {% include "../matches/partials/match_row.html" %}
    {% endfor %}
    <tr><th colspan="9">Semifinals</th></tr>
    {% for match in matches.sf %}
        {% include "../matches/partials/match_row.html" %}
    {% endfor %}
    <tr><th colspan="9">Finals</th></tr>
    {% for match in matches.f %}
        {% include "../matches/partials/match_row.html" %}
    {% endfor %}
</table>
{% endblock %}

