{% extends "../base.html" %}

{% block title %}{{event.year}} {{event.name}} - The Blue Alliance{% endblock %}

{% block leftCol %}
    <img src="/images/logo_square_200" width="200" class="profileImg" />
    <ul class="leftNav">
        <li class="info"><a href="#info">Information</a></li>
        <li class="match"><a href="#matches">Matches</a></li>
        <li class="robot"><a href="#teams">Teams</a></li>
    </ul>
    <div class="divider"></div>
{% endblock %}

{% block content %}

<div id="contentTop">
    <h1>{{ event.name }} <span class="annotation">{{ event.year }}</span></h1>
    <p>{{ event.start_date|date:"M d" }} - {{ event.location }}</a></p>
</div>
<div id="contentRight">
    <div class="contentBlock">
        <div class="contentBlockTopper">
            <h2>Related Events</h2>
        </div>
        <p>There are all kinds of related events!</p>
    </div>
    {% include "../base_partials/right_col.html" %}
</div>

<div id="contentCenter">
    <div id="info" class="contentBlock">
        <div class="contentBlockTopper">
            <h2>Information</h2>
        </div>
        <table class="infoTable">
            <tr>
                <th>Dates</th>
                <td>{{ event.start_date|date:"M d, Y" }} to {{ event.end_date|date:"M d, Y" }}</th>
            </tr>
            <tr>
                <th>Location</th>
                    {% if event.location %}
                      <td><a href="http://maps.google.com/maps?q={{ event.location }}">{{ event.location }}</a></td>
                    {% else %}
                      <td>N/A</td>
                    {% endif %}
            </tr>
            <tr>
                <th>Website</th>
                    {% if event.website %}
                      <td><a href="{{ event.website }}" title="{{ event.name }}">{{ event.website }}</a></td>
                    {% else %}
                      <td>N/A</td>
                    {% endif %}                
            </tr>
            <tr>
                <th>Teams Attending</th>
                <td>{{ event.teams.count }}</td>
            </tr>
        </table>
    </div>
    <div id="matches" class="contentBlock">
        <div class="contentBlockTopper">
            <h2>Matches</h2>
        </div>
        <table class="matchTable">
            <tr class="key">
                <th>Match Number</th>
                <th colspan="3">Red Alliance</th>
                <th colspan="3">Blue Alliance</th>
                <th colspan="2">Scores</th>
            </tr>

            {% if matches.qm %}
                <tr class="key"><th colspan="9">Qualifications</th></tr>
                {% for match in matches.qm %}
                    {% include "../matches/partials/match_row.html" %}
                {% endfor %}
            {% endif %}

            {% if matches.ef %}
                <tr class="key"><th colspan="9">Eighth Finals</th></tr>
                {% for match in matches.ef %}
                    {% include "../matches/partials/match_row.html" %}
                {% endfor %}
            {% endif %}

            {% if matches.qf %}
                <tr class="key"><th colspan="9">Quarterfinals</th></tr>
                {% for match in matches.qf %}
                    {% include "../matches/partials/match_row.html" %}
                {% endfor %}
            {% endif %}

            {% if matches.sf %}
                <tr class="key"><th colspan="9">Semifinals</th></tr>
                {% for match in matches.sf %}
                    {% include "../matches/partials/match_row.html" %}
                {% endfor %}
            {% endif %}

            {% if matches.f %}
                <tr class="key"><th colspan="9">Finals</th></tr>
                {% for match in matches.f %}
                    {% include "../matches/partials/match_row.html" %}
                {% endfor %}
            {% endif %}
        </table>
    </div>
    <div id="teams" class="contentBlock">
        <div class="contentBlockTopper">
            <h2>Teams</h2>
        </div>
        <ul class="infoList">
        {% for team in teams %}
            <li>
                <h3><a href="/team/{{team.team_number}}">{{ team.team_number }} <span class="annotation">{{ team.nickname }}</span></a></h3>
                <p>{{ team.address }}</p>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}

