{% extends "base.html" %}

{% block title %}{{event.name}} ({{event.year}}) - The Blue Alliance{% endblock %}

{% block meta_description %}Match results and for the {{event.year}} {{event.name}} FIRST Robotics Competition in {{event.location}}.{% endblock %}

{% block more_head_tags %}
    <meta property="og:title" content="{{event.year}} {{event.name}}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://thebluealliance.com/event/{{event.key.name}}" />
    <meta property="og:image" content="http://www.thebluealliance.com/images/logo_square_200.png" />
    <meta property="og:description" content="The {{event.year}} {{event.name}} FIRST Robotics Competition in {{event.location}}."/>
    <meta property="og:site_name" content="The Blue Alliance" />
    <meta property="og:location" content="{{event.location}}" />
    {% if event.start_date %}<meta property="og:start_time" content="{{event.start_date|date:"Y-m-d"}}" />
    {% else %}<meta property="og:start_time" content="{{event.year}}" />{% endif %}
    {% if event.end_date %}<meta property="og:end_time" content="{{event.end_date|date:"Y-m-d"}}" />{% endif %}
    {% if event.venue %}<meta property="og:fn" content="{{event.venue}}" />{% endif %}
{% endblock %}

{% block leftCol %}
    <ul class="leftNav">
        <li class="info"><a href="#info">Information</a></li>
        <li class="match"><a href="#matches">Matches{% if matches.num %} ({{ matches.num }}){% endif %}</a></li>
        <li class="robot"><a href="#teams">Teams{% if teams %} ({{ teams|length }}){% endif %}</a></li>
    </ul>
    <div class="divider"></div>
{% endblock %}

{% block content %}

<div id="contentTop">
    <h1>{{ event.name }} <span class="annotation">{{ event.year }}</span></h1>
</div>
<div id="contentRight">
    {% include "base_partials/right_col.html" %}
</div>

<div id="contentCenter">
    <div id="info" class="contentBlock">
        <div class="contentBlockTopper">
            <h2>Information</h2>
        </div>
        <table class="infoTable">
            <tr>
                <th>Dates</th>
                {% if event.start_date %}
                    <td>{{ event.start_date|date:"M d, Y" }} to {{ event.end_date|date:"M d, Y" }}</th>
                {% else %}
                    <td>Unknown</td>
                {% endif %}
            </tr>
            {% if event.location %}<tr>
                <th>Location</th>
                <td><a href="http://maps.google.com/maps?q={{ event.location }}">{{ event.location }}</a></td>
            </tr>{% endif %}
            {% if event.website %}<tr>
                <th>Website</th>
                <td><a href="{{ event.website }}" title="{{ event.name }}">{{ event.website }}</a></td>
            </tr>{% endif %}
            {% if event.facebook_eid %}<tr>
                <th>Facebook</th>
                <td><a href="{{ event.getFacebookEventUrl }}" title="Facebook Event">RSVP</td>
            </tr>{% endif %}
        </table>
    </div>
    <div id="matches" class="contentBlock">
        <div class="contentBlockTopper">
            <h2>{% if matches.num %}{{matches.num}} {% endif %}Match{{matches.num|pluralize:"es"}} - (<a href="http://www.thebluealliance.com/event/{{ event.get_key_name }}/feed">rss</a>)</h2>
        </div>
        {% if matches.num %}
        <table class="matchTable">
            <tr class="key">
                <th class="icon"><img src="/images/icons/video.png" /></th>
                <th>Match Number</th>
                <th colspan="3">Red Alliance</th>
                <th colspan="3">Blue Alliance</th>
                <th colspan="2">Scores</th>
            </tr>

            {% if matches.qm %}
                <tr class="key"><th colspan="10">Qualifications</th></tr>
                {% for match in matches.qm %}
                    {% include "matches/partials/match_row.html" %}
                {% endfor %}
            {% endif %}

            {% if matches.ef %}
                <tr class="key"><th colspan="10">Eighth Finals</th></tr>
                {% for match in matches.ef %}
                    {% include "matches/partials/match_row.html" %}
                {% endfor %}
            {% endif %}

            {% if matches.qf %}
                <tr class="key"><th colspan="10">Quarterfinals</th></tr>
                {% for match in matches.qf %}
                    {% include "matches/partials/match_row.html" %}
                {% endfor %}
            {% endif %}

            {% if matches.sf %}
                <tr class="key"><th colspan="10">Semifinals</th></tr>
                {% for match in matches.sf %}
                    {% include "matches/partials/match_row.html" %}
                {% endfor %}
            {% endif %}

            {% if matches.f %}
                <tr class="key"><th colspan="10">Finals</th></tr>
                {% for match in matches.f %}
                    {% include "matches/partials/match_row.html" %}
                {% endfor %}
            {% endif %}
        </table>
        {% else %}
        <p>No matches yet.</p>
        {% endif %}
    </div>
    <div id="teams" class="contentBlock">
        <div class="contentBlockTopper">
            <h2>{% if teams %}{{ teams|length}} {% endif %}Team{{teams|length|pluralize}}</h2>
        </div>
        {% if teams %}
        <ul class="infoList">
        {% for team in teams %}
            <li>
                <h3><a href="/team/{{team.team_number}}">{{ team.team_number }}{% if team.nickname %} <span class="annotation">{{ team.nickname }}</span>{% endif %}</a></h3>
                {% if team.address %}<p>{{ team.address }}</p>{% endif %}
            </li>
        {% endfor %}
        </ul>
        {% else %}
        <p>No teams yet.</p>
        {% endif %}
    </div>
</div>

{% endblock %}

