{% extends "../base.html" %}

{% block title %}Events - The Blue Alliance{% endblock %}

{% block content %}

<h1>All Events</h1>
<p>{{ events|length }} total events</p>
<table>
    <tr>
        <th>Name</th>
        <th>Matches</th>
        <th>Teams</th>
        <th>Year</th>
        <th>Event Short</th>
        <th>EID</th>
    </tr>
    
    {% for event in events %}
    <tr>
        <td><a href="/event/{{event.year}}{{event.event_short}}">{{ event.name }}</a></td>
        <td>{{ event.match_set.count }}</td>
        <td>{{ event.teams.count }}</td>
        <td>{{ event.year }}</td>
        <td>{{ event.event_short }}</td>
        <td>{{ event.first_eid }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
