{% extends "base.html" %}

{% block title %}The Blue Alliance - Add Offseason Event{% endblock %}

{% block meta_description %}Add an offseason event to The Blue Alliance.{% endblock %}

{% block content %}
    <div class="container">
        {% if status %}
            <div class="row">
                <div class="col-xs-12 col-lg-8 col-lg-offset-2">
                    {% if status == 'success' %}
                        <div class="alert alert-success">
                            <button type="button" class="close"
                                    data-dismiss="alert">&times;</button>
                            <h4>Thanks!</h4>

                            <p>We'll review your suggestion and get it added to the site soon!</p>
                        </div>
                    {% elif status == 'validation_failure' %}
                        <div class="alert alert-danger">
                            <button type="button" class="close"
                                    data-dismiss="alert">&times;</button>
                            <h4>Uh Oh!</h4>

                            <p>Please ensure you've entered valid data for all fields.</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-xs-12 col-lg-8 col-lg-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 class="panel-title">Let us know about offseason events!</h1>
                    </div>
                    <div class="panel-body">
                        <p>Thanks for helping make The Blue Alliance better! Let us know about
                            offseason events so we can add them to the site!</p>
                        <ul>
                            <li>Your suggestion will be reviewed by a moderator</li>
                            <li>Your account info (like {{ user_bundle.user.email() }}
                                and {{ user_bundle.user.nickname() }}) will also be submitted. <a
                                        href="{{ user_bundle.logout_url }}">log in as a different
                                    user</a></li>
                            <li>You can only suggest offseason events, please <a href="/contact">contact
                                us</a> if you find errors with official regional or district events on
                                the site
                            </li>
                        </ul>
                        <h3>Suggest An Event</h3>
                        <p>All fields below are required, please do the best you can to fill them accurately </p>

                        <form action="/suggest/offseason" method="post" id="suggest_offseason">
                            <table class="table table-striped table-hover table-condensed">
                                <tr>
                                    <td>Event Name</td>
                                    <td>
                                        <span{% if 'name' in failures %} class="has-error"{% endif %}>
                                            <input class="form-control" type="text" name="name"  placeholder="BattleCry@WPI"{% if name %} value="{{name}}"{% endif %}/>
                                            {% if 'name' in failures %}<span class="help-block">{{failures.name}}</span>{% endif %}
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Dates (YYYY-MM-DD)</td>
                                    <td>
                                        <span{% if 'start_date' in failures %} class="has-error"{% endif %}>
                                            <input class="form-control" type="text" name="start_date"placeholder="2012-04-04"{% if start_date %} value="{{start_date}}"{% endif %}/>
                                            {% if 'start_date' in failures %}<span class="help-block">{{failures.start_date}}</span>{% endif %}
                                        </span>
                                        to
                                        <span{% if 'end_date' in failures %} class="has-error"{% endif %}>
                                            <input class="form-control" type="text" name="end_date" placeholder="2012-04-06"{% if end_date %} value="{{end_date}}"{% endif %}/>
                                            {% if 'end_date' in failures %}<span class="help-block">{{failures.end_date}}</span>{% endif %}
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Website</td>
                                    <td>
                                        <span{% if 'website' in failures %} class="has-error"{% endif %}>
                                            <input class="form-control" type="text" name="website" placeholder="http://ctfirst.org"{% if website %} value="{{website}}"{% endif %}/>
                                            {% if 'website' in failures %}<span class="help-block">{{failures.website}}</span>{% endif %}
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Venue Name</td>
                                    <td>
                                        <span{% if 'venue_name' in failures %} class="has-error"{% endif %}>
                                            <input class="form-control" type="text" name="venue_name" placeholder="Jacob K. Javits Center"{% if venue_address %} value="{{venue_name}}"{% endif %}/>
                                            {% if 'venue_name' in failures %}<span class="help-block">{{failures.venue_name}}</span>{% endif %}
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Venue Address</td>
                                    <td>
                                        <span{% if 'venue_address' in failures %} class="has-error"{% endif %}>
                                            <input class="form-control" type="text" name="venue_address" placeholder="123 Fake St"{% if venue_address %} value="{{venue_address}}"{% endif %}/>
                                            {% if 'venue_address' in failures %}<span class="help-block">{{failures.venue_address}}</span>{% endif %}
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Venue City</td>
                                    <td>
                                        <span{% if 'venue_city' in failures %} class="has-error"{% endif %}>
                                            <input class="form-control" type="text" name="venue_city" placeholder="New York"{% if venue_city %} value="{{venue_city}}"{% endif %}/>
                                            {% if 'venue_city' in failures %}<span class="help-block">{{failures.venue_city}}</span>{% endif %}
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Venue State</td>
                                    <td>
                                        <span{% if 'venue_state' in failures %} class="has-error"{% endif %}>
                                            <input class="form-control" type="text" name="venue_state" placeholder="NY"{% if venue_state %} value="{{venue_state}}"{% endif %}/>
                                            {% if 'venue_state' in failures %}<span class="help-block">{{failures.venue_state}}</span>{% endif %}
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Venue Country</td>
                                    <td>
                                        <span{% if 'venue_country' in failures %} class="has-error"{% endif %}>
                                            <input class="form-control" type="text" name="venue_country" placeholder="USA"{% if venue_country %} value="{{venue_country}}"{% endif %}/>
                                            {% if 'venue_country' in failures %}<span class="help-block">{{failures.venue_country}}</span>{% endif %}
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>FIRST Sync Code</td>
                                    <td>
                                      <input class="form-control" type="text" name="first_code" placeholder="IRI"{% if first_code %} value="{{first_code}}"{% endif %}/>
                                    </td>
                                </tr>
                            </table>
                            <button class="btn btn-success" type="submit"><span class="glyphicon glyphicon-plus-sign"></span> Suggest Event </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
