{% extends "base.html" %}

{% block title %}The Blue Alliance - Add Event Media{% endblock %}

{% block meta_description %}Add event media to The Blue Alliance.{% endblock %}

{% block content %}
<div class="container">
  {% if status %}
  <div class="row">
    <div class="col-xs-12 col-lg-6 col-lg-offset-3">
      {% if status == 'success' %}
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4>Thanks!</h4>
        <p>We'll review your suggestion and get it added to the site soon!</p>
      </div>
      {% elif status == 'media_exists' %}
      <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4>Thanks!</h4>
        <p>The URL you submitted has already been approved!</p>
      </div>
      {% elif status == 'suggestion_exists' %}
      <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4>Thanks!</h4>
        <p>The URL you submitted is already pending review!</p>
      </div>
      {% else %}
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4>Uh oh!</h4>
        <p>Sorry, but we are currently unable to support the URL you submitted. See below for currently supported formats.</p>
      </div>
      {% endif %}
    </div>
  </div>
  {% endif %}
  <div class="row">
    <div class="col-xs-12 col-lg-6 col-lg-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title">Help others by adding media!</h1>
        </div>
        <div class="panel-body">
          <p>Thanks for helping make The Blue Alliance better! Let us know about media so we can add them to the site!</p>
          <ul>
            <li>Your suggestion will be reviewed by a moderator.</li>
            <li>Your account info (like {{user_bundle.user.email()}} and {{user_bundle.user.nickname()}}) will also be submitted. <a href="{{user_bundle.logout_url}}">log in as a different user</a></li>
          </ul>

          <hr>

          <p><strong>Currently supported formats are:</strong></p>
          <ul>
            <li>YouTube Videos
              <ul>
                <li>Example: <code>https://www.youtube.com/watch?v=pRaKQ0yCLJY</code></li>
              </ul>
            </li>
          </ul>

        <div class="alert alert-success">
          <p><strong>Please submit:</strong></p>
          <ul>
            <li>Videos of award ceremonies</li>
            <li>Opening/Closing ceremony speeches</li>
            <li>Fun & engaging content created by the community (interviews, interactions, etc.)</li>
          </ul>
        </div>

        <div class="alert alert-danger">
          <p><strong>Please do not submit:</strong></p>
          <ul>
            <li>Full match videos, please submit those <a href="/suggest/event/video?event_key={{ event.key_name }}">here</a>, instead</li>
            <li>Videos of people dancing</li>
            <li>Long, drawn out videos with little to no real content</li>
            <li>Meme videos</li>
          </ul>
        </div>

          <hr>

          <h3>{{event.year}} {{event.name}}</h3>

          {% if medias_by_slugname.youtube %}
          <div class="row">
            <div class="col-xs-12">
              <h4>Existing Videos</h4>
              {% for media in medias_by_slugname.youtube %}
                <div class="col-xs-12 col-md-6 fitvids">
                {% include "media_partials/youtube_partial.html" %}
                </div>
              {% endfor %}
            </div>
          </div>
          {% endif %}

          <div class="row">
            <div class="col-xs-12">
              <h4>Add more media</h4>
              <form action="/suggest/event/media" method="post" id="suggest_media">
                <input name="event_key" type="hidden" value="{% if event %}{{event.key.id()}}{% endif %}" />
                <div class="input-group">
                  <span class="input-group-addon">{{year}}</span>
                  <input class="form-control" type="text" name="media_url" placeholder="https://www.youtube.com/watch?v=dQw4w9WgXcQ" value="" />
                  <span class="input-group-btn">
                    <button class="btn btn-success" type="submit"><span class="glyphicon glyphicon-plus-sign"></span> Add Media</button>
                  </span>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
