name: Publish Docker Image

on:
  push:
    branches: [ py3 ]

concurrency: docker-publish-${{ github.ref }}

jobs:
  build_and_push:
    name: Build and Push 
    runs-on: ubuntu-latest
    if: contains(github.event.commits[0].message, '[dockerpublish]') == true
    steps:
    - uses: actions/checkout@v3
    - name: Log in to the Container registry
      uses: docker/login-action@v2.2.0
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Set up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@v2
    - name: Build and push Docker image
      uses: docker/build-push-action@v4.0.0
      with:
        builder: ${{ steps.buildx.outputs.name }}
        context: ./ops/dev/docker
        push: true
        tags: ghcr.io/${{ github.repository }}/tba-py3-dev:latest
        cache-from: |
          type=gha
          ghcr.io/the-blue-alliance/the-blue-alliance/tba-py3-dev:latest
        cache-to: type=gha,mode=max
