name: PWA CI

on:
  pull_request_target:
    branches:
      - py3

concurrency:
  group: ci-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  pwa-lint:
    name: "[pwa] Format & Lint"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Node
        uses: actions/setup-node@v4.0.3
        with:
          node-version: "20"
          cache: "npm"
      - name: Install Dependencies
        run: npm --prefix pwa ci
      - name: Run Format
        run: npm --prefix pwa run format
      - name: Run Lint
        run: npm --prefix pwa run lint
  pwa-type:
    name: "[pwa] Type Check"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Node
        uses: actions/setup-node@v4.0.3
        with:
          node-version: "20"
          cache: "npm"
      - name: Install Dependencies
        run: npm --prefix pwa ci
      - name: Run Type Check
        run: npm --prefix pwa run typecheck
  pwa-test:
    name: "[pwa] Test"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Node
        uses: actions/setup-node@v4.0.3
        with:
          node-version: "20"
          cache: "npm"
      - name: Install Dependencies
        run: npm --prefix pwa ci
      - name: Create dotenv
        run: ./ops/pwa/create_dotenv.sh --env
        env:
          TBA_API_READ_KEY: TEST_KEY
      - name: Run Test
        run: npm --prefix pwa test
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5.0.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: ./pwa/coverage/
  pwa-build:
    name: "[pwa] Build"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Node
        uses: actions/setup-node@v4.0.3
        with:
          node-version: "20"
          cache: "npm"
      - name: Install Dependencies
        run: npm --prefix pwa ci
      - name: Create dotenv
        run: ./ops/pwa/create_dotenv.sh --env
        env:
          TBA_API_READ_KEY: TEST_KEY
      - name: Run Build
        run: npm --prefix pwa run build
  pwa-e2e:
    name: "[pwa] E2E Tests"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}

      - name: Set up Node
        uses: actions/setup-node@v4.0.3
        with:
          node-version: "20.16.0"
          cache: "npm"

      - name: Install Dependencies
        working-directory: pwa
        run: npm ci

      - name: Install Playwright Browsers
        working-directory: pwa
        run: npx playwright install --with-deps chromium

      - name: Run Playwright tests
        working-directory: pwa
        run: npx playwright test
        env:
          VITE_TBA_API_READ_KEY: ${{ secrets.TBA_API_READ_KEY }}
